[2017-11-24 14:43] LeoMcA commented on #529
Apologies, we're spread pretty thin on the Discourse front currently.

I'll take care of migrating the old data once I've written the migration script - but this will take a couple of months, maybe more.

If, like with [Open Policy and Adovcacy](https://discourse.mozilla.org/c/advocacy), you want a new category on discourse.mozilla.org now, without migrating old posts (we can always do it later),

[2017-11-28 01:07] danielhartnell commented on #480
Hey @cadecairos,

Sorry for missing your messages here. GitHub is a little out of band with what I normally use and I do not check my notifications as often as I should. I do have the following bug assigned to me and it would help if you can need info me there for subsequent requests around this work:

https://bugzilla.mozilla.org/show_bug.cgi?id=1417576

I'm also available on Slack or IRC. I'll b

[2017-11-29 16:25] cadecairos commented on #535
@ldecoursy Do you have any insight into how we're going to archive this data?

[2017-11-29 16:35] cadecairos commented on #541
@MandyRawls I think we'll need to meet to get this updated. If I recall correctly, you need to make the code change and publish, otherwise the App Scripts permissions get all screwed up. When is a good time to sync up to fix this up?

[2017-11-29 16:38] cadecairos commented on #543
@patjouk and I think that the right way to go, now that ChatOps isn't happening, is to write a custom hubot that can deploy specific apps. This isn't a priority, and thus has been labelled "rainy-day-project". Feel free to switch onto this project if you need to get away from whatever task you're stuck on.

* Set up repo
* scaffolding for the hubot app
* write the integrations

[2017-11-29 16:48] ldecoursy commented on #535
Per @jvallera's note above, @jessevondoom and @Sydette have a plan for a Learning repository / legacy page linked to the Foundation site. In the short term (at least 4-6 months), we're not shutting down the Learning site - so want to keep the map and list of clubs. That timeframe is in part based on MoCo developing plans for its "clubs" initiative. cc @amirad

[2017-11-29 18:35] MandyRawls commented on #541
@cadecairos sounds good, anytime next Mon-Wed would be ideal!

[2017-11-29 23:31] Sydette opened #562 "Adding News article in Mezzanine to website down"
When I go to add a news article to Mezzanine for site publication the form does not show up at all .  All other sections work

[2017-11-30 04:52] cadecairos commented on #562
I can confirm this on my browser as well. It doesn't seem to be a problem on staging

[2017-11-30 04:58] cadecairos commented on #562
Diff of staging and production right now: https://github.com/mozilla/foundation.mozilla.org/compare/b114a06a...28d2d4fe

Not sure if any of those commits would fix this.

[2017-11-30 11:08] patjouk commented on #557
About `mozillafestival-org-2015` and `mozillafestival-org-2015-prod`: I'm wondering if they're still there because they were created before Heroku realized their pipelines feature and simply never got deleted after moving mozfest website into a pipeline.

@edrushka and @Saallen, maybe you have more context about those two apps (they're not running or used)? Also, do you know if it's safe to remove

[2017-11-30 13:04] Saallen commented on #557
Hey it would be great to keep the 2014 website or archive but send the link so I can still access.

I defer to @mmmavis and @edrushka  for the other questions

[2017-11-30 21:59] cadecairos commented on #562
From slack:

[2017-11-30 21:59] #562 closed

[2017-12-01 16:24] alanmoo commented on #557
@Saallen this is the 2014 schedule app, not the site; I'm not sure that has too much value to it, especially at a somewhat cryptic URL. I don't think the 2014 site is still up anywhere; we've been updating the main mozillafestival.org site and not doing subdomains (20xx.mozillafestival.org)

[2017-12-06 16:34] cadecairos commented on #535
I'm going to look into this again, but I'm fairly sure I don't have enough data in the spreadsheet to restore the data in the tables.

[2017-12-06 16:40] cadecairos commented on #558
notes:

Resources to look for: Check Route53 CloudFront for Any S3 hosted websites. list EC2 instances/ASG/ELB for applications.

[2017-12-06 16:47] cadecairos commented on #541
@MandyRawls I found something that suggests removing the trigger, publishing a new version, and then adding the trigger again. Lets sync up in a vidyo call sometime soon to try this out.

[2017-12-06 16:57] cadecairos commented on #557
We shouldn't need to keep this live. The source code is available here: https://github.com/fuzzyfox/firehug/tree/mozfest2014

[2017-12-06 17:10] Saallen commented on #557
Hello- for me its about the content, all the sessions.

[2017-12-06 18:19] MandyRawls commented on #541
@cadecairos maybe we could find a time at all hands to meet on this, might be helpful to work on it in person? Let me know what you think!

[2017-12-07 17:59] Sydette opened #563 "Sydette can not moderate in pulse"
I can not moderate in pulse. I see the submission queue, I mark things as approved, I go back and they are still there and have been reset to pending.

[2017-12-07 20:00] xmatthewx commented on #563
I confirmed the bug with @alanmoo's help. We've elevated @Sydette's permissions as a temp fix, but should look at this at some point.

[2017-12-07 20:32] Pomax commented on #563
I've added you to the list of "staff", @Sydette, can you see if you have persistent edit abilities now?

[2017-12-07 20:54] Pomax commented on #563
@Sydette rescinded: there are some more odd issues going on so you should be able to moderate at the moment and @cadecairos, @alanmoo and I will have to figure out what's _actually_ going wrong here =D

[2017-12-08 16:32] alanmoo commented on #557
@cadecairos Is the data in that repo? I'm not seeing it. Perhaps if we could extract it into a doc it might be a more useful place to live rather than keeping the entire app up.

[2017-12-08 16:41] cadecairos commented on #557
I think it's in a Google Spreadsheet somewhere

[2017-12-08 17:15] alanmoo commented on #557
I just emailed @fuzzyfox, as I believe they're the owner of the sheet in question.

[2017-12-08 18:36] alanmoo commented on #557
@Saallen The data you're looking for is in [this sheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/1v3Qd1IJlE2lbpcnnKGvGJSm6LNvI3ERePXVse1lQKPQ/edit?usp=sharing). With access to that, can we take the app itself down?

[2017-12-08 20:49] alanmoo commented on #563
Closing this and filing a follow up in mozilla/network-pulse-api

[2017-12-08 20:49] #563 closed

[2017-12-11 13:10] Saallen commented on #557
That's perfect. Thanks for finding it

On 8 Dec 2017 12:36 p.m., "Alan Mooiman" <notifications@github.com> wrote:

[2017-12-19 17:16] Sydette opened #564 "Add banner language to learning.mozilla.org re: sunsetting programs"
Hello All

### Details

The language has been approved  but does not include Gigabit.. We are still getting emails to teachtheweb email address and would like to minimize confusion

The approved language is below :

Mozilla has made a strategic decision to sunset its local digital literacy programs including Hive and Mozilla Clubs over the course of 2017/2018. You have been, and will continue to b

[2017-12-19 17:39] ldecoursy commented on #564
Hi - just updated the title of this ticket. We need to add the language above to learning.mozilla.org as a formal announcement of the sunsetting programs.

Please ensure, however, that it does NOT show up on the Gigabit pages, as those are all still active.

[2017-12-19 17:55] alanmoo commented on #564
Yes, we just need a little more clarity on where it should appear. Something like
<img width="1226" alt="screen shot 2017-12-19 at 12 49 11 pm" src="https://user-images.githubusercontent.com/1682681/34171080-1ba4ff70-e4bb-11e7-9b54-4787194caa85.png">

Or at the top of the site?
<img width="1259" alt="screen shot 2017-12-19 at 12 53 49 pm" src="https://user-images.githubusercontent.com/1682681/3417

[2017-12-19 17:57] ldecoursy commented on #564
Thanks @alanmoo I like the first option but open to design opinions :)

[2017-12-19 18:02] alanmoo commented on #564
If the first one is good (with or without a background color to highlight it?) What pages does it need to be on?

[2017-12-19 18:20] ldecoursy commented on #564
I think a color to highlight it is useful as an important call-out. I think it's ok just on the homepage for now. I did put together this audit doc, there are other small changes that would be great at some point (not before Thursday) https://docs.google.com/document/d/1tG9Au4CM17GOM6Op1PIoWEFeQevRY7f5YImgae2kGok/edit

[2017-12-19 18:21] cadecairos commented on #564
@alanmoo Can we migrate this issue into https://github.com/mozilla/learning.mozilla.org/?

[2017-12-19 18:45] xmatthewx commented on #564
Given the length of this message, it would be great if @sabrinang could do a quick mock up for readability.

[2017-12-19 19:03] alanmoo commented on #564
Migrated https://github.com/mozilla/learning.mozilla.org/issues/2539

[2017-12-19 19:03] #564 closed

[2018-01-03 12:09] patjouk commented on #557
I'm closing this ticket: we deleted was could be and discussed the remaining issues during the all hands.

[2018-01-03 12:09] #557 closed

[2018-01-05 19:53] alanmoo opened #565 "Set up Ask account"
@jenntbeard need a Mozilla Ask account to be able to set up a form to embed on the NSF Showcase page of foundation.mozilla.org.

No rush, in the next week or so.

[2018-01-08 15:47] cadecairos commented on #565
@jenntbeard I've created an account for you. we need to securely get you your password. Have you ever used Signal?

[2018-01-10 22:43] xmatthewx commented on #555
@patjouk @cadecairos - the bot hasn't been working for while. Should we file a new ticket or reopen this one?

[2018-01-11 00:26] cadecairos commented on #555
We had to disable it because breaking changes to the pulse API keep breaking the integration.

We'd like to either get an RSS feed endpoint set up or have the endpoints properly versioned before turning it on again.

[2018-01-11 15:56] alanmoo commented on #555
That's more motivation to version the pulse API as part of the fellowships work.

[2018-01-11 17:46] xmatthewx commented on #555
Whether we solve this longterm with versioning or setting up RSS, let's keep it as a high priority. It's pretty essential for staff engagment ... and moving to twitter ... engagement with fellows and a broader audience.

In the mean time, what if we grab less info: just image, title, url. Cut out the rest.

[2018-01-12 01:24] taisdesouzalessa opened #566 "Admin Access to Mezzanine to designers - Foundation site"
### Details
Could we please get admin access to Mezzanine to @kristinashu and @sabrinang?
Site: https://foundation.mozilla.org/

It would be good if they had admin access to both staging and prod.

Thanks!

[2018-01-12 16:23] Sydette opened #567 "Summaries only show up for "Video " Feature"
### Details

### Info & links
In Mezzanine add news feature  , not sure if it's purposeful or not but would like to be able to add more at a glance context for  pieces

[2018-01-12 16:27] Sydette opened #568 "What do we think of we increasing character limits and adding links Excerpts"
-->

### Details
Excerpts currently have a 146 limit . It's hard to give a stylized voice in that amount . Can we expand to  editorialize , as well as allowing for links .
-->

### Info & links
In recent aadhar update , I used the link in the Mozilla press release  would have liked to be able to link that press release and link to connect it more to IH language

[2018-01-12 19:45] humphd commented on #453
I think from a Seneca point-of-view it's fine to turn off Mattermost for Thimble now.  Thanks for keeping it up a while longer.

[2018-01-12 20:20] xmatthewx commented on #568
Is this for the foundation site? If so, let's file the issue here: https://github.com/mozilla/foundation.mozilla.org/issues/new

Dev Ops just covers Operations Tech (login things, integration with CRM or fundraising, sites slow or crashing).

[2018-01-12 20:47] alanmoo commented on #453
Ah, good to know. We're working on getting another way up for contributors to reach us via chat, I'll let you know when that comes to fruition.

[2018-01-16 14:59] jenntbeard commented on #565
Hi - sorry, just got back. I have not used Signal before. Thanks for creating my account though!

[2018-01-16 16:35] alanmoo commented on #567
Same as #568, can you re-file this at https://github.com/mozilla/foundation.mozilla.org/issues/new ?

[2018-01-16 16:35] #567 closed

[2018-01-16 16:38] alanmoo opened #569 "Create Ask accounts for team members"
Please (give)/(make sure the following people have) access to Ask

- [x] @taisdesouzalessa
- [x] @sabrinang
- [x] @kristinashu
- [ ] @xmatthewx
- [ ] @jessevondoom
- [x] Jon Lloyd (https://phonebook.mozilla.org/?search/jon%20lloyd)

We will be familiarizing ourselves with it and possibly using it for project briefs in the future.

[2018-01-17 15:16] patjouk commented on #555
Hey @xmatthewx. The previous bot was using creator fields [that got deprecated](https://github.com/mozilla/network-pulse-api/pull/252/commits/e81d15a7902acad8e4978527674b3d1c9612a246). I [wrote a prototype](https://github.com/MozillaFoundation/mofo-devops/blob/master/slackbots/latest_pulse.md) as a quick fix for Mozfest slack. It was okay-ish during the festival but kept on breaking after that :(.

[2018-01-17 15:18] alanmoo opened #570 "Create Ask account"
For Jon Lloyd (https://phonebook.mozilla.org/?search/jon%20lloyd)

[2018-01-17 15:27] cadecairos commented on #569
I've created accounts for @taisdesouzalessa @sabrinang and @kristinashu (each of you will need to help me figure out a end-to-end encryption channel we can use to transfer your login details)

We already hadhave accounts for @xmatthewx and @jessevondoom  - if you two don't know your passwords, I'll reset them and we can have them transferred (again, using an end-to-end encrypted communication chan

[2018-01-17 16:11] patjouk commented on #566
Hi Tais :)
They can log using their Mozilla Foundation account. Once it's done, they should send us an email so we can give them access to staging and prod.

[2018-01-17 16:46] patjouk commented on #570
Merged this ticket with #569

[2018-01-17 16:46] #570 closed

[2018-01-17 18:25] kristinashu commented on #566
Thanks @patjouk! I went to https://foundation.mofostaging.net/admin/login/?next=/admin/ and clicked Log in with Google. Do I need to do anything else?

<img width="1021" alt="screen shot 2018-01-17 at 10 22 45 am" src="https://user-images.githubusercontent.com/1068783/35059574-7be5b1f6-fb70-11e7-93c8-0b43cd56a3ba.png">

[2018-01-17 18:28] kristinashu commented on #569
Thanks @cadecairos, you've used Telegram with me before.

[2018-01-17 18:40] taisdesouzalessa commented on #569
Thanks @cadecairos. I have Telegram too, if it helps.

[2018-01-17 18:50] xmatthewx commented on #555
thanks @patjouk! rss would be great!

[2018-01-17 18:55] xmatthewx commented on #569
Awesome, thanks. Let's start a doc with basic info for Ask staff users.

Super basic. Where to access, how to login. No need for extensive documentation until our use expands for realz, but it'd be good to capture basic info for ourselves.

[2018-01-17 19:02] sabrinang commented on #569
I can use telegram as well @cadecairos, thanks for setting us up!

[2018-01-18 16:16] cadecairos commented on #565
This is done now!

[2018-01-18 16:16] #565 closed

[2018-01-19 17:28] alanmoo opened #571 "Facilitate transfer of Hive NYC assets to PASE"
Site and domain need to be transferred. Contacts on the PASE side have been emailed to you @cadecairos

[2018-01-23 18:08] kristinashu commented on #566
Never mind, it works when I go to https://foundation.mozilla.org/admin/

[2018-01-23 21:35] sabrinang commented on #566
This doesn't work for me @patjouk. When I try logging in with my google account from either the staging link or the main admin link it just goes back to the log in with google button page?

[2018-01-24 11:15] patjouk commented on #566
Hi!
This strange loop is probably linked to the fact I need to finish your user profile in admin, which I just did. Can you confirm that it works for you? Thanks.

[2018-01-24 16:17] cadecairos commented on #548
Closing this - we can open specific issues related to automation as we go.

[2018-01-24 16:17] #548 closed

[2018-01-24 16:21] cadecairos commented on #569
@xmatthewx Do you have the login details for ask that I sent previously?
@jessevondoom I've created credentials for you. How would you like me to get them to you?

[2018-01-24 18:13] sabrinang commented on #566
I tried again on https://foundation.mozilla.org/admin/ it still takes me back after logging in with google and that button doesn't go anywhere if I click it again
![sign-in-help](https://user-images.githubusercontent.com/2492510/35349169-1121f8d2-00ef-11e8-90cf-72b634daabd0.gif)
 @patjouk

[2018-01-24 20:56] alanmoo opened #572 "Prepare foundation.mozilla.org to scale"
We're likely going to be driving a fair amount more traffic to the Foundation site in the near future, so we should be ready for it to scale if necessary. As per @cadecairos in Slack, we should add AdeptScale monitoring.

[2018-01-25 10:21] patjouk commented on #566
Sorry about that :(
Can you try again? It should be fixed now.

On Wed, Jan 24, 2018 at 7:13 PM, sabrinang <notifications@github.com> wrote:

[2018-02-01 16:15] bacharakis commented on #564
Hi all!
Is there any chance to put this banner in at least the Clubs page as well?
A lot of people are directly [landing to the Clubs page](https://learning.mozilla.org/en-US/clubs/) (through search engines) and they miss the banner. As a result they reach out to different communities trying to learn more about the Clubs program and how to join.

Thank you

[2018-02-01 16:34] alanmoo commented on #564
I filed a [ticket](https://github.com/mozilla/learning.mozilla.org/issues/2547)

[2018-02-07 19:19] xmatthewx opened #573 "Add Carto to CSP whitelist"
As discussed on slack, we want to add an embed from https://auremoser.carto.com to a page on foundation.mozilla.org.

@cadecairos mentioned there are some trackers included in there. we can discuss with @auremoser about whether to use a static image. they have a way to export in the tool, but it would require periodic updates. there's an api to get a static image, but we can't include that on a cm

[2018-02-07 19:29] kristinashu opened #574 "Access to foundation.mozilla.org analytics"
May I please have access to the google analytics for https://foundation.mozilla.org/

Thanks!

[2018-02-07 23:18] auremoser commented on #573
I'm not fluent in hotlinking images to the cms pages, but:

- Static Maps for Carto: https://carto.com/docs/carto-engine/carto-js/static-maps/
- Static Map API for Carto that I mentioned before: https://carto.com/docs/carto-engine/maps-api/static-maps-api/
- A project that might help, it's Kate DeCora's tool, integrates with Carto and other map services: https://staticmapmaker.com/cartodb/

I don'

[2018-02-08 21:21] xmatthewx commented on #573
I tried staticmapmaker, but couldn't get it to work. I wonder if it's for an older version of carto's api. We won't be able to set up our own version of this. So...

We can either:
 - whitelist and accept the trackers
 - or do a weekly image export from carto

I'll leave it to you two to decide.

[2018-02-09 04:25] auremoser commented on #573
I have no strong opinions either way. Let me know what you think @cadecairos . Fwiw, we used the same map type in precedent (last year, tracking enabled) and it seemed to work well.

From what I've gathered, there's no way to turn off the "fav" count feature, which the trackers are assessing.

[2018-02-14 16:08] cadecairos commented on #568
Please re-file this if necessary, at https://github.com/mozilla/foundation.mozilla.org/issues/new

[2018-02-14 16:08] #568 closed

[2018-02-14 16:11] cadecairos commented on #572
This has been completed. https://dashboard.heroku.com/apps/foundation-mozilla-org/resources

[2018-02-14 16:11] #572 closed

[2018-02-14 16:21] cadecairos commented on #573
I've whitelisted https://auremoser.carto.com as an iframe src. I'm not too concerned about the analytics used withing the iframe at this time.

Can we close close this out?

[2018-02-14 16:50] cadecairos commented on #569
Nothing more to do here. if you got creds created, but never received them, slack me!

[2018-02-14 16:50] #569 closed

[2018-02-14 16:54] cadecairos commented on #571
Update: still emailing back and forth, trying to sort out the details. possible meeting needs to be set up.

[2018-02-19 08:15] patjouk commented on #566
@sabrinang I suppose it works or you would have contacted me. I'll close this ticket now but don't hesitate to open it again if it doesn't work.

[2018-02-19 08:15] #566 closed

[2018-02-20 18:25] #573 closed

[2018-02-20 18:30] cadecairos commented on #574
This is done now

[2018-02-20 18:30] #574 closed

[2018-02-21 16:21] cadecairos opened #576 "Serve Webmaker.org statically"
We're currently serving webmaker.org and beta.webmaker.org through a heroku app, behind a CloudFront CDN. This is silly. We should make a static  "this is not a thing anymore" page on S3 and serve that instead.

@alanmoo Should we get a designer involved, or just throw up something basic?

[2018-02-21 17:14] xmatthewx commented on #573
thanks @cadecairos. it works as expected: https://foundation.mofostaging.net/opportunity/map-embed/

[2018-02-21 18:41] cadecairos opened #577 "Investigate Talk -> Slack integration"
We have a request for a slack moderation integration for talk. I'll check what that might involve.

[2018-02-22 16:31] alanmoo commented on #576
What about the existing projects? Are they on a different domain?

[2018-02-22 16:42] cadecairos commented on #576
Are you talking about the app? That data is accessed through api.webmaker.org (which is a whole other beast)

There is a desktop "viewer" on beta.webmaker.org, but TBH, I think we can kill it.

[2018-02-22 16:52] alanmoo commented on #576
Ah, yes, the desktop viewer is what I was thinking about.

Kevin and I started working on a decommission plan a year ago, and one of the things we discussed was leaving the viewer up, as it upholds the idea that these projects are 'of the web'.

Of all the stuff we have to decommission though, Webmaker does feel like the lowest hanging fruit. Maybe it's time to revisit this. @jessevondoom thoughts

[2018-02-22 18:46] cadecairos commented on #577
This was actually incredibly easy to set up.

[2018-02-22 18:46] #577 closed

[2018-02-22 21:56] Sydette opened #578 "Story Engine turn over"
Hello All ,

We need to turn over Story Engine to a non Mozilla

Direct storyengine.io to new story engine website 👍  https://loupdesign.wpengine.com/.

Export Files : https://drive.google.com/file/d/13VN-IlTzFyywIStbcC6tOn4NZhAx4mgi/view?usp=sharing

The site IP : 35.224.80.37

[2018-02-26 21:40] prefontaine commented on #578
@Sydette @jessevondoom Please let me know what you need me to do -- I am not sure what action to take. We have all files set up at https://loupdesign.wpengine.com and now just need (1) the StoryEngine.io URL to point to the new IP address, and (2) to turn over ownership of the domain to Loup.

[2018-02-28 15:07] cadecairos commented on #578
@Sydette @prefontaine we don't need to migrate the existing site at all, right?

I can update the domain (storyengine.io) to point to the IP in the top comment (35.224.80.37) today, and file a bug to get a transfer code for storyengine.io. I'll need to know who to send this code to at Loup, so they can complete the domain ownership change with their registrar.

[2018-02-28 15:55] arlissc opened #579 "Add GA to IH Report 2018 website"
### Details
This is a starting point to initiate the work need to gather analytics from the new site.

### Info & links

Fm Vizzuality:  list of analytics events that will be tracked - https://docs.google.com/spreadsheets/d/1Ckdic9tkLdrxf1RCYshe0yUh3TdDePHS5Hw0FJf1qQI/edit#gid=0

Other supporting docs:  [Metrics](https://docs.google.com/document/d/1X65eO3FTiVpaYze9-BfhAaqfNA84vEArX2aL-ChlY4U/edit)

[2018-02-28 16:17] arlissc commented on #579
The issues is more relevant for the Internet Health report repo.  Closing this issue here and recreating over there.
Thank you,
Arliss

[2018-02-28 16:17] #579 closed

[2018-03-02 11:35] prefontaine commented on #578
Hi @cadecairos. You can send the domain transfer code to me at christine@loup.design. The site has been migrated. Did you point to the new IP? Old one still shows up for me.

[2018-03-02 15:06] cadecairos commented on #578
@prefontaine I've updated the DNS setting, but the site will be down until storyengine.io is added as a domain using the dashboard for the new WPEngine install. I also recommend you use WPEngine's Lets Encrypt integration to get a free SSL certificate and force SSL on the site. [Here's how to do it](https://wpengine.com/support/add-ssl-site/#letsEncrypt)

[2018-03-02 16:23] prefontaine commented on #578
@cadecairos Thanks much. Looks like I need to wait an hour for the systems to update. Then I'll check again if it is working.

[2018-03-02 23:01] prefontaine commented on #578
@cadecairos Everything is working great. Thank you for the SSL tip. N00b question: Do I initiate the domain name ownership change from my registrar?

[2018-03-02 23:39] cadecairos commented on #578
Glad to hear it's working!

I'm working on getting a transfer code, and once I have it, I'll forward it over, and you can use it to begin the transfer with your registrar.

[2018-03-05 20:00] cadecairos opened #580 "Prepare foundation site repo for on-call rotation"
- [x] set up rotation on VictorOps
- [x] set up alarms on Heroku
- [x] wire up alerts to the new rotation
- [x] Create a new transmogrifier to add the critical tag to emails coming from Heroku
- [x] Write a playbook for foundation site https://github.com/MozillaFoundation/mofo-devops-private/pull/120
- [X] Check the readme in the repo to make sure it's up to date
- [ ] Annotate event with the play

[2018-03-07 16:19] cadecairos commented on #571
I've instructed The PASE contacts on how to migrate to their new install, waiting on getting information from them to kick it off. I've also sent the hivenyc transfer code to them.

[2018-03-07 16:27] cadecairos commented on #555
This is resolved!

[2018-03-07 16:27] #555 closed

[2018-03-09 21:11] xmatthewx opened #581 "Add Jenn to Foundation CMS"
hi. please give @jenntbeard access to the foundation site cms. i believe that she has done the first tap of the login button, so you should see her listed. i would do it, but i seem to have lost that privilege.

[2018-03-09 21:59] gideonthomas commented on #581
Done and gave you admin privileges @xmatthewx

[2018-03-12 19:40] #581 closed

[2018-03-13 18:27] MaciekPluta commented on #489
Hey All, just so everyone here is aware, as of 3/12/2018, we regained control of the /Mozilla YouTube channel.

[2018-03-13 18:36] alanmoo commented on #489
Holy 💩!

[2018-03-13 18:36] #489 closed

[2018-03-19 21:13] cadecairos commented on #453
@alanmoo anything need to happen here before I start shuttering Mattermost?

[2018-03-20 14:41] alanmoo commented on #453
Let's update the Readme for the github repo to say 'We've moved on to Slack. If you're active in one of our repos, reach out to a member of the team and we can send you an invite', and then redirect chat.mozillafoundation.org to that repo.

[2018-03-22 15:43] cadecairos commented on #578
The domain transfer is underway, should take a couple days to process. I'll update when it's done.

[2018-03-22 16:14] cadecairos commented on #453
Which one?

[2018-03-22 18:36] alanmoo commented on #453
https://github.com/mozilla/chat.mozillafoundation.org

[2018-03-22 19:10] cadecairos commented on #453
That repo's just a fork I worked with before I figured out how to deploy official binaries to Heroku. I'll archive it.

[2018-03-27 01:03] prefontaine commented on #578
@cadecairos @Sydette @jessevondoom This is officially transferred. Thanks much for all of your help!

[2018-03-27 01:04] #578 closed

[2018-03-27 18:36] Pomax opened #582 "clean up heroku wagtail apps"
We've merged wagtail into the main foundation.moz repo, so we should see which heroku apps we currently have around wagtail testing and clean that list up.

[2018-03-28 15:05] cadecairos opened #583 "Update Internet Health Report Talk version"
Version 4.3 is out, and has fixes for Custom CSS that we need!

[2018-03-28 15:08] cadecairos opened #584 "Migrate hivelearningnetworks.org to WPEngine"
Lets get this out of EC2, and on an up-to-date version of WordPress.

[2018-03-28 15:10] cadecairos opened #585 "Redirect chat.mozillafoundation.org to mozfest Slack"
Lets shutdown Mattermost and redirect contributors to out Mozfest slack instance.

[2018-03-28 15:24] cadecairos commented on #571
The transfer is being processed. will close once I can confirm it's done.

[2018-03-28 15:37] patjouk commented on #546
We [already started](https://github.com/MozillaFoundation/mofo-devops-private/pull/120) 🎉

[2018-03-28 15:37] #546 closed

[2018-03-28 15:38] cadecairos commented on #576
ping @jessevondoom

[2018-03-28 20:52] cadecairos commented on #584
done. https://hivelearningnetworks.org

[2018-03-28 20:52] #584 closed

[2018-03-29 17:19] cadecairos commented on #583
This update is complete.

[2018-03-29 17:19] #583 closed

[2018-03-29 17:49] cadecairos commented on #582
- [ ] Route 53 CNAME (wagtail.mofostaging.net)
- [ ] foundation-wagtail Heroku app
- [ ] Heroku Postgres
- [ ] IAM user (wagtail-s3-bucket)
- [ ] S3 uploads (mofo-assets-staging/wagtail/*)

[2018-04-04 18:37] ldecoursy opened #586 "Redirect hivelearningnetworks.org to Foundation site"
### Details
The hivelearningnetworks.org is outdated and no longer relevant. We should redirect to the Foundation site Get Involved page.

I don't suspect that site gets much traffic and don't think the Foundation site links to it anymore.

### Info & links
http://hivelearningnetworks.org
https://foundation.mozilla.org/get-involved/

[2018-04-04 18:53] cadecairos commented on #586
I've added the following domains to the redirect app:

- www.hivelearningnetworks.org
- www.hivelearningnetwork.org
- hivelearningnetworks.org
- hivelearningnetwork.org

they're configured to redirect to `/get-involved`

I still need to update the domains to point to the redirect app, and make a final backup of the site before deleting the WPEngine install.

[2018-04-04 20:31] cadecairos commented on #586
Domains updated, They're all redirecting properly now.

[2018-04-04 20:31] #586 closed

[2018-04-09 13:58] patjouk commented on #582
done 🚀

[2018-04-09 13:58] #582 closed

[2018-04-11 14:36] cadecairos commented on #585
This is done

[2018-04-11 14:36] #585 closed

[2018-04-11 15:30] cadecairos commented on #453
Closing this as Chat is now redirecting to mozfest slack

[2018-04-11 15:30] #453 closed

[2018-04-11 15:38] cadecairos commented on #571
The domain has been transferred, but the name servers continue to point to our Hosted Zone on AWS. I'll email Kay to see what's up.

[2018-04-11 15:39] cadecairos commented on #576
@alanmoo how can we get @jessevondoom to respond... 🤔

[2018-04-11 15:40] cadecairos commented on #547
This is done, and more is being handled in MozillaFoundation/mofo-devops-private#124

[2018-04-11 15:40] #547 closed

[2018-04-18 15:26] cadecairos commented on #571
This is all done!

[2018-04-18 15:26] #571 closed

[2018-04-18 15:40] cadecairos commented on #576
Yeah, we'll need to discuss this - it's going to be a challenge.

[2018-04-18 17:02] Pomax opened #587 "Set up a whitelist for foundation.mozilla.org for which changes should not trigger CI"
Not every change in foundation.mozilla.org will impact build status (for instance, changes to the README.md), but will still trigger CI runs despite the result of these runs being a foregone conclusion. It turns out we can create exemption patterns to prevent CI from kicking in, so it's worth looking at which (sets of) file(s) we can exempt to prevent CI from kicking in when it doesn't have to.

F

[2018-04-23 15:01] patjouk opened #588 "Gather github activity data during the global sprint"
Related to mozilla/network-pulse-api#312

I started looking at github api: they provide a few [statistic](https://developer.github.com/v3/repos/statistics/) entry points, but it's limited and doesn't cover our needs. I think we should use the [repo](https://developer.github.com/v3/repos/) entry points instead, especially the commits ones.

I also found something that could be useful: you can obtai

[2018-04-23 15:07] alanmoo commented on #588
Looping in @acabunoc as she had something she was using previously and can give clear needs about what events need to be captured. I recall the biggest concern is that the github API only exposes 200 or so recent events in the category we want, so we'll need to have a way to capture them longer term for reference later on.

[2018-04-23 15:25] acabunoc commented on #588
Hi all, I used the activity endpoint for all the repos in the sprint:
https://developer.github.com/v3/activity/

We're still accepting projects, but I can get you a current list of repos.

I can dig up the script I used last year if that would be helpful. I only ran it once a day during the sprint then manually assembled the data for the 50 hours. We need data from a longer timeframe this year (2

[2018-04-23 15:26] acabunoc commented on #588
used this endpoint specifically:
https://developer.github.com/v3/activity/events/#list-repository-events

[2018-04-24 13:53] patjouk commented on #588
Tasks and todos:
- [ ] collect events for a list of repos,
- [ ] write to a G spreadsheet,
- [ ] run at a certain interval.

[2018-04-25 16:47] vojtechsedlak opened #589 "Deploying Facebook Survey tool on Heroku"
### Details
We need to move a [tool](https://mozillafoundation.shinyapps.io/facebook/) that visualizes data for the recent Facebook survey from shinyapps.io, which we used for staging, to Heroku. The tool is built in R using the Shiny framework, its repo can be found [here](https://github.com/vojtechsedlak/shinysurvey). There is a [R buildpack](https://github.com/virtualstaticvoid/heroku-buildpack

[2018-04-25 16:53] cadecairos commented on #589
I've forked the repo the the Mozilla org: https://github.com/mozilla/shinysurvey - we'll deploy this to Heroku.

I'm adding a `run.R` file so that the Heroku R Buildpack will pick it up and boot up the Shiny app.

I'm about to test it all out, will report back in a couple minutes!

[2018-04-25 16:56] cadecairos commented on #589
update: it builds and tries to start up. but has an error. debugging that now.

[2018-04-25 17:07] vojtechsedlak commented on #589
there are some package dependencies in the main server.R file, which may need to be installed as part of the build. Not sure whether that's the issue, but wanted to flag.

[2018-04-25 17:08] cadecairos commented on #589
yup I think it was, I've added `init.R` to install them during the build stage.

[2018-04-25 18:35] cadecairos commented on #589
@vojtechsedlak Can you confirm the version of R that's running on yourshinyapps.io test app?

[2018-04-25 19:46] cadecairos commented on #589
Currently doing battle with a problem compiling a dependency in the build...

[2018-04-25 19:48] vojtechsedlak commented on #589
oh sorry, what's the problematic package?

[2018-04-25 20:30] cadecairos commented on #589
it's xml2, during the Heroku build phase it fails to compile because it can't find a dependency. I confirmed it's installed on build images, I'm trying to pass in custom build flags to point it in the right direction.

[2018-04-26 15:39] vojtechsedlak commented on #589
Hey @cadecairos, any luck with resolving the issue? We've now pushed the email launch to Saturday, which gives us a bit more time. Thanks again for your help with this.

[2018-04-27 23:30] acabunoc commented on #588
Here is the current list of repos: (2nd tab in the spreadsheet)
https://docs.google.com/spreadsheets/d/1mnxJUe9Fhbh3JC_CDSjnsnq5xBB7ZLU_ITq0BTxt0IE/edit#gid=922604362

This will continue to be updated as projects register till the end of the sprint.
Thanks @patjouk & @cadecairos!

[2018-05-02 12:44] patjouk commented on #588
Closing this issue: PR related to it was merged 🎉

[2018-05-02 12:44] #588 closed

[2018-05-02 15:43] cadecairos opened #590 "Error handling and alerting for Github Activity monitor script"
Lets monitor for errors fetching and processing data. ideally it will trigger a VictorOps alert.

[2018-05-02 15:44] cadecairos commented on #589
This has pivoted to a JS application. Will get it ready for launch before Friday.

[2018-05-03 11:03] patjouk commented on #590
What I identified so far:
- Paging should occur only if repeated failures: One way to do this is to monitor if the file was updated in the last hour+ (probably a cloudwatch alert going to victorops)
- Automatic response: uploads/downloads to s3 have 5 auto retries before raising an exception. We should add retries to Github API requests.
- If the same repo is failing again and again but the rest w

[2018-05-09 09:42] #590 closed

[2018-05-16 00:32] mmmavis opened #591 "Update Hatchet settings/configs for MozFest 2018"
@cadecairos for ref, this is the ticket from last year: https://github.com/MozillaFoundation/mofo-devops/issues/501

Call for Proposals opens on June 1 this year as well. I would like to make sure Hatchet for MozFest site is still working.

[2018-05-16 00:34] mmmavis commented on #591
Also - is this still [the place](https://github.com/mozilla/webmaker-mailroom/tree/master/templates) where I put email templates in?

[2018-05-16 13:55] cadecairos commented on #591
I think we'll also need a worker task to process the new email template (basically, [we fork this worker](https://github.com/mozilla/sawmill/blob/master/worker/mozfest_session_proposal_2017.js))

yup, that's the spot!

[2018-05-16 15:09] cadecairos commented on #589
@vojtechsedlak @alanmoo ping?

[2018-05-16 15:17] alanmoo commented on #589
Is this the kind of thing that could technically run as a page on the Foundation site with a little work? Or does it need to be on a Node server?

[2018-05-16 16:31] vojtechsedlak commented on #589
Sorry for the delay. It would be great if we could keep the tool up at least for the rest of the year, as we may keep referencing it in various communications. It doesn't really matter where or how it is hosted, so whatever you think is the best, most feasible option. It certainly does not require a node server.

[2018-05-16 19:38] cadecairos commented on #589
@alanmoo is it feasible to get this on the foundation site as a single static page? Then we can redirect fbsurvey.mozillafoundation.org there.

[2018-05-16 20:37] alanmoo commented on #589
Should be. @Pomax Any thoughts on this when you have a chance?

[2018-05-17 17:27] cadecairos commented on #589
@Pomax it's the assets contained in this directory: https://github.com/mozilla/d3survey/tree/master/src

[2018-05-17 17:51] Pomax opened #592 "set up AWS bucket+creds for USE-S3 enabled foundation development"
In order to test several of the S3-reliant functions in Wagtail, it would be useful to have a set of credentials and AWS variable values that developers can plug into their env to do local testing but backed by a real AWS instance.

[2018-05-17 19:28] Pomax commented on #589
Do we want to treat it like a package, with a step in `npm run build` that runs _its_ build and then copies over the index.html, or is it sufficient to copy over the content of the `dist` dir?

[2018-05-17 19:53] cadecairos commented on #592
This has all been created, and saved to the team vault.

[2018-05-17 19:53] #592 closed

[2018-05-17 20:10] Pomax opened #593 "Copy foundation prod assets over to the foundation developer bucket"
In order to verify correct page image handling, having the existing assets from prod available on the developer bucket would make ripping out mezzanine easier =)

[2018-05-17 21:12] Pomax commented on #589
It looks like the version of D3 that is used has code that relies on `new Function()`, which in the same category as `eval()` when it comes to CSP disallow rules. As is, we'd either have to allow eval() on the foundation website (which I would strongly advise against), or we may need to run this on a domain where eval() (in its various forms) can't do any harm...

[2018-05-17 21:19] Pomax commented on #589
Also having a quick look at the index.html code, this line is incredibly dangerous: ` <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>` and should just load jquery without checking if it already exists; jquery has built in clobber-protection, whereas document.write is a super dangerous API function that's left over from the very early days of JS

[2018-05-18 14:51] Pomax commented on #589
@cadecairos @alanmoo, any thoughts?

[2018-05-18 15:04] alanmoo commented on #589
While this should be figured out, I'm fine leaving this where it is for a little while, as we've got more pressing things to work on.

[2018-05-18 19:57] cadecairos opened #594 "science.typeoutloud.org - ready to shutdown/archive?"
From the README of https://github.com/mozilla/typeoutloud.org: "For historical reasons, this repo is going to be used for science.typeoutloud.org, and we are not going to change the name, just delete it when it's done"

@ScottDowne I'd like to take this site offline, probably put a redirect to the foundation site. Who's the person responsible for green-lighting that plan?

(I'd like to take it dow

[2018-05-23 15:09] cadecairos commented on #594
CC @alanmoo @caltrider @beccaklam Thoughts on this?

[2018-05-23 15:42] patjouk commented on #576
Let's discuss that during All Hands :)

[2018-05-23 16:36] cadecairos commented on #594
Shall I redirect it to the foundation site?

[2018-05-23 21:19] mmmavis commented on #591
Hey @patjouk , we are still waiting for copy and content. I will ping people again so hopefully we can get content locked by this week. I should be able to file a PR just like [what I did last year](https://github.com/mozilla/webmaker-mailroom/pull/59/files). Will you be the person I should flag for PR review then? 😉

[2018-05-26 00:37] mmmavis commented on #591
@patjouk I just filed a [PR](https://github.com/mozilla/webmaker-mailroom/pull/67) and assigned you as reviewer 😃

[2018-05-28 22:05] mmmavis commented on #591
@cadecairos seems like my PR for `webmaker-mailroom` has been merged. I'm currently working on MozFest site call for proposals updates on a feature branch. I'm wondering if we need to add the review app URL to Hatchet config in order for us to test the confirmation email feature there.

Review app for that feature branch: https://mozillafestival-org-sta-pr-894.herokuapp.com

[2018-05-30 01:29] mmmavis commented on #591
@patjouk @cadecairos do you mind pinging me when this is ready for testing? 😄 We are aiming to push website updates live on May 31 since June 1 is a Friday.

[2018-05-30 14:00] patjouk opened #595 "Merging Lumberyard into Sawmill"
![20180530_093003](https://user-images.githubusercontent.com/481052/40724527-87caf976-6421-11e8-8e7c-c5864838d79a.jpg)

Having Lumberyard is the middle makes the whole SQS messages processing complex to understand. We should revisit this and merge Lumberyard into Sawmill.

Todos:
- [x] Move Lumberyard workers into sawmill (https://github.com/mozilla/sawmill/pull/90)
- [x] IAM user sawmill: add ama

[2018-05-31 15:42] cadecairos commented on #594
www.typeoutloud.org and science.typeoutloud.org now redirect to the foundation site.

The apps are all off now, and will be deleted from Heroku shortly.

[2018-05-31 16:58] patjouk opened #596 "Sawmill worker auto detect"
To prevent bug [like this one](https://github.com/mozilla/network-pulse-api/pull/376) to happen, sawmill should auto-detect workers.

This should be done after #595

[2018-06-01 17:57] mmmavis commented on #591
Yay just tested this via MozFest site and it worked great. Thanks @cadecairos @patjouk for the help! 🎉

[2018-06-01 17:57] #591 closed

[2018-06-07 15:05] cadecairos commented on #594
This has been completed

[2018-06-07 15:05] #594 closed

[2018-06-19 11:38] patjouk opened #597 "Update Travis config"
Since now Travis supports `npm ci` out of the box, we can remove `npm install -g npm@latest` from our `.travis.yml` files :D

[2018-06-19 12:11] patjouk opened #598 "Change how we do review apps passwords"
Each time a review app is created, we automatically generate an admin account: the username stays the same but the password is randomly created and printed in the review apps logs. This is not user-friendly, so we need another solution.

What we could do instead:
- Replace the random password by a fixed one [here](https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi

[2018-06-19 13:03] alanmoo commented on #598
I prefer the second as well

[2018-06-20 09:17] patjouk commented on #597
Ok, nevermind, it works only with npm 5.8 (cf [Travis announcement](https://changelog.travis-ci.com/npm-ci-support-62786)) so we still need to update npm...

[2018-06-20 09:17] #597 closed

[2018-06-22 18:06] xmatthewx opened #599 "Align pulse staging URLs with foundation site"
The foundation site has nice patterns for staging and admin. Clean and easy to remember. Pulse is a bit messier. Can we clean these up? Even redirects would be fine.

Current URL <-- proposed URL or redirects:
 - http://mozillapulse.org/
 - https://api.mozillapulse.org/admin/ <-- mozillapulse.org/admin
 - https://network-pulse-staging.herokuapp.com/ <-- pulse.mofostaging.net
 - https://pulse-api.m

[2018-06-22 18:15] cadecairos commented on #599
We're running the pulse front end on a separate domain than the back end. The setup to proxy the Django admin interface to the front end domain really isn't worth all the work

Or, is it okay to just have `https://mozillapulse.org/admin` redirect to the backend domain?

[2018-06-26 17:58] alanmoo commented on #529
@LeoMcA I wanted to check in on this, as it's been a while. I was having a conversation with someone (@cadecairos?) at all hands and I believe we discussed simply backing up and taking down the existing MoFo discourse forums, since they've languished so much, and redirect the urls to the new ones. We can hold onto the data for a bit in case anyone cries out, (though I don't expect them to) and man

[2018-06-27 14:28] patjouk opened #600 "Help page for review apps - foundation site"
We should add a help page on the foundation site with links to prebuilt test pages (campaigns, opportunity, etc). It should only appear on review apps.

[2018-06-27 15:41] cadecairos opened #601 "Create MoFo VictorOps Account"
~~The foundation site went down yesterday and it didn't notify us via slack, lets double check the integration.~~

The moco victorops account isn't serving our needs, lets get four seats on a non-profit account with VictorOps. (Full Stack plan)

[2018-06-27 15:47] cadecairos opened #602 "Write foundation site outage June 26 2018 post-mortem"
Document the outage!

Metrics screenshot:
![](https://screenshotscdn.firefoxusercontent.com/images/bf5c4b83-9fdd-4898-84ff-48c55c5c7f02.png)

https://portal.victorops.com/client/mozilla-community-it#/incident/1640/alertDetails
https://portal.victorops.com/client/mozilla-community-it#/incident/1641/alertDetails

[2018-06-28 10:10] patjouk commented on #601
I don't have access to those integration settings anymore :( Since you've set it up, you will have to check it.

[2018-06-28 14:19] arlissc opened #603 "Network Mapping Project - Tranfer Github repo from Calibro to Mozilla"
### Details

This issue relates to the "Mapping the Movement" project w/ Calibro (part of the 3yr strategy evaluation project, run by the Insights team).  This project will end on June 30.  Currently all deliverables for this project are under the ownership of Calibro who has been contracted to complete this work.
We would like to transfer the ownership of the Github repo containing all of the int

[2018-06-28 14:30] cadecairos commented on #603
The transfer is basically instant, but because the repo is private I can't tell if they used absolute or relative links to build the site. If it's coded with relative links, then it will just work, with absolute links, it will require a little bit of manual work.

[2018-06-28 16:40] cadecairos commented on #603
Transferred: https://github.com/mozilla/mozilla-network

gh-pages: https://mozilla.github.io/mozilla-network/

[2018-06-28 16:40] #603 closed

[2018-07-02 12:02] patjouk opened #604 "Make sure our Pipfiles respect Pipfile specs"
We ran into an issue with the latest version of pipenv: this syntax `Mezzanine = {git = "https://github.com/stephenmcd/mezzanine@521a98c39bb6351c4b46067069f33caf95fe0a5e"}` in the foundation site Pipfile, will be converted to this in the Pipfile.lock:
[code]
This would create a github URL with two hashes, resulting in errors.

Instead, we should check that our Pipfile respect the [Pipfile's specif

[2018-07-03 10:10] patjouk opened #605 "Snyk CI builds on foundation fail"
[Example:](https://travis-ci.org/mozilla/foundation.mozilla.org/builds/399372745?utm_source=github_status&utm_medium=notification)
[code]

Let's investigate and fix it!

[2018-07-04 13:23] patjouk commented on #600
Done and merged 🎉

[2018-07-04 13:23] #600 closed

[2018-07-05 10:08] patjouk commented on #605
They don't support `package-lock.json` updates yet. What we could do:
- Push a commit with an updated lock file every time snyk bot opens a PR,
- Remove the PR fix feature and integrate the new `npm audit` in our process.

Opinions @cadecairos ?

[2018-07-05 14:41] cadecairos commented on #605
I think this is our best option for the long term. snyk is nice and all, but now conflicts with npm's built in tooling a bit.

[2018-07-05 15:15] cadecairos commented on #601
* check if this was due to a slack outage

[2018-07-05 15:22] patjouk commented on #605
See if we can use `npm audit` on travis: it should fail only for critical issues.

[2018-07-05 15:37] cadecairos commented on #599
Here's what we need to do:

1. Create pulse.mofostaging.net, wire it up properly to pulse staging front end. Verify that OAuth Works (check allowed hosts on staging api)
2. Redirect `mozillapulse.org/admin` to `api.mozillapulse.org/admin` (same behaviour for staging, but for staging infrastructure)
3. Try to enforce the custom domain on front-end (i.e. force redirect away from heroku domain to the

[2018-07-06 09:41] patjouk opened #606 "Write a deploy guide/checklist"
Write a deploy guide for pulse-api and foundation and add a link to it to the slack reminder bot.

It should cover:
- how to deploy on Heroku,
- what to monitor and test post-deploy,
- what to do if it fails.

[2018-07-06 13:23] patjouk commented on #605
I removed the PR feature. Looking at the setting, I saw that we can activate the `Only fail Snyk Test for high severity vulnerabilities` option. Maybe we could do that (I'll contact you on Slack with more details)

[2018-07-06 13:32] #605 closed

[2018-07-09 14:50] alanmoo opened #607 "Add Alan to MoFo Devops email list"
Pretty please with sugar on top?

[2018-07-09 20:51] taisdesouzalessa opened #608 "Change Taís' access to Google Analytics"
Summary of the issue: I added an annotation in GA and the only option available to me is to keep it private.

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/22157921/42475216-d61d138a-837e-11e8-8c8a-b9687cdf14b3.png">

I would like to be able to make the annotations public since the context is important for all team members who see analytics.

For the little I read ab

[2018-07-10 12:49] patjouk commented on #598
done!

[2018-07-10 12:49] #598 closed

[2018-07-10 12:50] patjouk commented on #558
After the whole SES mess, I'll start this ticket when I'm back from holidays: one AWS product per week!

[2018-07-10 12:51] patjouk commented on #606
Let's set up a meeting with the other engineers to discuss our deploy process first.

[2018-07-10 13:54] LeoMcA commented on #529
Yes, there's no need to keep the existing instances running to migrate them, so they can be taken down, provided we have database backups.

Setting up the new categories is a very simple job, it's migrating the old content which would be at least a few days of work (a few days I haven't found yet).

[2018-07-10 14:47] patjouk commented on #599
@xmatthewx pulse.mofostaging.net is up and running but someone else should probably write those redirect routes: I tried but knowing nothing of React, I failed miserably.

[2018-07-10 17:34] alanmoo commented on #599
@mmmavis can you help out with the React routes when you have a chance?

[2018-07-10 17:59] alanmoo commented on #529
Cool. @cadecairos Is that stuff you can take care of in the next few weeks?

[2018-07-11 09:51] LeoMcA commented on #529
Do we have a list of categories I should be setting up, and owners I should be associating with them?

[2018-07-12 19:17] cadecairos commented on #607
Invite sent

[2018-07-12 19:18] cadecairos commented on #608
@taisdesouzalessa is this for `foundation.mozilla.org`?

[2018-07-12 19:37] taisdesouzalessa commented on #608
yep! If not possible, I could send the notes to somebody who has the access to make it shared as well.

[2018-07-12 19:40] cadecairos commented on #608
It's done - the foundation site is one that I have edit user permissions on.

[2018-07-12 20:01] taisdesouzalessa commented on #608
Thanks, Cade!

[2018-07-12 20:01] #608 closed

[2018-07-12 20:45] #607 closed

[2018-07-13 19:39] mmmavis commented on #599
@cadecairos I'm not entirely sure what I need to do on front end. Did you mean redirect `/admin` to `pulse.mofostaging.net/admin` (for staging for example)`?

[2018-07-19 20:06] alanmoo opened #609 "Grant Alan share progress access"
I think I'm not shared on the 1Password vault that has it. (not a rush)

[2018-07-19 20:08] cadecairos commented on #609
You can now access the Advocacy vault

[2018-07-19 20:08] #609 closed

[2018-07-20 20:03] alanmoo opened #610 "Redirect webmaker.org homepage"
Redirect webmaker.org (but not the other pages hosted on that site, like projects) to https://foundation.mozilla.org/artifacts/webmaker/

[2018-07-24 09:20] patjouk opened #611 "Re-configure or find a better status bot for slack"
Many incidents are not picked up by our current status bot. It would help the team to know when certain services from Heroku (review apps, etc) are broken.

Todos:
- [x] Check the current conf,
~- [ ] Switch if necessary~

[2018-07-24 14:35] patjouk commented on #611
I changed Heroku and GitHub notifications: the bot will now also post `warn` messages. If it's too chatty, I'll revisit this choice.
I also added PyPI to the service list (only for down).

[2018-07-24 14:35] #611 closed

[2018-07-24 17:56] xmatthewx opened #612 "Discuss: Prep story engine for Pulse"
MoFo has a pile of interviews in [StoryEngine](https://storyengine.io/stories/) that we will put into Pulse profiles before we let go off that site.

I don't think we should attempt an import. But, to expedite the process, can we extract all the content from WP into individual text files and convert html to markdown? We can aim for 80% quality, ignoring edge cases.

 - Interviews are minimal marku

[2018-07-25 15:43] cadecairos commented on #612
@xmatthewx We transferred ownership of StoryEngine to Loup design a few months ago. Are we planning to scape the data off of their website? I think we might want to ask them first, since they own the rights to that content now.

[2018-07-25 15:48] cadecairos commented on #610
This is going to be troublesome: https://github.com/mozilla/webmaker-browser

node 0.12. React 0.14. npm 2.6.

[2018-07-25 18:58] xmatthewx commented on #612
this plan is their plan. we discussed moving the mozilla storyengine interviews to pulse long ago. we just didn't want to prioritize it, knowing our work on fellow profiles would eventually enable it.

i'm sure they'd give us a sql dump or a wp xml export. i can contact them after we have a sense of whether that's useful for us.

[2018-07-25 19:44] alanmoo commented on #610
Can we pull it off at a DNS level somehow?

[2018-07-25 20:03] cadecairos commented on #599
@mmmavis yes, on the frontend site, we'd like to have `/admin` redirect to the backend admin interface, on staging and on production.

[2018-07-31 10:25] patjouk opened #613 "Write docs for sawmill"
It's time we give it a more detailed readme :D

[2018-07-31 19:59] cadecairos commented on #610
I might be able to redirect it using CloudFront behaviours

[2018-08-01 15:03] patjouk commented on #543
Update on that: we gonna wait for ChatOps with new GitHub permissions to be out of alpha.

[2018-08-01 15:17] cadecairos commented on #610
- Can't do CloudFront Redirect, Webmaker project view lives as a SPA on the root of the site.
- Will take 3 or more days to update dependencies and fix bugs on the webmaker-browser app

Waiting on @alanmoo and @jessevondoom to advise if we should invest time here or just take it down.

[2018-08-01 15:24] cadecairos opened #614 "Thimble Outage Postmortem"
- Write a postmortem for the 3 day Thimble outage (July 19th-21st)

[2018-08-01 16:12] cadecairos commented on #596
closing in favour of documentation: #613

[2018-08-01 16:12] #596 closed

[2018-08-01 16:32] patjouk opened #615 "Mozfest website outage postmortem"

[2018-08-01 20:19] cadecairos commented on #595
RIP lumberyard.

The project has been archived too.

[2018-08-01 20:19] #595 closed

[2018-08-03 18:22] alanmoo opened #616 "Embed AirTable view into IHR"
from @kaodro

https://glitch.com/~airtable-example)).

[2018-08-07 08:51] patjouk opened #617 "Heroku maintance on August 22nd"
Scheduled:  (US) Dyno manager maintenance on Wednesday, August 22 at 22:00 UTC (18:00 EDT).

On Wednesday, August 22, 2018, starting at 22:00 UTC (18:00 EDT), and continuing until 02:00 UTC (4 hours), Heroku will be performing maintenance to the dyno manager in the US Common Runtime.

During this time, the following services will be impacted:

* Dyno scaling and provisioning (including restarts),

[2018-08-08 08:54] patjouk opened #618 "Outdated pipefile.lock should failed test"
Change `pipenv install` by `pipenv install --deploy` in our Travis config file.

[2018-08-08 15:06] cadecairos commented on #616
This probably didn't show up because of the Content Security Policy. you'll need to whitelist the domain that airtable is trying to embed in an iframe in order for it to display on the site.

I'll take a look at the documentation on embedding airtable content to figure out what domains to allow.

[2018-08-08 15:37] cadecairos commented on #612
It doesn't feel like a good use of DeOps time to manually format text data for an import into the CMS. There are plenty of free online tools that can convert HTML to Markdown for us. If we can provide program staff with links to these tools it won't take much of their time to format the exported content themselves on a case by case basis.

[2018-08-08 15:48] cadecairos commented on #576
closing in favour of #610

[2018-08-08 15:48] #576 closed

[2018-08-08 15:52] cadecairos commented on #476
@alanmoo Have you heard anything recently about the migration of data? I'd like to decomission this infra sooner rather than later since no one is maintaining it

[2018-08-08 15:53] cadecairos commented on #535
@alanmoo So this fell off at some point, but I'm still of the opinion that we don't have enough data to restore tables. Is there any actionable tasks left relating to teach-api?

[2018-08-08 16:07] cadecairos commented on #617
- [ ] let staff in #editorialcalendar (and maybe others) know about this
- [ ] See if we can schedule apps to scale up in advance of this date+time
- [ ] Tell engineers about this in #mofo-production

[2018-08-08 16:48] #535 closed

[2018-08-08 22:07] alanmoo commented on #476
Back up the db for a bit longer, but go ahead and shut it down. Redirect it to the main Mozilla discourse.

[2018-08-10 11:54] patjouk commented on #617
I added a bunch of reminders on #mo-prod and #mofo-engineering (one on the 20th and the other one on Wednesday 22nd). I also announced that maintenance yesterday at the digital team meeting.

[2018-08-10 11:58] patjouk commented on #601
I finally reached out to VictorOps support 🏅
I'll update this issue when I have an answer.

[2018-08-10 12:08] patjouk commented on #558
Closing this issue in favor of MozillaFoundation/mofo-devops-private#158

[2018-08-10 12:08] #558 closed

[2018-08-10 14:25] #618 closed

[2018-08-10 15:13] cadecairos opened #619 "Cloudwatch alerts for publish database disk usage"
Lets notify ourselves if publish DB freespace drops below 100 GB

[2018-08-10 15:15] #614 closed

[2018-08-10 15:25] #602 closed

[2018-08-10 15:32] cadecairos commented on #616
@alanmoo @kaodro I've whitelisted `https://airtable.com` in the child-src directive of our Content Security Policy for the `/2018` site. You should be able to load it in an `iframe` element now.

[2018-08-10 15:44] alanmoo commented on #529
I don't have anyone specifically jumping to get new categories open. I'm wondering if we should really even bother with migrations at this point as it seems there isn't a specific community looking to use this. And unlike brick and mortar businesses, with situations like this the phrase "If you build it, they will come" seems to refer to spammers more than anything else.

Any objections to just re

[2018-08-10 15:49] cadecairos commented on #529
No objections here.

[2018-08-13 10:20] patjouk opened #620 "Create backups for Mozfest schedule data"
We need two automatic backups:

~Google spreadsheets~ Can't do it because of Google Oauth \o/ It's not possible to run a cron task on user data, at least for spreadsheets.

Guidebook:
- [x] Get an API token,
- [x] Write a scheduled task to do the actual backups (+alerts)
- [x] Doc it!
- [x] Write decommission todo list issue

links:
- [Guidebook api](https://developer.guidebook.com)
- [Google spre

[2018-08-13 12:45] patjouk commented on #601
They didn't receive any complaints about that issue. Something is probably broken on our side :(
I described our problem in more details to them: maybe they will have an idea of what might be broken.

Meanwhile, I will ask our slack admin if an integration can have multiple owners: it's a pain to investigate this issue since they changed our slack permissions.

[2018-08-13 13:06] patjouk commented on #619
Fun stuff: I actually set an alert at the end of July: `FreeStorageSpace <= 419,430,400,000 for 5 datapoints within 25 minutes`.
I'll modify it but to 300G: it will give us more time to act before we actually run out of space.

[2018-08-13 16:09] xmatthewx commented on #612
Cool. I'll try and take this. I feel like 2 hours from me could save them a dozen hours. And I'm not even sure who "them" is.

Chris do we have a SQL back up of the site when we did the hand off? Or should I reach out to Christine P?

[2018-08-13 16:53] acabunoc commented on #529
For the mozillascience instance -- I know we were waiting to spin that down till we had a way to migrate all the existing content somewhere discoverable. Not being actively used now.

cc @stephwright

[2018-08-13 20:49] taisdesouzalessa opened #621 "MoFo Website Performance Dashboard"
### Details
Our [MoFo Website Performance Dashboard](https://datastudio.google.com/u/0/reporting/0B5UMbl9u1_wQdTlJTDZFUS0wSGs/page/OQ5E) is currently down. Could we fix the links to have it working again? It would be a good tool for us to have :).

@cadecairos @alanmoo @arlissc could you please help me in this task? I have no access or knowledge on how to make this work again. Let me know if there

[2018-08-13 20:53] cadecairos commented on #621
@arlissc DataStudio says you're the owner, is this something you built, or something inherited from Vojtech?

I have no idea what's wrong, and I don't have any experience with Data Studio, but if I can help at all, let me know.

[2018-08-14 09:44] patjouk commented on #601
Support checked our transmogrifiers: it should work. They recommended to remove the webhook and to set up a new one. This will take some time because we need service to approve it. The support also recommended we switch to the latest slack integration they offer, which we can't for now because we share an account with MoCo.

@alanmoo I took the opportunity to ask if they have discounts for non-pro

[2018-08-14 13:37] alanmoo commented on #616
Hard to say- what does it look like now? I understand ideal would be closer to [this](https://glitch.com/%7Eairtable-example) but I'm not sure where we're trying to get there from.

[2018-08-14 14:12] alanmoo commented on #621
I also have zero insight into this.

[2018-08-15 12:02] LeoMcA commented on #529
I propose the best way to approach this is to:

* Take a database backup for each of the sites
  * This means we can import posts later into discourse.mozilla.org, if absolutely necessary
  * Can be done from `/admin/backups`
* Use a site crawler (like httrack) to create a static HTML archive of the site we can throw up somewhere
  * Possibly even under the existing URLs, provided we add a link to

[2018-08-15 14:55] alanmoo commented on #529
What about ripping out a fair amount of the spam that's collected? I assume that would be best to do while it's still running?

[2018-08-15 15:13] arlissc commented on #621
Hi all - happy to help here and thanks for the heads up.
Yes, I have had ownership of several of the files related to this dashboard transferred to me from Vojtech's files.  I've been able to fix page one but still need access to a couple of files for page two.  I have put in the necessary request to get the ownership transferred so should be able to fix by EOW.
@taisdesouzalessa @cadecairos @alan

[2018-08-15 15:29] cadecairos commented on #612
I believe I did capture a backup. I will have to confirm that.

[2018-08-15 15:32] cadecairos commented on #589
@alanmoo _poke_

[2018-08-15 15:39] cadecairos commented on #529
This all sounds pretty straight-forward. @patjouk and I will work on this together.

[2018-08-15 15:54] cadecairos commented on #619
This is done!

[2018-08-15 15:54] #619 closed

[2018-08-15 20:06] cadecairos commented on #612
I can confirm there's an encrypted snapshot of the storyengine wordpress site saved in the mofo-archives S3 bucket.

[2018-08-15 21:08] xmatthewx commented on #612
Great. If you can give me a copy of the SQL, I'll see if I can prep the content.

You can strip or skip sensitive info in these tables. Or I can do it:
 - wp_users
 - wp_usermeta
 - wp_options
 - wp_comments
 - wp_commentmeta

I only need post content. Terms (tags, cats) could be useful.
 - wp_posts
 - wp_postmeta
 - wp_terms
 - wp_termmeta
 - wp_term_relationships
 - wp_term_taxomy

More on [WP D

[2018-08-17 15:51] cadecairos commented on #529
We've enabled Read only, and dumped the database backup into an encrypted S3 bucket, with the git commit SHA noted in the archive.

I'll be shutting down the instance when I get back from vacation in two weeks and have time to put a redirect in place to discourse.mozilla.org

[2018-08-20 10:41] patjouk commented on #617
HireFire scheduling override is really badly designed. I'm beta testing something tonight but I'm pretty sure I will have to do it manually because the maintenance is happening during the night and HireFire seems really confused by that idea...

[2018-08-20 14:17] alanmoo opened #622 "Take down and redirect iheartopendata.org"
We've got a replacement page up on https://foundation.mozilla.org/campaigns/i-heart-open-data/, let's take down the site currently hosted at iheartopendata.org and permanent redirect the url.

(Super low priority)

[2018-08-21 12:50] patjouk commented on #617
Tests worked \o/ I've scheduled automatic overrides for all services on HireFire.

[2018-08-22 19:16] alanmoo commented on #589
Hi, yes, what?

Do we need a static page for this, committed to the repo in a separate Django app? And then we hard-code the project url in a `urls.py` file?

[2018-08-23 09:54] patjouk commented on #617
Manual override removed. Everything went well.

For future reference: for scheduling something overnight on UTC:
- one override from X to 23:59 on day 1,
- another override from 00:00 to X on day 2.

[2018-08-23 09:54] #617 closed

[2018-09-03 13:01] patjouk commented on #601
I've asked for a new incoming webhook since VictorOps support want us to try to set up the integration again.

[2018-09-04 13:54] cadecairos commented on #589
Something like that, I think. The real trouble seems to be the use of very unsave coding practices that we probably don't want on our domain.

[2018-09-04 22:31] Pomax commented on #589
Do we... still need this tool?

[2018-09-05 12:18] patjouk commented on #601
Setting up a new integration fixed the issue. @cadecairos can you remove your previous integration?

[2018-09-05 14:41] arlissc commented on #621
@cadecairos @patjouk @alanmoo - thank you for any work that's been done so far on this issue.  Would it be possible to get an update on when this may be completed AND/OR  if there is anything I can help with.  totally understand that vacations and time commitments for this team have played a part.
Thanks so much ...

[2018-09-05 19:07] arlissc commented on #621
Hi all,
I have reconnected the data sources that were transferred to me for ownership.  Still looking into the "No Data" cells (page 2) to confirm that there is no data to be presented.
@taisdesouzalessa @cadecairos @alanmoo

[2018-09-05 19:09] arlissc commented on #621
Apologies @taisdesouzalessa @cadecairos @alanmoo  - my above comment re: request for an update was for [https://github.com/MozillaFoundation/mofo-devops-private/issues/160](url) and not this issue (although they are linked ? )
Thank you ...

[2018-09-05 22:33] taisdesouzalessa commented on #621
Thanks for your help here @arlissc @cadecairos @alanmoo :). Aliss, I could see data on page 2 when I changed the data range...I am not sure why there is no data after Jan, 29 - 2018...

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/22157921/45124865-d24afe00-b120-11e8-9051-06a33db383d7.png">

[2018-09-12 15:28] cadecairos commented on #616
I'm going to close this, if there's any issues with Airtable going forward, lets create a new one!

[2018-09-12 15:28] #616 closed

[2018-09-12 15:51] #615 closed

[2018-09-12 15:52] cadecairos commented on #615
* Github API went down
* Mozfest website wasn't being monitored by our systems. <- this has been corrected.

[2018-09-12 15:55] cadecairos commented on #589
good question, @alanmoo is anyone depending on this being published long-term?

[2018-09-14 14:07] cadecairos commented on #622
Redirect in place! I've disabled the apps in the iheartopendata-org pipeline. They'll get deleted in the next Heroku app purge we do.

[2018-09-14 14:07] #622 closed

[2018-09-19 19:01] gideonthomas opened #623 "DISCUSSION - Can MozFest website handle tons of traffic"
Based on https://github.com/mozilla/mozillafestival.org/issues/1029#issuecomment-422904824, we are going to embed live streams to the mozfest events like Dialogues and Debates, etc. Will the Mozfest site be able to handle the traffic coming to it because of this form of engagement? Is there anything we need to do to make sure it can handle the load?

[2018-09-19 19:35] cadecairos commented on #623
The site should easily be able to handle that traffic. Everything's going through cloudfront so static assets are being cached. The stream won't have any affect on the availability of the site. As a precaution, we can add autoscaling, but I'm not convinced that is necessary, especially with CloudFront helping out.

[2018-09-19 19:37] gideonthomas commented on #623
@mmmavis does that make sense? Can we close this?

[2018-09-19 19:39] cadecairos commented on #623
There is room for optimization on the client side still, since I can see we're not telling the browser to cache resources at all:

![screenshot from 2018-09-19 15-39-33](https://user-images.githubusercontent.com/438003/45776879-422dae00-bc22-11e8-8777-782880b9360c.png)

[2018-09-19 19:42] cadecairos commented on #623
ouch, ~1000KB of JavaScript with a max-age of 0.

![screenshot from 2018-09-19 15-42-42](https://user-images.githubusercontent.com/438003/45777038-ae101680-bc22-11e8-8fca-b966bc4ba29d.png)

[2018-09-19 20:21] gideonthomas commented on #623
We can probably improve cache nearer the festival since content won't change then.

[2018-09-20 15:12] patjouk opened #624 "Checklist for dependabot PRs"
Let's create a checklist of things to review before merging a dependency update PR.
It will probably be close to #606

[2018-09-20 15:43] patjouk opened #625 ""How to" Docs: rollbacks!"
Doc + checklist for rollbacks

[2018-09-25 13:51] alanmoo commented on #589
I got the OK from @caltrider in Slack to archive the repo. Filling a follow-up ticket for cleanup

[2018-09-25 13:51] #589 closed

[2018-09-25 13:52] alanmoo opened #626 "Take down https://fbsurvey.mozillafoundation.org and redirect to repo"
I got the 👍 from @caltrider to archive the project.

Let's take down the project (https://fbsurvey.mozillafoundation.org) and redirect the URL to the repo- https://github.com/mozilla/shinysurvey/

[2018-09-26 15:16] cadecairos commented on #626
1. Create a PR in mofo-redirector for this domain (details in top comment)
2. merge + deploy redirect
3. detatch the domain from current heroku app, attach it to mofo-redirector
4. in Route53 update the Hosted Zone record for fbsurvey to point to the redirector heroku app.

[2018-09-26 15:34] cadecairos commented on #599
I'll take of the rest of this issue

[2018-09-27 21:05] mmmavis commented on #599
@cadecairos thanks! Sorry this ticket slipped through the cracks on my end.

[2018-09-28 14:04] patjouk opened #627 "Remove Mozfest backup script and data"
To do the first week of November:
- [x] Revert changes introduced by MozillaFoundation/mofo-cron#7
- [x] Delete S3 bucket, and the IAM user,
- [x] Delete inactivity alert from logentries.

[2018-09-28 14:04] #620 closed

[2018-09-28 20:36] mmmavis commented on #620
Oops! Missed your ping earlier in the ticket. No worries at all. Thanks! 😃

[2018-10-01 07:27] patjouk opened #628 "mofo-cron clone_foundation_site/task.sh failed"
Following for [incident 1686](https://portal.victorops.com/client/mozilla-community-it#/incident/1686/alertDetails).

The copydb script failed this morning because awscli installation crashed ([logs here](https://eu.logentries.com/app/3aae5f3f#/search/log/628eb861?f=1538373525000&t=1538374245000)).

What I did for now:
- pausing the healthcheck to not get a second page while we're working on this.

[2018-10-01 14:34] #628 closed

[2018-10-02 15:07] patjouk commented on #626
It's done. I had to disable fbsurvey DCN (cloudfront, mofo-project) too.
I turn the fbsurvey Heroku app down and put it in maintenance mode. We can remove it in a few days.

[2018-10-02 15:07] #626 closed

[2018-10-04 13:29] xmatthewx opened #629 "Timeout on password protected wagtail page"
A funder for CS Challenge reported that they experienced repeated timeouts on a page. It seems like an isolated incident, but maybe worth a quick check. If there is a problem, I think it's more likely wagtail's password feature than the page itself.

 - On Mac using Chrome and Firefox
 - Page is published but password protected
 - https://foundation.mozilla.org/en/initiatives/responsible-cs/judges

[2018-10-10 03:16] gideonthomas opened #630 "Redirect app.mozillafestival.org"
Can we redirect app.mozillafestival.org to https://guidebook.com/guide/147793/?

A bunch of people are still using that link and are being taken to the old site.

Hoping this can be done soon.

[2018-10-10 03:18] alanmoo commented on #630
This isn’t the url we burned with a 301 right? 😅

[2018-10-10 15:31] cadecairos commented on #601
@patjouk has reached out to a contact at Splunk about non-profit pricing.

[2018-10-10 15:35] cadecairos commented on #625
Lets stage a practice rollback on October 15th after the 1:1 meeting.

[2018-10-10 15:42] cadecairos commented on #621
Have these dashboards been restored?

[2018-10-10 16:57] gideonthomas commented on #630
the original url? Not sure.

[2018-10-12 12:01] patjouk opened #631 "Migrate foundation.mofostaging db to another plan?"
We received an email from Heroku about our foundation.mofostaging db reaching the limit of its free plan:

Instructions on how to upgrade are here: https://devcenter.heroku.com/articles/updating-heroku-postgres-databases. Changing plan will require a few minutes of downtime.

The cheapest plan is the `hobby-basic` at 9$ per month: it's the same plan as the free one, but with 10,000,000 rows instea

[2018-10-12 14:10] patjouk commented on #631
I'll do this on Monday October 15th.

[2018-10-12 19:47] cadecairos commented on #630
This is done and live: (https://github.com/mozilla/mofo-redirector/commit/cf4851a683ef62219b737484b2873ad6e0c367f4)

[2018-10-12 19:47] #630 closed

[2018-10-16 08:42] patjouk commented on #631
Done!

[2018-10-16 08:42] #631 closed

[2018-10-17 11:14] patjouk commented on #601
It's done: they will apply the new discount soon. @cadecairos you should have received an invite: can you add the credit card to that new account?

Meanwhile, I'm closing that ticket in favor of a new one dedicated to accounts migrations.

[2018-10-17 11:14] #601 closed

[2018-10-17 11:36] patjouk opened #632 "VictorOps account migration"
Things to do:

## For the new VictorOps account:
- [x] Invite Alan, Gideon,
- [x] Set up rotations,
- [x] Set up routing keys,
- [x] Do we still need transmogrifiers?

## For the old VictorOps account:
- [x] Remove our integration,
- [x] Remove our rotations,
- [x] Remove our routing keys,
- [x] Remove our transfmogrifier,
- [x] ~~Delete our accounts.~~ we'll keep them, just in case

## Integratio

[2018-10-17 15:08] cadecairos commented on #629
This sounds like a localized connection issue, not a problem with the server, but we'll check the logs for any request timeouts for that page.

[2018-10-17 15:10] cadecairos commented on #623
@gideonthomas A quick and easy solution would be to set cache-control headers on static content so that user's browsers load from cache instead of over the network.

[2018-10-17 15:34] cadecairos commented on #621
@arlissc any updates on this? can we close the issue now?

[2018-10-17 15:37] cadecairos commented on #580
Closing this out due to inactivity. followups can be file in new issues.

[2018-10-18 03:14] cade commented on #632
I think we're replacing the transmogrifiers with the cerebral enhance-o-tron, right @cadecairos?

[2018-10-18 08:05] patjouk commented on #632
Oopsie, sorry >.<

[2018-10-26 15:52] patjouk opened #633 "Post Mozfest - "stuff to remove" list"
- [x] Remove the mozfest backup cron task (#627 )
- [x] Remove zapier task posting to the latest-pulse but keep it on general.
- [x] Scale down to one dyno
- [x] Remove hirefire
- [x] Remove Heroku alerts

~- [ ] Remove the zapier task right before all hands.~ Transforming this into a slack reminder.

[2018-11-01 14:36] cadecairos commented on #629
I did look into this and detected nothing out of the ordinary. If it happens again / consistently, lets look closer.

[2018-11-01 14:36] #629 closed

[2018-11-01 14:56] cadecairos commented on #623
Answer: yes!

[2018-11-01 14:56] #623 closed

[2018-11-01 14:59] cadecairos commented on #624
we don't think we need this.

[2018-11-01 14:59] #624 closed

[2018-11-01 15:04] cadecairos commented on #621
Closing this issue due to inactivity, please re-file if there's anything more to work on from the DevOps perspective.

[2018-11-01 15:04] #621 closed

[2018-11-01 15:07] cadecairos commented on #580
Nothing to see here, move along.

[2018-11-01 15:07] #580 closed

[2018-11-01 15:09] cadecairos commented on #541
I'm going to close this issue. We attempted to fix the problem but Google Apps scripting is not a very good dev environment, and we weren't able to fix it. If this is still a huge problem, lets consider alternative PTO tracking tools?

[2018-11-01 15:09] #541 closed

[2018-11-01 15:13] cadecairos commented on #543
We've made some good strides using Slack integrations. We're waiting on beta access for an updated version of ChatOps. Until then there's nothing more to do here, so lets create a new issue when we can proceed.

[2018-11-01 15:13] #543 closed

[2018-11-07 16:29] #633 closed

[2018-11-07 16:30] #627 closed

[2018-11-07 16:32] cadecairos commented on #599
All the codes have been written, I'm going to verify they're deployed and functioning before I close this issue.

[2018-11-07 16:39] cadecairos opened #634 "Pre-Commit git hook that runs flake"
Lets stop failing CI because of forgotten flake issues!

[2018-11-07 21:50] #599 closed

[2018-11-20 14:42] patjouk commented on #632
Blocked until we resolve our issue with their billing service >.<

[2018-11-20 14:44] patjouk commented on #544
Closing this. It's not really relevant anymore.

[2018-11-20 14:44] #544 closed

[2018-11-20 19:02] #613 closed

[2018-11-21 16:13] patjouk opened #635 "Using Travis for testing on a Windows env"
Since Appveyor is slow, we want to try running python tests on a windows env on Travis. It's experimental because python is not officially supported for Travis on Windows.

[2018-11-22 10:17] patjouk commented on #635
It was way too slow to install dependencies on Travis and the whole thing felt like a flaky hack. Let's wait for proper python support before revisiting that issue.

[2018-11-22 10:17] #635 closed

[2018-11-22 11:22] patjouk opened #636 "Images optimization"
I'm opening a new issue to centralize discussions around how we could optimize image processing and delivery.

Right now, we're using Cloudinary for the BuyersGuide. The main issue is that it's costing us a lot of money to use their service: not for the transformation part (we're under 5% of plan usage), but for the bandwidth part (we're on the Advanced Plan, costing 250$ per month and we already

[2018-11-26 23:51] cadecairos opened #637 "foundation site not building on Appveyor"
The foundation site doesn't seem to build on Appveyor anymore:

https://ci.appveyor.com/project/mozillafoundation/network/history

It appears to be failing running `python -m pipenv run python network-api/manage.py collectstatic --no-input` - here's the stacktrace:
[code]

@patjouk feel free to investigate this if you have the time, otherwise I'll pick it up in the morning.

[2018-11-27 00:29] Pomax commented on #637
It also looks like we're using two different versions of python? That might be a problem...
[code]
So it looks like python 3.6 is available, but something's hooking into 2.7 instead.

[2018-11-27 10:46] patjouk commented on #637
I'll look into it today.
The hash listed there are the hash for the pipefile.lock, not a comparison.

[2018-11-27 12:21] patjouk opened #638 "Replace pipenv install -d by pipenv sync -d when for pulse-api"
It seems like I forgot to update pipenv to use sync instead of install for CI. Fixing it for foundation today but will need to do it for pulse-api.

[2018-11-27 19:54] cadecairos opened #639 "Update .htaccess file for openbadgespec.org"
The folks at IMS Global reached out about fixing these links:

https://openbadgespec.org/extensions -> https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/extensions/index.html

https://openbadgespec.org/history -> https://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html#History

https://openbadgespec.org/baking -> https://www.imsglobal.org/sites/default/files/Badge

[2018-11-27 21:05] gideonthomas opened #640 "Python minor version updates break pipenv/inv"
This was tested on pulse-api

I use a mac and use homebrew as my package manager. Occasionally I do `brew upgrade` which updates all packages installed with brew. One of those packages is python 3, which is currently on v3.7.

However, when I try to use pipenv or inv, it seems like it can't figure out python versions. Here are the scenarios with python 3.7 installed:

1. neither `pipenv run ...` o

[2018-11-27 21:09] cadecairos commented on #640
@patjouk had this exact issue too I think, so she might have the steps to fix it.

3.7 breaks a lot of things it seems...

[2018-11-27 21:38] Pomax commented on #640
@gideonthomas brew should support `brew install python@3.6`, you should not have to figure out git commit sha's

[2018-11-28 03:52] gideonthomas commented on #640
perfect thanks @cadecairos, if there are specific steps to fix it, that would help.

@Pomax that isn't valid in brew because `3.6` isn't a valid tap that they have in their repository. Why? No idea...

[2018-11-28 10:00] patjouk commented on #640
Yeah, I did the same thing: update brew and realized that I installed 3.7 :D
For your issue, you need to reinstall pipenv and invoke to use 3.7 instead *BUT*, keeping 3.6 is better in our situation: our projects use python 3.6, as written in our Pipefile, and Django 1.11 doesn't support Python 3.7.
I ended up using Nix to be able to use python 3.7 everywhere, except in our projects. I added a shel

[2018-11-28 10:00] #640 closed

[2018-11-28 10:35] patjouk commented on #637
Fixed 🎉

[2018-11-28 10:35] #637 closed

[2018-11-28 14:00] patjouk opened #641 "Wagtail 2.3 installed instead of 2.1 on the foundation site apps 🐈?📦"
Spotted in August (mozilla/foundation.mozilla.org#1788), the weird bug where wagtail >=2.2 is installed on Heroku instead of 2.1.* is back \o/

What do we know for now:
- Sometimes, wagtail >2.2 (now 2.3) is installed on Heroku review apps and staging. It was never spotted on prod.
- When that happen, you can see migrations being applied and adding images will fail:
[code]
Looking at the installed

[2018-11-28 15:58] cadecairos commented on #639
This is done now

[2018-11-28 15:58] #639 closed

[2018-11-28 16:06] gideonthomas commented on #640
perfect, this was helpful, thanks @patjouk!

[2018-11-28 16:33] cadecairos commented on #480
Just to update:

We've got 3 sites running perfectly on PHP 7.2, and 3 that are on 7.2 but will be shut down eventually, as well as 3 sites NOT compatible with 7.2 and are going to be shut down eventually.

I'm going to migrate The health report over after all hands, then commons.ca.

[2018-11-29 14:26] patjouk opened #642 "Alerts for end of the year"
Let's check during all hands that all alerts are properly setup for EOY fundraising. I know that @cadecairos have special alerts for checking if a donation was made in the last 6 hours for example.

CC @cadecairos @alanmoo

Todos:
- [x] inactivity alert,
- [x] schedule override

[2018-11-29 14:50] patjouk commented on #632
Everything is migrated: I've checked all the alerts we had on VictorOps to be sure I didn't forget anything. We had a Cloudwatch integration for donate: I'm pretty sure it's a duplicate of a Heroku alert but I don't have to check right now.

**What still needs to happen:**
- Add annotation with transmogrifier: It's out of scope of this ticket but a nice to have,
- Create a new rotation for all han

[2018-11-29 18:04] cadecairos opened #643 "set up vto.mozillafoundation.org"
Lets have pto.mozillafoundation.org redirect to the VTO request form: `https://docs.google.com/a/mozillafoundation.org/forms/d/e/1FAIpQLSeO6E7pH-BrIvgd08DstXO9WTjXLwc4-qkpVmPPHy_5t8s6LA/viewform`

This should go live just before the end of the year shutdown.

[2018-12-10 16:28] cadecairos opened #644 "Enable https redirects on strongercommunities.info"
- Enable Amazon ACM Certificate manager for the domain
- CloudFront for SSL termination
- Set up CF to proxy to an S3 bucket with a redirect rule.

[2018-12-10 18:33] cadecairos commented on #644
This is all set up (and as a bonus I enabled IPv6!)

[2018-12-10 18:33] #644 closed

[2018-12-11 15:39] #638 closed

[2018-12-12 12:02] patjouk commented on #634
After reading more on git hook, I found that flake8 already [provides one](http://flake8.pycqa.org/en/latest/user/using-hooks.html#built-in-hook-integration). To activate it: `flake8 --install-hook git`. They recommend to not use it and to use the [pre-commit Framework](https://pre-commit.com/) instead, which feels a bit overkill.

Either way, I think we should tell the others that this exists, bu

[2018-12-13 10:38] #634 closed

[2018-12-14 12:04] patjouk commented on #642
I've put the "no donation alert" back. It will page if a donation was not made for 8 hours instead of 6 since people expect fewer donations.
Schedule overriding for my shifts is in progress.

[2018-12-14 12:42] patjouk opened #645 "Migrate our incoming webhooks to slack apps"
Simple webhook are a legacy feature. They're easy to setup but suffer a big drawback: you can't have multiple persons managing them. Moving our current webhooks to slack apps will offer us this opportunity, while adding a few interesting features like interactive messages, etc.

Disabled webhooks probably don't need to be migrated, but let's check them to be sure.

@cadecairos apps:
- [x] Posts to

[2018-12-14 16:19] patjouk commented on #642
all done!

[2018-12-14 16:19] #642 closed

[2018-12-17 10:59] patjouk commented on #645
Let's review those webhooks after our 1:1 today @cadecairos. Meanwhile, I've already created a few apps and invited you to them.

[2018-12-17 16:56] patjouk commented on #645
Note from the meeting:
To remove: all the disabled webhook + everything related to old victorops stuff.

IHR talk bot: might be difficult to port.

[2018-12-19 16:14] cadecairos opened #646 "Investigate if ZenHub is worth adopting again"
Lets try and consolidate our project boards. ZenHub has improved a lot (in theory) over the last year, so lets see if it is the right tool for the job!

[2018-12-21 16:49] patjouk commented on #529
Migration is happening for sciences and advocacy instances. For learning, we will wait after the new year, when everyone is back from holidays.

[2019-01-07 10:17] patjouk commented on #632
The only thing left to do is remove our old account: @cadecairos can you take a look when you have time?

I've added a few transmogrifiers with those annotations:
- One for each playbook we have in devops-private,
- One for all pingdom alerts with a link to pingdom dashboard. Same with healthcheck. We don't need one for Heroku since we're only alerting from there for the foundation site. I didn't

[2019-01-10 18:58] cadecairos opened #648 "Upgrade Django and Wagtail on foundation site"
Lets upgrade Wagtail to v2.4.x and Django to 2.x.

[2019-01-10 20:22] Pomax commented on #648
This might be a bit of a problem because according to https://github.com/torchbox/wagtail-experiments the experiments app is compatible with wagtail 1.7-2.3, with no mention of 2.4

[2019-01-16 16:33] cadecairos commented on #648
Blocked on https://github.com/cfpb/wagtail-inventory/pull/18

[2019-01-16 16:34] cadecairos commented on #648
This is blocked because wagtail-inventory explicitly forbids wagtail >=2.1, so upgrading to 2.4 in our pipfile causes locking to fail.

[2019-01-16 16:52] cadecairos commented on #646
short answer: not yet

needs: notes, integration with external repos and multi-board projects.

[2019-01-16 16:52] #646 closed

[2019-01-21 19:28] Pomax opened #649 "Set up a percy account tied to a moz-org account that has owner rights to foundation.mozilla.org"
In order to set up percy visual regression testing, percy needs their app integrated (https://docs.percy.io/docs/github) into the foundation.moz repo, which can only be done by a user with owner rights. That is apparently not me, so now might be the time to sign up for a free percy account (they just changed their pricing to offer free accounts rather than 2 week demo accounts!)  with an org-level

[2019-01-21 19:41] Pomax commented on #649
@alanmoo it sounds like you're the person I want to be talking to here

[2019-01-22 22:02] Pomax commented on #648
Unblocked! The PR for wagtail-inventory landed, making it compatible with Django <2.2 and Wagtail <2.5

[2019-01-22 22:15] cadecairos commented on #648
hooray, I'll start testing compatibility even more tomorrow.

[2019-01-23 16:17] cadecairos commented on #480
We're going to keep Marks site in the mofo-account. We only needed to transfer over IHR. this is done!

[2019-01-23 16:17] #480 closed

[2019-01-25 10:04] patjouk opened #650 "Notifications for review requests getting stale?"
Find a way to send friendly reminders to people who forgot to review a PR.

[2019-01-25 16:48] #649 closed

[2019-01-28 21:38] alanmoo opened #651 "Decommission Post Crimes"
I've gotten approval from Sara and Jon to decommission Post Crimes. Let's go ahead and take it down, redirecting the url to foundation.mozilla.org

No rush.

[2019-01-30 16:08] patjouk commented on #650
Let's try a weekly notification, but let's run the copy by Alan first.

[2019-01-30 16:09] patjouk opened #652 "Set up alerts on scalyr"
Move alerts from Logentries to Scalyr when relevant.

[2019-01-30 16:13] #632 closed

[2019-01-30 16:16] cadecairos commented on #648
blocked by: https://github.com/infoportugal/wagtail-modeltranslation/issues/191#issuecomment-454439675

(wagtail-modeltranslation does not work with Django 2.x)

[2019-01-30 16:21] cadecairos commented on #529
These domain are all now redirecting to discourse.mozilla.org, and the instances have been terminated. Databases have been snapshotted, if we ever need to pull out anything, however, they must be deleted in accordance with our lean data practices policy within the next 6 months.

Please open a new issue to recover any data from one of these instances.

[2019-01-30 16:21] #529 closed

[2019-01-30 16:36] patjouk opened #653 "Move logs to Scalyr"
Move:
- [x] Foundation prod,
- [ ] Network-pulse-api (staging+prod),
- [ ] Network-pulse front (staging+prod)
- [x] Donate (legacy)

[2019-01-30 17:32] xmatthewx commented on #529
Amazing. That's a big victory.

[2019-02-01 01:34] cadecairos opened #654 "Write postmortem for redis 3.1.0 ConnectionError incident"
I think there was lots to take away from this incident, I'll write up a postmortem.

[2019-02-01 15:50] patjouk commented on #650
done!

[2019-02-01 15:50] #650 closed

[2019-02-06 17:33] patjouk commented on #476
It's done!

[2019-02-06 17:33] #476 closed

[2019-02-08 13:42] patjouk commented on #651
PR open in mofo redirector.

Todos:
- [ ] Finish redirection,
- [ ] remove from logentries,
- [ ] remove from pingdom,
- [ ] Delete the pipeline in Heroku,
- [ ] Clean cloudinary (anything that is not related to the Foundation site can go).
- [ ] Check if there's stuff on AWS (cloudfront, S3 mostly)

[2019-02-13 12:33] patjouk opened #655 "Parallelize testing on Travis"
Travis CI execution time doubled since the addition of Percy. Let's use the matrix feature to parallelize our tests.

Doc: https://docs.travis-ci.com/user/customizing-the-build/#build-matrix, https://docs.travis-ci.com/user/speeding-up-the-build/
ex: https://github.com/getsentry/sentry/blob/2a772fc024e63bbf5afbda8310ed13bc52565fb5/Makefile https://github.com/getsentry/sentry/blob/master/.travis.ym

[2019-02-13 16:38] patjouk commented on #654
It's merged \o/

[2019-02-13 16:38] #654 closed

[2019-02-13 16:42] patjouk opened #656 "Upload logs from scalyr to S3"
Setup archiving logs to s3: logs bucket + encrypted + deleted after 3 months

[2019-02-13 16:45] patjouk commented on #377
#wontfix
It's not a priority for our team and might be revisited in the future if relevant.

[2019-02-13 16:45] #377 closed

[2019-02-19 20:12] alanmoo opened #657 "Redirect Advocacy site"
### Details
I've spun up this page: https://foundation.mozilla.org/advocacy/

Let's take down https://advocacy.mozilla.org by setting up a few permanent redirects:
https://advocacy.mozilla.org/open-web-fellows/* -> https://foundation.mozilla.org/fellowships (note that I took out the locale for the first link, you may need to redirect `https://advocacy.mozilla.org/{anyLocale}/open-web-fellows/` or

[2019-02-19 20:15] alanmoo opened #658 "Set up hobby dyno for old advocacy repo"
Once #657 is closed, we should take down the advocacy site. However, let's leave it up on a free hobby dyno for now at a url that will be accessible even after the redirects, in case we need to reference the content.

[2019-02-19 20:42] xmatthewx commented on #657
Excellent. I updated the link on the Initiatives page to go directly to the new page.

[2019-02-19 20:42] alanmoo commented on #658
cc @brettgaylor

[2019-02-20 09:10] patjouk opened #659 "Move the foundation site to Python 3.7?"
We need to check if python 3.7 is supported in:
- [ ] Travis,
- [ ] Heroku.

[2019-02-20 16:09] cadecairos commented on #658
I've updated the app to use a $7 hobby dyno.

[2019-02-20 16:14] cadecairos opened #660 "Enhance redirect tool"
We needs redirects that can do:

* multiple redirects based on request path
* path substitution capability i.e. extract and remove locale substrings

[2019-02-20 16:14] alanmoo commented on #658
Got a link to it?

[2019-02-20 16:15] cadecairos commented on #657
We need to do some work on the redirect tool in #660 in order to support more detailed redirects like those requested here

[2019-02-20 16:20] cadecairos commented on #652
* When CI is ready, regenerate the webhook secret for VictorOps

[2019-02-20 16:31] cadecairos commented on #658
https://advocacy.mozilla.org ?

[2019-02-20 16:34] alanmoo commented on #658
Sorry, I wasn't clear in the original ticket. I've updated the language of it.

[2019-02-20 16:38] cadecairos commented on #658
Ahhhh I gotcha.

Once we remove the domain and attach it to our redirect app, this app will still be accessible at https://advocacy-mozilla-org-prod.herokuapp.com

[2019-02-20 16:40] alanmoo commented on #658
This still gets a fair amount of traffic, does the fact that it's now a hobby dyno before the redirects happen risk overage charges?

[2019-02-20 17:16] cadecairos commented on #658
no, it should easily handle the traffic it's getting, a hobby dyno has the same RAM/Compute power as a 1X, and doesn't sleep, it just has no metrics/horizontal scaling.

[2019-02-20 17:26] #658 closed

[2019-02-21 08:30] #625 closed

[2019-02-21 10:16] patjouk commented on #651
Managed to redirect www.postcrimes.org but not postcrimes.org. I'll check with @cadecairos today.

[2019-02-22 17:14] gideonthomas opened #661 "Mozilla Pulse email verification is not always reliable"
### Details

**NOTE - THIS IS A LOW PRIORITY AND MIGHT END UP BEING A WONTFIX**

We use Mailgun to send email verification emails to those who authenticate with Pulse using GitHub for the first time. I think there have been at least two known instances where Mailgun logs show that the email has been delivered, but we've been pinged by users saying that they haven't received the email (even after t

[2019-02-25 15:24] patjouk commented on #651
Cleaned Cloudinary prod: buyers guide images are the last things in that account.

[2019-02-25 15:24] #651 closed

[2019-02-25 19:16] cadecairos commented on #657
We were already using a Cloudfront CDN to route requests, so I added a new S3 origin implementing the redirects requested in the top comment.

[2019-02-25 19:16] #657 closed

[2019-02-26 19:56] alanmoo opened #662 "Make sure top google links redirect to fellowship pages on foundation site"
When googling "Mozilla Fellowships", this is one of the linnks: `https://advocacy.mozilla.org/en-us/open-web-fellows/`
It should point to `https://foundation.mozilla.org/fellowships`

Let's do a few more relevant searches (Google, DuckDuckGo) around `mozilla`,`fellows`,`fellowships`, etc and make sure any relevant links from Advocacy are doing the right thing.

[2019-02-26 20:46] cadecairos commented on #662
`https://advocacy.mozilla.org/en-us/open-web-fellows/` is redirecting as it should.

[2019-02-26 21:29] alanmoo commented on #662
cc @xmatthewx

[2019-02-27 16:11] cadecairos commented on #661
and they checked spam?

[2019-02-27 16:13] cadecairos commented on #662
@alanmoo @xmatthewx Are we expecting to find more URLs here that need specific redirects? Should I go searching for them?

[2019-02-27 16:16] alanmoo commented on #662
I did a few searches, this looks good.

[2019-02-27 16:16] #662 closed

[2019-02-27 16:20] cadecairos commented on #636
We're going to close this out, as most of the work here can be handled by the dev team. If any additional tasks require Ops (third party services, new workers/queue for parallelization) let us know.

[2019-02-27 16:20] #636 closed

[2019-02-27 16:28] cadecairos commented on #645
Lets make sure we get this done before I go on leave this June

[2019-02-27 16:29] cadecairos commented on #660
Won't fix.

[2019-02-27 16:29] #660 closed

[2019-02-27 16:31] cadecairos commented on #648
this is no longer blocked

[2019-02-27 16:34] cadecairos commented on #648
jumped the gun there. `django-modeltranslation` was released. still waiting on `wagtail-modeltranslation`

[2019-02-27 17:56] Pomax commented on #648
There is a v10b for wagtail-modeltranslation that is supposedly "stable, but not marked as release because it's only one person working on it" as far as I can tell. We could switch up to that version if that unblocks the uplift.

[2019-02-27 23:27] gideonthomas commented on #661
yep

[2019-03-01 20:53] alanmoo opened #664 "Set up vanity staging url for Mozfest site"
Let's explore using wagtail to host a second site. We can poke around with the staging server, but to get an idea of how it really feels, we should make sure there aren't any strange issues with secondary domains.

Let's create mozfest.mofostaging.net (or mozillafestival.mofostaging.net?) and point it at the same wagtail instance as foundation.mofostaging.net so we can set up a second site root th

[2019-03-05 20:56] alanmoo commented on #636
Sorry, what work are you referring to?

[2019-03-07 15:48] cadecairos opened #665 "Dockerize foundation.mozilla.org"
* [x] Meet and plan transition to Dockerized development and deploys
* [ ] https://github.com/MozillaFoundation/Docker-foundation-site/projects/1

[2019-03-07 16:04] cadecairos commented on #636
We're referring to this issue: https://github.com/mozilla/network-pulse-api/issues/458

[2019-03-07 16:08] cadecairos commented on #587
Travis now lets us skip ci using a commit message: https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build

[2019-03-07 16:09] cadecairos commented on #587
Lets document that we can skip ci for certain changes.

[2019-03-07 16:40] Pomax commented on #587
that's fantastic (if a glass half full, glass half empty kind of situation due to Travis itself of course =D). I wonder if we can get github to add a function that automatically adds the comment "rebased from ui" or something when you click the rebase button, so we can ignore that situation too

[2019-03-11 18:09] #655 closed

[2019-03-11 21:12] gideonthomas commented on #664
https://mozillafestival.mofostaging.net

[2019-03-13 15:34] patjouk commented on #648
They released the 0.10 a few hours ago. Removing the blocked label :)

[2019-03-13 15:37] patjouk commented on #549
Closing this for now: that work is happening in other tickets (cleaning AWS bills, etc)

[2019-03-13 15:37] #549 closed

[2019-03-13 16:27] patjouk opened #666 "Add a `no-percy` filter based on branch name"
Same thing I did with dependabot branch name, but with `no-percy` too. It will need docs (I'll add a note about skip-ci too).

[2019-03-13 17:01] Pomax commented on #666
We can probably update the PR template for this, e.g. "if you _know_ you don't need percy, rename your branch to have `-no-percy` at the end, and push up that renamed branch for forming this PR" or something?

[2019-03-13 18:33] Pomax commented on #648
\o/

[2019-03-14 13:24] patjouk opened #667 "Fix travis branch filtering"
It doesn't seem to work anymore. I'm already in contact with Travis support to check what's going on.

[2019-03-20 15:10] cadecairos opened #668 "Check foundation site using Google Webmaster tools"
Not sure how these work, but they can't be that hard to find.

[2019-03-20 15:12] cadecairos commented on #667
Waiting on more information from Travis.

[2019-03-20 15:22] cadecairos opened #669 "consolidate all faker tickets into a single one"
To be filled out by @patjouk

https://github.com/mozilla/foundation.mozilla.org/issues/2427

[2019-03-20 15:28] cadecairos commented on #664
@alanmoo This was technically done, but the site copy on Monday overwrote the page and site settings on staging. Should we close this out or work to make the staging mozfest sub-site more permanent?

[2019-03-20 15:35] cadecairos commented on #659
This will land with the PR for #648

[2019-03-20 15:38] cadecairos commented on #659
Note: we will need to use the Xenial image in our travis builds to get Python 3.7

[2019-03-21 12:31] #656 closed

[2019-03-21 12:45] patjouk commented on #587
Info on skip CI merged in foundation.mozilla.org doc. It won't be possible to not run CI at all on a PR: Github expect an answer from Travis, and if Travis doesn't say anything, it just hangs forever. I'm closing this PR as won't fix :(

[2019-03-21 12:45] #587 closed

[2019-03-21 17:11] alanmoo commented on #664
Yeah, let's make sure that it works the same way foundation.mofostaging.net works.

[2019-03-27 15:39] cadecairos commented on #648
wagtail-modeltranslation 0.10.1 has been released. will attempt to do this upgrade for the tenth time

[2019-03-28 18:13] Pomax commented on #648
You know what they say, 10th time is the charm

[2019-04-03 15:13] cadecairos opened #670 "IHR credentials for Christian Laesser"
* Sftp credentials
* WP account
*basic Auth login

for Christian laesser

[2019-04-03 15:17] cadecairos commented on #668
Console URL: https://search.google.com/search-console

There's a few mobile usability flags identified in the search console that we should file in the repo.

[2019-04-09 18:34] #670 closed

[2019-04-10 20:52] cadecairos commented on #648
Blocked: https://github.com/infoportugal/wagtail-modeltranslation/issues/241

[2019-04-10 21:33] LeoMcA opened #671 "Recover data from Mozilla Science Discourse instance"
_Originally posted by @cadecairos in https://github.com/MozillaFoundation/mofo-devops/issues/529#issuecomment-459007208_:

We have a user [asking for archives from the Mozilla Science Discourse instance](https://discourse.mozilla.org/t/archives-of-the-mozilla-science-lab-forum/38069):

How do we want to handle this?

It should be relatively straightforward to spin up a local instance which we can

[2019-04-22 19:49] cadecairos commented on #648
This work has finally concluded. Thanks for the help @Pomax!

[2019-04-22 19:49] #648 closed

[2019-04-22 20:11] Pomax commented on #648
and you!

[2019-04-24 14:14] #668 closed

[2019-04-24 15:04] cadecairos commented on #671
Also seeing another data recovery request from Steph Wright: forum.mozillascience.org/t/research-coding-q-a-march-24-2015-3-pm-pdt/214

[2019-05-03 20:30] youriwims opened #672 "Need Appveyor access (please)"
### Details
I don't have access to Appveyor. Can someone please help with that? 😊

[2019-05-03 21:17] cadecairos commented on #672
Invite sent!

[2019-05-03 21:22] youriwims commented on #672
Thanks! :)

[2019-05-08 14:23] gideonthomas opened #673 "Move Pulse API to Python 3.7"
We need to check if python 3.7 is supported in:
- [x] Travis,
- [x] Appveyor,
- [x] Heroku.

[2019-05-08 15:34] #672 closed

[2019-05-08 17:07] alanmoo opened #674 "Grant access to 1Password"
Please grant Kaili access to 1Password (she needs Shareprogress access)

[2019-05-08 17:09] gideonthomas commented on #673
Actually, if we're also able to do it within the scope of this ticket, can we also move Pulse API to Django > v2.2?

[2019-05-20 14:32] patjouk commented on #645
@cadecairos do you know what `Posts to #mofo-devops as incoming-webhook` that you own is?

[2019-05-20 14:44] patjouk commented on #645
I submitted a request for those 3 apps:
- review app bot,
- pipeline bot,
- logentries alerts.

[2019-05-21 18:08] gideonthomas opened #675 "Setup mozillafestival.org email with GSuite"
Filing here for posterity!

### Details

I got super admin access to the Mozilla Foundation GSuite account. I have changed the MX record for mozillafestival.org in AWS to point to google.

We will be using mozillafestival.org email addresses for NDA'ed wranglers this year at MozFest. We will be creating an email address for each mozfest space as well as admin@mozillafestival.org which will be mana

[2019-05-21 18:08] #675 closed

[2019-05-22 09:09] patjouk commented on #675
Thanks for creating that ticket and make sure that future us have all the context we need :)

[2019-05-22 15:58] cadecairos opened #676 "Use Debian Stretch slim container instead of alpine"
The debian-stretch-slim container is not much bigger than alpine, and offers better support for remote tooling with things like VS Code.

[2019-05-22 16:02] cadecairos opened #677 "Explore remote debug tooling for the dev docker containers"
It would be nice if we could connect to a remote dubug server on our dev docker contianers to set breakpoints and inspect things in real time when debugging.

[2019-05-24 14:00] patjouk commented on #665
Closing this issue for now. Connected PR https://github.com/mozilla/foundation.mozilla.org/pull/3092

The first run on Travis is way too slow (15min) because we need to build everything and couldn't find a way to add a cache for dependencies. Run time after were around 8min, so slightly better than what we have now. It would have been okay if we were planning to use those images later on, but we c

[2019-05-24 14:00] #665 closed

[2019-05-24 14:48] patjouk commented on #666
I thought about this a lot and decided that it's not a good idea. Yes, our CI is a bit slower and it's a bit silly that percy run on certain PR (only docs, etc) but I don't think it's the best approach to solve that issue.

[2019-05-24 14:48] #666 closed

[2019-05-24 14:50] patjouk commented on #667
I was doing it wrong and it was working because I was crashing travis 💯
I'll remove the filter.

[2019-05-27 11:49] patjouk commented on #645
I've migrated all webhooks that needed to migrated. All the previous webhook can be deleted @cadecairos

[2019-05-27 13:34] patjouk opened #678 "Explore moving cypress to a Docker service"
Cypress is taking ages to install and it's getting installed every time we update JS dependencies.

Let's explore using a Docker image instead for local dev.

[2019-05-27 14:37] patjouk opened #679 "Write doc for slack bot"
Our slack bots' docs is all around the place: let's write a small index doc here. It will be a small description of what those bots do, with links to more detailed doc (mofo-cron repo and foundation site).

[2019-05-28 10:03] #659 closed

[2019-05-28 10:59] #667 closed

[2019-05-29 15:10] cadecairos commented on #674
Done!

[2019-05-29 15:10] #674 closed

[2019-05-29 15:30] #645 closed

[2019-05-29 16:00] cadecairos commented on #664
this is working now

[2019-05-29 16:00] #664 closed

[2019-05-31 14:40] xmatthewx opened #680 "Set up Pulse DB Metrics"
Situation: While we have good analytics on pulse visitors, it's difficult to track and report on pulse status and growth. Currently, I query the DB periodically to grab and [chart](https://docs.google.com/spreadsheets/d/1aOxihY-XB88m0KCKCsebF22I1C6GHV7BQv65wR_DXU4/edit#gid=2073846902) numbers on profiles and entries, counting issue areas, tags, etc.

Goal: Set up a dashboard with view into the dat

[2019-05-31 20:04] gideonthomas commented on #680
Unless @patjouk has any suggestions, my experience with django dashboards has not been good (not maintained, complicated to implement, etc.). If we're able to embed datastudio in it (or use some kind of integration), that would be super useful!

Some metrics I personally would be interested in but may not be the most important (obviously defer to you Matthew):
1. Segmented post velocity (rate of c

[2019-06-03 08:59] patjouk commented on #680
I never did dashboard in Django, but I saw a talk on that subject in 2016 ([abstract](https://2016.djangocon.us/schedule/presentation/40/), [recording](https://www.youtube.com/watch?v=XXG-ESzB9Q8)).

[2019-06-04 12:28] patjouk opened #681 "Deploy from slack using the pipeline bot"
It would be nice to add a promote button to the pipeline bot.

[2019-06-04 12:33] patjouk opened #682 "Explore if alternative CI platforms offer performance gains"
Let's try CircleCI and Azure.
We don't plan to move, but it would be nice to try and get familiar with Travis alternatives just in case...

Resource on azure: https://hynek.me/articles/simple-python-azure-pipelines/

[2019-06-04 12:34] patjouk opened #683 "Docker for Dev on Pulse/Pulse API"
Let's setup docker for local dev there too.

[2019-06-04 12:35] patjouk opened #684 "Remove cloudinary, take two #summerplan"
Cloudinary was nice but it can be expensive. Let's finally remove it!

[2019-06-05 15:36] patjouk commented on #671
We tried to recover data, but failed for now. We're gonna try again eventually but it's not a priority right now.

[2019-06-05 15:37] patjouk opened #685 "Auth0 integration for foundation.mozilla.org"
After reviewing our data practices, we decided that it would be a good idea to adopt Auth0 for the foundation site.

[2019-06-05 15:38] patjouk opened #686 "Clean up admin permissions on foundation.mozilla.org"
perhaps less structured around "persona" and more around specific permission sets that can be applied per-person?

[2019-06-06 08:38] patjouk opened #687 "Remove Appveyor integration and end subscription"
* Depends on removal of pulse integration.

[2019-06-06 08:39] patjouk opened #688 "Discuss the process for adding fake CMS pages with the team"
Review apps are missing fake pages. Let's see what we could do to improve the process of adding new fake data.

[2019-06-06 08:45] patjouk opened #689 "Failed review apps should prevent merge"
Tests that fail prevent merge. Let's find a way to do that with the state of a review app's deployment.

[2019-06-07 19:44] alanmoo commented on #685
This would also be incredibly good for the new donation stack.

[2019-06-13 19:45] gideonthomas opened #690 "Pulse API review app crashes"
I think this is the second pulse api review app I've seen this on for the list routes on the admin. In this case, it was `/admin/profiles/userprofile/` (accessing it using the link to "User Profiles" in the main admin screen)
<img width="1439" alt="Screen Shot 2019-06-13 at 3 42 09 PM" src="https://user-images.githubusercontent.com/5816130/59462585-0ced6f80-8df2-11e9-94b8-c4251bda3a32.png">

Herok

[2019-06-24 14:54] alanmoo opened #691 "Resolve SSL needs for network.mozilla.org"
I got pinged on Slack about the SSL cert for network.mozilla.org, which seems to be using LetsEncrypt now. Can the digicert (which expires in the next month anyway) be revoked by MoCo IT at this point?

[2019-06-28 14:04] patjouk commented on #691
I went to check on Heroku: network.mozilla.org is on the foundation.mozilla.org prod app, with automatic certificate management. It's safe to remove it from digicert.

[2019-06-28 19:45] alanmoo commented on #691
I've let @cshields know. (Twice now 😃)

[2019-06-28 19:45] #691 closed

[2019-07-01 10:46] patjouk commented on #690
Did you create more fake content or used the review app data as it was?

[2019-07-01 11:19] patjouk opened #692 "Copy DB for pulse staging"
Create the same "copy DB" script we have on the Foundation site, but for pulse

[2019-07-02 14:56] gideonthomas commented on #690
I was going to add fake content but couldn't because it crashed :D

[2019-07-03 10:17] #676 closed

[2019-07-03 11:43] patjouk commented on #690
Not sure what's really happening except that the page took more than 30s to load. I'm keeping this open: ping me if that happens again and if possible, don't merge the PR associated with it so I can go and investigate 🔬

[2019-07-18 11:40] patjouk opened #693 "Write doc for donate-SQS-basket"
We have zero specs on the form of messages we send to basket. Let's fix that.

[2019-07-23 10:28] patjouk opened #694 "Write doc for donate/basket"
Basket has great docs for the newsletter API but nothing for donate. Let's fix that.

[2019-07-25 08:33] #693 closed

[2019-07-29 09:53] patjouk opened #695 "Can we set up SQS for review apps Foundation?"
@alanmoo Can you remind me where we use SQS on the foundation site. Is it for the newsletter signup?

[2019-07-29 12:43] alanmoo commented on #695
Petitions was the main reason for it. I believe signups also rely on it since we had it in place already (this goes for the footer of the site and in-page signups on BanneredCampaignPages). Both inherit from the CTA class (or something like that, this is off the top of my head. If you need more specifics, just ask)

[2019-07-29 12:52] patjouk commented on #695
That's enough context, thanks :)

[2019-07-29 17:36] gideonthomas opened #696 "Coordinate heroku production deploy of id.webmaker.org"
I noticed that we rolled back the last commit (before my latest one) on heroku on production.

@patjouk do you remember why we had to do that? Wanted to check in before I push the new changes to prod.

[2019-07-30 13:10] patjouk commented on #690
@gideonthomas Did you saw any pulse api review app crash lately?

[2019-07-30 17:48] gideonthomas commented on #690
Hmm, I haven't opened one in a while. I'm going to be opening one within the next week or so. Can we keep this open for a little bit longer?

[2019-07-31 07:43] patjouk commented on #690
yup, no problem :)

[2019-07-31 13:16] patjouk commented on #696
Sorry for the delay, I thought I answered yesterday but appear no :(
My guess is that we rollback because something was not working (thanks captain obvious). Do we need to add habitat?

[2019-08-01 16:49] patjouk commented on #696
Log in work, create an account don't so I guess that's why we rolled back.

[2019-08-06 15:54] alanmoo opened #697 "Apply DNS settings in AWS for backpack transition"
Details in Backpack's Slack. Apologies if this is duplicate, I didn't see anything.

[2019-08-06 15:57] alanmoo opened #698 "Configure SQS for Basket"
This may be for the Wagtail donate project, but I don't have a ton of details other than what Lucie dropped in Slack.

[2019-08-08 00:57] gideonthomas commented on #698
why am I assigned to this?

[2019-08-08 01:00] gideonthomas commented on #697
This won't be done by Aug 19. This can be done by Lucie once she's back on the 19th but will need to be done by the 20th.

[2019-08-08 14:58] alanmoo opened #699 "Grant Anil access to Google Search Console"
For foundation.mozilla.org

https://search.google.com/u/2/search-console/ownership?resource_id=https%3A%2F%2Ffoundation.mozilla.org%2F&hl=en

[2019-08-08 14:58] alanmoo commented on #699
cc @anilkanji

[2019-08-12 13:41] alanmoo opened #700 "Update staging script for MozFest"
### Details
The script that runs to copy our production foundation site database to staging weekly is awesome. It needs a little bit of enhancement- right now it accounts for the domain change of foundation.mozilla.org -> foundation.mofostaging.net, but doesn't account for mozillafestival.org -> mozillafestival.mofostaging.net, so that visiting the latter URL shows the MozFest staging site.

Let's

[2019-08-14 15:27] #694 closed

[2019-08-15 20:35] gideonthomas commented on #697
Deadline changed to Aug 22. Reassigning to Lucie since I'm not confident on making these changes correctly.

[2019-08-15 21:01] TheoChevalier opened #701 "HerokuPipelineBot config issue for donate.m.o"
Hi,

It looks like the bot is hooked up to the foundation website instead of donate.m.o, and pings me when there’s no actual commit to deploy

![image](https://user-images.githubusercontent.com/1294206/63126576-163cb900-bfa8-11e9-8dc1-9372de8c6504.png)

[2019-08-19 10:21] patjouk commented on #701
Hm, weird thing happening there. I'll take a look this week. Thanks for
reporting it.

On Thu, Aug 15, 2019 at 11:01 PM Théo Chevalier <notifications@github.com>
wrote:

[2019-08-19 11:21] patjouk commented on #696
I went and check and only have access to donate recaptcha. @alanmoo do you have access to it?

[2019-08-19 11:35] patjouk commented on #699
Can you do it? It doesn't seem like I have access.

[2019-08-19 11:44] patjouk commented on #698
Where are we on that?
- Do we have an answer about the `net_amount` field?
- Is Basket ready to receive a payload that is different?

[2019-08-19 12:49] alanmoo commented on #699
Ah yes I forgot I filled this. We figured it out.

[2019-08-19 12:49] #699 closed

[2019-08-19 14:43] alanmoo commented on #698
The last I heard is the email I got from Braintree on July 29, which I forwarded to you.

I'm not sure what to do with that; should I set up a call with the solutions engineer? (We're still waiting for the legal teams to come to agreement, hopefully we're on the last bit of that conversation.)

I don't think anything's changed in basket yet.

[2019-08-19 16:01] #678 closed

[2019-08-21 19:13] alanmoo opened #702 "Fix science blog redirect"
Right now, science.mozilla.org/blog redirects to https://blog.mozilla.org/foundation-archive/mozilla-science/

It should redirect to https://blog.mozilla.org/foundation-archive/category/mozilla-science/

(Notice that clicking to "Older posts" in the first link results in a 404.)

[2019-08-27 13:57] alanmoo opened #703 "Update Mozfest Slack Pulse bot"
The Mozfest Slack #general is a bit noisy with Pulse entries. The Mozfest team has asked for it to be filtered to the same set of entries that appear on the MozFest site. It seems @patjouk created the integration, and is the only one who can modify it. The API query we want to use going forward (pulled from the MozFest site) is this (though it probably takes a different form for Slack).

https://a

[2019-09-04 12:10] patjouk opened #704 "Change victorops route for donate.mozilla.org"
For some reason, it seems that donate is still paging on the old mofo-victorops account. Let's fix that!

[2019-09-05 19:38] gideonthomas opened #705 "Get Anil access to MozFest GA"
See title.

cc @alanmoo in case you're the one who has permissions to add users to properties.

cc @anilkanji

[2019-09-10 11:31] patjouk commented on #696
Where are we on this?

[2019-09-10 11:54] patjouk commented on #704
done.

[2019-09-10 11:54] #704 closed

[2019-09-10 12:11] patjouk commented on #703
This zap is accessible to everyone who has access to the devops zapier account. It's called `(Mozfest - general) Latest from Pulse Slack Bot`

Right now, this zap is using the RSS feature from zapier, with the `latest from pulse` RSS feed (https://api.mozillapulse.org/rss/latest). The quick fix I can do for now is to use https://api.mozillapulse.org/rss/featured instead. It's less noisy because it

[2019-09-10 13:40] alanmoo commented on #703
The quick fix sounds like the right level of effort for this.

[2019-09-10 13:48] patjouk commented on #703
done

[2019-09-10 13:48] #703 closed

[2019-09-10 14:26] alanmoo commented on #705
This should be done.

[2019-09-10 14:26] #705 closed

[2019-09-10 14:57] gideonthomas commented on #696
I think we were waiting on Chris to give you access to the recaptcha stuff. But, there might not be a point in doing this now. I'll leave it to @cadecairos to decide.

[2019-09-11 15:19] #701 closed

[2019-09-12 21:19] gideonthomas opened #706 "Setup redirect for MozFest discourse"
We will be using Discourse for MozFest session facilitators to take down notes for their session and discuss on that platform. MoCo is setting up most of this. The only thing that would be helpful is for us to setup a redirect.

Can we create https://discourse.mozillafestival.org as a domain, and redirect it to https://discourse-mozfest-redirect.netlify.com?

The second one is controlled by a MoCo

[2019-09-17 19:00] cadecairos commented on #706
Created a PR adding the redirect to the mofo-redirector app. Once that lands we can add a DNS record for it and get it an SSL cert.

[2019-09-17 19:58] xmatthewx opened #707 "Set Up Zapier for Fellow Updates"
The fellowship will leverage Pulse to gather monthly updates from all the fellows. To spark conversation among them and staff, we'd like to use zapier to post these updates to the fellow slack channel.

Before we can set this up, @sabrinang will work with the fellow team to understand the workflow. Technically, we could either leverage a tag on entries, or possibly the profile type fellow. TBD.

T

[2019-09-18 21:52] youriwims opened #708 "Issue/Error with watch_static_files after docker command"
### Details
After running `inv docker-catchup` I received the following error in the screenshot below. This was after a fresh clone and setup. After running `docker exec foundationmozillaorg_watch-static-files_1 ls node_modules/webpack`, I received this error message `ls: cannot access 'node_modules/webpack': No such file or directory`.

The issue was resolved once I ran `docker exec foundationmoz

[2019-09-19 09:19] patjouk commented on #708
Did you run `inv docker-setup` before running `inv docker-catchup`?

[2019-09-19 12:20] youriwims commented on #708
Yes :/

On Thu, Sep 19, 2019 at 5:19 AM Lucie <notifications@github.com> wrote:

[2019-09-23 13:50] alanmoo commented on #698
@patjouk or @cadecairos - I think this is taken care of, right?

[2019-09-24 13:56] patjouk commented on #698
Staging IAM user for SQS access was created somewhere in August. We will need a new user for Prod when we're ready.

[2019-09-24 16:30] cadecairos commented on #706
@gideonthomas https://discourse.mozillafestival.org/ is live, but it looks like the proxy isn't set up yet?

[2019-09-24 17:34] gideonthomas commented on #706
oh maybe! I'll check with Leo about that. Thanks for setting it up

[2019-09-25 12:27] TheoChevalier opened #709 "https://donate.mofostaging.net does not deploy the latest changes from master"
Hey there,

We’re trying to deploy a change to the current donate website (probably one of the last), but the staging server doesn’t pick up the latest commit from the master branch and I don’t feel like deploying to prod without a last check on staging. Travis seem broken, so this is probably the reason: https://travis-ci.org/mozilla/donate.mozilla.org/builds/587228791?utm_source=github_status&ut

[2019-09-25 12:42] patjouk commented on #709
Our build started to use Xenial instead of Trusty two months ago. We [need to update](https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-xvfb-to-run-tests-that-require-a-gui) our travis.yml because it's not possible to use xvfb directly anymore.

I'll open a PR right away.

[2019-09-25 15:18] cadecairos commented on #698
- [ ] Create IAM user
- [ ] Grant IAM user write access to prod SQS queue

[2019-09-25 17:57] cadecairos commented on #706
This is all good, it was a typo in the redirector configuration file.

[2019-09-25 17:57] #706 closed

[2019-09-27 21:05] #709 closed

[2019-09-30 13:35] patjouk opened #710 "Fix heroku pipeline bot"
The Heroku pipeline bot seems to have issues parsing the output generated by `heroku pipelines:diff`. Let's fix that :)

[2019-10-01 13:34] patjouk commented on #710
I deleted the cron task for now.

[2019-10-02 14:09] cadecairos opened #711 "Review Torchbox PRs"
https://github.com/mozilla/donate-wagtail/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Aqa+author%3Acadecairos+

[2019-10-04 19:38] cadecairos commented on #698
Configuration complete.

[2019-10-04 19:38] #698 closed

[2019-10-09 17:03] TheoChevalier opened #712 "Pontoon can’t push to donate-wagtail"
Hey team,

It looks like the master branch on https://github.com/mozilla/donate-wagtail is protected, while Pontoon needs to commit directly on master via this user https://github.com/mozilla-pontoon. Could you lift that protection? We could still block force pushes (Pontoon would never force push), to make sure no one rewrites history by mistake.

Localization has started, and people can’t test t

[2019-10-09 18:21] alanmoo commented on #712
I'm going to unblock this for the purposes of testing and time constraints, but leave this ticket open as something to find the right long-term solution on. Maybe something to consider around the development branch conversation, @MozillaFoundation/developers?

[2019-10-09 18:24] alanmoo commented on #712
Actually, this is all I see...
<img width="749" alt="image" src="https://user-images.githubusercontent.com/1682681/66509144-6fa10000-eaa0-11e9-81e1-9cc9d102a944.png">

[2019-10-10 18:08] alanmoo commented on #712
@TheoChevalier i turned rules off for master to unblock you but I’m leaving this open to decide on a long term approach for this.

[2019-10-15 19:53] cadecairos opened #713 "Replace cert for donate.mozilla.org"
The cert is up for renewal, but the benefits of a EV cert are no longer valid in modern browsers, so let's switch to an AWS certificate.

I've already requested the cert in AWS, creating this ticket as a reference for the validation email.

[2019-10-15 20:03] cadecairos commented on #713
The cert has been switched over, and a revocation request has been made on Digicert.

[2019-10-15 20:03] #713 closed

[2019-10-26 10:11] alanmoo opened #714 "Update Coral Talk domain"
Add comments.mozillafoundation.org as a URL for our Coral Talk instance.

Keep in mind that the existing URL shouldn't break the PNI comments, which points to the ugly heroku URL (for now).

See also https://github.com/mozilla/foundation.mozilla.org/issues/3589

[2019-10-29 13:59] cadecairos commented on #714
I was able to update the staging/prod talk instances to v4.11.1 (there's currently no migration path for Talk v4 to v5), and migrate the prod app to comments.mozillafoundation.org. Comments on the buyer's guide continue to work. I also renamed the pipline and apps to not be specific to the buyer's guide.

[2019-10-29 13:59] #714 closed

[2019-10-30 14:24] cadecairos opened #715 "Fix Pontoon Integration"
* Can't communicate with git repo
* Ensure the django queue is setup to run the task periodically.

https://github.com/mozilla/donate-wagtail/issues/528
https://github.com/mozilla/pontoon/pull/1468

[2019-11-06 15:21] cadecairos commented on #715
https://github.com/mozilla/donate-wagtail/issues/528

[2019-11-06 15:47] patjouk commented on #689
Opened a bugzilla issue to add GtiHub actions to the Mozilla org so we can use this action https://github.com/marketplace/actions/heroku-review-app-deployment-status

[2019-11-13 15:09] cadecairos commented on #712
let's try to re-enable branch protection and authorize the pontoon user to push to master, but after we launch.

[2019-11-15 07:24] #669 closed

[2019-11-18 10:47] #710 closed

[2019-11-18 20:39] gideonthomas commented on #707
I've done this

[2019-11-18 20:39] #707 closed

[2019-11-19 12:54] patjouk commented on #715
Ticket is blocked by work that needs to happen on Torchbox side. The infra is ready for donate wagtail, but not thunderbird donate.

Updates on blockers can be found here: https://github.com/mozilla/donate-wagtail/issues/447

[2019-11-19 13:01] patjouk opened #716 "Add slack bots for all our review apps"
Currently, only review apps for the foundation site are posting a message on slack when they're ready to be used.

It would be useful to wire review apps from pulse (api-front) and donate too, each in a different channel.

- [x] Pulse back,
- [x] Pulse front,
- [x] Donate-wagtail

[2019-11-27 14:42] #716 closed

[2019-12-04 13:19] patjouk opened #717 "Give terraform another try"
We tried Terraform a long time ago but the integration to Heroku seems a bit better (https://devcenter.heroku.com/articles/using-terraform-with-heroku). We should explore it again, especially for env vars management.

[Heroku docs warns us](https://www.rainforestqa.com/blog/2019-04-02-why-we-moved-from-heroku-to-google-kubernetes-engine/) of config drift: autoscaling seems to be a problem in parti

[2019-12-04 14:56] cadecairos opened #718 "Redirect /donate on Bedrock"
File a bug in https://github.com/mozilla/bedrock to redirect mozilla.org/donate (and all localized variants) to donate.mozilla.org

[2019-12-04 15:54] cadecairos commented on #682
There aren't any clear gains to be had by making this switch right now.

[2019-12-04 15:54] #682 closed

[2019-12-04 15:55] cadecairos commented on #708
@patjouk to follow up with @youriwims

[2019-12-04 15:56] cadecairos commented on #696
@gideonthomas is this still something that needs to happen?

[2019-12-04 17:21] gideonthomas commented on #696
Nah

[2019-12-04 17:21] #696 closed

[2019-12-06 15:52] #653 closed

[2019-12-09 15:18] patjouk opened #719 "Set up holiday on-call"
Since Lucie will be out starting December 13th, we need to set up a holiday on-call rotation.

[2019-12-09 21:43] cadecairos commented on #719
I've created a new rotation `Holiday Shutdown 2019-2020` that we can associate with the active escalation policy starting this Thursday.

[2019-12-12 16:37] patjouk commented on #708
Fixed!

[2019-12-12 16:37] #708 closed

[2019-12-12 16:38] patjouk commented on #652
I think I managed to open the same ticket 3 time 👏

[2019-12-12 16:38] #652 closed

[2019-12-12 16:44] patjouk commented on #719
It's done :)

[2019-12-12 16:44] #719 closed

[2019-12-12 16:58] patjouk opened #721 "Configure Slack integration for sentry"
- Write rules on when Sentry should push to slack,
- Create a new slack channel for sentry,
- Add the "sentry" custom app (https://api.slack.com/apps/) to this new channel,
- Update the slack integration on Sentry (it's at the bottom of the integration list)

[2019-12-12 17:24] Pomax opened #722 "Set up Single Sign On Application creds for donate-wagtail"
In order to add SSO to donate-wagtail we'll need to register a new SSO Application through service now (Identity & Access Management → "New Single Sign On Application")

[2019-12-12 18:51] cadecairos commented on #722
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1603513

[2020-01-06 16:28] cadecairos commented on #612
This issue seems to have died? reopen if we need to complete anything here.

[2020-01-06 16:28] #612 closed

[2020-01-06 16:29] patjouk commented on #661
Closing this issue for now. To be reopened if it's an issue again.

[2020-01-06 16:29] #661 closed

[2020-01-06 16:30] patjouk commented on #671
We tried again, without success: it won't be possible to do a restoration of that data.

[2020-01-06 16:30] #671 closed

[2020-01-06 16:38] patjouk commented on #681
Let's reopen if we stay on Heroku.

[2020-01-06 16:45] #681 closed

[2020-01-06 16:47] #683 closed

[2020-01-06 16:48] #684 closed

[2020-01-06 16:51] patjouk commented on #687
Will be a follow up when projects are switched to Docker only.

[2020-01-06 16:54] #688 closed

[2020-01-06 16:55] patjouk commented on #690
I'm closing this, reopen it if it's still an issue :)

[2020-01-06 16:55] #690 closed

[2020-01-06 16:57] patjouk commented on #695
Do we still want this?

[2020-01-06 17:05] alanmoo commented on #695
No, I think our time would be better spent actually removing the SQS entirely for petitions/signups and just having a basket env var, with HTTP directly to Basket.

[2020-01-06 17:05] #695 closed

[2020-01-06 21:03] alanmoo commented on #722
This is done?

[2020-01-07 17:03] #722 closed

[2020-01-07 17:34] alanmoo commented on #679
Can you give this an estimate?

[2020-01-08 13:01] patjouk opened #723 "Add alerts + doc for donate-wagtail"
Todo:
- [x] Add alerts in Heroku for latency + 5xx
- [x] Write docs on what to do (should be pretty similar to the existing docs)
- [x] Add a transmogrifier in VictorOps to add the doc to the alert~

[2020-01-08 13:49] patjouk opened #724 "Fix coverage on python projects"
coverage is currently crashing for the foundation site and donate-wagtail:

[code]

[2020-01-08 16:21] patjouk opened #725 "Add alerts for Donate Thunderbird + docs"
Todo:
- [x] Add alerts in Heroku for latency + 5xx
- [x] Add alert in pingdom
- [x] Write docs on what to do (should be pretty similar to the existing docs)
- [x] Add a transmogrifier in VictorOps to add the doc to the alert

[2020-01-09 14:21] patjouk commented on #723
I'll do the victorops rules as a follow up of the work I'm doing with integrating scalyr and victorops together. The rule I'm using now won't work since it's using a field that changes all the time in scalyr payload.

[2020-01-10 10:14] patjouk opened #726 "Migrate review apps to the new system"
Heroku released a big review apps update a while ago. While it was still possible to use the old version for a while, adding review apps to a new pipeline will automatically use the new system now.

Building new review apps using old review apps config [is failing](https://github.com/mozilla/donate-wagtail/issues/718). We need to investigate what changed and migrate our existing review apps. We co

[2020-01-16 12:29] patjouk opened #727 "Migrate foundation site review apps to the new system"
- [x] Generate new secrets for the review apps
- [x] Update `app.json`
- [x] Update the review app admin slack bot
- [x] Update docs
- [x] Remove unused env var from staging: github token and review app slack webhook.

[2020-01-16 12:30] patjouk opened #728 "Migrate pulse review apps to the new system"
- [x] Generate new secrets for the review apps
- [x] Update `app.json`
- [x] Update the review app admin slack bot
- [x] Update docs
- [x] Remove unused env var from staging: github token and review app slack webhook.

[2020-01-16 12:31] patjouk opened #729 "Migrate pulse-api review apps to the new system"
- [x] Generate new secrets for the review apps
- [x] Update `app.json`
- [x] Update the review app admin slack bot
- [x] Update docs
- [x] Remove unused env var from staging: github token and review app slack webhook.

[2020-01-16 12:47] patjouk opened #730 "Migrate donate review apps to the new system"
It's nearly done but there are still a few todos:

- [x] Rotate thunderbird secret envs
- [x] Rotate `donate-wagtail` secret envs
- [x] Convert `donate-wagtail` to the new review app
- [x] Recreate review apps for `donate-wagtail` that were opened by human
- [x] Remove github token and slack webhook env from `donate-wagtail` staging.

PR mozilla/donate-wagtail#735

[2020-01-17 08:14] patjouk commented on #730
done and working!

[2020-01-17 08:14] #730 closed

[2020-01-17 08:18] patjouk commented on #723
Found a way to add the alert rules.

[2020-01-17 08:18] #723 closed

[2020-01-17 08:18] #725 closed

[2020-01-21 12:59] patjouk commented on #727
This is done!

[2020-01-21 12:59] #727 closed

[2020-01-21 13:09] patjouk commented on #729
It's done!

[2020-01-21 13:09] #729 closed

[2020-01-21 15:44] patjouk opened #731 "Sentry issue filtering"
Sentry is very noisy and catching errors it should not (browser extensions, etc). ~We can whitelist urls, so let's give our emails account a break and do that :D~

(cade) update: We were able to filter most things using the Sentry dashboard. But we can still implement rules to ignore certain errors on the backend and frontend that we know we don't want to see, for example, the `DisallowedHost` err

[2020-01-22 09:52] patjouk commented on #728
done!

[2020-01-22 09:52] #728 closed

[2020-01-22 09:53] patjouk commented on #726
All done. I'm sending an email to mofoprod to announce the changes.

[2020-01-22 09:53] #726 closed

[2020-01-29 09:05] alanmoo opened #732 "Give Ryan and Philipp access to Thunderbird CMS"
### Details
IIRC, they both have some level of SSO

### Info & links

[2020-01-29 14:50] patjouk opened #733 "copydb wagtail-staging"
We could setup a weekly copy of prod DB to staging, like we do with the foundation site.

[2020-02-04 14:00] patjouk commented on #724
python-coveralls doesn't seem to be maintained anymore and now breaks with the latest version of coverage. I'm replacing it with `coveralls-python` (https://github.com/coveralls-clients/coveralls-python).

To update:
- [ ] donate-wagtail
- [ ] foundation
~- pulse-api~ coveralls is not setup for pulse api

[2020-02-10 19:07] #724 closed

[2020-02-12 11:13] patjouk opened #734 "Change alerts sensitivity"
Alerts are becoming noisier, especially on apps that don't get a lot of traffic. Let's keep the 5xx as they are but we need to adjust the "response time" ones.

[2020-02-12 15:17] cadecairos commented on #610
Closing, until we have a complete shutdown plan

[2020-02-12 15:17] #610 closed

[2020-02-12 21:31] cadecairos commented on #673
fixed in #608

[2020-02-12 21:31] #673 closed

[2020-02-13 13:29] patjouk opened #735 "Pontoon workflow for the foundation site"
After meeting with Chris and Théo during all hands, it was decided to implement this workflow for connecting Pontoon to the Foundation site:

Translations will be separated from the code. A new repo will be created for keeping and syncing translations with pontoon. Every push to master will trigger a test on travis (`compilemessages`, etc) and if green, archive the translations and push them to an

[2020-02-13 13:35] patjouk opened #736 "Upload Foundation site's translations to S3"
As part of the new Pontoon workflow, we want to create a dedicated repo that will build translations artifacts uploaded to S3

- [x] Create a new repo,
- [x] Run `compilemessages` test on travis
- [x] Create a new bucket for translations and configure Travis
- [x] Archive and upload translations to S3

[2020-02-13 13:37] patjouk opened #737 "Switch to the new Pontoon workflow"
(I'll update this ticket as I go)

- [ ] Connect the new translations repo to Pontoon
- [ ] Add alerts on S3 if translations archive is not updated for a day (no need to page, message on slack is enough)

[2020-02-13 13:41] patjouk opened #738 "Foundation site is using translations downloaded from S3"
- [x] Download the translations archive from S3,
- [x] Extract those translations where Django expects them :)
- [x] Connect the new translations repo to Pontoon
- [x] Remove the translations from the repo
- [x] Add doc on how to get those translations for local dev

monitoring:
~- [ ] Add alerts on S3 if translations archive is not updated for a day (no need to page, message on slack is enough)~

[2020-02-13 13:46] patjouk commented on #737
It makes more sense to keep this in #738

[2020-02-13 13:46] #737 closed

[2020-02-13 17:49] patjouk commented on #736
Repo: https://github.com/mozilla-l10n/fomo-l10n

[2020-02-14 14:03] patjouk commented on #736
There was some very silly moments (gotta love outdated docs), but this is done.

[2020-02-14 14:03] #736 closed

[2020-02-19 15:12] cadecairos commented on #734
- Pulse API
- Check FoMo

[2020-02-19 16:02] patjouk commented on #738
all done!

[2020-02-19 16:02] #738 closed

[2020-02-19 16:02] patjouk commented on #735
All done. We will do the same thing for donate now.

[2020-02-19 16:02] #735 closed

[2020-02-19 16:10] patjouk opened #739 "New pontoon workflow, donate edition"
Since it works for the foundation site, we can use the same pontoon workflow for donate.

Todos:
- [x] Create a repo for the translations. Can you take care of this @TheoChevalier?
- [x] Create a bucket on s3
- [x] Create a new IAM user with the relevant permissions
- [x] Generate an archive on Travis with the correct paths + upload it to S3
- [x] Update the pontoon bot to get more info in case th

[2020-02-19 16:39] cadecairos commented on #685
This doesn't need to be in the Ops repo.

[2020-02-19 16:39] #685 closed

[2020-02-19 16:44] cadecairos commented on #680
I'm not sure that the amount of work we'd need to put into this outweighs the benefits.

[2020-02-19 16:55] cadecairos commented on #689
We're blocked on this until we can use GH actions.

[2020-02-19 16:55] #689 closed

[2020-02-20 08:18] TheoChevalier commented on #735
Happy to report [this string](https://github.com/mozilla-l10n/fomo-l10n/commit/9cd0eba49d5377660fdd246f5f4fd26a9d0b36cc#diff-3054aeda246ef49ac2365cb770b5f366R122) made it to prod as expected 🎉

[2020-02-21 10:50] #679 closed

[2020-02-21 14:15] patjouk commented on #734
done

[2020-02-21 14:15] #734 closed

[2020-02-24 10:38] TheoChevalier commented on #739
Some thoughts from this morning.

While we will probably have a constant flow of code commits for the foundation site and less frequent translation commits, that may be the opposite for the donate site. That could be an issue in the sense that we have many more locales enabled here, resulting in a large volume of translations sitting in the repo for weeks until the next code commit triggers a prod

[2020-02-24 11:05] patjouk commented on #739
That's a very good point.
The good news is that it's totally possible to trigger a manual build and promote staging to master, even though there's no code change.
Now for the signaling part: it's far from ideal but we do at least one push per week since we have to update dependencies, so translations wouldn't be sitting for weeks. I have a few ideas, from a reminder every two days to fully automat

[2020-02-24 14:10] patjouk opened #740 "Making sure translations get deployed even when the code doesn't change"
As pointed by @TheoChevalier in MozillaFoundation/mofo-devops#739, we need to find a way to make sure that translations don't pile up in the translation repo. This is mostly a problem for donate-wagtail since we're not working on it every day like we do with the foundation site.

*Random ideas:*
- Basic: Set a reminder on slack to deploy donate every two days + manually redeploy master on staging

[2020-02-25 18:44] #711 closed

[2020-02-25 18:54] cadecairos commented on #733
@patjouk can you add a description?

[2020-02-26 15:24] cadecairos commented on #740
Lets do an automated build task using mofo-cron.

[2020-02-26 16:41] patjouk commented on #733
Description added!

[2020-02-28 11:42] #739 closed

[2020-03-06 13:09] patjouk opened #741 "Enforce hobby dyno for review apps"
The default dyno for review app is `Standard-1X`, which costs $25 per month. We should make sure review apps use hobby apps instead since they only cost 7$ per month.

- [ ] Foundation site
- [ ] Pulse front
- [ ] Pulse api
- [ ] Donate

Doc for app.json: https://devcenter.heroku.com/articles/app-json-schema#formation

[2020-03-06 16:20] patjouk opened #742 "Remove pipenv"
After giving it a good thought, it's happening.

Let's test it on the foundation site. We will use pip-tool instead to pin our dependencies. I'm giving it a 13 in estimate because it will require some prototyping and a few trials and errors :)

Todo:
- [x] Foundation site
- [x] Pulse-api
- [x] Donate
- [x] Mofo-redirector
- [x] Mofo-cron

[2020-03-09 16:23] patjouk opened #743 "Dependabot update - switch to monthly?"
We're lagging a bit behind, maybe it's time to consider moving dependabot to monthly updates instead of weekly ones. We would still get GitHub notifications for security updates and it will be easy to open them from there.

Opinions @cadecairos @Pomax @mmmavis

[2020-03-09 16:41] Pomax commented on #743
I don't think the issue is so much that it's frequent, but that there's single PRs for every single thing that got updated, and every PR that is reviewed good then invalidates every other PR. Doing that monthly would probably still be a very long time of pressing merge, waiting for CI to pass on the next item, pressing merge again, and all the while other people can't really land code because each

[2020-03-09 20:37] mmmavis commented on #743
Agreed with what @Pomax said.

Also wondering if we could adjust the frequency from weekly to bi-weekly for the time being.

[2020-03-09 20:45] cadecairos commented on #743
Doing updates individually is something we probably want to keep, since it can surface issues related to a specific change.

The real issue we have is that piplock files are implemented foolishly and constantly cause merge issues when software unrelated to the actuall version bump get incremented (looking at _you_ boto3)

[2020-03-09 21:40] Pomax commented on #743
That's part 2 of the real issue,but from a dev side, the real issue is that it takes an hour, easy, to merge 10 dependabot PRs because of CI reruns and time lost by "everyone else not doing dependabot PRs" because their "green" PRs keep turning "out of date", too.

[2020-03-10 09:58] patjouk opened #744 "Issue with Scalyr alert's details page"
I opened a ticket with Scalyr because the alert's details page is a bit broken.
Support transferred my issue to their front devs. Now we just have to wait for a fix.

[2020-03-10 09:58] #744 closed

[2020-03-11 11:00] TheoChevalier opened #745 "IHR redirect"
I’ve noticed `https://internethealthreport.org` redirects me to `https://foundation.mozilla.org/en/internet-health-report/`, while it should redirect me to `https://foundation.mozilla.org/internet-health-report/` and let the website handle the language negotiation.

Can that link be updated please?

Thanks!

[2020-03-11 14:44] patjouk opened #746 "Explore using Bors or mergify"
Maybe we can try bors to find a way to schedule merge of PRs?

From the doc:
Once you’ve set it up, instead of clicking the green “Merge Button”, leave a comment like this on the pull request:

    bors r+

Equivalently, you can comment the following:

    bors merge

The pull request, as well as any other pull requests that are reviewed around the same time, will be merged into a branch called “s

[2020-03-11 15:28] cadecairos commented on #731
We're meeting on Tuesday March 17th to do this.

[2020-03-12 12:39] patjouk commented on #746
https://mergify.io/ looks even more perfect! (free for open source)

[2020-03-12 16:25] patjouk opened #747 "Docs for translations"
The translation process is a bit complicated: let's make sure docs are up-to-date and with a visual representation of the whole workflow.

[2020-03-13 00:17] bsieber-mozilla commented on #742
(Randomly saw this issue from Slack, unsure if this might be of any assistance. It was posted in the #python channel. https://medium.com/telnyx-engineering/rip-pipenv-tried-too-hard-do-what-you-need-with-pip-tools-d500edc161d4)

_lurks away_

[2020-03-13 13:49] patjouk commented on #746
Mergify looks exactly like what we need, and it's already approved by MoCo security. I opened a bugzilla ticket since I don't have enough permissions to add the repo myself https://bugzilla.mozilla.org/show_bug.cgi?id=1622262

[2020-03-14 20:27] gideonthomas opened #748 "HTTP 500 on fo'mo"
Incident on Mar 14 at 4pm ET:
1. High response times
2. Failed requests
3. HTTP 500 errors

Restarting the dynos seemed to fix it. But saw this error for the 500 response on Scalyr:
[code]

[2020-03-14 20:28] gideonthomas commented on #748
cc @Pomax and @cadecairos

[2020-03-14 20:50] Pomax commented on #748
@gideonthomas the log looks cut off, which URL is this on?

[2020-03-14 21:03] Pomax commented on #748
Looing at https://foundation.mozilla.org/en/blog/, this appears to be related to the fact that our MozBeat posts don't have a category, which makes it mighty hard for code that expects a category to actually do much =)

@kristinashu @caltrider should we have a dedicated category for these kind of posts? Also, is there a category that we should use for blog posts that aren't explicitly marked as be

[2020-03-14 21:07] Pomax commented on #748
I thought this might be because mozbeat blog posts don't have any categories, but https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/wagtailpages/pagemodels/blog_index.py#L49-L55 already checks for the presence of categories.... it might still be part of the problem here, but without a URL on which we know these 500 occur on, it'll be hard to debug.

[2020-03-16 07:44] patjouk commented on #748
It seems to be coming from:
` 15:04:49.547 foundation.mozilla.org logplex <190>1 2020-03-13T14:04:49.182551+00:00 host app web.1 - Internal Server Error: /en/internet-health-report/blog/`
`20:51:55.409 foundation.mozilla.org logplex <190>1 2020-03-14T19:51:54.448521+00:00 host app web.1 - Internal Server Error: /en/blog/category/advocacy/`
` 21:00:14.696 foundation.mozilla.org logplex <190>1 2020-

[2020-03-16 14:33] Pomax commented on #748
I've been entirely unable to reproduce this locally, and the error seems to come from code that already got fixed, so I wonder if this was a case of an old dyno sticking around, rather than updating along with everything else.

[2020-03-16 15:30] cadecairos commented on #748
I'm looking closely at the logs around the time this started, and I'm wondering if this has more to do with unhealthy gunicorn threads after a dyno reboot. I'm going to open a PR with some recommendations from Heroku around configuring gunicorn.

[2020-03-16 17:29] patjouk opened #749 "JS, CSS and SVG files are not returning a 304 on the foundation site"
I was looking at logs and saw that JS, CSS and SVG files always do a 200, even though they haven't changed and should return a 304.
Spent some time investigating why the `Etag` was not properly compared, but it was just hiding the real problem: whitenoise was not properly configured. I'm opening a PR to fix it.

[2020-03-16 19:30] cadecairos commented on #748
opened https://github.com/mozilla/foundation.mozilla.org/pull/4354

[2020-03-18 13:55] patjouk commented on #749
WELL, THAT ESCALATED QUICKLY

I made sure that now, we use whitenoise in local dev and that it's correctly configured for prod. Now I "just" have to update every template to make sure we use the static tag.

# Templates to verify and update:

**Django templates**
- [ ] 404.html
- [ ] language_switcher.html
- [ ] nav_links.html
- [ ] base.html
- [ ] 404.html
- [ ] footer.html
- [ ] intro_and_conten

[2020-03-20 20:15] xmatthewx opened #750 "Deliver Story Collection Tool"
We have gathered requirements for a form tool to gather input from our audience via our website. Background below.

**Next step**: The next step is to examine 3rd party options to see if they meet the requirements. We will track this in a [google sheet](https://docs.google.com/spreadsheets/d/1hvP0NBavLbbDi2bOqdufy7TRjwKnuN12VaaJ9mhsgks/edit#gid=0).

**Background:** To inform the Foundation’s campa

[2020-03-24 14:07] patjouk commented on #741
All our review apps are on Hobby dyno out of the box. Docs probably out of date.

[2020-03-24 14:07] #741 closed

[2020-03-24 15:20] #746 closed

[2020-03-25 10:32] #743 closed

[2020-03-25 10:32] patjouk commented on #743
Let's see how mergify is helping. If dependabot is still eating too much of our time, I'll reopen this ticket and investigate again.

[2020-03-25 13:56] #749 closed

[2020-03-25 14:33] cadecairos commented on #745
This will require a bit of manual work to update the redirect rules in the WPEngine admin panel.

[2020-03-30 19:55] xmatthewx opened #751 "Create typeform account and whitelist on staging"
We're ready to test the tool.

 - [ ] create free tier account
 - [ ] whitelist embed on staging
 - [ ] inform designer to test. tracking here: https://github.com/MozillaFoundation/Design/issues/512

[2020-03-30 20:00] xmatthewx opened #752 "Help bridge GA between fo'mo and donate"
In ideal world, Analytics will give us a complete view from referrals to donations. For example, what earned media in 2020 leads to higher donation rates? Should we invest more in certain content partnerships? Currently, we see referrals in fo'mo GA and donate "intent" (button event). In donate GA we total dollars for various segments. But, there's a blackbox in-between.

There are many good reaso

[2020-04-01 09:53] patjouk opened #753 "Add mergify to the rest of the active projects"
Mergify is pretty cool on the foundation site for dependabot PRs, I'm adding it to:

- [x] pulse
- [x] pulse-api
- [x] donate

Bugzilla ticket already opened: https://bugzilla.mozilla.org/show_bug.cgi?id=1626551

[2020-04-01 14:13] cadecairos commented on #748
This appears to be fixed, lets reopen if we see the problem again.

[2020-04-01 14:13] #748 closed

[2020-04-01 14:42] cadecairos commented on #715
This is being handled in other issues, and doesn't need a meta ticket.

[2020-04-01 14:42] #715 closed

[2020-04-01 19:39] cadecairos commented on #751
Account created, it's in the team vault.

Whitelisted the typeform domain we got on foundation.mofostaging.net

[2020-04-01 19:39] #751 closed

[2020-04-06 12:41] #753 closed

[2020-04-06 12:41] patjouk commented on #753
It's done :tada:

[2020-04-13 14:22] cadecairos commented on #745
I've updated all the WP Engine redirects so that they'll rely on the Foundation site's i18n setup to choose an appropriate language for the reader.

[2020-04-13 14:22] #745 closed

[2020-05-05 16:50] cadecairos commented on #750
Blocked on defining an MVP deliverable for Engineering

[2020-05-05 16:51] cadecairos commented on #750
cc/ @anilkanji

[2020-05-13 14:13] #680 closed

[2020-05-13 14:25] cadecairos commented on #686
Epic issues to be filed.

[2020-05-13 15:08] cadecairos commented on #677
This is being taken care of elsewhere.

[2020-05-13 15:08] #677 closed

[2020-05-13 15:10] #692 closed

[2020-05-13 15:14] #721 closed

[2020-05-13 15:15] #732 closed

[2020-05-14 09:13] patjouk commented on #742
Done for the foundation site, I'm moving to donate.

[2020-05-15 09:07] patjouk opened #754 "Add `ready-to-merge` feature to all repos"
Mergify for human PR is nice, let's put it everywhere:
- [x] donate
- [x] pulse-api
- [x] pulse-front

[2020-05-18 14:59] patjouk commented on #742
I've opened PRs for all the remaining projects that are still running pipenv.

[2020-05-19 12:47] patjouk commented on #754
All PRs have been opened.

[2020-05-20 16:06] cadecairos opened #755 "Wagtail Update (May 27 Staff call)"
## Draft outline + brainstorm
1. How it was before:
20-30s: before: Already a CRM, but we did not really leverage it. We had multiple sites (ex: advocacy, teach, blogs, mozfest, buyersguide). Screenshot of mezzanine.
2. How is it now: 10s-20s One CMS to rule them all. Huge lift for dev: Change in tech (more django, less node, switch the framework) => staff had to grow new skills.
3. 30s-1m:
    -

[2020-05-20 16:12] sabrinang commented on #755
cc/ @sabrinang

[2020-05-20 18:21] cadecairos commented on #755
@sabrinang I've added the draft content/ideas to the issue comment, and started a slide deck using the same template the staff call slides are using. I guess once they're ready I can copy/paste them in the staff call deck.

https://docs.google.com/presentation/d/1EMaToF2z4rrshOBLYC9Bkvdx3MEzgFZ_4zaC6bTz1cs/edit?usp=sharing

[2020-05-23 00:10] sabrinang commented on #755
@cadecairos
I made slides from 12-32 _(I didn't want to over write the slides you had)_: https://docs.google.com/presentation/d/1EMaToF2z4rrshOBLYC9Bkvdx3MEzgFZ_4zaC6bTz1cs/edit?usp=sharing

- integrated notes you had on github ticket + content you had on slides/presenter notes
- I left comments to highlight the sections that are missing content/copy the most ... feel free to rework any content/co

[2020-05-23 00:27] kristinashu commented on #755
w00t awesome outline and awesome slides!

[2020-05-25 09:36] #754 closed

[2020-05-25 14:39] patjouk opened #756 "Update slack bots to use block kit"
Attachment is now legacy, we need to update all the slack webhooks.

- [x] Pipeline bot
- [x] Pontoon Check
- [ ] RA foundation
- [ ] RA pulse front
- [ ] RA pulse back
- [ ] RA donate

[2020-05-25 15:54] cadecairos commented on #755
Thanks @sabrinang these look fantastic! I'll fill in the unknowns and submit them to Amanda later today.

[2020-05-26 17:08] #755 closed

[2020-05-27 14:32] cadecairos commented on #687
nevermind

[2020-05-27 14:32] #687 closed

[2020-05-27 19:51] cadecairos commented on #718
Filed an issue to start a dialog about this: https://github.com/mozilla/bedrock/issues/8949

[2020-05-28 16:03] patjouk commented on #742
All done!

[2020-05-28 16:03] #742 closed

[2020-05-29 03:31] alanmoo opened #757 "Prevent Pulse staging from being indexed"
👋

I probably could have filed this in the Pulse repo, but I'd bet it ends up on your plates anyway: I was doing a "let's make sure nothing weird is showing up" vanity Google search for myself and noticed on page 2:
<img width="686" alt="image" src="https://user-images.githubusercontent.com/1682681/83217964-f4798080-a13a-11ea-942e-06bd348b0478.png">

[2020-05-29 11:09] patjouk opened #758 "Delete the `foundation-site-ia-refresh` app"
Ref: mozilla/foundation.mozilla.org#4671

Todo:
- [ ] Use terraform destroy to delete resources created on Heroku (rm -rf the `.terraform` dir + [init with the new DB credentials](https://devcenter.heroku.com/articles/using-terraform-with-heroku#remote-postgres-backend) because Heroku rotate DBs)
- [ ] Delete the IAM users
- [ ] Delete Google Auth settings (Lucie's account)

I'm not sure when that

[2020-06-02 10:18] patjouk opened #759 "Dependencies maintenance for week 23"
Merging dependabot PRs \o/

[2020-06-02 11:34] patjouk commented on #759
I took care of Foundation site (python) and most of donate (JS+Python). The leftovers on donate will require a bit more work.

[2020-06-02 11:34] #759 closed

[2020-06-03 12:12] patjouk commented on #717
It's happening \o/
Closing this ticket in favor of mozillafoundation/mofo-devops-private#349

[2020-06-03 12:12] #717 closed

[2020-06-03 14:26] cadecairos opened #760 "Update to Node 14"

[2020-06-03 14:26] #760 closed

[2020-06-03 14:26] cadecairos opened #761 "Update apps to node 14"
- Donate wagtail
- Foundation site
- Pulse Frontend

[2020-06-03 16:51] cadecairos commented on #718
PR in review :tada: https://github.com/mozilla/bedrock/pull/8977

[2020-06-09 10:33] patjouk opened #762 "Add our "S3-backend" terraform modules to MoCo's repo"
I met with Alberto on Monday June 8th, and we talked about how we use Terraform at MoCo and MoFo. They don't have a module to create S3 Terraform backend, so I suggested that I could open a PR with ours.

Our module is tailored to our needs, so I need to revisit it a little before I can open a PR [on their repo](https://github.com/mozilla-it/terraform-modules/tree/master/aws).

[2020-06-09 10:36] patjouk opened #763 "Create a repo for our Terraform code"
Todos:

- [x] Create a private repo
- [x] Transfer the code for devops-private to that new repo
- [x] Configure Travis to run `terraform fmt`
- [x] Create a Github org/invite folks for MoCo it-sre that would be interested in looking at our code :D

[2020-06-09 12:27] patjouk commented on #763
Travis and open source repos is a weird mix. I've asked @cadecairos to grant Travis access to the mofo github org.

[2020-06-09 12:51] patjouk commented on #763
I've added Alberto to the repo with read access.

[2020-06-09 13:44] #763 closed

[2020-06-09 17:13] cadecairos commented on #762
@patjouk let's make sure we focus on getting the issues in the milestone that are not labelled unplanned done before spending time on this one.

[2020-06-09 21:46] cadecairos commented on #718
The PR is awaiting review and looks to have been triaged into their workflow. It's also been marked "P3 - nice to have" so, in the interest of not rocking the boat, I'm going to patiently wait a bit longer before nudging it along.

[2020-06-12 11:15] patjouk opened #764 "dependency updates, week 24"
Travis seems more usable in my mornings, so I could finish today what I painfully started yesterday after 4PM :sob:

[2020-06-12 11:16] #764 closed

[2020-06-23 17:58] cadecairos commented on #752
Brain dump:

I don't think we need a single shared GA property.

I have a good feeling the right solution is to have individual pages on fomo specify unique UTM parameters in links to donate.mozilla.org. Then if that donation completes, we know what foundation page the journey started from.

If a FoMo page can specify: `utm_source=foundation.mozilla.org`, `utm_campaign=some_unique_campaign_id`, an

[2020-06-24 09:49] patjouk opened #765 "Dependabot PRs update week 26"
Did all the dependabot PRs for the foundation site, donate, and pulse api.

[2020-06-24 09:49] #765 closed

[2020-06-25 16:17] cadecairos commented on #752
Turns out this is already done - There's a GA rollup property for FoMo, Donate, Mozfest, and pulse which can automatically merge sessions.

[2020-06-25 16:17] #752 closed

[2020-06-26 13:38] patjouk commented on #762
PR opened https://github.com/mozilla-it/terraform-modules/pull/74

[2020-06-29 12:36] patjouk commented on #762
Final step is to migrate our infra to use that module.

[2020-06-29 13:34] patjouk opened #766 "deps update week 27"
Gotta merge 'em all!

[2020-06-29 14:31] #766 closed

[2020-06-30 11:51] #762 closed

[2020-06-30 14:05] patjouk opened #767 "MoFo infrastructure diagram foundation-site"
Check the infra doc and do diagrams for:
- [x] foundation site

[2020-07-01 08:29] patjouk commented on #761
all done ✨

[2020-07-01 08:29] #761 closed

[2020-07-02 12:12] patjouk commented on #747
Since they're planing on redoing most of it, I'm not gonna write this. I'll do a short version of it in the infra doc.

[2020-07-02 12:12] #747 closed

[2020-07-02 12:17] patjouk commented on #756
Not sure it will be finished by July 6, but I can get a head start before the next sprint.

[2020-07-02 12:20] patjouk commented on #758
@cadecairos Can we sync at some point about the Auth0 token? I want to make sure it continues to work when I'm out!

[2020-07-07 12:20] patjouk opened #769 "Create a page for changecopyright.org on the foundation site"
We need a landing page on the foundation site to redirect traffic coming from changecopyright.org.

@phildexter Can you check with design and content what they want to do? I gave it the July 20th milestone, but feel free to change it.

[2020-07-07 12:21] patjouk opened #770 "Sunset changecopyright.org"
We got the green light to sunset changecopyright.org. We will need a landing page on the foundation site, a redirect, and some cleanup on AWS and Heroku.

[2020-07-14 17:08] cadecairos commented on #769
@patjouk I don't think this is going to happen this milestone.

[2020-07-15 08:44] patjouk commented on #769
Worst case, I can prepare the infra part and you can finish it after I'm
gone.

On Tue, Jul 14, 2020 at 7:08 PM Christopher DeCairos <
notifications@github.com> wrote:

[2020-07-21 09:47] #756 closed

[2020-07-21 12:59] patjouk commented on #740
As long as we merge dependabot PRs frequently, we don't really need this.

If we ever need to deploy a translation change but don't have any code to ship it, we can manually trigger a redeploy of staging (will trigger a download of the latest translations) + force the pipeline promotion using the Heroku CLI (not possible from the pipeline dashboard).

[2020-07-21 14:24] cadecairos opened #771 "Responsible Design Toolkit"
Set up the responsible design toolkit so the whole stack can be terraform deployed.

[2020-07-21 14:26] cadecairos opened #772 "[RDK] Purchase & Configure Domain in Route53"
Domain TBD - awaiting email from Caroline

[2020-07-21 14:27] cadecairos opened #773 "Get Source Code"

[2020-07-21 14:27] cadecairos opened #774 "[RDK] Determine if Analytics are required"
Caroline wasn't sure if the project would need GA - but if it does it the data will fall under Mozilla's privacy policy, and thus will need to use our Mozilla GA account. Awaiting a final decision about that.

[2020-07-22 15:54] cadecairos commented on #769
https://foundation.mozilla.org/cms/pages/1035/edit/

[2020-07-22 15:54] #769 closed

[2020-07-23 13:35] patjouk commented on #740
Reopening because this issue happened today. An easy way to fix it would be to merge at least one dependabot PR per day on repo with less activities (in our case, donate).

[2020-07-28 14:13] patjouk opened #775 "Create CF dristributions and mofo/thunderbird domain names for those"
We need to create 4 new distributions and domains:
- `donate-mofo-assets.mofostaging.net`
- `donate-thunderbird-assets.mofostaging.net`
- `donate-mofo-assets.mofoprod.net`
- `donate-thunderbird-assets.mofoprod.net`

[2020-07-28 14:13] patjouk opened #776 "Fix whitenoise configuration on donate"
We need to edit the current whitenoise configuration:

- Make sure `whitenoise.middleware.WhiteNoiseMiddleware` is above the `django.middleware.gzip.GZipMiddleware`.
- `whitenoise.runserver_nostatic` needs to at the top of the `INSTALLED_APPS` so that whitenoise works on local dev (ref: http://whitenoise.evans.io/en/stable/django.html#using-whitenoise-in-development).
- Add `STATIC_HOST` env var.

[2020-07-28 14:14] patjouk opened #777 "Cache static assets on donate mofo and thunderbird"
Static assets are not connected to a CDN and whitenoise is misconfigured. Let's fix all this!

[2020-07-30 13:18] patjouk commented on #767
![foundation-site-infra.png](https://images.zenhubusercontent.com/59d3cadbb0222d5de47a2025/fa154aeb-4a23-41d2-ac87-6b42ad75639d)

I won't have the time to do the others.

[2020-08-10 20:16] cadecairos commented on #774
I've removed analytics code.

[2020-08-10 20:16] #774 closed

[2020-08-11 16:32] cadecairos commented on #772
purchased responsibledesign.tech, set it up in the terraform config

[2020-08-11 16:32] #772 closed

[2020-08-12 14:31] #771 closed

[2020-08-18 19:58] cadecairos commented on #770
This is done

[2020-08-18 20:02] cadecairos commented on #750
Working on the contract w/ legal and Typeform.

[2020-08-19 15:30] #686 closed

[2020-09-01 17:10] cadecairos opened #778 "Create Fathom account for IHR 2020"
Details in title.

[2020-09-08 18:01] mmmavis opened #779 "Make CI tests run for PRs that are compared against a feature branch."
### Details

Make CI tests run for PRs that are compared against a feature branch.

### Info & links

On the foundation site repo, only PRs that are compared against our default `master` branch will kick off CI tests properly. Can we look into how to get them to run for all PRs? Thanks!

[2020-09-15 17:43] cadecairos commented on #773
What was I thinking here??

[2020-09-15 17:43] #773 closed

[2020-09-15 17:45] cadecairos opened #780 "Create WPEngine install for 2020 IHR"
https://bugzilla.mozilla.org/show_bug.cgi?id=1664928

[2020-09-24 20:02] #780 closed

[2020-10-14 20:01] cadecairos opened #781 "Chris' Handoff tasks"

[2020-10-14 20:02] cadecairos opened #782 "Write and present a walkthrough of supporting platforms and services"
- Scheduled for Tuesday October 20th
- Will cover: Heroku, AWS, Hirefire, Scalyr, Sentry, AWS, mofo-cron, mofo-terraform, mofo-terraform

[2020-10-14 20:02] cadecairos opened #783 "Transfer AWS LDAP group ownership"
Access groups managed on people.mozilla.org

- [ ] mofo_aws_admins
- [ ] mofo_aws_everything
- [ ] mofo_aws_projects
- [ ] mofo_aws_secure
- [ ] mofo_aws_community
- [ ] mofo_aws_labs
- [ ] mofo_aws_sandbox

[2020-10-14 20:03] cadecairos opened #784 "Delete Stripe user account"
Requires another owner/admin to do this - such as @WillatMozFdn

[2020-10-14 20:04] cadecairos opened #785 "Prep accounts for Torchbox Ops support"
- [x] AWS
- [x] Heroku
- [ ] WPengine
- [ ] Sentry
- [x] GitHub
- [x] Hirefire
- [x] Scalyr
- [ ] ~GA~ Ask in #data-help
- [x] 1Password for other accounts?

[2020-10-14 20:04] cadecairos opened #786 "Document payment accounts for finance"
Ethan requested a spreadsheet detailing who has accounts for Paypal, Braintree, and Stripe, where root credentials are vaulted (and who has access), as well as any other concerns I want to raise around them as I exit.

[2020-10-14 20:05] cadecairos opened #787 "Give Will a Github training session"
Will would like to learn how to make copy changes to donate-wagtail

[2020-10-14 20:05] cadecairos opened #788 "Get another MoFo admin access to WPEngine"
File BZ ticket to get someone on the team a WPEngine account.

(also, determine who that someone is)

[2020-10-14 20:06] cadecairos opened #789 "Check Google ReCAPTCHA properties have shared ownership"

[2020-10-14 20:06] cadecairos opened #790 "Delete Digicert Account"

[2020-10-14 20:06] cadecairos opened #791 "Transfer Hirefire account"
- Link a service account between MoFo and TB Heroku to MoFo and TB Hirefire
- Move TB hirefire app into TB org

[2020-10-14 20:06] cadecairos opened #792 "VictorOps plan"
- [x] What are we doing here?

[2020-10-14 20:07] cadecairos opened #793 "Transfer Mozfest Slack ownership"

[2020-10-14 20:07] cadecairos opened #794 "Delete Mozilla Github Owners account"

[2020-10-14 20:07] cadecairos opened #795 "Check Slack bots"
https://github.com/MozillaFoundation/mofo-devops-private/blob/master/docs/slack_bots.md

[2020-10-14 20:08] cadecairos opened #796 "Inventory our Infrastructure"
Format TBD

Create an exhaustive list of running cloud resources

[2020-10-14 20:09] cadecairos opened #797 "Get someone Admin access to our GA properties"

[2020-10-16 13:41] cadecairos opened #798 "Transition from mLab MongoDB to new provider"
comments.mozillafoundation.org uses mLab MongoDB on Heroku, which is shutting down on November 10th.

[2020-10-16 15:55] cadecairos commented on #790
Emailed Corey Shields to help me with this.

[2020-10-19 15:04] #789 closed

[2020-10-19 15:04] cadecairos commented on #792
Transferred ownership to an service account (creds in the vault)

[2020-10-19 15:04] #792 closed

[2020-10-19 15:17] cadecairos commented on #797
Anil has manage users now.

[2020-10-19 15:17] #797 closed

[2020-10-19 15:24] cadecairos commented on #794
done

[2020-10-19 15:24] #794 closed

[2020-10-19 16:36] cadecairos commented on #791
Created service account, credentials in Vault

[2020-10-19 16:36] #791 closed

[2020-10-19 16:36] cadecairos commented on #784
Done

[2020-10-19 16:36] #784 closed

[2020-10-19 16:37] cadecairos commented on #783
I think @mmmavis and @Pomax need to accept the invites on people.mozilla.org

[2020-10-19 16:54] cadecairos commented on #795
granted collaborator rights to the eng team.

[2020-10-19 16:54] #795 closed

[2020-10-20 15:05] Pomax commented on #783
That does assume we ever use people.mozilla.org of course.

[2020-10-20 15:07] cadecairos commented on #783
IT has already migrated LDAP access groups to it, among other things. It can't be stopped!

[2020-10-20 15:09] Pomax commented on #783
where should we see these invites? (I don't see anything that indicates a notification of pending messages or the like)

[2020-10-20 15:12] cadecairos commented on #783
That was a bit of an assumption on my part about the invites - maybe it was an email?

[2020-10-20 15:13] cadecairos commented on #783
oh, the invites expired

[2020-10-20 15:15] Pomax commented on #783
accepted all invites.

[2020-10-20 15:24] cadecairos commented on #796
Heroku Infrastructure inventory: https://docs.google.com/spreadsheets/d/17xAYK0hNbTxvjv3QDvr59xM1pB3tRBy45XyZ3u4-t4s/ (engagement team shared drive access required)

[2020-10-20 15:24] #796 closed

[2020-10-20 16:40] #786 closed

[2020-10-20 16:41] #783 closed

[2020-10-21 16:05] #782 closed

[2020-10-21 16:05] cadecairos commented on #785
Sentry: Need mofo address
WPEngine: waiting response in BZ

[2020-10-21 16:05] #793 closed

[2020-10-22 16:26] cadecairos commented on #798
https://devcenter.heroku.com/changelog-items/1823

[2020-10-22 20:47] cadecairos commented on #798
I was able to successfully migrate `mozilla-foundation-talk-ihr` from mLab to ObjectRocket. OR instances are not cheap though, nearly $50/month just for the base plan. Therefore I propose (and have already done so) attaching the one $50 addon instance to all three of our talk apps, creating a new DB on the instance for each app, and migrating all the collections from each app to the new databases.

[2020-10-22 20:53] cadecairos commented on #798
@tomusher @phildexter ^

[2020-10-23 15:19] #785 closed

[2020-10-23 15:20] #790 closed

[2020-10-23 15:22] #787 closed

[2020-10-23 15:25] #781 closed

[2020-10-23 18:37] #788 closed

[2020-10-29 17:57] phildexter commented on #798
Tom aiming to get this done between 2nd and 4th Nov.

[2020-11-02 11:20] tomusher commented on #798
`comments-mofo-org-staging` and `comments-mofo-org-production` have been migrated to the shared ObjectRocket instance. Confirmed working and have removed attached mLab instances.

[2020-11-02 11:20] #798 closed

[2020-11-02 14:05] tomusher opened #800 "Mozilla Donate Disaster Recovery Plan"
Document and discuss disaster recovery for Mozilla Donate platform.

[2020-11-24 21:22] #779 closed

[2020-11-24 21:28] jamilasnell commented on #800
@tomusher can you label and assign this ticket so that the relevant parties can know that this is a plan of attack for the holidays? Thank you

[2020-12-10 12:56] tomusher opened #801 "Migrate to Github Actions from Travis"
As Travis CI is reducing/suspending free minutes for open source repositories, we intend to migrate sites that use Travis CI to Github Actions.

These are:

* https://github.com/mozilla/donate-wagtail
* https://github.com/mozilla/foundation.mozilla.org

[2020-12-10 12:59] tomusher opened #802 "Add Frontend Caching to Foundation"
There is currently no cache solution in front of the Foundation and Donate sites. Investigate and implement Cloudflare for this.

* Cache static assets as well as HTML
* Implement cache bypass for session/csrf cookies
* Validate all elements of site work with HTML cached
* Optimise cacheability by removing csrftokens from forms that don't need them
* Enable Wagtail cache invalidation

Use Cloudfla

[2020-12-10 12:59] tomusher commented on #778
This has been done.

[2020-12-10 12:59] #778 closed

[2020-12-10 13:00] tomusher commented on #802
Related https://github.com/MozillaFoundation/mofo-devops/issues/776

[2020-12-10 13:02] tomusher opened #803 "Upgrade Heroku Stacks"
Our Heroku apps are using old stack versions (heroku-16 and heroku-18). We should upgrade these to heroku-20 to make sure we're keeping up and make the most of the security changes/optimisations in these new base OSes.

[2021-01-12 16:33] tomusher opened #804 "Migrate to a Heroku managed logging solution"
Scalyr is currently used for log management, requiring a separate login and limiting access to those with an account.
Migrating to a solution that supports the Heroku addon/SSO ecosystem will enable access via a developer’s Heroku user and will consolidate billing under the Mozilla Heroku account.

[2021-01-12 16:33] tomusher opened #805 "Replace Coral commenting system with managed system"
The current site commenting system is powered by a fork of the Coral system hosted on Heroku. This fork is over a year out of date so it hasn’t received any of the security and feature improvements from the upstream project.

Commento has been purchased.

Next step is to replace the Coral areas on the site with
[code]

[2021-01-12 16:34] tomusher opened #806 "Review use of Cloudinary"
Media on the Foundation site is currently split across S3 and Cloudinary. Review the use of Cloudinary to determine if we can remove a redundant dependency.

[2021-01-12 16:36] tomusher opened #807 "Improve high-level documentation"
While documentation for individual projects is of a high quality and well maintained within project ‘readme’s, high-level documentation on what tools are being used and why they were chosen is lacking. We should make use of wiki or documentation software to prepare and maintain a high-level overview of the development and DevOps activities performed within Mozilla Foundation.

- [x] Set up mkdocs

[2021-01-12 16:37] tomusher opened #808 "Merge donate sites in to a single site"
There are currently two donate sites; one for Mozilla and one for Thunderbird. To reduce hosting costs and minimise overhead, these could be merged in to a single site using Wagtail’s multi-site features.

[2021-01-12 16:38] tomusher opened #809 "Improve monitoring infrastructure"
We currently have lots of different monitoring and alerting tools that are either too noisy, or too quiet.

We should simplify the platforms we use and come up with a simple monitoring infrastructure.

[2021-01-12 16:59] tomusher commented on #801
@Pomax is there anything left to do on this one?

[2021-01-12 20:30] Pomax commented on #801
I had https://github.com/mozilla/foundation.mozilla.org/issues?q=is%3Aissue+is%3Aopen+travis as tracking issue, the only thing left for us there is figuring out the "deploy the maintenance page to S3" task

[2021-01-13 19:34] Pomax opened #810 "switch fomo-l10n and donate-l10n from travis to github actions"
Dedicated l10n followup to https://github.com/mozilla/foundation.mozilla.org/issues/5685, we should switch these l10n repositoris from travis-ci.org to github actions.

- [fomo-l10n](https://github.com/mozilla-l10n/fomo-l10n)
  - bucket: [foundation-site-translations](https://github.com/mozilla-l10n/fomo-l10n/blob/master/.travis.yml#L14)
  - [x] workflow file created
  - [x] workflow enabled in th

[2021-01-14 05:27] flodolo commented on #810
I double checked, and @TheoChevalier already has admin access to both, so he should be able to make those changes.

[2021-01-14 11:56] TheoChevalier commented on #810
Yup, can do. @Pomax just let me know when it should be done

[2021-01-14 17:15] Pomax commented on #810
The easiest is probably to have a look at how we mapped https://github.com/mozilla/foundation.mozilla.org/blob/master/.travis.yml to https://github.com/mozilla/foundation.mozilla.org/blob/master/.github/workflows/continous-integration.yml, they're _very_ similar formats with the main difference being how environment variables are referenced.

[2021-01-14 17:22] Pomax commented on #810
For S3 syncing you can probably look at https://github.com/mozilla/foundation.mozilla.org/blob/master/.github/workflows/maintenance-page.yml, we're in the process of seeing if we can get the `aws-actions` account's actions added to the list of allowed actions (we're currently restricted to the moco policy of "only repo-hosted actions, or github's own actions", but we should be able to trust AWS en

[2021-01-18 18:25] Pomax commented on #810
@TheoChevalier the aws-actions have been cleared for use by MoCo so we should be able to move ahead with this \o/

[2021-01-19 17:31] #801 closed

[2021-01-19 17:36] jamilasnell commented on #807
We should probably make an epic for documentation.

[2021-01-19 17:37] jamilasnell commented on #809
@tomusher Can you elaborate on this ticket? What exactly should we be focusing on for this issue?

[2021-01-19 17:40] jamilasnell commented on #805
@tomusher Can we move to the latest version of Coral? If not, let's move to another managed system.

[2021-01-19 17:42] jamilasnell commented on #808
We cannot do that since we do not own Thunderbird. It's a different legal entity so this is a no-go sadly. @tomusher

[2021-01-19 17:42] #808 closed

[2021-01-19 17:44] Pomax opened #811 "Align heroku database versions"
We're currently using four different postgresql versions:

- production = 9.6.2
- staging = 10.15
- review apps = 12.5
- local dev = 10.12

Let's get these all on the same version, or we're going to be chasing database ghosts, where one system's failing while everything else shows no indication of failure.

[2021-01-20 11:11] tomusher commented on #809
We need to:

* Perform an inventory of the existing monitoring infrastructure
* Review which, if any, we can shut down to attempt to consolidate on fewer monitoring platforms
* Ensure we have a documented approach to monitoring and alerting for downtime.

[2021-01-20 11:12] tomusher commented on #805
@jamilasnell We could, but I'd think removing the burden of self-hosting and continuing to keep on top of upgrades for Coral would let the team focus on the main websites.

[2021-01-20 11:13] tomusher commented on #803
Staging stacks have been upgraded for the foundation and mozilla sites. Next step is to test the stability of these and then do the same for production.

[2021-01-21 16:03] TheoChevalier commented on #810
@Pomax
WIP PR here https://github.com/mozilla-l10n/fomo-l10n/pull/32
I think I’m getting close, but I’m missing a couple things:

- I don’t have access to secret keys stored in Travis, and I’m guessing they need to be moved to the repo Settings > Environment > Add secret?
- I’m getting a complain that this env var is not set https://github.com/mozilla-l10n/fomo-l10n/blob/master/foundation/translat

[2021-01-21 22:13] Pomax commented on #805
based on https://docs.coralproject.net/talk/migration/5.0/ it looks like we can't, at least not without considerable effort. This has become more pressing as we've received a security report with an exploit for the existing Coral code that requires us to probably shut it down while we either stand up a new, latest-version copy of Coral, or switch to a managed externally hosted (but privacy-respect

[2021-01-21 22:14] Pomax commented on #805
@benhohner @tomusher I'd recommend we turn off the coral-loading script on PNI for now, and then figure out which option we want to move to as immediate followup action.

[2021-01-28 09:25] tomusher opened #812 "Audit S3 buckets"
We have a number of S3 buckets that are likely no longer used. We should audit and clean these up.

[2021-01-28 16:56] benhohner commented on #800
This already exists
https://docs.google.com/document/d/1YpNo25waIsfOXayY8_1R-nthuAp9MmR8n9NRHqOb2hU/edit

Maybe we should use this ticket to decide where to put it so it's not lost again?

[2021-01-28 17:00] tomusher commented on #800
Sorry yes, this ticket was to track the creation of that document - I just forgot to close the ticket!

We should figure out where to put it as part of #807 though.

[2021-01-28 17:09] benhohner commented on #802
Ben to set up cloudflare Business account

[2021-01-28 17:10] benhohner commented on #803
@tom When can we say these are stable enough to move to prod?

[2021-01-28 17:14] tomusher commented on #803
Foundation and Donate prod are now on heroku-20 (because the environments got promoted from staging).

For the remaining apps:

- Comments - we plan to remove
- Redirector - is on heroku-18 - I think we can leave this and look in to using Cloudflare to replace it
- Network Pulse/Network Pulse API - I need to take some more time to understand these apps before I make any changes here.

[2021-01-28 18:34] benhohner opened #813 "Dependency Upgrades Spike"
Research what dependencies need to be upgraded and which order it should be done in

[2021-01-29 09:44] tomusher opened #814 "Audit and cleanup Lambda functions"
There are a number of old Lambda functions on our mofo-projects AWS account. We should audit and clean these up.

[2021-02-01 20:23] Pomax commented on #810
most of the secrets should be available through the mofo password vault, although @tomusher should be able to help either find them or generate new values that we can use.

As for the env vars, you can set these as a github "secret" in the project settings, and then in the action yml you add it to the `env` section (so here: https://github.com/mozilla-l10n/fomo-l10n/blob/github-actions/.github/wor

[2021-02-01 21:56] Pomax commented on #805
@tomusher does this require CORS-clearing any domains beyond `cdn.commento.io`? Also, which pages will this work for? Just foundation.moz or also the staging server/review apps?

[2021-02-02 09:10] tomusher commented on #805
@Pomax I can't see any indication that it needs any additional cleared domains for CORS. This will just work for foundation.mozilla.org but I can add additional instances for the staging app which will work with the same snippet.

I'm not sure about review apps as these aren't on a consistent domain - I'll look in to it.

[2021-02-02 17:21] jamilasnell commented on #810
@TheoChevalier please re-estimate this ticket if need be!

[2021-02-03 11:23] tomusher commented on #811
As a first step for this I've added a new Postgres 12.5 addon to `foundation-mofostaging-net` and `donate-wagtail-staging`, copied across the data and made them the primary database.
The old versions remain in case we need to rollback.

@pomax could you check staging on these sites to make sure everything works as you expect?

[2021-02-03 11:37] tomusher commented on #804
I've enabled the Papertrail addon for the Foundation and Donate sites.

Next up; review what else is on Scalyr, migrate those across if applicable and then shut down Scalyr.

[2021-02-04 17:17] Pomax commented on #811
very nice, as far as I can tell this is working the same as before.

[2021-02-09 18:06] benhohner commented on #802
Working with CloudFlare support

[2021-02-11 19:36] Pomax commented on #805
Flipping the Commento switch on the foundation site, I had to add `https://cdn.commento.io/js/commento.js` to our CSP_SCRIPT_SRC cleared list to allow it to go through, but let's see if things work now.

[2021-02-11 21:20] Pomax commented on #805
Soooo this works, but I've had to turn it back off because we won't be able to use it with the default styling.  Tracking that work in https://github.com/mozilla/foundation.mozilla.org/issues/6200

[2021-02-17 21:06] #805 closed

[2021-02-18 10:31] tomusher commented on #811
I've removed the old 9.6 staging databases and done the same upgrades to the two production sites, leaving the old databases in place for now.

[2021-02-18 17:09] #811 closed

[2021-02-19 14:22] TheoChevalier commented on #810
Alright, I’ve got actions passing on both repos, with help from Tom for the AWS credentials:

https://github.com/mozilla-l10n/donate-l10n/pull/27
https://github.com/mozilla-l10n/fomo-l10n/pull/32

@Pomax the only missing piece is the Webhook URL from the Slack app. That’s indeed the app you posted, do you know who owns it, or who I need to ask to get that URL? Tom mentioned we will need to file a

[2021-02-19 14:33] TheoChevalier commented on #810
@Pomax Actually, looking at the app page, you may be able to?

<img width="243" alt="Capture d’écran 2021-02-19 à 15 32 37" src="https://user-images.githubusercontent.com/1294206/108517473-63959700-72bf-11eb-90a8-bc8102cf6184.png">

[2021-03-01 23:09] Pomax commented on #810
Ah, we have a fun problem here: I indeed have access to that app, but I don't have access to the repo settings for donate-l10n and foundation-l10n so I can't add the slack hook value to the github actions secrets... could I be added as admin to those two repos?

[2021-03-02 17:30] #731 closed

[2021-03-02 19:39] #806 closed

[2021-03-04 18:23] TheoChevalier commented on #810
The CI is enabled and working for both repos, @pomax I’ll give you the honor of disabling Travis from the website (also because I don’t have access :p), then we should be able to close this

[2021-03-04 18:39] Pomax commented on #810
![screenshot 671](https://user-images.githubusercontent.com/177243/110012875-dba78800-7cd5-11eb-84a4-ce7a1bcd0b91.png)

![screenshot 672](https://user-images.githubusercontent.com/177243/110012878-dcd8b500-7cd5-11eb-984d-0cb6d07c8587.png)

[2021-03-04 18:39] #810 closed

[2021-03-05 23:32] benhohner commented on #802
Implementation blocked by this issue Tom brought up:

Are we able to:
* Review what is using this token to determine if it's needed (i.e. is CSRF protection worth it on that request/form)
* Limit the scope of pages that set the CSRF token cookie, so we can explicitly exclude them from caching?

[2021-03-10 17:43] Pomax commented on #802
we need CSRF for PNI product voting, but that is the only route we have that's protected by `@csrf_protect` to my knowledge.

[2021-03-15 20:39] KalobTaulien commented on #802
@Pomax I don't recall off the top of my head, but my gut says no since we can check for `if request.POST` in the `serve()` method directly using any type of POST request without a CSRF token. But let me double check that before I give bad advice

[2021-03-15 20:40] benhohner opened #815 "Investigate provisioning Lambda functions for SQS"
We need SQS to be able create a PATCH or POST to a RESTful API endpoint. This is required for sending data to a Cinchy API.
In the future we may be moving away from Basket, and sending data directly to Cinchy. We need a solution in AWS to make a RESTful request.

Initial idea:
SQS -> Lambda function

Investigate:
- Possible solutions
- Feasibility
- Rough estimate of how long to implement

[2021-03-15 20:48] Pomax commented on #803
@tomusher for each of these three issues, how do we want to proceed?

1. comments: as long as we can back up the data somewhere, we can probably delete the app afterwards
1. yes, let's leave it at 18
1. I can do a call this week or next to talk you through what they do, network-pulse is a node/express project, network-pulse-api is a Django Rest Framework.

[2021-03-16 15:34] tomusher commented on #815
Just a few questions on this:

- How time critical are the messages?
- Do we have an example of the sort of messages that this will be processing?
- Is SQS required in this situation vs buffering messages in the source application and sending directly to Cinchy on a cron?

Whatever the case, the two approaches I'd expect to be most suitable are:

* Lambda to process messages, triggering appropriat

[2021-03-18 15:36] tomusher commented on #804
Everything is now on Papertail. Are you happy to go ahead and shut down Scalyr @benhohner?

[2021-03-18 15:53] tomusher commented on #809
Currently we have:

* Scalyr for log aggregation (being migrated to Papertrail)
* Splunk On-Call for on-call paging
* StatusGator for monitoring dependent services
* Healthchecks.io for cron monitoring
* AWS Cloudwatch for health checks

I have also found reference to (but not logins for):

 * Pingdom
 * Logentries

Questions to be discussed:

* Do we need/use a paging service?
* Are StatusGator a

[2021-03-22 19:40] benhohner commented on #803
Update: Heroku has let us know that every second build on the Heroku-16 stack will fail until Jun 1st when builds will stop working all together.

[2021-04-13 14:33] #803 closed

[2021-04-13 14:34] #804 closed

[2021-04-13 14:35] #815 closed

[2021-04-13 14:48] benhohner opened #816 "Create backup and Remove IHR-talk"
No longer in use, or so we think. Let's switch it off and see what happens.

[2021-04-13 15:37] tomusher commented on #816
This has been backed up to a mofo-ops bucket and shut down.

[2021-04-13 15:37] #816 closed

[2021-04-15 16:05] benhohner opened #817 "Create SQS queue in Common Voice infrastructure"
We need to send data from Common Voice to SQS to Cinchy
- [x] get access to CV infra
- [x] provision SQS staging and prod queues
- [x] Create IAM user for Cinchy and add to 1Password

[2021-04-19 16:00] tomusher commented on #809
First action taken here was to clean up some of the noise we get via Statusgator.

I've unsubscribed from all notifications channels on Statusgator except for Github, changing the alert status to only notify us when it's down, not when there are warnings.

[2021-04-26 20:28] benhohner opened #818 "Help CV team implement SQS -> Cinchy"
One person work with Jenny Zhang to implement an SQS queue on Common Voice on April 28th @12:30pm-2:30pm EST!

- [x] Work with Jenny Zhang on April 28th @12:30pm-2:30pm EST to give any resources needed to get SQS set up to send events
- [ ] Schedule any additional time required and let Ben/Jam know so we can adjust sprint.

[2021-04-26 21:29] Pomax commented on #757
This requires setting the `X-Robots-Tag` header to `noindex`, which should be fairly straight-forward in express.

[2021-05-06 16:03] #817 closed

[2021-05-10 20:59] #712 closed

[2021-05-11 14:48] benhohner commented on #807
- Set up mkdocs in https://github.com/MozillaFoundation/MoFo-Engineering-Handbook
- Move documentation from https://github.com/MozillaFoundation/mofo-devops to MoFo-Engineering-Handbook
- @tomusher document systems into engineering handbook, review AWS accounts, and Cinchy stuff

[2021-05-20 16:17] KalobTaulien commented on #818
No work is needed for this so I'm going to close this ticket. If something comes up let's create a new ticket to manage the SQS -> Cinchy work

[2021-05-20 16:17] #818 closed

[2021-05-24 15:14] #802 closed

[2021-05-24 15:40] tomusher commented on #775
These are all in two buckets (`mofo-assets` and `mofo-assets-staging`) which already have CloudFront distributions.

Do we need these additional domains?

[2021-05-24 15:41] tomusher commented on #777
I've confirmed that static assets are currently being cached via CloudFront.

[2021-05-25 13:37] tomusher commented on #776
PR at https://github.com/mozilla/donate-wagtail/pull/1465

[2021-06-21 21:12] Pomax commented on #776
assigning an estimate of 0 mostly because it's pending PR review

[2021-06-21 21:15] Pomax commented on #775
@benhohner  to see if we want higher fidelity in our bucketizations

[2021-06-22 16:02] tomusher opened #822 "Update give.thunderbird.net CNAME"
The current give.thunderbird.net CNAME is pointing at `damp-mole-onrjbbf3txlpadjanknu9cyf.ssl.herokudns.com`, but this should be `rocky-everglades-gabrah569us145jdo1e0u4ej.herokudns.com`

This old CNAME will stop working on July 31, 2021 when Heroku migrate to new infrastructure.

[2021-06-24 17:42] ayahohner commented on #775
@tomusher Would there be a benefit to billing by having separate buckets? I believe we do need to pass the costs for Thunderbird stuff along to that team, and so introspection into the costs of each set of assets would be useful

[2021-06-25 09:34] tomusher commented on #775
It wouldn't be cheaper to have separate buckets, but it would let us trace costs-per-bucket easier for passing on to Thunderbird.

For context though, our S3 costs are very small (about $5/m) - so maybe worth considering whether any additional tweaks are worth the time investment.

[2021-07-12 17:03] #822 closed, assigned to benhohner

[2021-07-12 17:07] ayahohner commented on #775
@tomusher is there a way to use a separate directory so that if we need to in the future, it's easier to migrate assets to a separate bucket?

[2021-07-13 09:41] tomusher commented on #775
@benhohner At the moment every site uses a separate directory inside that bucket - so yes it should be easy enough to migrate assets to another bucket when required.

[2021-07-14 16:02] ayahohner commented on #775
@tomusher perfect. Closing this!

[2021-07-14 16:02] #775 closed

[2021-08-10 14:39] #776 closed

[2021-08-10 14:42] ayahohner commented on #740
@TheoChevalier does this still happen?

[2021-08-11 16:49] TheoChevalier commented on #740
@benhohner Yup, this is still the current behavior, and I need to ping people to rebuild/redeploy master when translations are piling up

[2021-08-30 17:12] ayahohner commented on #740
Do we throw a github action at this?

[2021-08-31 11:33] tomusher commented on #740
I've created a [task in the mofo-cron repo](https://github.com/MozillaFoundation/mofo-cron/blob/master/tasks/redeploy_site/task.sh) that we can use to trigger an app rebuild.

How often do we want this to run? Daily?

[2021-08-31 14:44] TheoChevalier commented on #740
Sooooo cool! Daily would be great, thanks Tom!
Let me know when it’s in place for the donate site, and I can make a dummy change to check if this works :)

[2021-08-31 14:57] tomusher commented on #740
I've set that up to run at 9am UTC daily so I can monitor it.

[2021-08-31 15:00] TheoChevalier commented on #740
Awesome :) Let’s see if [this change](https://github.com/mozilla-l10n/mozilla-donate-content/commit/c1e288710e78927ac6bb848396342cedf5261080) appears on https://donate.mozilla.org/fr/faq/ tomorrow morning then

[2021-09-01 08:19] TheoChevalier commented on #740
Confirming it did work! 🎉

[2021-09-01 08:22] tomusher commented on #740
I think that's because pomax deployed last night - the automation hasn't ran yet (will run at 9am UTC).