[2016-08-29 23:20] hannahkane commented on #300
@gideonthomas - is this blocked on credentials? Can I help get those for you?

[2016-08-30 02:05] gideonthomas commented on #300
Just got credentials for all three blogs...we can proceed on this this week.

[2016-08-31 16:32] KGorr opened #404 "Can we bypass paid content requirement for YouTube Live?"
Mozilla Learning uses Google Hangouts on Air to broadcast live events for our community embedded here: monthly [Curriculum Workshop](https://learning.mozilla.org/en-US/community/curriculum-workshop) and [Community Call](https://learning.mozilla.org/en-US/community/community-call).

HOA is merging with YouTube Live effective Sept 12, so we have been trying to migrate over to the new platform.  I've

[2016-08-31 18:32] cadecairos commented on #401
I'll add these in the necessary places

[2016-08-31 18:32] #401 closed

[2016-08-31 18:38] cadecairos commented on #404
@KGorr It might be worthwhile to file a google apps request on Service-Now to see if they can help out.

[2016-08-31 19:33] simonwex commented on #404
You could also ask `soap` on IRC for help.

[2016-08-31 20:15] KGorr commented on #404
Thank you @cadecairos @simonwex!

[2016-08-31 20:18] #404 closed

[2016-09-06 14:35] cadecairos commented on #389
Were we going to redirect this to advocacy.mozilla.org?

@ScottDowne @valianttry

[2016-09-06 14:47] ScottDowne commented on #389
That was a proposal, I forget if that was a decision.

[2016-09-06 15:05] cadecairos commented on #363
Just need-info'd Peter German on the bug.

[2016-09-06 15:29] cadecairos opened #405 "Email all-mofo about how to use emergency@"
- [ ] Email about how to properly use this email address in emergencies
- [ ] Write an emergency template, link it in readme

@alicoding @gideonthomas

[2016-09-07 15:35] ileddigital opened #406 "I would like an FTP server please - for the Open IoT Studio"
Hello

Please could we set up an FTP server for the Open IoT studio with @thornet . In the first instance to be able to upload images (max 2MB each) - up to 500MBs.

Thank you

Jon

[2016-09-07 15:48] cadecairos commented on #406
I can set up a server for you, but is it possible at all for you to use something more robust like AWS S3 for image uploading?

[2016-09-07 17:11] #405 closed

[2016-09-07 19:50] cadecairos commented on #389
https://bugzilla.mozilla.org/show_bug.cgi?id=1298140

I honestly don't remember filing this, but looks like we did make a decision to redirect.

[2016-09-07 20:08] cadecairos commented on #363
@xmatthewx you should have access to all those GA properties now.

[2016-09-07 20:08] #363 closed

[2016-09-07 21:04] xmatthewx commented on #363
yay. 🐢 slow and steady wins the race every time!

[2016-09-08 18:47] cadecairos opened #409 "Set up Network Mapping app on Heroku"
### Details

- [x] A heroku app to deploy to
- [x] deploy/configure permissions for @liberaliscomputing
- [x] A GA property to track activity on the app
- [ ] ~~A Domain? (we could always just stick with the Heroku domain)~~

@alicoding is driving this.
@liberaliscomputing please correct me if I misinterpreted your needs or missed something. Ali will be able to help you with Heroku if you're unfam

[2016-09-08 18:56] liberaliscomputing commented on #409
Since the app
- has static content (HTMLs, JSs, etc.)
- should listen to participants' current status of following in real-time
- needs to be up and running during Mozfest
AWS may be more proper? I need @cadecairos ' and @alicoding 's opinions!

[2016-09-08 19:42] alicoding commented on #409
If there's no server involve in term of serving the files we have two options here. Put them on GitHub pages and create domain point to it. Or put the content on S3 and get the domain for that.

The other option we also have here is create a small node server app which will help put this up on heroku.

[2016-09-08 20:38] cadecairos commented on #409
I had a chat with @liberaliscomputing  in Mattermost and we determined that Heroku is indeed the place for this. The server component of the app is written in Python/Flask and should run perfectly fine on Heroku.

[2016-09-08 22:14] gideonthomas opened #410 "Enable HTTP 2.0"
AWS just launched HTTP 2.0 support for Cloudfront distributions. We should enable it for ALL THE THINGS so that we get perf boosts.

cc @cadecairos

[2016-09-12 16:39] gideonthomas opened #411 "CORS for Review Apps"
Review apps are great for testing out a feature. But they become redundant when we enable CORS on dependent services.

For example, when we open up a review app for the learning site, we use a lot of the functionality because it cannot communicate with the teach-api because of CORS.

It would be nice to figure out a way to regex the review app subdomains and add it to our CORS config so that we do

[2016-09-12 16:44] cadecairos commented on #411
If we can do this on staging **only** then I'm all in

[2016-09-12 16:47] gideonthomas commented on #411
Yeah this should only be for staging since that's often what is linked to in review apps

[2016-09-12 19:42] cadecairos commented on #372
https://wiki.mozilla.org/Identity/Persona_Shutdown_Guidelines_for_Reliers

[2016-09-13 15:15] #400 closed

[2016-09-13 15:22] cadecairos commented on #374
@valianttry @damiankay When do we want to do this?

[2016-09-13 15:24] cadecairos commented on #389
Ongoing

[2016-09-13 15:29] valianttry commented on #374
@cadecairos it should be happening already? I just tested and it appears to be redirecting. I'd double check with Scott, but at this point nothing should point to any sendto link.

[2016-09-13 15:38] ScottDowne commented on #374
Yeah, the redirect works fine.

The donate link in the browser's about page links to sento.

[2016-09-13 15:40] ScottDowne commented on #374
This is only really blocked because we still needed the BSD dashboard, which was used from the sendto url. Once we're done with the BSD dashboard, we can do a proper redirect from sendto, to keep it alive.

[2016-09-14 01:32] cadecairos commented on #374
@valianttry @ScottDowne So, the  page at sendto.mozilla.org does a client side redirect, meaning BSD serves the page, and then it redirects. Once our contract officially ends, we're going to have to keep the redirect working another way. (basically, I'll ask MoCo WebOps to put a permanent redirect in place)

[2016-09-16 15:56] ryanwarsaw opened #412 "Requesting S3 bucket and appropriate credentials for use with Travis CI"
### Details

I'm requesting this bucket for a project called "Jisort", it's a DSO prototype Android app. My goal is to automatically deploy the Travis CI APK binary (as a result of building the app) to S3 that would be referenced using a very short URL, allowing people to download the latest version of the app without having to setup any sort of development environment.
### Info & links

https://g

[2016-09-16 16:56] alicoding commented on #369
I have set this up and forwarded the information to @auremoser :)

[2016-09-16 16:56] #369 closed

[2016-09-16 18:44] hannahkane commented on #300
As discussed now, I think this is the order of operations:

First:
 * Migrate KC/Cha blog posts to blog.mozilla.org/gigabit -> to handle the de-duping now
 * [Move blog.webmaker.org to new url](https://github.com/mozilla/learning.mozilla.org/issues/1855) that better reflects Learning hub - pending conversation with @mcdermott415, but should be confirmed shortly

Second:
 * Migrate + redirect blog.

[2016-09-16 20:57] xmatthewx opened #413 "Add new staff member to Github teams"
Hello! Please add new design team staff member @taisdesouzalessa to our Mozilla github teams. Thanks!

[2016-09-16 21:01] xmatthewx commented on #413
Please don't add her on Friday ... so she's not overwhelmed with notifications.

[2016-09-19 12:58] ryanwarsaw commented on #412
@cadecairos is this something you could possibly help me with sometime this week, if you have a free moment? I'm also wondering what process I would need to go through in order to have something like ```mzl.la/jisort``` that could be pointed to that bucket for easy remembrance.

[2016-09-19 14:26] cadecairos commented on #412
I'll make sure this gets done in the next day or so

I have  access to the Bitly account and can get you this.

[2016-09-19 21:45] mmmavis opened #414 "Set up staging instance for mozfest-event-app"
### Details

As discussed in https://github.com/mozilla/mozfest-event-app/issues/248#issuecomment-246804138, we should

1. [ ] set up staging instance on S3
2. [ ] make sure pushing to `master` triggers updates to the staging instance.

### Info & links

- https://github.com/mozilla/mozfest-event-app/issues/248#issuecomment-246804138

[2016-09-19 22:11] mmmavis opened #415 "Set up production instance for mozfest-event-app"
### Details

As discussed in https://github.com/mozilla/mozfest-event-app/issues/248#issuecomment-247022243 , we should

1. [x] TODO No.1 ) make sure pushing to `gh-pages` triggers updates to https://app.mozillafestival.org
2. [x] TODO No.2 ) config mozbot so that non devs can easily push things from staging to production
3. [x] TODO No.3 ) config mozbot so that we can easily trigger script(@mmmav

[2016-09-20 15:27] #389 closed

[2016-09-20 17:40] cadecairos commented on #413
Invitations sent.

[2016-09-20 17:40] #413 closed

[2016-09-20 20:53] gideonthomas commented on #412
Credentials given to ryan! Bucket name: `jisort`

Ryan will clarify what the name of the object being put in the bucket will be!
From what I understand, it will only be one file that will be overwritten everytime a new version of the apk is pushed up.

cc @cadecairos

[2016-09-21 16:23] alicoding commented on #409
I've created the app on heroku and added Meenchul as project collab 👍

[2016-09-27 14:56] cadecairos commented on #409
@liberaliscomputing is there anything I can do to help you get the application ready for deployment on Heroku?

[2016-09-27 14:57] cadecairos commented on #412
@ryanwarsaw Have we got an idea of the APK URL?

[2016-09-27 15:03] cadecairos commented on #374
**Note:** The SSL Certificate for sendto.mozilla.org needs to be renewed in less than thirty days. I would prefer to not share secret key with BSD, so we should settle on a date to have the domain redirect permanently to donate.mozilla.org using our own infrastructure.

This isn't necessarily urgent, but it is important to put together a plan, soon.

cc @valianttry @simonwex

[2016-09-27 21:35] hannahkane commented on #372
picking this up again!

@cadecairos - are you okay with me sending an email to our Discourse users tomorrow and saying that Persona will no longer be available after November 1st? This would mean that we shouldn't remove it from Discourse until at least November 1st, but could do at any convenient time between Nov 1 and Nov 30. Does that work?

[2016-09-29 16:31] cadecairos commented on #332
I don't think this is happening. closing

[2016-09-29 16:31] #332 closed

[2016-09-29 21:39] mmmavis commented on #414
@cadecairos I forgot what the staging URL is 😂 Can you paste it here?

[2016-09-29 21:50] cadecairos commented on #414
here it is: https://mozfest-app-2016.mofostaging.net/

Today I learned you can make emojis into links [🎉🍰 🎉🍰 🎉🍰 ](https://mozfest-app-2016.mofostaging.net/)

[2016-09-29 21:55] mmmavis commented on #414
hahahahha that's my punctuation for period
😉

[2016-09-29 21:56] mmmavis commented on #414
Is this ticket done then, @cadecairos ?

[2016-09-30 01:54] ScottDowne opened #416 "Staging instence heroku app for salesforce to nationbuilder"
@cadecairos This request was in my inbox from Walter, and I think if it's easy, we should do it.

The idea is so things can be tested without corrupting what's in salesforce.

If you have another way to get the testing ability, I'm open to that too.

[2016-09-30 14:39] cadecairos commented on #416
@ScottDowne I've created a Heroku app (moz-nb-salesforce-staging), and a new pipeline to connect staging and production. I've set it to autodeploy master to staging and I disabled autodeploy on production.

Walter has been added as a collaborator, he just needs to configure it to use the sandbox.

[2016-09-30 14:46] cadecairos commented on #414
I think so, when we're ready for production we can file a new issue.

[2016-09-30 14:46] #414 closed

[2016-09-30 17:55] mmmavis commented on #414
[New ticket](https://github.com/MozillaFoundation/mofo-devops/issues/415) has already been filed! :smile I just need to connect to program team and update the ticket!

[2016-09-30 18:27] mmmavis commented on #415
Hey @cadecairos

### For now

Production site: https://app.mozillafestival.org/ currently shows last year's schedule. We would like to update it with some sort of "2016 Schedule is coming soon" message. What's the best way to do it? Will pushing my updates to the `backup-2015-mozfest-app` branch do the trick? https://github.com/mozilla/mozfest-event-app/tree/backup-2015-mozfest-app

### On or befo

[2016-10-03 15:02] cadecairos commented on #372
@hannahkane sorry for missing your question, I'm okay for this to go out whenever we're ready.

[2016-10-03 15:17] cadecairos opened #417 "Consider reserved instances in RDS"
we can cut our RDS expenses significantly if we use reserved instances. I can see this significantly reducing the cost to run publish, for example.

[2016-10-03 15:26] cadecairos commented on #415
@mmmavis

If you make changes to that branch, and update the "on" condition in `.travis.yml` so that the repo and branch are "mozilla/mozfest-event-app" and "backup-2015-mozfest-app" respectively, it should deploy your updates to the correct s3 bucket that's serving the current content you see on app.mozillafestival.org

Once we're ready to push the new app to production, we can grab the deploy se

[2016-10-03 15:26] auremoser opened #418 "GA token for Study Group Orientation materials"
cc:
@cadecairos
@acabunoc
@zee-moz

### Details

I put together a [little site](https://mozillascience.github.io/study-group-onboarding/) for Zannah to build the Study Group Orientation materials. In echo of the [Leadership Training site](https://github.com/zee-moz/leadership-training/) it is a Gitbook stored in [this github repo](https://github.com/mozillascience/study-group-onboarding/), using m

[2016-10-03 15:27] cadecairos commented on #415
(in the backup-2015-mozfest-app branch)

[2016-10-03 16:25] cadecairos commented on #418
@auremoser Here's the GA code:  UA-49796218-49

Be sure to [respect DNT settings with a script like this](https://gist.github.com/cadecairos/416e7abe6aab11b8317833924ed1e45d)

I sent your work email an invite to read/analyze the GA view for that page

[2016-10-03 17:03] mmmavis commented on #415
Sounds great! I'll let the MozFest team know. 🍻

[2016-10-03 17:13] acabunoc commented on #418
whoa so fast!

[2016-10-03 17:17] auremoser commented on #418
Thank you @cadecairos !!! + @acabunoc !

[2016-10-04 13:37] cadecairos commented on #388
This was completed.

[2016-10-04 13:37] #388 closed

[2016-10-04 15:12] cadecairos commented on #418
Marking this as closed

[2016-10-04 15:12] #418 closed

[2016-10-04 15:21] cadecairos commented on #416
done

[2016-10-04 15:21] #416 closed

[2016-10-04 17:52] mmmavis opened #419 "Create GA view/property for MozFest event app"
### Details

As discussed in https://github.com/mozilla/mozfest-event-app/issues/223, @cadecairos could you help create view/property (not sure what it's called, but basically the same as what we did for Network Pulse) for MozFest event app: http://app.mozillafestival.org/ ? Please grant me access once it's been created! Thanks! 😄

### Info & links

[2016-10-04 20:30] alanmoo opened #420 "Set up GA for science.mozilla.org"
### Details

We need to add GA to the new science site. Please set it up and let me know the tracking code.

[2016-10-04 20:34] cadecairos commented on #420
@alanmoo We need to make sure we wrap the GA script with this one, to respect DNT headers.

https://gist.github.com/cadecairos/416e7abe6aab11b8317833924ed1e45d

[2016-10-05 05:24] xmatthewx opened #421 "Access for Taís to Learning site Analytics"
Hello devops. Please grant our staff designer @taisdesouzalessa access to analytics. She will review learning.mozilla.org in prep for an iteration on that site.

[2016-10-05 15:00] cadecairos commented on #421
Done!

[2016-10-05 15:00] #421 closed

[2016-10-06 18:42] cadecairos commented on #420
@alanmoo Here's the tracking ID: UA-49796218-50

Remember to use the script wrapper I linked above.

Who needs access to read and analyze?

[2016-10-06 18:42] alanmoo commented on #420
Great question. @stephwright?

[2016-10-06 20:39] stephwright commented on #420
Ok... here's where I play stupid (while not really playing)... What is GA?  And DNT?

[2016-10-06 20:43] cadecairos commented on #420
GA = Google Analytics
DNT = Do Not Track (the feature that some modern browsers let you enable to ask sites to not track you)

[2016-10-06 20:52] stephwright commented on #420
Ahh!  Thanks!
Read & analyze would be at minimum: me, @arlissc, and @acabunoc as backup.
In the interest of sharing data and learning from it, is there any reason anyone in MLN couldn't at least read the analytics?  (She asks w/o knowing all that's involved.)
Guess I'm asking what the norm is here.

[2016-10-06 20:55] cadecairos commented on #420
There's no reason why any staff member shouldn't be able to read the data, it's just that we need to add people manually to the Google Analytics Property, which would be tedious to do for so many people. It's better to anticipate who needs access in the short term and handle giving out access as it's required.

I'll go ahead and add you, Arliss and Abby to the GA property, you should see an email

[2016-10-06 20:56] stephwright commented on #420
Urg... yes.  that sounds good.  Thanks!

[2016-10-06 21:35] alanmoo commented on #420
@cadecairos can you add me too, so I can make sure it works once I implement it?

[2016-10-06 21:36] cadecairos commented on #420
@alanmoo done

[2016-10-06 21:54] stephwright commented on #420
Thanks both of you!!!

[2016-10-10 17:47] hannahkane commented on #372
OK, messaging is done! (Set up a global message on Discourse.) @cadecairos - After November 1, we can flip the switch on Persona on Discourse. Is there another ticket for that already?

[2016-10-11 15:16] #420 closed

[2016-10-12 16:25] cadecairos commented on #415
@mmmavis what's the timeline for getting this live?

[2016-10-12 17:20] mmmavis commented on #415
hey @cadecairos , the program team is gonna share production app to public next Monday (or Tuesday I forgot). I will update the production instance with the new app this Friday PST morning .

Mozbot related tasks don't have to be done this week as I can still update the app via regular git push until mozbot is ready.

[2016-10-12 17:49] flamingspaz opened #422 "Decommission persona on forum.learning.mozilla.org"
Turn off persona on the learning discourse sometime in November

[2016-10-12 17:50] flamingspaz commented on #372
I got ya in #422, you'll probably have to remind me closer to the time though!

[2016-10-12 17:51] hannahkane commented on #372
OK, will remind you. Thanks!

[2016-10-12 19:51] mmmavis commented on #415
Note: I added a 4th todo to https://github.com/MozillaFoundation/mofo-devops/issues/415#issue-177911955 . Again, it doesn't have to be done this week.

[2016-10-12 19:58] cadecairos commented on #415
we can add this as a task in https://github.com/MozillaFoundation/mofo-cron

[2016-10-12 20:23] cadecairos opened #423 "Reconsider where the learning blog should be hosted"
@hannahkane @xmatthewx

I recently moved the learning blog off of webmaker.org and onto learning.mozilla.org/blog

For the most part, it worked well, but there is a notable exception to that. Because learning.mozilla.org uses a CloudFront CDN, I had to create rules that proxied requests to `/blog/*` to the learnging blog's wpengine endpoint. What doesn't work with this configuration is logging int

[2016-10-12 23:09] mmmavis commented on #419
hey @cadecairos is it possible if we can create the GA view end of this week, if not, early next week? 😃

[2016-10-13 15:06] xmatthewx commented on #423
Thanks for all the details and options.

Short-term we could set up a redirect from our preferred URL to a subdomain that WP Engine can handle. Do weird URLs matter that much in this day and age? If we added a shortlink plugin so shares can be easy, I'm not sure it matters. Long-term, I defer to @hannahkane whether it makes more since to start fetching things.

[2016-10-13 15:28] cadecairos commented on #423
What do you mean by weird urls?

If our prefferred URL is `learning.mozilla.org/blog` The only solution to make that work is probably to mimic what the science site is doing. That will require a significant investment of time to implement I think, I also don't know what issues come with previewing posts in that solution.

[2016-10-13 15:38] cadecairos commented on #419
Yes, I'll get that done today

[2016-10-13 16:14] cadecairos commented on #419
@mmmavis

[code]

[2016-10-13 16:17] xmatthewx commented on #423
`learning-blog.mozilla.org` is an odd URL for something that belongs to `learning.mozilla.org`. It's not a common pattern. It's not ideal, but it probably doesn't matter too much if we can have a simple redirect there from `learning.mozilla.org/blog`. A URL we can advertise. I'm _not_ suggesting that we redirect with a wildcard (ex: learning.mozilla.org/blog/this-blog-post).

We might also enable

[2016-10-13 16:18] #419 closed

[2016-10-13 16:20] cadecairos commented on #412
@ryanwarsaw Can we consider this closed?

[2016-10-13 16:21] cadecairos commented on #409
@liberaliscomputing Any update on this? how can I help move it along

[2016-10-13 16:28] cadecairos commented on #423
That's actually pretty easy to do

[2016-10-13 18:49] mmmavis commented on #419
@cadecairos yayyy thanks!!!

what's the above snippet for? It is the code I should include in `<head></head>` ?

[2016-10-13 18:52] ryanwarsaw commented on #412
@cadecairos Yes!

[2016-10-13 22:48] hannahkane commented on #423
cc @simonwex because this actually feels like it's pointing to a larger issue around whether WPEngine should be in our long term plans or not. Feels like this is causing more problems than it might be worth.

For the short/medium-term, I think I'm fine with @xmatthewx's suggestion, though I'm not sure I totally follow. Also wondering if the workaround described in @cadecairos's first comment (auth

[2016-10-13 23:08] simonwex commented on #423
@cadecairos could you file a support ticket with wp-engine and send them this thread? It'd be great to know if they have any suggestions.

[2016-10-14 00:41] cadecairos commented on #423
@simonwex I actually am making this recommendation based on a ticket I had open with them. They way we are doing things is "Out of scope of the support team" and they can't help me any further. They recommended a subdomain.

Using a path with wordpress isn't usually an issue, but only when it's using a real reverse proxy. Wordpress doesn't appear to take very kindly to being behind a cloudfront CD

[2016-10-14 17:05] cadecairos commented on #417
I checked out potential savings if we purchased a reserved instance for publish. We're currently using an on-demand m4.large instance at a rate of $0.182/hour (about $1500/year). buying a reserved instance and paying for a year upfront costs about $930.

[2016-10-14 18:51] liberaliscomputing commented on #409
@cadecairos I am working on fixing some issues related to the scalalbility of the app. And I figured we may not be able to use GA for this app: most of the activities with the app would be viewing user profiles and we cannot log twitter handles with GA, right? (We cannot log identifable user information with GA, right?)

[2016-10-14 19:29] mmmavis commented on #415
Hello hello @flamingspaz 😃

It's about that time of the year again! MozFesttt! 🎉

I tried to log into https://jenkins.services.mozilla.community/login?from=/  but I think my creds don't work anymore. Mind give a hand? I would like to set up mozbot like what you did for Mozilla's London All-hands App this year. If you can grant me access to the community Jenkin I can try setting it up myself (but e

[2016-10-14 19:50] cadecairos commented on #422
Actually, we've communicated to the discourse users that we're turning it off on
November 1st. However, that is the Tuesday after Mozfest, so we can always put it off to the 2nd.

[2016-10-17 08:36] flamingspaz commented on #422
the Tuesday after Mozfest it is then!

[2016-10-17 09:16] flamingspaz commented on #415
heya @mmmavis!

We had some issues with the storage on our old Jenkins instance and lost the users unfortunately, but I've just sent @cadecairos an email with creds he can fwd to you. You should see the template app and you can copy it into the new one.

I'm not sure if https://github.com/mozilla/schedule-app-data-processor/ is the correct repo but if it is, then the cryptography package will need

[2016-10-17 21:06] mmmavis commented on #415
Awesome, thanks @flamingspaz ! ✨

This is the repo for the MozFest app data processor: https://github.com/mozilla/mozfest-event-app-data-processor/blob/master/requirements.txt . Does updating `cryptography` to [v1.5.2](https://pypi.python.org/pypi/cryptography/) sound good?

@cadecairos do you mind forwarding me the creds I need to log in to the community owned Jenkin instance? 😃

[2016-10-18 08:46] flamingspaz commented on #415
yup, 1.5.2 should work fine. I opened a PR to update the ones that were failing, and it seems to work now.

[2016-10-18 16:28] #372 closed

[2016-10-18 19:03] Solanasaurus opened #424 "Enable Google Analytics for Internethealthreport.org"
### Details

Hello this is a request for Google Analytics to be enabled on the new website for Internethealthreport.org that will be publicly launched on Monday, November 21 but needs to be ready for testing the week before. So, Thursday, November 17, ideally.

Many thanks!
### Info & links

https://Internethealthreport.org

[2016-10-19 21:00] mmmavis commented on #415
### Updates:

After discussing with the team we decided to just have 2 mozbot commands (no cron job)

1. One command to trigger the Python script (Python script gets data from Google Spreadsheet, formats it, and commits `sessions.json` to the` master` branch. In short, it updates the `staging` instance )
2. One command to merge `master` into `gh-pages` (which updates production site)

I'm working

[2016-10-20 07:46] mmmavis commented on #415
@cadecairos Jenkin job to trigger updates to `master` (staging) is done! 🎉 It's called `mofo-deploy-mozfest-app-staging` in case you need to link it to mozbot 😉

[2016-10-20 20:36] cadecairos commented on #415
@mmmavis once we confirm the jenkins jobs work, can you close this out?

[2016-10-21 05:03] mmmavis commented on #415
@cadecairos it didn't work for me still. Please see error messages in `mozfest` channel in Chat.

[code]

[2016-10-25 02:45] liberaliscomputing commented on #409
@cadecairos Hey, the app is now running on https://network-mapping-app.herokuapp.com/ ! Thanks for your support and @acabunoc assigned [mzl.la/map](mzl.la/map) to this app!
By the way, I am really sorry to make the last minute request, but could I still get GA code for the network mapping app? We won't track clicked Twitter handles, but still can track which type of visualization is clicked the mo

[2016-10-27 13:05] cadecairos commented on #409
GA was set up. Marking this as resolved.

[2016-10-27 13:05] #409 closed

[2016-10-27 13:06] cadecairos commented on #415
I think we've worked out all the kinks in jenkins.

🚀

This is resolved

[2016-10-27 13:06] #415 closed

[2016-10-28 14:12] mmmavis commented on #415
Y
E
A
H
!!!
✨

[2016-11-01 17:06] flamingspaz commented on #422
this is done!

[2016-11-01 17:06] #422 closed

[2016-11-03 16:06] cadecairos commented on #374
This is done

[2016-11-03 16:06] #374 closed

[2016-11-03 16:06] cadecairos commented on #374
(https://bugzilla.mozilla.org/show_bug.cgi?id=1311146)

[2016-11-03 16:36] hannahkane commented on #422
Belated thanks, @flamingspaz!

[2016-11-03 17:07] hannahkane opened #425 "Redirect hivekc.org and hivecha.org to learning.mozilla.org/gigabit"
All of the necessary Gigabit content from these two Wordpress sites—hivekc.org and hivecha.org—has been added to a new home at learning.mozilla.org/gigabit. We can now retire these sites, by redirecting users to the new home on learning.m.o.

cc @jenntbeard @LindseyInCHA

[2016-11-03 18:50] jenntbeard commented on #425
Great, so all the unduplicated CHA/KC posts were migrated to the existing Gigabit blog? I am getting ready to put a new post up - assuming I will still do that through the Gigabit WP site.

[2016-11-03 22:32] acabunoc opened #426 "Enable Google Analytics for the Open Leadership Training Series"
### Details

Could I get a GA token & access for the Open Leadership Training Series? No rush.

### Info & links

https://mozilla.github.io/open-leadership-training-series/

[2016-11-07 20:47] cadecairos opened #427 "Decommission badgekit.org"
### Details

Redirect https://badgekit.org to https://openbadges.org

[2016-11-08 16:05] cadecairos commented on #425
Can this wait for the gigabit blog content to be migrated over to the learning blog? It would simplify setting up the redirect.

[2016-11-08 16:10] jenntbeard commented on #425
I was working on it now to go up this week - do you know when the gigabit content is to be migrated over to the learning blog?

[2016-11-08 16:18] cadecairos commented on #423
@simonwex @xmatthewx @hannahkane

Any thoughts on what to do here? Do we use a subdomain, do what the science site does, or do we deal with the previewing workaround?

[2016-11-08 16:21] alanmoo commented on #423
The approach I wanted to try with the science site might work here too, right? That is, blog.learning.mozilla.org for admin login, and then let learning.mozilla.org/blog just do its thing making WordPress API calls?

[2016-11-08 17:16] xmatthewx commented on #423
What's the staff time required to set up /blog to pull in content via API?

It might be the right longterm approach, but a cheap, short-term fix could serve us better. We could advertise and redirect `learning.mozilla.org/blog` and `/blog/admin` as a quick temp fix.

I defer to @hannahkane @simonwex on this.

[2016-11-08 17:33] alanmoo commented on #423
Oh we're not pulling in the content via API already? If that's the case, my suggestion probably doesn't stand up.

[2016-11-08 21:18] Pomax opened #428 "windows CI/smoketesting"
It's probably worth finding out if there is some kind of windows CI or automated smoketesting that we can tie into for our projects similar to TravisCI to make sure that things like `npm install` and `npm start` at least "work" rather than error out.

We run into this issue every now and then where we've baked unix-specifics into our builds that can be refactored to platform-agnostic builds (using

[2016-11-08 21:19] Pomax commented on #428
/cc @cadecairos @simonwex @alanmoo @gvn

[2016-11-08 21:26] ryanwarsaw commented on #428
Looking for a feedback on this as a potential solution: A combination of AppVeyor (for Windows) and Travis CI (for Linux & macOS) continuous integration building.

Travis CI could either initiate a build on AppVeyor directly or AppVeyor could be an additional Github hook and its result could be validated by Travis CI. Any thoughts, suggestions, ideas are welcome.

[2016-11-08 21:29] Pomax commented on #428
appveyor as separate hook would be preferable - a list of independent checkboxes is nicer than checkboxes hidden inside other checkboxes.

[2016-11-08 21:32] ryanwarsaw commented on #428
@Pomax +1

[2016-11-08 21:51] cadecairos commented on #428
+1 to appveyor and using separate hook

[2016-11-09 22:28] cadecairos opened #429 "Revive Mofo Transaction Storage"
### Details

https://github.com/mozilla/mofo-transaction-storage

I'll evaluate the amount of work it'll take to get this running tomorrow (restoring and backfilling the database so that it's up-to-date, updating the code and dependencies, etc.)

CC/ @vojtechmzl

[2016-11-10 22:55] xmatthewx opened #430 "Setup S3 bucket for Pulse"
We've got images. Need a place to store 'em. Can we have a bucket? Discussion here: https://github.com/mozilla/network-pulse/issues/228

[2016-11-11 22:35] xmatthewx opened #431 "Analytics access to Event app and Pulse"
Hello. Please give @vojtechmzl @acabunoc @kristinashu @mmmavis access to Analytics for `app.mozillafestival.org` and `network-pulse`. Thanks!!

[2016-11-14 19:26] simonwex opened #432 "Pull some stats"
### From login system

 * Total number of users
 * Total number of new users in 2014, 2015, 2016
 * Unique users logged in per month
 * Unique users logged in in the past year

### From teach

 * Unique users logged in per month
 * Unique users logged in in the past year

### From Webmaker app

 * Unique users logged in per month
 * Unique users logged in in the past year

[2016-11-14 21:58] cadecairos commented on #432
https://docs.google.com/document/d/1GPvMHrrUR7LY_1QK-n27Vy8GCuL0ZQBocEnN60kHdXk/edit

@simonwex you've been granted access.

[2016-11-15 16:21] cadecairos commented on #428
Is the deliverable here a concensus on the right approach, and the writing of documentation in the mofo-standards repo? (or a least an issue filed there?)

[2016-11-15 16:25] Pomax commented on #428
I would like the deliverable to be "have this implemented for at least one repo" so that we have a PoC that we can base a rollout for all projects on. @simonwex?

[2016-11-15 16:27] cadecairos commented on #432
completed!

[2016-11-15 16:27] #432 closed

[2016-11-15 16:46] cadecairos commented on #430
- [ ] Create an s3 bucket
- [ ] Create a CloudFront CDN to cache image assets
- [ ] create IAM user for uploading images to {s3 bucket}/network-pulse/{objects}

[2016-11-15 16:49] cadecairos commented on #425
waiting on #300 to be completed

[2016-11-15 16:50] cadecairos commented on #425
We're going to be doing the migration before All-Hands, but until then you can keep writing for the blogs.

[2016-11-15 16:50] simonwex commented on #428
What do you think the ideal repo would be?

[2016-11-15 17:14] Pomax commented on #428
I'd probably go with either science or learning, since they're "full stack" repos. Of the two, probably science because it's based on more modern code than learning is.

[2016-11-15 18:19] hannahkane commented on #423
For some reason, I'm having a lot of trouble following this thread. Is the problem with the "do nothing" option that previewing doesn't work? But there's a workaround—substitute the mozilla domain in the preview link with the wpengine domain?

If that's the case, I'd lean towards keeping it as is, rather than using a subdomain or the extra work of pulling in content via API. But I'd like to get in

[2016-11-17 13:17] cadecairos commented on #431
This is all set up

[2016-11-17 13:17] #431 closed

[2016-11-17 13:40] cadecairos commented on #403
This is being discussed in mozilla/thimble.mozilla.org#1579

[2016-11-17 13:40] #403 closed

[2016-11-23 18:42] gideonthomas commented on #430
Waiting on the back-end to be implemented after which we can exchange credentials to upload to the bucket.

The current assets have already been uploaded to the bucket and can be accessed using  https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/<asset name>
For e.g.  https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/A-Painter.png

[2016-11-23 18:57] xmatthewx commented on #430
Thanks @gideonthomas. Since it'll take time to build the back-end, I'd like to update the current links. Can you or @alanmoo generate a file list? It shouldn't be too tricky to merge that into our current data set.

[2016-11-23 19:48] gideonthomas commented on #430
I can do that!

[2016-11-23 19:51] gideonthomas opened #433 "makes.org makes are not accessible"
![screen shot 2016-11-23 at 2 49 10 pm](https://cloud.githubusercontent.com/assets/5816130/20576452/05ffa192-b18c-11e6-8b59-847715c42d75.png)
is what we see when we access any of the projects on makes.org.

This is becoming a bit urgent because apparently these links are still being used quite a bit and a lot of people are having issues trying to republish the corresponding projects through new Th

[2016-11-23 21:19] gideonthomas commented on #433
This works! Thanks @cadecairos!

[2016-11-23 21:19] #433 closed

[2016-11-24 17:28] cadecairos commented on #429
This is completed

[2016-11-24 17:28] #429 closed

[2016-11-24 18:13] cadecairos commented on #427
Badgekit.org redirecting to openbadges.org
api.badgekit.org shut down
Corresponding Heroku resources powered down (not deleted yet)

[2016-11-24 18:13] #427 closed

[2016-11-24 19:56] gideonthomas commented on #430
http://etherpad.io/network-pulse-asset-links

[2016-11-28 16:23] xmatthewx commented on #430
Thanks @gideonthomas !

[2016-11-29 16:26] cadecairos commented on #426
Waitin on a legal bug that's blocking our mofo GA account. I'll do this when that is completed, unless we need it urgently.

[2016-11-29 16:33] acabunoc commented on #426
not super urgent, waiting is cool

[2016-12-01 19:57] gideonthomas commented on #300
The blog content migration is done! Will handle the redirects in: https://github.com/MozillaFoundation/mofo-devops/issues/425

[2016-12-01 19:57] #300 closed

[2016-12-01 20:35] jenntbeard opened #434 "Remove past event from Gigabit Event Page"
### Details
MozFest has passed, we'd like to remove it from our upcoming events page. (I know eventually we will be able to do this ourselves, but I don't think we can do this yet, correct?)

### Info & links
On https://learning.mozilla.org/en-US/gigabit/events, there is an event that has passed - MozFest. Please remove it. Thanks!

[2016-12-01 20:49] gideonthomas commented on #434
Refiled in the learning.mozilla.org repo https://github.com/mozilla/learning.mozilla.org/issues/2393

[2016-12-01 20:49] #434 closed

[2016-12-02 19:16] cadecairos opened #435 "migrate mofo.build from namecheap"
### Details

- [x] Transfer domain to Mozilla
- [x] Migrate site to WPEngine
- [x] Install LetEcrypt Certificate

I'll need @OpenMatt's help on this

[2016-12-10 02:46] ryanwarsaw opened #436 "Revise bit.ly redirect for mzl.la/jisort to point to updated url"
### Details

Please change the bit.ly redirect for url ```mzl.la/jisort``` to point at ```https://github.com/mozilla/Jisort/releases```.

[2016-12-12 21:44] cadecairos commented on #436
All done

https://mzl.la/jisort

[2016-12-12 21:44] #436 closed

[2016-12-14 16:10] cadecairos commented on #406
@ileddigital Is this something you're still hoping to get set up/need a solution for?

[2016-12-20 05:59] ryanwarsaw commented on #412
The credentials I was given for the ```jisort``` S3 bucket don't appear to be valid, when I test them out in Travis CI it gives me an invalid signature error (Signature expected isn't valid).

Is it possible I can get new credentials generated and see if that solves the issue? ⛄️

Travis CI Logs: https://travis-ci.org/mozilla/Jisort/builds/185367809

[2016-12-20 06:03] ryanwarsaw opened #437 "Create bit.ly link mzl.la/jisort-latest"
### Details

Please create a bit.ly link ```mzl.la/jisort-latest``` and point it towards the S3 bucket ```jisort``` and the specific file ```Jisort-latest.apk```. Thanks! ☃️

### Info & links

[2016-12-20 16:02] cadecairos commented on #437
@ryanwarsaw What's the full URL?

[2016-12-20 16:34] gideonthomas commented on #412
@ryanwarsaw would you be able to try triggering a rebuild (I feel like this was a time-based failure)

[2016-12-20 18:28] ryanwarsaw commented on #437
@cadecairos I don't know what the full URL is for the S3 bucket, but I do know the name of the bucket and the file within the bucket it needs to point to.

[2016-12-20 18:41] ryanwarsaw commented on #412
@gideonthomas I triggered rebuild, the build still fails for the same reason.

Travis CI Logs: https://travis-ci.org/mozilla/Jisort/builds/185545923

The credentials are identical to the ones I was given, I'm thinking it could be an issue with the Travis CI integration itself, are the S3 credentials for Travis account-based ones? It could be something as simple as that, I'm unable to verify this d

[2016-12-20 20:10] gideonthomas commented on #412
It's weird that it was working before though. But now, I'm also seeing that the bucket is empty.

anayway, @ryanwarsaw I opened up a PR with new credentials and disabled the old ones: https://github.com/mozilla/Jisort/pull/238

[2016-12-20 21:29] gideonthomas commented on #412
Looks like the problem still persists. @cadecairos any ideas?

[2016-12-21 18:22] ryanwarsaw commented on #412
When I look at the ```Integrations and services``` tab in the repository settings, the Travis CI integration says it's never run (even though clearly I'm doing Travis CI builds).

[2016-12-21 20:53] jenntbeard opened #438 "Clarify gigabit language on landing page"
### Details
We would like to replace the text under the 'What is Mozilla Gigabit?' header on the landing page in an effort to be more clear about what we mean, why we're doing the work and leave people wanting to know more (not less) about the wonderful world of the gig.

Old copy:
Mozilla Gigabit Community Fund provides catalytic funding in US communities to support pilot tests of gigabit technol

[2016-12-22 21:01] jenntbeard opened #439 "Fix third criteria on Apply page"
### Details
On the Apply page (https://learning.mozilla.org/en-US/gigabit/apply), the third funding requirement criteria should read: "Leverage next-generation technologies like virtual reality, 4K video, artificial intelligence, and their related curricula"

### Info & links
https://learning.mozilla.org/en-US/gigabit/apply

@LindseyInCHA

[2016-12-22 21:03] gideonthomas commented on #438
@jenntbeard I think these issues should be filed in the mozilla/learning.mozilla.org repo instead since it is primarily content related while this repo is mainly for setting up websites/apps and making sure they stay up.

[2016-12-22 21:03] gideonthomas commented on #439
@jenntbeard I think these issues should be filed in the https://github.com/mozilla/learning.mozilla.org repo instead since it is primarily content related while this repo is mainly for setting up websites/apps and making sure they stay up.

[2016-12-22 21:13] ryanwarsaw commented on #412
It now works! Thanks @gideonthomas 🎉

[2016-12-22 21:13] #412 closed

[2016-12-23 00:11] gideonthomas commented on #438
Re-filed here: https://github.com/mozilla/learning.mozilla.org/issues/2400

[2016-12-23 00:11] #438 closed

[2016-12-23 00:12] gideonthomas commented on #439
Re-filed here: https://github.com/mozilla/learning.mozilla.org/issues/2401

[2016-12-23 00:12] #439 closed

[2017-01-03 17:06] cadecairos commented on #437
Done!

https://mzl.la/jisort-latest

[2017-01-03 17:06] #437 closed

[2017-01-03 20:48] OpenMatt commented on #435
Hey, Chris! Let me know the best way to help. I'll get you my credentials for Namecheap so you can manage whatever needs handling from that side.

[2017-01-05 21:56] hannahkane opened #440 "Redirect https://www.mozilla.org/en-US/gigabit/ to https://learning.mozilla.org/en-US/gigabit"
### Details
Now that we've launched the Gigabit section of the Learning site, we want to direct all traffic there. Can we redirect users who land on https://www.mozilla.org/en-US/gigabit/ to https://learning.mozilla.org/en-US/gigabit?

cc @jenntbeard

[2017-01-06 20:21] cadecairos commented on #435
Just waiting on the domain transfer to process now!

[2017-01-10 16:47] cadecairos commented on #424
This is done

[2017-01-10 16:47] #424 closed

[2017-01-10 16:48] cadecairos commented on #417
I don't think this will happen soon, so closing for now.

[2017-01-10 16:48] #417 closed

[2017-01-11 14:40] beccaklam opened #441 "Upload mp4 and WebM Thank You Video Exports to CDN"
### Details
Upload mp4 and WebM exports of Donor Thank You videos to cloud front and provide src to @beccaklee after.

### Info & links
Videos can be found in this folder: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0ay1vaXdUdzRLNEE
You'll need to go into each folder (cute, sincere, hero) for the mp4s and WebMs.

Thanks in advance!!

[2017-01-11 15:04] cadecairos commented on #441
- https://d24kjznqej0s8a.cloudfront.net/2016/eoy/Cute/Cute_Final.mp4
- https://d24kjznqej0s8a.cloudfront.net/2016/eoy/Cute/Cute_Final.webm
- https://d24kjznqej0s8a.cloudfront.net/2016/eoy/Hero/Hero_Final.mp4
- https://d24kjznqej0s8a.cloudfront.net/2016/eoy/Hero/Hero_Final.webm
- https://d24kjznqej0s8a.cloudfront.net/2016/eoy/Sincere/Sincere_Final.mp4
- https://d24kjznqej0s8a.cloudfront.net/2016/eo

[2017-01-11 15:04] #441 closed

[2017-01-11 20:22] cadecairos commented on #435
All done!

[2017-01-11 20:22] #435 closed

[2017-01-16 16:42] cadecairos commented on #425
@gideonthomas does this issue cover what was asked in #440?

[2017-01-16 18:36] cadecairos commented on #428
I'm going to see how this works with science.mozilla.org...

[2017-01-16 19:37] gideonthomas commented on #425
@cadecairos Probably not! Don't we have to file a bug with MoCo to redirect the traffic from there since it's on the mozilla.org domain?

[2017-01-17 21:49] cadecairos opened #442 "renew cert for hivelearningnetworks.org"
Expires Jan 19th

[2017-01-17 22:28] cadecairos commented on #442
All done!

![image](https://cloud.githubusercontent.com/assets/438003/22042730/64a82ed4-dcda-11e6-98df-77eb22e8a9c1.png)

[2017-01-17 22:28] #442 closed

[2017-01-18 19:52] acabunoc commented on #426
Hey @cadecairos! Any update on this?

[2017-01-18 20:27] cadecairos commented on #426
Yeah, the folks at MoCo who run Analytics hit a snag transferring our properties over to the new account, but they're working through it with GA Support as we speak. I'm hopeful that this (the work on GA) might be completed before next week, and I'll be able to add a view for this URL on the analytics account.

[2017-01-18 21:39] ryanwarsaw opened #443 "Verify gzip compression is enabled on cloudfront for learning.mozilla.org"
### Details

Please verify that gzip compression is enabled on cloudfront for learning.mozilla.org.

Related: mozilla/learning.mozilla.org#2408

### Info & links

**Chat Logs**
[code]

[2017-01-19 01:20] cadecairos commented on #443
I've modified the CDN to enable HTTP2 and to use compression on requests that include the "Accept-Encoding: gzip" header (it's updating as we speak)

[2017-01-19 18:42] gvn commented on #443
Nice work! This is a great perf tweak.

[2017-01-19 20:50] #443 closed

[2017-01-24 16:22] cadecairos opened #444 "Internet Health Report"
Ongoing work on the Internet Health Report

* Deployments
* Security
* etc

[2017-01-24 18:12] brettgaylor opened #445 "Transfer popcornjs documentation to Github"
### Details

If possible, lets transfer the documentation that is at
http://popcornjs.org/popcorn-docs/

Into a github repo so that we can simply host it as a github page.

### Info & links

[2017-01-24 18:13] brettgaylor opened #446 "Have popcornjs.org resolve to github page"
### Details

The popcornjs.org page hasn't been maintained in years, and we should simply have that domain resolve to the github page.  From there, we can let folks know the library is no longer maintained.
### Info & links

[2017-01-24 18:38] Pomax commented on #446
Can we figure out some good copy for the github page to explain "we don't maintain this, but if *you* want to become the maintainer, we'll be happy to give you the keys to the popcorn kingdom"?

[2017-01-24 18:57] cadecairos commented on #446
How is that site hosted? I don't have any records for it on AWS.

[2017-01-24 19:00] cadecairos commented on #446
Based on the name servers (`dig ns popcornjs.org`), I think MoCo manages it with MarkMonitor. I'll be able to file a bug for a redirect to the github project page.

[2017-01-24 19:00] brettgaylor commented on #446
@Pomax do it.

[2017-01-25 00:49] brettgaylor commented on #446
@cadecairos sounds great and matches my memory of where we landed with this.  Maybe we should grab the content from where its hosted at the same time?

[2017-01-26 18:04] floatingatoll commented on #446
Hi from MoCo webops. We (Mozilla) need to urgently implement this redirect. There are easily-discoverable security vulnerabilities with the current site and we'd rather redirect it than take it offline. @brettgaylor, since @cadecairos is PTO, is it okay if we set up this redirect immediately, and leave y'all to the effort of turning down the old instance at vesrv?

[2017-01-26 18:32] Pomax commented on #446
@floatingatoll hi from the MoFo production team: hit it. No need to keep security issues alive for a project we no longer even work on or support!

[2017-01-26 18:41] floatingatoll commented on #446
Yay, thanks :)

On Thu, Jan 26, 2017 at 10:32 AM, Mike Kamermans <notifications@github.com>
wrote:

[2017-01-26 18:52] floatingatoll commented on #446
https://bugzilla.mozilla.org/show_bug.cgi?id=1334200 filed with a note to update this issue when it's done.

[2017-01-26 19:00] Pomax commented on #446
@floatingatoll can you add me to the CC list for that bug? (:pomax should pull up the right address)

[2017-01-26 19:01] floatingatoll commented on #446
Done

[2017-01-26 19:03] brettgaylor commented on #446
@floatingatoll yes, good on the redirect, though is it possible for us to download some content that was hosted there?

[2017-01-26 19:13] floatingatoll commented on #446
Go for it - we're not doing anything to turn off the live site, so you can
grab whatever you want from the IP address:

$ host popcornjs.org
popcornjs.org has address 70.32.92.25
$ host 70.32.92.25
25.92.32.70.in-addr.arpa domain name pointer ve.gjwynspb.vesrv.com.

If you need us to delay the redirect for a couple hours to avoid having to
spoof Host headers or whatever, let me know.

On Thu, Jan

[2017-01-26 20:29] Pomax commented on #446
@brettgaylor @floatingatoll is there a tarball for the current site we can grab for archival purposes? (spidering an IP is probably going to miss out on some stuff)

[2017-01-26 20:29] floatingatoll commented on #446
No clue, we over in Webops have no visibility into this offsite hosting
y'all are using for it, sorry.

On Thu, Jan 26, 2017 at 12:29 PM, Mike Kamermans <notifications@github.com>
wrote:

[2017-01-26 21:34] Pomax commented on #446
fair point. @brettgaylor @cade do we remember where this is *actually* hosted?

[2017-01-26 21:37] jbuck commented on #446
I remember that it was on Media Temple but I have no idea about creds or anything like that

[2017-01-26 21:39] brettgaylor commented on #446
Looking back though the mists of time, I had thought we switched this over to our own internal infra....can we test if its on media temple with a whois or something?  I have a feeling it isn't, since we haven't been paying for it for some time...

[2017-01-26 21:46] floatingatoll commented on #446
10  vzd026.mediatemple.net (70.32.94.3)  83.383 ms  87.898 ms  85.574 ms
11  ve.gjwynspb.vesrv.com (70.32.92.25)  80.132 ms  127.764 ms  135.935 ms

On Thu, Jan 26, 2017 at 1:39 PM, Brett Gaylor <notifications@github.com>
wrote:

[2017-01-26 21:57] cade commented on #446
So **_this_** is how the sausage is made...

[2017-01-26 22:02] Pomax commented on #446
goddamnit @cade, I love your sportsmanship. I owe so you many drinks of your choice... /cc @cadecairos

[2017-01-26 22:38] floatingatoll commented on #446
Oh wow, heh. Yes, thank you for always putting up with us, @cade :)

On Thu, Jan 26, 2017 at 2:02 PM, Mike Kamermans <notifications@github.com>
wrote:

[2017-01-26 22:47] cade commented on #446
Today, I learned that `mofo-devops` is a repository that exists, that `mofo` is (presumably) shorthand for Mozilla Foundation, and that there's a MoFo production team. I can now tell my friends that, truly, a bunch of MoFo's keep pinging me on their issues.

It is **I** who owe **you** the thanks.

[2017-01-26 22:48] Pomax commented on #446
I am 100% on board with that assessment.

[2017-01-26 23:01] floatingatoll commented on #446
Technically I'm MoCo and we're MoFoCo, but that's beside the point.

https://www.youtube.com/watch?v=MtdoPUQimJg

On Thu, Jan 26, 2017 at 2:47 PM, Cade Truitt <notifications@github.com>
wrote:

[2017-01-26 23:22] ziegeer commented on #446
Timeout, redirect to github is now in place.  Old content should still be available at 70.32.92.25.

[2017-01-26 23:28] brettgaylor commented on #446
@Pomax dammit!  You were told not to leak video evidence of MoFos all hands gatherings!

[2017-01-26 23:33] brettgaylor commented on #446
@cade just FYI, these mofos are hiring....https://careers.mozilla.org/listings/

[2017-01-26 23:44] cade commented on #446
I've already got it planned out: a few more years' worth of trolling your issues until I've got enough content to fill a conference presentation. _Then_ I get hired. Then I work the circuit and get internet famous by giving the talk, "How I Got Hired at Mozilla by Trolling Issue Threads".

I'm pretty sure this plan is foolproof.

P.S. :1st_place_medal: for the Dr. Who video.

[2017-01-26 23:49] floatingatoll commented on #446
"Trolling issue threads" can accurately describe bug triage some days, so I think you're already ahead of the game!

[2017-01-26 23:50] brettgaylor commented on #446
Indeed.  That's literally what my kids think I do for a living.

[2017-01-27 16:26] alanmoo opened #447 "Make sure network-pulse-api-production is configured properly"
### Details
I've spun up the [network-pulse-api-production app](https://dashboard.heroku.com/apps/network-pulse-api-production/settings) on heroku,  can you take a look at it and make sure it's configured properly, with SSL and API keys, etc.? Staging server is located [here](https://dashboard.heroku.com/apps/network-pulse-api-staging)

I'd also be interested in what actually has to be done for fu

[2017-01-30 16:29] cadecairos commented on #440
In Progress: https://bugzilla.mozilla.org/show_bug.cgi?id=1335040

[2017-01-30 18:25] cadecairos commented on #335
@gideonthomas I'll be in MoTo On the 31st, so we can go over using digicert then, or I'll schedule a meeting and we can do it over Vidyo - either way I want to close out this task asap.

[2017-01-30 20:26] OpenMatt opened #448 "migrate storyengine.io from namecheap"
### Details

- [x] Transfer domain to Mozilla
- [x] Migrate site to WPEngine
- [x] Install LetEcrypt Certificate

[2017-01-30 20:27] OpenMatt commented on #448
@cadecairos we'll need to do the same thing we did with https://github.com/MozillaFoundation/mofo-devops/issues/435

[2017-01-30 21:32] cadecairos commented on #448
@OpenMatt I'm migrating the site to wpengine right now, once it's mirrored, I'll update the domains nameservers to use Mozilla's. Once that's done I'll add SSL and open a ticket to transfer the domain to Mozilla.

[2017-01-30 22:00] cadecairos commented on #446
Geez I go on vacay for three days, and look what happens!

Thanks for taking care of this!

@cade 🥇 excellent job trolling the thread

Marking this issue as closed!

[2017-01-30 22:02] cadecairos commented on #445
This is technically done already: https://mozilla.github.io/popcorn-docs

[2017-01-30 22:04] floatingatoll commented on #446
Did y'all put up whatever you needed to say at the README.md for the target of the redirect?

[2017-01-30 22:08] cadecairos commented on #445
I updated links on the readme to point to the gh-pages site, and removed references to the old site. closing this one out.

[2017-01-30 22:08] #445 closed

[2017-01-30 22:12] cadecairos commented on #448
OK migration completed & Nameservers updated - @OpenMatt Lets try not to update that site for 24-48 hours. I'll check tomorrow to see if the nameserver changes have propagated, and once I have confirmation I'll install a LetsEncrypt certificate, and shore up the security with some basic security headers. (I'll see how difficult it might be to add a content security policy)

[2017-01-30 22:21] cadecairos commented on #446
Yes,  the readme has been updated.

[2017-01-31 02:03] cadecairos commented on #446
@floatingatoll We just had a report come in that the redirect is preserving the path, which results in "https://popcornjs.org/download" resolving to "https://github.com/mozilla/popcorn-js/download"

Can we update the redirect all reqeusts redirect to "https://github.com/mozilla/popcorn-js"

[2017-01-31 02:04] cadecairos commented on #446
(reported in https://github.com/mozilla/popcorn-js/issues/476)

[2017-01-31 02:30] floatingatoll commented on #446
Yeah - just reopen the bug so we can see and fix it. It's very uncommon to
have us nuke paths, but it does come up once in a while.

On Mon, Jan 30, 2017 at 6:03 PM, Christopher DeCairos <
notifications@github.com> wrote:

[2017-01-31 04:37] brettgaylor commented on #446
@cadecairos something this re-opening made me think about - were we hosting production versions of popcornjs at that URL that we should also redirect?  Apologies for not thinking of this in advance!

[2017-01-31 04:45] floatingatoll commented on #446
Nope, that's on a CDN URL that goes to a Webops S3 bucket. I have a note here to bring that up soon :)

[2017-01-31 04:46] brettgaylor commented on #446
Thanks  - that matches my memory :)  We'll cross that bridge when we come to it in a separate issue :)

[2017-01-31 17:28] xmatthewx opened #449 "mofo-staffonly != mofo-staffonly"
In at least one repo, the mofo-staffonly team has been added as a contributor, but.... a few members in that team don't seem to show up. Their handles don't auto-complete in comments and they don't appear as an option in the Assignees drop-down.

### Info & links

@arlissc & @zee-moz can't be assigned to this issue: https://github.com/mozilla/network/issues/43

they appear in the team: https://git

[2017-01-31 17:33] cadecairos commented on #449
It's a bit confusing, but there are two mofo-staffonly teams. one under "mozilla" the other under "mozillafoundation"

I'll add arlissc and zee-moz to the mozilla team.

[2017-01-31 17:34] cadecairos commented on #449
ok, invites away

[2017-01-31 17:43] xmatthewx commented on #449
ahhhh. i knew there was an obvious reason hiding in plain sight. thanks for the trouble. closing.

[2017-01-31 17:43] #449 closed

[2017-01-31 17:54] cadecairos commented on #446
The redirect issue has been resolved.

[2017-01-31 17:54] #446 closed

[2017-01-31 19:25] mmmavis opened #450 "Set up staging and production instance for NSF site"
Context: https://github.com/MozillaFoundation/NSF-wireless-innovation-challenge/issues/2
Production URL: https://wirelesschallenge.mozilla.org
Hosting on: ~~Heroku~~ S3 (and uses Jenkins to deploy)
Production site launch date: Feb 15 ✨

Updates on Feb 8:
Staging is on https://wirelesschallenge.mofostaging.net/

/cc @hannahkane @ScottDowne

[2017-01-31 19:31] OpenMatt commented on #448
Hi @cadecairos -- ok sounds great! Thanks.

I've been doing quite a few content updates today though. Is that bad? I just exported a back-up to be safe. But we're actively working on the site pretty hard right now. Is it ok to keep going, and just do back-ups regularly?

[2017-01-31 19:42] gvn commented on #450
Since NSF does a static build I think we'll need to use the [heroku-buildpack-static](https://github.com/heroku/heroku-buildpack-static), which I haven't completely figured out.

Currently NSF is only set up for staging via gh-pages using this script:

https://github.com/mozilla/nsf-challenge/blob/master/scripts/stage.js

@cadecairos, once you have a chance to get familiar with NSF, let's meet to

[2017-01-31 19:54] mmmavis commented on #450
Please invite me to the meeting. I'm not aware of `heroku-buildpack-static` and I'd like to know more about it. 😃

[2017-01-31 20:00] gvn commented on #450
Invite sent!

[2017-01-31 20:13] cadecairos commented on #450
That buildpack is intriguing, But I worry it'll fall over under heavy load without proper caching.

[2017-02-03 14:35] cadecairos commented on #448
update: MoCo will be initiating the transfer soon

I also still need to add in the security headers plugin and start developing a CSP for the site.

[2017-02-03 18:54] mmmavis commented on #450
from the meeting we just had:

- [ ] ditch `gh-pages`
- [ ] set up staging and production on S3
- [ ] using Jenkins to deploy

@cadecairos @gvn @ScottDowne

[2017-02-03 18:57] cadecairos commented on #450
We can still use travis-ci for automatic deployes to staging, if preferred, otherwise I can set up automatic deploys on Jenkins just as easily.

[2017-02-04 00:20] gvn commented on #450
What are the pros/cons of using Jenkins vs. Travis for CI?

[2017-02-06 17:59] OpenMatt opened #451 "Move blog.workopen.org to workopen.org"
I'd like blog.workopen.org to appear at workopen.org instead

This will require a few steps:

1) Move the etherpad instance currently running on workopen.org to workopen.io
   - Before doing this, it would be good to have a look at the admin console / database to ensure there's no important data there that will get lost
2) Move blog.workopen.org to workopen.org
3) Transfer hosting from Mozilla inf

[2017-02-06 18:01] OpenMatt commented on #451
cc @jllin

[2017-02-06 18:07] OpenMatt commented on #451
I'd also like to get "matt@workopen.org" working as my email address. I'll be using a personal G suite business account for that. Once I have control over the home page for workopen.org, I should be able to set this up.

[2017-02-06 18:44] cadecairos commented on #447
I've added OAuth credentials to the production app, and I've added a Hobby dev postgres DB. (10m rows should be fine for now)

Alan, you have access to the apps Oauth settings in the Google developer dashboard (https://console.developers.google.com) just sign in with your Mozilla account to see the apps.

Should I go ahead and configure the app with a mofoprod.net domain? I personally would prefer

[2017-02-06 18:44] alanmoo commented on #447
Sounds good to me

[2017-02-06 18:45] cadecairos commented on #440
This was completed.

[2017-02-06 18:45] #440 closed

[2017-02-06 19:12] cadecairos commented on #450
@gvn I'll have to look into how well Jenkins integrates with github, but I believe it's capable of marking testing/builds as passed/failed. Downside there is we need to configure the job.

Upside of Jenkins VS Travis, is we don't have to wait in a queue for a build machine.

[2017-02-06 19:55] jlin commented on #451
Tasks:

1. disable nginx site rules for etherpad on workopen.org (digitalocean droplet) - done.
2. stand up wordpress on workopen.org - partially done
3. export post and file data from mofo version of blog.workopen.org and re-import into workopen standalone instance
4. figure out ssl certificate + setup
5. double check dns rules
6. figure out redirection (probably using nginx webserver redirect ru

[2017-02-06 20:31] jlin commented on #451
Matt moved DNS for workopen from AWS (mofo) into namecheap freedns. blog.workopen.org is cnamed for now to workopenblog.wpengine.com for the duration of the transfer.

DNS will take up to 24 h to propagate.

[2017-02-06 21:15] cadecairos commented on #450
Here's what I've set up:

## Staging
* [Jenkins Job](https://jenkins.mofoprod.net/view/STAGING/job/wireless%20challenge%20(staging)/)
  * Fully automated, on merges to master, it runs `npm i`, `npm test`, and `npm run build`, and uploads `dest/**` to the Staging folder of the S3 Bucket.

## Production
* [Jenkins Job](https://jenkins.mofoprod.net/view/PROD/job/wireless%20challenge%20(production)/)

[2017-02-06 23:32] mmmavis opened #452 "Pulse v2+ staging and production instances"
Related ticket: https://github.com/mozilla/network-pulse/issues/330

### Context

For v1
- jQuery based
~~- Staging is off of the `master` branch. URL: https://network-pulse.mofostaging.net/~~
- Production is off of `gh-pages`. URL: https://mozilla.github.io/network-pulse/

(mavis) updates on Feb 2: `master` is now used for v2 staging. What was on `master` (v1 staging code) has been moved to the `

[2017-02-07 00:10] mmmavis commented on #452
@xmatthewx @cadecairos since we are not updating Pulse v1 anymore I'm thinking maybe we can start using `master` as the dev/staging branch of v2+ code? If a v1 update is absolutely needed we can just push to `gh-pages` directly. I don't think the risk is gonna be anywhere close to high there.

[2017-02-07 00:46] gvn commented on #450
Nice! @mmmavis and @ScottDowne can you give these a shot and let us know how it works out?

Once we're feeling good about this for NSF we can set it up for MLN. 👍

[2017-02-07 17:59] OpenMatt commented on #451
@jlin let me know if there's anything more you need me to do here?

stoked to have matt@workopen.org working already :)

[2017-02-07 18:19] simonwex opened #453 "Create web page that explains transition from Mattermost to Slack"
We'll replace chat.mozillafoundation.org with this after we shut down mattermost.

[2017-02-07 19:16] alanmoo commented on #453
Simple page with an intro and a link to the Slack instance?

[2017-02-07 19:18] simonwex commented on #453
Yeah, barebones.

[2017-02-08 16:08] cadecairos commented on #448
Domain transfer completed!

[2017-02-08 16:08] #448 closed

[2017-02-08 16:16] cadecairos commented on #450
@mmmavis @ScottDowne Is there anything else we need to do here or can we call this closed?

[2017-02-08 18:09] mmmavis commented on #450
@cadecairos is https://wirelesschallenge.mozilla.org ready for us?

[2017-02-09 17:48] cadecairos opened #454 "Document the technologies MoFo Engineering and Ops will host and maintain"
We should codify the technologies that we're going to build with and support. This information is for internal use and for external contribution, as well as for contractors.

some initial thoughts:

* PostgreSQL 9.6
* NodeJS LTS
* Django 10.x
* Redis 3.2.x

[2017-02-09 18:12] simonwex commented on #454
We should probably expand this a bunch. Maybe "things that exist as supported modules on Heroku"?

[2017-02-09 18:44] cadecairos commented on #454
Do you mean something like this:

## Platforms/Languages

* NodeJS LTS (JavaScript)
* Django 10.x (Python 3.x)

## Preferred Addons

* Heroku postgres
* Heroku Redis

In most cases, if it's a Heroku Addon and your app needs it, we can use it.

There are a few exceptions:
1. Logging - We have a separate account we can use for log aggregation and monitoring with Logentries.
2. Pingdom - We have a pi

[2017-02-09 20:15] cadecairos commented on #450
This domain is being set up in https://bugzilla.mozilla.org/show_bug.cgi?id=1337904

I've requested for it to go-live on Monday/Tuesday

[2017-02-09 20:16] cadecairos commented on #447
@alanmoo can we close this one?

[2017-02-09 20:16] cadecairos commented on #447
(pressed wrong button)

[2017-02-10 00:21] OpenMatt commented on #451
@jlin I think our final steps are:
- [ ] set up the re-directs
- [ ] privacy / encryption

[2017-02-10 21:50] acabunoc commented on #426
hello again @cadecairos! any update?

[2017-02-10 21:58] cadecairos commented on #426
Hey @acabunoc - sorry for the long delay. I'm not seeing much activity in the GA account migration I've been wating on, so I just created a property and view for this.

Here's the ID: UA-87658599-3

You should get an invite by email to read/analyze the view.

[2017-02-10 22:02] acabunoc commented on #426
Thank you!

[2017-02-10 22:20] cadecairos commented on #426
You're welcome! Calling this one completed - re-open if something doesn't work right!

[2017-02-10 22:20] #426 closed

[2017-02-12 17:12] gideonthomas opened #456 "Thimble Projects staging did not exist"
Opening this as a clarification issue.

Apparently we didn't have a CNAME record for thimbleprojects.mofostaging.net, however, the cloudfront distribution refers to it as a CNAME. So, I added the record to our mofostaging set in Route53.

My questions are:
- @cadecairos did you recently add the CNAME binding to the cloudfront distribution? I feel like I don't remember such a thing as thimbleprojec

[2017-02-12 17:24] cadecairos commented on #456
Nope, haven't touched it in ages, if at all.

Prod - I'm aware of the terrible naming of the S3 bucket.

[2017-02-13 04:33] gideonthomas commented on #456
Ah ok, sooo weird! Anyway, hope I didn't break anything when I made the change.

I'll update the 404 page to the staging S3 bucket as well.

[2017-02-14 13:18] awdng commented on #73
@jbuck just curious, where did you guys end up for transactional emails after this ? We are facing similar requirements and issues with ExactTarget

[2017-02-14 16:11] cadecairos commented on #456
Closing in favour of https://github.com/mozilla/thimble.mozilla.org/issues/1716

[2017-02-14 16:11] #456 closed

[2017-02-14 16:19] cadecairos commented on #447
this feels like it's complete.

[2017-02-14 16:19] #447 closed

[2017-02-14 16:20] cadecairos commented on #450
(I've delayed the bugzilla bug until next Tuesday (Feb 21st)

[2017-02-14 16:22] cadecairos commented on #451
How goes this?

[2017-02-14 16:23] cadecairos commented on #430
@xmatthewx Was this bucket put in use for the v2 version of pulse

[2017-02-14 16:23] #444 closed

[2017-02-14 16:24] #251 closed

[2017-02-14 16:37] cadecairos commented on #406
@ileddigital ping?

[2017-02-14 17:39] alanmoo commented on #430
I believe the entries in the API are using links to images in this bucket. I'm not sure how images are being uploaded on the front end. @mmmavis?

[2017-02-14 17:55] gvn opened #457 "Set up deployment infra for Network"
### Details

We'd like to use the same deployment setup as NSF for [Network](https://github.com/mozilla/network).

[2017-02-14 18:08] mmmavis commented on #430
Ah for that I mistakenly assumed we were still doing "include a link to your thumbnail" instead of "upload your thumbnail" for the v2 initial launch. I don't know how the flow works for image uploading. Is it the front end that has to interact with S3 bucket or it's the back end's job?

/cc @Pomax

[2017-02-14 18:12] ScottDowne opened #458 "Url for stop gap copyright petition"
We're going to need a url setup for a new petition/signup page.

The page is being designed now. I don't know what the URL is going to be.

Some more context, this page is primarily something we'll use between NB and whatever new platform we land on.

The page stack might be most similar to the advocacy.mozilla.org stack, so the final page might live on Heroku.

cc @hannahkane @cadecairos

[2017-02-14 18:15] Pomax commented on #430
I don't think we ever discussed this in relation to the network pulse API server... given that you need API keys to publish to S3, and we don't want to expose those client side, this might require additional work at for the API server to accept forms with images and then rather than storing them internally, sending them on to S3 and instead storing the resulting URL.

(This probably needs a bit of

[2017-02-14 20:18] simonwex opened #459 "Renew SSL certificate on commons.ca"
Please renew certificate for commons.ca.

Next steps:
 * Evaluate WP version
 * Decide if we want to move hosts
 * Add to alerting infrastructure–It shouldn't wake us up, but we should know

### Info & links
https://docs.google.com/document/d/1mGpz36aaD7pqioai6CImZDNn6SPmr57SQCVuZVIEA04/edit?ts=58a362c2

[2017-02-14 20:49] cadecairos commented on #459
I think the best course of action for us here is:
1. copy the site to WPEngine (a very simple process)
2. Once copied, update DNS settings to use the new wordpress install.
3. Use WPEngines LetsEncrypt integration to get SSL certificates for all the sites on the wordpress install.

[2017-02-14 20:56] mmmavis commented on #452
I got everyone's +1 on https://github.com/mozilla/network-pulse/issues/360. I will update `master` with v2 work today and update this DevOps ticket.

[2017-02-14 23:19] alanmoo opened #460 "Get rid of network-pulse.mofostaging.net"
### Details
http://network-pulse.mofostaging.net is no longer needed, since we're using a heroku server/url

[2017-02-15 17:42] jbuck commented on #73
Sadly, nowhere. Most of the dependent use-cases went away a few months later

[2017-02-15 18:06] cadecairos commented on #459
* [X] Site Migrated
* [X] SSL Installed
* [X] DNS Updated
* [X] Wordpress update
* [X] Plugins updated

[2017-02-15 19:36] cadecairos commented on #459
I've just added Pingdom monitoring for commons.ca and marksurman.commons.ca

[2017-02-15 19:59] cadecairos commented on #459
I'm calling this resolved!

[2017-02-15 19:59] #459 closed

[2017-02-15 20:25] cadecairos commented on #460
done.

[2017-02-15 20:25] #460 closed

[2017-02-15 21:38] cadecairos commented on #457
OK!

## Staging
[Jenkins Job](https://jenkins.mofoprod.net/view/STAGING/job/Network%20(staging)/)
It's triggered with a webhook, building on merges to master.
it deploys to the "network-staging" S3 bucket in us-east-1, which is served using a CloudFront CDN.
Staging URL is "network.mofostaging.net" (we can change this as the title evolves)

## Production
[Jenkins Job](https://jenkins.mofoprod.net/

[2017-02-15 21:41] cadecairos commented on #457
@gvn I've filed https://github.com/mozilla/network/issues/80 to add documentation for this deploy pipeline to the README.

[2017-02-15 22:02] alanmoo commented on #452
`master` on the [pulse repo](https://github.com/mozilla/network-pulse) is now home to the React version of the site (v2)

[2017-02-16 18:09] gvn commented on #457
Looks like there are some permissions errors:

https://network.mofostaging.net/programs gives me

[code]

[2017-02-16 18:10] cadecairos commented on #457
that's curious.

[2017-02-16 18:27] cadecairos commented on #457
I found the issue, and a fix is rolling out as we speak

[2017-02-16 18:44] gvn commented on #457
Yay seems to be working!

[2017-02-16 19:46] mmmavis commented on #452
Updates:

We cleaned up the [Pulse repo](https://github.com/mozilla/network-pulse) a bit and @alanmoo helped set up the staging pipeline on Heroku yesterday. We still need to

1. have a production instance set up (@alanmoo I guess we can just do it on own end, no need DevOps help?)
2. figure out what domain we wanna use
3. create a new GA property so I can plug in the new UA code

[2017-02-16 20:02] alanmoo commented on #452
Production is up. https://network-pulse-production.herokuapp.com. If the name needs to be changed at some point that shouldn't be an issue.

[2017-02-16 20:04] cadecairos commented on #458
Is this URL something we need to go purchase?

[2017-02-16 21:46] hannahkane commented on #458
cc @shaghdoosti who I think will know the answer. I *think* she said we already own it (I don't want to list it here in case we don't), but hopefully she can confirm. She's at a conference today and tomorrow, so maybe not until next week.

[2017-02-16 21:48] cadecairos commented on #458
@caltrider asked me to get:

dontbreaktheinternet.org
dontbreaktheinter.net

(Which I already have done - they're ours)

Are these the potential domains we're using?

[2017-02-16 21:50] hannahkane commented on #458
Yes, but I believe @shaghdoosti needed to get a final OK from Ashley.

[2017-02-23 21:49] hannahkane opened #461 "Rapid Response: URL for Open Data Day website"
The Advocacy team is working on a quick build for a petition site to align with Open Data Day on March 4th. The site will be deployed on Friday, March 3.

Desired url options coming soon from @shaghdoosti

@cadecairos - do you think this timeline is feasible? Please let us know about any potential blockers.

[2017-02-23 21:53] cadecairos commented on #461
Make sure to note URL options in the mofo-devops-private repo.

I can't comment on the timeline without knowing some of the technical details of the petition:

- what's it build with
- how are we hosting it
- what kind of integrations do we need

[2017-02-23 21:55] hannahkane commented on #461
@ScottDowne can probably say more, but this will be the exact same setup as the Copyright campaign site we're building

[2017-02-23 22:01] shaghdoosti commented on #461
And I just emailed @ScottDowne and @cadecairos the URL options as well.

[2017-02-23 22:14] ScottDowne commented on #461
@cadecairos This is a copy of the copyright, with new copy. It's also more of a petition, and less of a signup. So it'll work more like our old copyright from a salesforce pov. Does that make sense?

[2017-02-24 16:11] shaghdoosti commented on #458
Talked to Ashley - let's keep the original copyright URL for the campaign. No need to switch.

[2017-02-24 16:27] cadecairos commented on #458
Sounds good! I think we also already have an SSL certificate for it 💰

[2017-02-24 21:56] cadecairos commented on #461
Just to update:

We have purchased the domain (`iheartopendata.org`), and can configure it when we're ready. I'll get the domain approved in Digicert next week (It only takes a couple minutes, and I can do it without help from WebOps now).

I've set up a Heroku pipeline with two apps.
pipelinename: iheartopendata-org
staging app: iheartopendata-org-staging
production app: iheartopendata-org-produc

[2017-02-27 17:27] hannahkane commented on #461
Woohoo! Does this take care of all the infrastructure tasks you referenced in the private repo? Should I file a separate ticket for SSL?

[2017-02-27 20:38] mmmavis commented on #452
Hey @cadecairos I believe production domain has been set up now.  What's left in this ticket is

Please ping me when the new UA code is ready for use. Thanks! 😃

[2017-02-27 20:42] cadecairos commented on #452
I'll get you that as soon as I can, thanks for the reminder

[2017-02-27 21:12] cadecairos commented on #452
@mmmavis Here's the tracking ID: UA-87658599-4

As always, be sure to wrap the GA script insertion code with the DNT respecting wrapper: https://gist.github.com/cadecairos/416e7abe6aab11b8317833924ed1e45d

[2017-02-27 23:36] mmmavis commented on #452
@cadecairos thanks! ✨ Can you grant @xmatthewx and myself access to the dashboard as well?

[2017-02-28 00:33] mmmavis commented on #452
and @Pomax and @alanmoo as well. Thanks!

[2017-02-28 15:41] cadecairos commented on #450
This is completed. Project is on hold for the time being, however.

[2017-02-28 15:41] #450 closed

[2017-02-28 15:42] cadecairos commented on #457
closing once more

[2017-02-28 15:42] #457 closed

[2017-02-28 15:43] cadecairos commented on #458
All that's left to do here is update changecopyright.org to use the new app. I'll keep this open to track that task.

[2017-02-28 15:44] cadecairos commented on #453
@alanmoo got an update?

Should I move this forward a milestone?

[2017-02-28 15:52] alanmoo commented on #453
Move it forward. We haven't heard anything about moving people yet, so I haven't set aside time to do this yet.

[2017-02-28 16:43] cadecairos commented on #452
Read+Analyze permissions granted. marking this as resolved.

[2017-02-28 16:43] #452 closed

[2017-02-28 18:31] mmmavis commented on #452
thanks for much!!! 🍰 ☕️ 🍾 ✨ ヾ(*´∀ ˋ*)ﾉ

[2017-02-28 20:15] Pomax opened #462 "make mozillapulse.org and www.mozillapulse.org do the same thing"
It looks like the name bindings for mozillapulse.org are set such that it needs the `www.` prefix to work. We'll want to add a secondary binding so that plain mozillapulse.org serves the same content.

[2017-02-28 20:17] cadecairos commented on #462
Route 53 doesn't permit CNAMEs on the apex of a hosted zone, so I'll need to use an S3 (lol) website redirect to `www`

[2017-02-28 20:28] Pomax commented on #462
brilliant

[2017-03-01 01:21] humphd opened #463 "Stats for Thimble Users and Projects from Databases"
I'm working on a report and would like to get some data from the Thimble user and project databases, specifically:

* count of users (all time)
* count of projects (all time)

* count of users (since Jan 1, 2017)
* count of projects (since Jan 1, 2017)

I’m not sure if there are any other compelling queries to add to that list?  If so, please do.

Probably it's best if you can email this to me vs.

[2017-03-01 15:05] humphd commented on #463
@cadecairos I forgot to add a range I care about, also:

* count of users (2016)

* count of projects (2016)

[2017-03-01 17:12] cadecairos commented on #463
This data has been emailed over to you.

[2017-03-01 17:12] #463 closed

[2017-03-02 17:43] alanmoo commented on #453
@simonwex So staff will be able to log in to Slack, what guidance do we have for non-staff?

[2017-03-02 19:23] Pomax opened #464 "get the webmaker component(s) removed from bugzilla"
With the retiring of webmaker as a product, and no one looking at bugzilla for any mofo-related reasons, we should have the "webmaker" component and its encapsulated products removed from the bugzilla tracker.

[2017-03-02 19:28] Pomax commented on #147
All our things have github links at this point, can we file for the removal of the webmaker component? (with Thimble on GSOC, the last thing we want is an influx of people who mistakenly assume they should use bugzilla)

[2017-03-02 19:28] Pomax commented on #464
d00p

[2017-03-02 19:28] #464 closed

[2017-03-06 19:04] secretrobotron opened #465 "Move Webmaker research reports to more appropriate home"
### Details
Right now, there are a few research reports we did in 2015 linked from https://mozilla-foundation-research.herokuapp.com/globalweb/. They're in a webmaker s3 bucket. I think we're trying to consolidate research under a certain umbrella, so it would make sense for this to live closer to, perhaps, other research we do, like the Internet Health Report.

[2017-03-06 21:49] Pomax opened #466 "fix mozillapulse.org observatory F score"
Right now we score an F on moz's Observatory test for site integrity and security, which we probably want to fix.

https://observatory.mozilla.org/analyze.html?host=mozillapulse.org

[2017-03-07 16:12] cadecairos commented on #461
This is done

[2017-03-07 16:12] #461 closed

[2017-03-08 17:08] cadecairos commented on #466
This has been resolved with https://github.com/mozilla/network-pulse/commit/f530fd1187c50bdbb64ca730982cb64054ba447c

[2017-03-08 17:08] #466 closed

[2017-03-08 17:53] hannahkane commented on #458
@cadecairos - we're shooting for a Friday, March 10th soft launch, assuming all QA tests pass tomorrow. Would this work for you?

[2017-03-08 18:23] cadecairos commented on #462
I'm rolling out a redirect from the apex to the www subdomain as I type. I'll close once it's working.

[2017-03-08 18:36] cadecairos commented on #462
fixed.

[2017-03-08 18:36] #462 closed

[2017-03-08 22:33] alanmoo opened #467 "Set up Hatchet queue for network site"
### Details
The network site is going to be pushing to basket, so from what @ScottDowne tells me we use hatchet to queue requests. Can credentials be set up for this?

[2017-03-09 00:03] cadecairos commented on #458
yes, this shouldn't be a problem

[2017-03-09 15:18] alanmoo commented on #467
Nevermind. Going to hit Basket directly since the network site is statically hosted.

[2017-03-09 15:18] #467 closed

[2017-03-09 21:49] gvn opened #468 "Ensure prod deployments are working as expected for Network"
### Details

I pushed a Network build to prod via Jenkins a few hours ago and haven't seen updates reflected on the site. Can we ensure that production builds take effect within at most a few hours?

### Info & links

https://github.com/mozilla/network/issues/119
https://network.mofoprod.net/

[2017-03-09 22:10] jlin commented on #451
got workopen.org to use letsencrypt certificates, and attained a B rating on observatory (same as the old blog). I've modified dns to cname blog.workopen.org to workopen.org so we will be off of mozilla infra entirely. sorry for delay in update.

[2017-03-10 22:53] ldecoursy opened #469 "hivelearningnetworks.org "Error establishing database connection""
### Details
hivelearningnetworks.org is currently down

It's linked from learning.mozilla.org and is also slated to be linked from the Open Leadership 101 course going live on Teachable next Wednesday

[2017-03-11 00:21] cadecairos commented on #469
Got it back up.

This happened due to the database being very poorly named in AWS (it literally had the word "delete" in the title), which led me to believe it wasn't in use. I snapshotted it and deleted it. All I needed to do to fix it was to restore the snapshot and update the WordPress configuration.

[2017-03-11 00:21] #469 closed

[2017-03-11 00:21] cadecairos commented on #469
(The database has a name that doesn't imply it's safe to delete now)

[2017-03-13 15:49] vojtechmzl opened #470 "Create GA property for the new Mozilla Network site"
### Details

The new Network site will be launching in the next few days, so we need a new GA ID. We are still waiting on the final URL, but the current placeholder URL is https://network.mofoprod.net/

Please add vojtech@mozillafoundation.org, mw@mozillafoundation.org and gavin@mozillafoundation.org to the account with admin privileges.

Thanks!

### Info & links

[2017-03-13 16:35] cadecairos commented on #470
UA-87658599-6

As always, please use the [DNT wrapper](https://gist.github.com/cadecairos/416e7abe6aab11b8317833924ed1e45d)

[2017-03-13 16:35] #470 closed

[2017-03-13 17:40] cadecairos commented on #468
@gvn I've updated the CloudFront CDN's default behaviour so that it caches objects no longer than one hour (3600 second max-age), and modified the production build to add cache-control metadata to the objects we upload to S3.

[2017-03-13 17:47] cadecairos opened #471 "Evaluate the usage of stuff.webmaker.org"
Lets determine how much this CDN is used by enabling logging.

[2017-03-13 19:36] hannahkane opened #472 "Redirect HivaCHA and HiveKC websites"
We no longer need to maintain HiveCHA.org or HiveKC.org, since we now have learning.mozilla.org/gigabit.

Can we redirect those two urls to the new gigabit home, please?

cc @jenntbeard

[2017-03-13 20:02] cadecairos commented on #468
I think we can call this closed.

[2017-03-13 20:02] #468 closed

[2017-03-13 21:18] cadecairos commented on #458
Closing this out, any new tasks can be handled in new issues.

[2017-03-13 21:18] #458 closed

[2017-03-13 21:19] cadecairos commented on #406
I haven't heard anything here in a while, so I'm closing it for now.

[2017-03-13 21:19] #406 closed

[2017-03-13 21:19] cadecairos commented on #131
We shouldn't have anything still using persona. Closing!

[2017-03-13 21:19] #131 closed

[2017-03-14 16:53] OpenMatt commented on #451
hey @jlin -- anything further needed here before we close? thanks for all your great work!

[2017-03-15 18:31] cadecairos commented on #471
well, we already log usage of this CDN, so I'll have to find a way to process all these cloudfront logs.

[2017-03-15 18:51] cadecairos commented on #471
@simonwex We're looking at around 1200 requests per day to this CDN, mostly for what look like images that are linked from webmaker kits, and requests from Mozilla clubs activities.

[2017-03-15 19:36] cadecairos commented on #472
@hannahkane Does that redirect go to "https://learning.mozilla.org/en-US/gigabit"

[2017-03-15 19:38] hannahkane commented on #472
Yes, please.

[2017-03-15 19:55] cadecairos commented on #451
I've removed the blog from MoFo's WPengine account

[2017-03-15 20:13] cadecairos commented on #472
Done!

I'll upload final snapshots of the blogs to S3 and then delete them from WPEngine.

[2017-03-15 21:47] #80 closed

[2017-03-15 21:51] cadecairos commented on #326
There doesn't seem to be much of a need for this to remain open, so I'm closing it.

It seems like we can all agree that Django is best for our API's and content management, and express is probably the best for new apps, even though they'll likely be SPAs using react-router.

[2017-03-15 21:51] #326 closed

[2017-03-15 21:56] cadecairos commented on #147
https://bugzilla.mozilla.org/show_bug.cgi?id=1347718

[2017-03-15 21:57] cadecairos commented on #335
This issue isn't relevant right now.

[2017-03-15 21:57] #335 closed

[2017-03-15 22:00] cadecairos commented on #183
This is done, but was never closed.

[2017-03-15 22:00] #183 closed

[2017-03-15 22:03] #371 closed

[2017-03-15 22:04] cadecairos commented on #423
It sounds like we're all okay with this the way it is. If that changes, we can start a new thread on the topic.

[2017-03-15 22:04] #423 closed

[2017-03-15 22:05] cadecairos commented on #425
This was fixed in #472

[2017-03-15 22:05] #425 closed

[2017-03-16 03:29] Pomax commented on #326
SPAs but with server side generated "pages" on genuine URLs for hooking the app back into.

[2017-03-16 03:47] Pomax commented on #147
I'm cool with that course of action. Let's INCOMPLETE them all and walk with progress.

[2017-03-17 14:13] jlin commented on #451
no other things needed. i think this is done. thanks!

[2017-03-17 18:03] cadecairos commented on #451
Thanks jlin!

[2017-03-17 18:03] #451 closed

[2017-03-17 18:03] #454 closed

[2017-03-17 21:06] xmatthewx commented on #430
Is this still blocked? I believe @Pomax is ready to put it to use.

[2017-03-17 21:06] Pomax opened #473 "add S3 bucket information to the network-pulse-api staging and production instances"
Can someone add the S3 bucket information to the staging and production heroku instances for the network-pulse-api, so that we can turn on image uploading?

The code uses the same S3 credential variables as the network-api, so we just need the right AWS key, secret, bucketname, etc.

[2017-03-17 23:41] Pomax commented on #473
(specific issue to address the larger issue https://github.com/MozillaFoundation/mofo-devops/issues/430)

[2017-03-19 20:20] gideonthomas commented on #473
This is done! You just need to set `USE_S3` to `False` on Heroku (for both staging and production) and it should work.

[2017-03-19 20:20] #473 closed

[2017-03-19 20:20] gideonthomas commented on #430
This has been setup and configured in the API.

[2017-03-19 20:20] #430 closed

[2017-03-20 16:07] Pomax commented on #473
I assume you meant `True`, because otherwise it won't use S3? =)

[2017-03-20 16:51] gideonthomas commented on #473
yep lol sorry, I set it to False on heroku so that you can change it when you're ready to test...it was very late at night :P

[2017-03-20 17:27] Pomax commented on #473
haha, no worries. Thanks!

[2017-03-21 17:05] HPaulJohnson opened #474 "Can't login to Slack"
### Details

I have an existing Slack account associated with my foundation email, created to collaborate on Moco marketing slack channels.

When attempting to login into the new mozilla.slack.com instance I get the following error:

"Your email address is already registered to a disabled account and cannot be reused. Please contact your Team Admins for assistance."

Let me know what I can do to r

[2017-03-21 17:09] cadecairos commented on #474
@simonwex I'm not sure who administers Mozilla Slack (I know that there's no servicedesk support set up yet, so that's off the table)

[2017-03-21 17:19] cadecairos commented on #474
@HPaulJohnson you're signing in using the SSO flow, right?

I'm not sure if pre-existing slack accounts with passwords can join the mozilla instance.

[2017-03-21 17:22] HPaulJohnson commented on #474
Yes, this is the error I get with the SSO flow.

I can login to slack outside of that flow - using my foundation.org email and a slack password - and still access and old instance we used on the advocacy team for the encryption campaign back in early 2016.

When I try to login to the mozilla instance, i get prompted to go through SSO login and get the error message above?

[2017-03-21 17:25] simonwex commented on #474
My account converted to work with SSO. I'll check in later and if it's not
resolved, will ask Sean.

On Mar 21, 2017 10:20 AM, "Christopher DeCairos" <notifications@github.com>
wrote:

[2017-03-21 17:32] HPaulJohnson commented on #474
Ok, let me know. BTW, I've been getting this error since last week when MoCo Marketing made the transition and I tried to login to chat with my peeps on that team.

[2017-03-21 17:41] cadecairos commented on #474
@HPaulJohnson You should now be able to log in - I asked an admin to activate your account on the instance - we're unsure why it was deactivated. either way you should be able to join the fun now.

[2017-03-21 18:01] HPaulJohnson commented on #474
that did the trick- thank you!

[2017-03-21 18:01] #474 closed

[2017-03-24 18:19] xmatthewx opened #475 "Setup Ask for Network site"
Docs: https://docs.coralproject.net/products/ask/

Discussion in https://github.com/mozilla/network/issues/217

[2017-03-29 14:03] cadecairos opened #476 "Decomission discourse.mozilla-advocacy.org"
This site is unused and unmaintained, so we should take it offline.

Melissa has asked that we try to migrate posts into another discourse instance (probably forum.learning.mozilla.org)

This migration will need to be investigated, I'm not sure if it's simple or not.

[2017-03-29 19:44] xmatthewx opened #477 "Purchase fallback domain for Pulse"
As discussed with @cadecairos

[2017-03-29 20:13] ryanwarsaw commented on #477
I wasn't sure if you intentionally made this vague (since it was posted on the public tracker) but if anyone decides to chime in with details domain specific, make sure it's done in: https://github.com/MozillaFoundation/mofo-devops-private rather than here. 👍

[2017-03-29 22:09] xmatthewx commented on #477
Intentionally vague 😈.  I once knew about that private repo, but forgot about it. Thanks for the reminder!

[2017-03-29 22:37] hannahkane opened #478 "Conduct RRA for PiPhone"
We're exploring [PiPhone](https://github.com/LaQuadratureDuNet/piphone) as a possible tool for supporting "call your MEP" campaigns in Europe.

Can we conduct a risk assessment to see if this is a viable option?

[2017-03-30 02:03] cadecairos commented on #478
I have serious doubts that we should use this software, based on a couple immediate observations:

1. The site has an expired SSL certificate
2. The program is written in PHP and hasn't been updated in at least 2 years (4 years for some files)

Is there a reason we wouldn't use Twillio? We've used it for call congress stuff in the past.

[2017-03-30 02:44] hannahkane commented on #478
We're looking for a tool that will support European campaigns. My understanding is that Twillio doesn't do that (?) We can look at other options, though.

[2017-03-30 18:57] simonwex opened #479 "Review Data Practices"
Let's review these and:

 * Update where appropriate (BSD refs)
 * Ensure we're following data retention policy
 * Ensure third parties are following this as well

https://mana.mozilla.org/wiki/display/DATAPRACTICES/Foundation+Data+Practices

[2017-03-31 15:24] ScottDowne commented on #478
Pretty sure Twilio can call worldwide. I think the limitations on our old app is just to figure out how make it call EU. It's a layer on top of Twilio, and it's likely making the assumption that we're only calling congress.

I think during our investigations, we should into how hard it would be to get it working in EU. Might be easier than we think.

@cadecairos Also I think given how long it's be

[2017-04-03 20:54] fox2mike opened #480 "Migrate MoFo WPEngine sites to Mozilla WPEngine org"
### Details
We'd like to move the MoFo blogs under the MoCo account and step 1 for that is to ensure that all the MoFo blogs are compatible with PHP 7. WPEngine has a Wordpress plugin for the same that you can install and once you've run your blogs past the checker and fixed any outstanding issues, we can figure out how to migrate your installs into the MoCo account.

### Info & links
https://word

[2017-04-03 22:30] hannahkane commented on #478
cc @mmmavis for background ^

[2017-04-04 17:33] hannahkane opened #481 "Figure out hosting for Advocacy team's Madlib"
The advocacy team is building an interactive madlib experience where users get to complete the sentence "A Healthy Internet is..." and their answers are added to a community collection. The madlib will be a step in a workflow that starts with users viewing a video about Internet Health, and then completing the madlib.

Parent ticket is [here](https://github.com/MozillaFoundation/Advocacy/issues/79

[2017-04-04 17:43] lovegushwa commented on #481
@hannahkane @ScottDowne also we may want multiple versions of the madlib site:

- a version for folks from our email list
- a version or two for social testing (Alex could weigh in here.)
- a version for snippet traffic.

I'm curious if these 'threads' develop different tones based on the origin of the traffic.
If we need to shut one of these down for troll reasons we can still link to another ver

[2017-04-04 17:44] ScottDowne commented on #481
Current repo is here: https://github.com/beccaklam/internet-health-madlib

It's not super hard to move that into a.m.o. I see a few things to consider, though.

1. Can @cadecairos setup some redirect magic so it lives on a.m.o even if the code is not in the repo, and if so, is that better resource usage than me putting it into a.m.o repo?
2. a.m.o is a localized site that's on pontoon. So if we di

[2017-04-05 02:48] cadecairos commented on #481
unless absolutely necessary, lets keep this off of mozilla.org

[2017-04-05 05:00] hannahkane commented on #481
Is our other option to purchase a new domain?

[2017-04-07 21:34] hannahkane commented on #481
ok, we have a domain we'd like to purchase. @cadecairos - I'll email you separately.

[2017-04-08 01:22] hannahkane commented on #478
We can close this. We'll find another tool, given the early flags.

[2017-04-08 01:22] #478 closed

[2017-04-08 01:23] hannahkane commented on #481
Closing as this is now duped in the private repo.

[2017-04-08 01:23] #481 closed

[2017-04-08 01:27] hannahkane opened #482 "Host "Week in the Web" news matrix"
@beccaklam or @ScottDowne - could one of you please point to the news matrix landing page repo?

As discussed in Slack, the team would like to host this at weekintheweb.mozilla.org.

Any concerns?

[2017-04-08 01:27] hannahkane commented on #482
cc @lovegushwa @caltrider

[2017-04-10 15:45] #477 closed

[2017-04-10 15:45] cadecairos commented on #477
Issue moved to [MozillaFoundation/mofo-devops-private #50](https://github.com/MozillaFoundation/mofo-devops-private/issues/50) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-10 15:56] cadecairos commented on #475
based on https://github.com/mozilla/network/issues/217#issuecomment-291954248 Lets close this issue for now.

[2017-04-10 16:00] cadecairos commented on #453
@alanmoo Is there anything else to do here?

[2017-04-10 16:24] alanmoo commented on #453
I believe shutting down Mattermost is still pending a course of action for contributors, no? At that point I'd actually need to build this page.

[2017-04-10 21:26] cadecairos commented on #480
@fox2mike I've run the compatibility wizard on all our WPEngine installs and put the results in this Google Sheet: https://docs.google.com/a/mozilla.com/spreadsheets/d/1DmfC1wLU5bNP9ga2VQQ3lPGLJV6wB9vqOteKR-J7le0/edit?usp=sharing (Mozilla auth req'd to view)

Lots of compatibility issues to address. :(

[2017-04-11 14:16] cadecairos opened #483 "Paper-Rain requests"
Studio Moniker has requested some resources for the ongoing Paper-rain project

* S3 Bucket
* Heroku app with Postgres + Redis + S3 credentials with write access to the S3 bucket.

[2017-04-11 15:58] cadecairos commented on #483
bucket: paper-rain-tiles
app: https://dashboard.heroku.com/apps/paper-rain-tiles

[2017-04-11 15:58] #483 closed

[2017-04-11 20:03] cadecairos opened #484 "Investigate paypal webhook complexity"
Investigate how paypal webhooks are implemented and report back an estimation of the work to the Donation Data project members.

[2017-04-12 21:40] taisdesouzalessa opened #485 "Google Analytics access (Mozilla Network Site)"
### Details
Could you please give Google Analytics access (Mozilla Network Site) to me, Sabrina and Hannah?

[2017-04-13 14:16] cadecairos opened #486 "Deploy typeoutloud.org"
### Details

Deploy https://github.com/mozilla/internet-health-madlib to typeoutloud.org

[2017-04-14 20:33] auremoser opened #487 "Mapping Global Sprint event to Global Sprint site"
### Details

I'd like to map the current event posting on Mozilla Science's site to the website for the Global Sprint made by @acabunoc, just so there is some consistency in how we direct our community to resources about the Global Sprint 2017.
Ideally, we would be able to keep the current card/link for the Global Sprint at science.mozilla.org and when a user clicks on the card or visits the link,

[2017-04-14 20:34] auremoser commented on #487
@k88hudson it's o.k. if you'd like to reassign someone else, and feel free to point me to another person/place to post this if it's not appropriate in devops. Thanks!

[2017-04-14 21:39] flamingspaz commented on #476
/cc @leomca

[2017-04-15 20:56] acabunoc commented on #487
Thanks @auremoser!

To summarize, we'd like https://science.mozilla.org/programs/events/global-sprint-2017 to redirect to http://mozilla.github.io/global-sprint/

[2017-04-17 17:18] gideonthomas commented on #487
@cadecairos I can do this if you're busy, feel free to assign this to me

[2017-04-17 17:20] cadecairos commented on #487
@gideonthomas If you can spare the time to handle this, I'd be in your debt

[2017-04-17 18:28] hannahkane commented on #482
ping @cadecairos - seemed like you thought this was going to be more difficult than I'd originally thought. Can you clarify what we need to do to get the Week in the Web page up somewhere, even if it's not at this preferred url?

[2017-04-17 18:30] hannahkane opened #488 "Set up internethealth.typeoutloud.org"
The science madlib worked well, so now we're ready to move forward with the next one, which will be internethealth.typeoutloud.org.

@lovegushwa or @HPaulJohnson - can you clarify if there's a hard deadline for this?

cc @ScottDowne

[2017-04-17 18:32] ScottDowne commented on #488
@cadecairos Not sure yet how I'm setting up this repo. So now's a good time to make any suggestions that make it easier for you to setup the subdomain.

[2017-04-17 20:23] #487 closed

[2017-04-17 21:05] ScottDowne commented on #488
For the URL, I chatted with @cadecairos and @hannahkane and we think gong forward, we should move the url structures to https://www.typeoutloud.org/science and https://www.typeoutloud.org/internethealth

The advantages here is we can ship things faster with less people involved and maintain them easier in one repo.

The disadvantage is the url is a little different?

[2017-04-17 21:52] simonwex opened #489 "Recover youtube account – with a Vengeance"
The account: https://www.youtube.com/user/Mozilla

The original account that created the youtube account was:
chelsea@mozillafoundation.org

This was before we transitioned our mozilla accounts to Google/OKTA.

This account was disabled during leave which was when the migration took place.

[2017-04-17 21:58] simonwex opened #490 "CF change for network.mofostaging.net"
Add `/opportunity` as a valid pattern for network-api origin.

[2017-04-18 15:22] xmatthewx opened #491 "Create CMS accounts"
Hi team. Please create accounts for network site CMS for our editors.
 - [x] me `super admin`
 - [x] @samanthaburton `admin`
 - [x] @chrislarry33 `admin`
 - [x] Kevin (I believe he's on there already) `admin`

Thanks!

cc @cadecairos @gideonthomas @Pomax @simonwex

[2017-04-18 15:24] cadecairos commented on #488
* Heroku App
* Link to repo
* Set up Automatic SSL using LetEncrypt
   * Route53 CNAME "www.typeoutloud.org" to "www.typeoutloud.org.herokudns.com"
   * enable Automatic SSL certificate management in Heroku app settings page

[2017-04-18 15:29] cadecairos commented on #489
@simonwex

So we need to get in touch with Service Now folks and re-activate that email/inbox, get a reset link, and recover the account?

[2017-04-18 15:38] cadecairos commented on #491
@xmatthewx What permissions do you think super admin should have that admin doesn't have?

This will inform how the group permissions for "superadmin" and "admin" are set up.

[2017-04-18 15:42] Pomax commented on #491
admins cannot delete users or change user permissions, they are "content" admins.
- user: plain user
- staff: (verified) mozilla staff (not automatically admin)
- admin: content admin (not automatically staff)
- superuser: full cms admin

[2017-04-18 15:49] xmatthewx commented on #491
Thanks. If you give me the power, I'll take responsibility for creating user accounts for others.

[2017-04-18 15:53] gideonthomas commented on #490
Should be done!

[2017-04-18 15:53] #490 closed

[2017-04-18 15:54] Pomax commented on #491
@xmatthewx you already have an account on network-api.mofostaging.net

[2017-04-18 15:58] cadecairos commented on #491
superuser: this is a django thing, implies all permissions by default - I think we should only ever have one su account (devops)
superadmin: user administration + admin + staff
admin: Content removal (delete pages/people/features/news) + staff
staff: Content creation (create/update pages/people/features/news)
user: we don't currently use these

[2017-04-18 16:19] TomFarrow commented on #489
The channel is no longer associated to chelsea@

After the Google Apps migration, the organisational domain took priority, generating an access conflict. This was resolved by Liz Hull by changing the owner of the YouTube channel to a gmail.com account

I'll send you both an email with the current ownership email address (keeping out of here for security) and let you go from there. I'd suggest reac

[2017-04-18 16:24] Pomax commented on #491
"user" is a thing you get simply by having a login without any special flags set.

[2017-04-18 16:56] cadecairos commented on #491
no, this is a proposal.

Current group setup is "admin" and "staff" where admin grants user management.

[2017-04-18 16:58] xmatthewx commented on #491
I suggest that we continue the conversation on definitions here: mozilla/network-pulse-api#110

I'd like to just get accounts so I can onboard Chris and Sam. So they can start adding content. Sorry if my initial comment complicated this.

[2017-04-18 20:43] xmatthewx commented on #491
done. thanks all.

[2017-04-18 20:43] #491 closed

[2017-04-19 17:52] cadecairos commented on #471
@simonwex Do you think there's anything actionable here? There seems to be a steady flow of requests to this CDN.

[2017-04-19 17:53] cadecairos commented on #480
I'll start fixing the compatibility issues once I can set aside the time to do so (hopefully in the next few weeks)

[2017-04-19 17:54] cadecairos commented on #486
duplicate of #488

[2017-04-19 17:54] #486 closed

[2017-04-19 18:32] cadecairos commented on #485
@taisdesouzalessa @hannahkane @sabrinang You should all recieve emails about your access to the property. let me know if there's any trouble accessing the data.

[2017-04-19 19:28] cadecairos commented on #484
This probably isn't as hard as I believed. Dropping my research notes below:

PayPal Webhook Documentation: https://developer.paypal.com/docs/integration/direct/webhooks/rest-webhooks/

* HTTP POST to an endpoint
* requests are signed - need to verify each (using SDK below?)
* PayPal-node-SDK: https://github.com/paypal/PayPal-node-SDK/tree/master/samples/notifications
* JSON Formatted!!!
* Events

[2017-04-19 19:28] #484 closed

[2017-04-19 23:37] taisdesouzalessa commented on #485
Hey @cadecairos I can't see this property in my dashboard (I just see the learning site, which I already had before). Is there anything I am missing or any other place I should be looking for it? It seems Hannah has the same issue. Reopening the ticket here.

<img width="763" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/25206676/67b97d94-2537-11e7-9947-5f70e5a747ab.png">

[2017-04-19 23:57] cadecairos commented on #485
Is there a silhouette image on the top right of the screen, as pictured here: https://i.imgur.com/aoyCB5T.png

[2017-04-20 00:03] taisdesouzalessa commented on #485
@cadecairos Yes, I clicked on the other account and found it! Didn't see the option at all before. Thanks for your help, Cade. Closing the ticket.

[2017-04-20 00:03] #485 closed

[2017-04-20 11:18] LeoMcA commented on #476
It looks like it's possible with relative ease: https://meta.discourse.org/t/topic-and-category-export-import/38930

I'm not sure how it handles conflicting usernames, emails and the like, so you might want to do a trial run with a copy of the instance you're migrating into.

[2017-04-20 19:51] fox2mike commented on #480
@cadecairos Sure thing. You can maybe reach out to Ryan or Craig to help with some ideas on some of these fixes because they went through the same exercise for the main blog. Thanks!

[2017-04-22 13:18] #488 closed

[2017-04-22 14:02] ScottDowne commented on #488
@hannahkane I think the only hard blocker to this being something we can
drive traffic to is share? Is that how you see this too?

[2017-04-22 19:01] hannahkane commented on #488
@ScottDowne - not sure I understand your question. Can you please rephrase?

[2017-04-22 20:32] ScottDowne commented on #488
I was just asking about when we consider this ready. I think there are a
few more enhancement features we want to add but the only blocker is share
progress. Right?

[2017-04-24 16:17] hannahkane commented on #488
Ah, yes. For some reason that was hard for me to parse, but yes, agree.

[2017-04-26 23:10] Solanasaurus opened #492 "Subdomain on Internet Health Report"
### Details
We will soon (early May!) be starting a discussion forum/voting process for the “indicators” that we want to include in the next version of the internet health report using an external tool/vendor called Consider.it.
We need help to:
a) create a subdomain (indicators.internethealthreport.org)
b) add a DNS record pointing indicators.internethealthreport.org to internethealthreport.consi

[2017-04-27 15:41] cadecairos commented on #471
Since the domain is still used, I'm just going to close this out, with no action taken on the CDN.

[2017-04-27 15:41] #471 closed

[2017-04-27 22:44] xmatthewx opened #493 "Set up Ask for Network site"
MoFo is keen to use Coral's Ask tool for engagement with the network. We'd like to set this up soon for use during the member preview period.
 - Long-term, we can explore migrating to SaaS option with Coral, but it's not viable now.
 - Short-term, we can look at the instance for Internet Health Report. Unsure, but maybe that can serve our purpose.
    - I will investigate from an admin perspective

[2017-04-27 22:45] xmatthewx opened #494 "Set up analytics for Story Engine"
No rush, but we'd like to add analytics to https://storyengine.io/. Is this hosted with wpengine?

We'll be linking to it from the network site.

[2017-04-28 14:50] cadecairos commented on #493
no, we don't run that, I'm pretty sure it was set up by the Coral folks.

[2017-05-01 15:36] cadecairos opened #495 "Set up production infrastructure and deployment pipeline for paper storm"
* [x] Heroku app for API
    * [x] https://api.paperstorm.it (Heroku ACM using Let's Encrypt)
    * [x] Postgres
    * [x] Redis
* [x] Heroku app for Tile Server
    * [x] https://tile-server.paperstorm.it (Heroku ACM using Let's Encrypt)
    * [x] Postgres
    * [x] Redis
* [x] EC2 instance for Kirby CMS
    * [x] m3.medium?
    * [x] +ELB
    * [x] +Cloudfront
    * [x] https://cms.paperstorm.it

[2017-05-02 16:06] cadecairos commented on #493
@xmatthewx What's our timeline on this, should I prioritize setting up infrastructure for this tool?

[2017-05-02 16:09] cadecairos commented on #494
Yes this is WPEngine.

1. [ ] Add GA property
2. [ ] Add GA plugin to wordpress?
3. [ ] Add tracking code

[2017-05-02 22:12] gideonthomas commented on #494
This is done and should work as long as the wordpress theme for that site doesn't change

[2017-05-02 22:12] #494 closed

[2017-05-03 00:59] xmatthewx commented on #493
I'm not familiar with your other priorities. This is pretty high relative to other network site and pulse things. If you're able to poke at it this week, that'd be great.

[2017-05-03 20:47] cadecairos commented on #495
This is all set up.

I still need to add log monitoring to the heroku apps and the cms.

[2017-05-04 21:35] cadecairos commented on #495
This is done

[2017-05-04 21:35] #495 closed

[2017-05-05 18:53] Pomax opened #496 "add google auth API keys to network-api staging"
The Network-API has Google Auth provisioned, and needs a google key and secret value set in order to become live. The only APIs this app will need is Google+, so that user authentication can happen.

The env vars needed are:
[code]

Note that the key/secret may end in `.app.google.blahblahblah`: that part should not be used. Only the string data preceding `.app......`

The callback URL will need t

[2017-05-05 19:46] cadecairos commented on #475
@xmatthewx I've set up https://ask.mofoprod.net

Login credentials are in 1Password, and access to them will need to be managed there.

Ask doesn't let you specify the custom domain for surveys, but they're available at `https://survey.mofoprod.net/$UNIQUE_ID_FOR_FORM` - we'll have to sub-in the CDN domain manually, since ask will give us the S3 site URL by default.

[2017-05-05 20:37] cadecairos commented on #475
@xmatthewx

I've been chatting with the folks in the coral project slack channel and I found out how to create users.

I can generate accounts for anyone you ask me to (needs to be done while SSH'ed into the server) and I'll send their credentials over a E2E encrypted channel (such as Signal or Telegram)

[2017-05-05 21:56] xmatthewx commented on #475
Excellent. Thanks @cadecairos

@hannahkane – let's gather a list of people who should be able to create an Ask survey or form. I'm thinking you, me, @charissalaisy from 270, Claw, Sam B, Paul Z. Maybe Abby or someone working on global sprint? Anyone else?

Any user can create a survey and share it with a link like survey.mofoprod.net/xyz123.

In addition, we can prep to embed them on a new page cr

[2017-05-05 22:11] cadecairos commented on #475
We've enabled the iframe tag on the CMS for rich text fields, so embedding forms should not be a problem.

I suggest we write a guide to on-board people using this tool with the CMS.

Also, I just realized this is the closed issue, not the open one. oops!

[2017-05-05 22:11] cadecairos commented on #493
Closing in favour of the issue with all the comments. #475

[2017-05-05 22:11] #493 closed

[2017-05-08 15:53] Pomax opened #497 "add google auth API keys to network-api prod"
In follow-up to https://github.com/MozillaFoundation/mofo-devops/issues/496, we should add google oauth2 creds to the network-api prod instance once we're convinced staging does the right thing.

[2017-05-13 00:05] Pomax opened #498 "add CDN routing for network pulse endpoints on network-dev"
The following network-dev staging routes need to be resolved to the network api instance in order for pulse clients to work:

- `/nonce`
- `/userstatus`
- `/login`
- `/logout`

And then for the "full API under a namespace" let's clear `/api/pulse` as base route

[2017-05-13 00:10] hannahkane opened #499 "RRA and vendor review for Call Power"
We're looking at [Call Power](http://callpower.org) (docs [here](https://github.com/spacedogXYZ/call-power/)) as a potential replacement for our "Call Congress" tool.

One of the first steps is finding out if it passes our reviews. Please let me know what add'l info is needed to start the review process. thanks!

[2017-05-15 13:15] cadecairos commented on #497
This has been completed.

[2017-05-15 13:15] #497 closed

[2017-05-15 13:16] cadecairos commented on #496
This is complete

[2017-05-15 13:16] #496 closed

[2017-05-15 13:16] cadecairos commented on #492
This was completed late last week.

[2017-05-15 13:16] #492 closed

[2017-05-15 13:31] cadecairos commented on #475
@xmatthewx I'm going to close out this issue, when we're ready to onboard users to ask, lets do so in a new issue.

[2017-05-15 13:31] #475 closed

[2017-05-16 14:36] cadecairos commented on #499
Is the plan to self-host it or use their [hosting plan](http://callpower.org/hosting/) options?

If not, be aware that their documentation for self hosting looks out of date, since it includes instructions for setting up keys for a shuttered Congressional data API (sunrise foundation)

[2017-05-17 14:02] cadecairos commented on #498
This is not needed since the routes are on `/api/` which has the correct behaviour settings.

[2017-05-17 14:02] #498 closed

[2017-05-18 17:30] cadecairos commented on #349
I think we should takle this on a case-by-case basis, since we've got over 200 repos on github.

[2017-05-18 17:30] #349 closed

[2017-05-18 18:01] cadecairos commented on #411
@gideonthomas I think this should be re-filed on the project repos that specifically need these changes.

[2017-05-18 18:01] #411 closed

[2017-05-18 19:10] cadecairos commented on #482
@hannahkane was this ticket still relevant or did we finish working on this elsewhere?

[2017-05-18 23:08] hannahkane commented on #482
This is on hold for now. I think I'll close it, and will re-open if/when we need to.
Thanks for the reminder, and sorry to have this clogging up your queue!

[2017-05-18 23:08] #482 closed

[2017-05-18 23:38] hannahkane commented on #499
Good question; I will try to find out.

Is the Sunlight Foundation API not still operational? I thought it was being run by someone else.

If it were still in use, would you have a preference between self-hosted or not?

[2017-05-29 02:44] Pomax opened #500 "add publish.wmo to http://status.mozillafoundation.org/"
Right now there's status information for thimble, and login, but not for the publish server, which is crucial to thimble but can fail independently of it.

[2017-05-29 03:18] cadecairos commented on #500
does it have a healthcheck endpoint?

[2017-05-29 17:06] mmmavis opened #501 "Verify that Hatchet settings/configs for MozFest still works"
Hey @cadecairos

MozFest's Call for Proposals opens on June 1 and I'm currently working on getting all the updates implemented on the MozFest site. Last year we had transaction emails sent to people after they submitted their proposals. This year we would like to do the same (note that I need to do some code cleanup still). I see on Heroku there are a few configs related to Hatchet, could you help

[2017-05-29 17:26] cadecairos commented on #501
@mmmavis I noticed that the app was using credentials for a user that had far more permissions than it needed to send messages to sawmill. I created a new AWS user and key pair for the mozillafestival.org server and updated the credentials.

TLDR: it should work perfectly, but if not, lets open a new issue to troubleshoot it.

[2017-05-29 17:26] #501 closed

[2017-05-29 19:11] Pomax commented on #500
it does. The info is summarily at best (it's just `{"http":"okay"}`) but it should be there.

[2017-05-29 20:19] cadecairos commented on #500
Done: http://status.mozillafoundation.org/2968192

Bonus status banner
![publish status banner](https://share.pingdom.com/banners/982521e2)

[2017-05-29 20:19] #500 closed

[2017-06-02 13:42] alanmoo opened #502 "Create view for localhost analytics on network site"
While developing, it should be easy to see the analytics from a development build of the site, so we know that our analytics code is doing something. Could be hits from localhost:2017 or 127.0.0.1:2017.

[2017-06-02 13:52] cadecairos commented on #502
@alanmoo I created a "Dev" view with include filters for localhost and 127.0.0.1

Can you verify that analytics are going through?

[2017-06-02 14:41] cadecairos commented on #502
I loaded up the network site on `localhost` and saw that my session was logged on GA. marking this issue closed.

[2017-06-02 14:41] #502 closed

[2017-06-02 14:44] ldecoursy opened #503 "Upgrade to latest version of Discourse for Mozilla Learning instance"
### Details
We're currently running an outdated version of Discourse for https://forum.learning.mozilla.org. Can we update to v1.9?

[2017-06-02 14:49] cadecairos commented on #503
@flamingspaz Would you be able to spare some cycles for this, or perhaps we can vidyo and you can show me the processes around deploying updates to the docker image? (It's on docker, iirc?)

[2017-06-02 15:47] flamingspaz commented on #503
It does run on docker, but the whole image baking stuff is mostly manual iirc. It probably makes sense for me to make a Jenkins job that you can run whenever. I'll add it to my backlog but I can't guarantee I can get it done before the all hands. If I can't do it next week I can just update it manually.

[2017-06-02 17:31] cadecairos commented on #503
Great, thanks!

I don't think there's a rush on this unless there's an exploitable vulnerability that was patched between "v1.8.0.beta4 +12" and "1.9.0.beta1" ... do they publish security advisories?

[2017-06-05 16:23] alanmoo opened #504 "Inventory production databases and make sure they have backups"
Let's make sure all our production apps with databases have backups/snapshots working.

[2017-06-05 18:17] WillatMozFdn opened #505 "New email address & google group: matching@mozillafoundation.org"
### Details
We need a new, centralized email point of contact to remind people about, and then support them in, the possibility of getting their employer to match their donations to Mozilla; we're not doing a good job at all of that right now and so we're leaving money on the table.

### Info & links
New email address requested: matching@mozillafoundation.org
Set up as a Google Group with members:

[2017-06-05 19:26] cadecairos commented on #505
List created and invites sent!

I'm going to consider this closed - we can open new issues if there are any issues getting started.

[2017-06-05 19:26] #505 closed

[2017-06-07 12:32] flamingspaz commented on #503
They do in the form of commits prefixed with `[security]`. @leomca has a thing to notify him, maybe he can push this into the #communityit IRC channel too?

[2017-06-09 14:27] hannahkane commented on #499
@Melechuga has provided some more information: this tool is being actively maintained, and we would pay for them to host it.

@cadecairos - do you have any guidance on next steps? Is it possible to conduct a security and vendor review?

[2017-06-12 16:56] mmmavis opened #506 "Turn off caching on MozFest site?"
I'm wondering what the reason was that we enabled caching on MozFest site. Was it because MozFest site gets lots of traffic? If not, I wonder if we can turn it off so that site changes can appear immediately after we deploy a new build. Otherwise it usually takes about 15-30mins for changes to really go live which is a bit long for a site that is prone to have frequent changes here and there.

[2017-06-12 20:09] cadecairos commented on #506
Caching speeds up load times globally. I wouldn't suggest removing the cache entirely, but we can reduce it to five or ten minutes.

[2017-06-12 23:37] mmmavis commented on #506
@cadecairos cool that'll be great. In terms of priority - this is not urgent at all. 😉

[2017-06-13 14:40] cadecairos opened #507 "Migrate wmlogin Redis to new hardware"
### Details
wmlogin's redis addon will be forcefully migrated to new hardware on June 26th. We should add a new redis addon, and update the REDIS_URL value

[2017-06-13 15:04] cadecairos commented on #507
Turns out I just skimmed the email - this is a hardware migration for Redis not PostgreSQL

[2017-06-15 16:59] caltrider opened #508 "Set Up MoCo Internet Health Marketing Team with temp guest Thinglink access"
MJ Kelly on MoCo's Internet Health marketing team wants to use our Thinglink accout for a piece of content they are making.

@cadecairos can you give them access in some way?

[2017-06-15 17:46] cadecairos commented on #508
@caltrider What's the email address of the person we're adding?

[2017-06-15 17:48] caltrider commented on #508
@cadecairos It's mjkelly@mozilla.com

[2017-06-15 17:52] cadecairos commented on #508
I've sent a guest invite.

[2017-06-15 21:24] LeoMcA commented on #503
There's probably something in there:
[code]

It's a very simple IFTTT applet, so no. Slack, Telegram and any other service supported by IFTTT is possible.

I get it through email (and the IFTTT app) with this applet: https://ifttt.com/applets/QtjyYbmD-discourse-security-alerts

[2017-06-16 04:22] cadecairos commented on #503
Well, discourse just went down, so I took the opportunity to ssh in there and rebuild the container.

@ldecoursy we're now running the lastest version of Discourse (1.9.0.beta2)

[2017-06-16 04:22] #503 closed

[2017-06-16 16:45] cadecairos commented on #508
This is done!

[2017-06-16 16:45] #508 closed

[2017-06-19 14:58] cadecairos commented on #506
I've edited the CDN to only cache for 300 seconds before checking for new content from the origin.

[2017-06-19 14:58] #506 closed

[2017-06-19 19:36] cadecairos commented on #428
Got this working in https://github.com/mozilla/network-api/pull/226

[2017-06-19 19:51] Pomax commented on #428
💯💻💥🎉🍰!!!

[2017-06-19 21:17] cadecairos commented on #428
So I created an account on Appveyor called `mozillafoundation` and added the github team `mofo-staff-only` as Users

If I understand the system correctly anyone in that group that logs into Appveyor with Github should be able to add projects for building.

I think my next step here is to convert this into an epic and tackle adding this to projects one-by-one

* network-pulse-api
* network (fronten

[2017-06-20 17:05] Pomax commented on #428
can I suggest also adding science to that list (given that there's a GSOC student associated with it)

[2017-06-21 16:41] cadecairos opened #509 "Enable Appveyor for network-pulse-api"

[2017-06-21 16:42] cadecairos opened #510 "Enable Appveyor for mozilla/network"

[2017-06-21 16:42] cadecairos opened #511 "Enable Appveyor for mozilla/network-pulse"

[2017-06-21 16:43] cadecairos opened #512 "Enable Appveyor for mozilla/publish.webmaker.org"

[2017-06-21 16:43] cadecairos opened #513 "Enable Appveyor for mozilla/thimble.mozilla.org"

[2017-06-21 16:44] cadecairos opened #514 "Enable Appveyor for mozilla/brackets"

[2017-06-21 16:44] cadecairos opened #515 "Enable Appveyor for id.webmaker.org"

[2017-06-21 16:44] cadecairos opened #516 "Enable appveyor for login.webmaker.org"

[2017-06-21 16:45] cadecairos opened #517 "Enable appveyor for api.mozillascience.org"

[2017-06-22 16:09] cadecairos opened #518 "Enable Appveyor for mozilla/network-api"

[2017-06-22 16:41] #518 closed

[2017-06-22 17:04] #511 closed

[2017-06-22 21:08] cadecairos opened #519 "IHR Landing Site"
- [x] Create Repo "ihr-landing-site"
- [x] Add Mike `@mzanni`
- [x] Send plugins to Mike
- [x] Copy production site to staging
- [x] add account for mike on staging

[2017-06-22 21:12] cadecairos commented on #519
cc @kristinashu

[2017-06-23 17:33] #510 closed

[2017-06-23 17:35] mmmavis opened #520 "Please kill a temporary Heroku instance "temp-mozfest-cfp-2017""
https://dashboard.heroku.com/apps/temp-mozfest-cfp-2017

I created this instance for the call for proposals feature branch. Now that the branch has been merged and pushed live, we no longer need this Heroku instance. I don't have the rights to remove it from Heroku so please help me do it. Thanks!

[2017-06-23 17:37] cadecairos commented on #520
Done!

[2017-06-23 17:37] #520 closed

[2017-06-23 17:38] mmmavis commented on #520
wow that was fast 👍 😄

[2017-06-27 18:08] #509 closed

[2017-06-30 14:58] cadecairos opened #521 "Remove Twitter link from www.badgealliance.org"
### Details
The badgealliance twitter account was reactivated by a bot and is tweeting spam, we need to remove the link from the website

### Info & links

- IP Address: 52.24.198.213
- The AWS instance running at this IP is in the BadgeAlliance AWS account.
- I do not know where the code for the site is hosted at this time

[2017-07-05 19:09] kristinashu commented on #519
Thanks for your help with this! Is the timeline feeling doable?
July 10 - QA
July 13 - Launch

[2017-07-06 02:37] cadecairos commented on #519
That timeline concerns me a littlle.

Wordpress multi-sites are extremely fragile, and moreso on WPEngine. I expect we'll have many issues adding a new sub-site and getting it to behave properly. I think we're going to need more time for QA (on staging) and launch (deploy staging to production - which I expect will have issues.)

[2017-07-06 13:14] cadecairos commented on #507
This was completed automatically without incident.

[2017-07-06 13:14] #507 closed

[2017-07-06 16:26] hannahkane opened #522 "Analytics access for wirelesschallenge.mozilla.org"
Can you please provide GA access for @hannahkane and @mehan?

Thank you!

[2017-07-06 17:00] cadecairos commented on #522
@hannahkane There doesn't appear to be any GA property for that site in the Mozilla GA accounts.

I searched through all open and closed devops issues, and no request was put in for a property to be created. Was this missed(bad), or did someone create a GA property outside of our GA account(worse)?

[2017-07-06 17:15] cadecairos commented on #522
Based on a search of the source code: https://github.com/mozilla/nsf-challenge/search?utf8=%E2%9C%93&q=analytics

Google Analytics is not present at all.

[2017-07-06 17:18] hannahkane commented on #522
Thanks, @cadecairos. This is my mistake. I did not ask for it initially, and should have.

I'll file a separate ticket.

@mehan - unfortunately, this means we won't have metrics for your upcoming report, but I'll see if I can find someone to add analytics soon, so that we have some data for the next one. I'm very sorry.

[2017-07-06 17:22] cadecairos commented on #522
I can give you a very rough (not de-duped, or filtered for bots) idea of the requests made to the site through CloudFront:

![](https://screenshots.firefoxusercontent.com/images/207c69d8-01ee-473c-8eed-6e7414a44c35.png)

[2017-07-06 17:31] mehan commented on #522
@hannahkane No worries, thanks for looking into this. Would be great to get GA added soon, as we'll definitely need these numbers again a year from now.

@cadecairos Thanks for the CloudFront data, very helpful! If I was going to roughly characterize these numbers, could they be considered equivalent to pageviews?

[2017-07-06 17:56] cadecairos commented on #522
@mehan no, I wouldn't characterize these as page views. It includes all requests to the CDN for things like JS and Images.

I can see 16,927 requests to `/` between 05/08/17 and 07/06/17 - but I'm not sure if the site has "virtual" pages (via React Router, for example) that would not be counted here

[2017-07-06 18:00] mehan commented on #522
@cadecairos It's more or less a single-page site, so that number probably captures what we need. Thanks!

[2017-07-06 18:19] cadecairos commented on #522
Awesome, I'll close this out for now, and we can file a new issue when we're ready to create a property for wirelesschallenge.mozilla.org

[2017-07-06 18:19] #522 closed

[2017-07-06 18:33] #517 closed

[2017-07-06 19:09] cadecairos commented on #504
I've verified that our AWS databases are all running daily backups.

[2017-07-06 19:30] cadecairos commented on #504
api-mozillascience-production has a hobby-dev database - and no backups.

We'll need to migrate it over to something bigger to get backups.

[2017-07-06 19:37] cadecairos commented on #504
teach-api-production is also hobby-dev, needs a migration.

[2017-07-06 19:38] cadecairos commented on #504
All other DB's on Heroku (that are production) have daily and weekly backups.

[2017-07-07 15:03] cadecairos commented on #499
I can submit a request for a risk assessment of this tool, if we're still interested in using it.

The docs say that it " should be easy to host on Heroku" Which doesn't give me much confidence that it will be. Self hosting would inevitably reduce monthly costs, and be better for our supporter's privacy, but would mean more work to maintain and monitor the site.

I can attempt to set up a demo ser

[2017-07-07 15:05] cadecairos opened #523 "Set up demo of Call Power"
I'm curious to see what the self-hosting experience is for Call Power.

https://github.com/spacedogXYZ/call-power/
https://github.com/spacedogXYZ/call-power/blob/master/INSTALLATION.md

[2017-07-07 16:52] Melechuga commented on #499
Hey @cadecairos,
Happy to put you in touch with the dev if that would help clear things up.

[2017-07-07 17:19] hannahkane commented on #499
Thanks, @cadecairos. Yes, we are still interested in using it!

Though, @Melechuga, correct me if I'm wrong - it's not so much that we need to use this particular tool, and more that we want to identify some tool that will allow us to match people with their European elected officials and facilitate a phone call. Is that right? If this particular tool doesn't work out, we'd research other options.

[2017-07-07 17:39] Melechuga commented on #499
@hannahkane Right, we don't have to use this exact tool, but after doing some research, this does seem like the best option. I'm fine if we research other options; I'm just aware that this takes time, and it'd be great to be able to have something up and running, that's supported, relatively soon. This one in particular is great because we can point other organizations to use this tool on their si

[2017-07-10 18:23] cadecairos commented on #523
Got it deployed to Heroku, but I can't figure out how to run management scripts on the dynos - Docker's CMD directive executes and prevents me from getting a bash prompt or running new commands

https://moz-call-power.herokuapp.com

[2017-07-10 19:13] cadecairos commented on #523
well, that was easier than I thought. Didn't need to use heroku, it runs on Heroku perfectly without Docker.

[2017-07-10 19:13] #523 closed

[2017-07-10 19:14] cadecairos commented on #499
OK so it was actually really easy to set up and depoy a call power instance on Heroku.

https://moz-call-power.herokuapp.com/

I can create accounts for people to poke around the interface. just ping me on Slack!

I'll open a BZ bug for an RRA today.

[2017-07-10 20:21] cadecairos commented on #499
Actually, I'll open the RRA once I get the demo server fully working (having audio upload issues)

I want it available for the security team to poke at.

[2017-07-11 17:19] cadecairos commented on #499
RRA Request filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1380057

I've sorted out the issues I had uploading campaign audio clips. the demo server is now fully operational. I even did a test call, and almost accidentally called my Ontario MPP (Member of Provincial Parliament) 😝

[2017-07-11 18:43] cadecairos commented on #499
I did some rudimentary calculations on the cost of Call Power

If we pay for hosting, we're looking at a flat rate of $250/month, regardless of if we run any campaigns.

If we run it on Heroku, we're looking at much less of a base monthly cost (25 for the server, 50 for the database, 15 for the caching service & these costs can be easily reduced during months we aren't running big campaigns)

Now,

[2017-07-11 19:27] Melechuga commented on #499
@cadecairos This is awesome! Thanks for reviewing and sharing. Since Josh makes his money by hosting, I'm wondering what sort of arrangement would make the most sense for us to propose. Do you have any ideas?

I'm fine with us hosting it for our campaigns, and I'm wondering if we could help support CallPower by encouraging our friends in the EU to use it -- are we comfortable with the security of

[2017-07-11 20:05] cadecairos commented on #499
I'm not opposed to going the route of paying for hosting, I just want to make sure we make the best use of the platform. If we go with that route, we will need to have Josh fill out one of our security questionnaires to make sure things are operationally secure on his side.

Does call power support countries other than US/Canada? Currently those two are the only options.

FYI: I've got an RRA for

[2017-07-11 20:36] Melechuga commented on #499
Ok, great. I'll reach out to Josh next week, after the RRA (in case we have more questions).
Currently CallPower is just US + Canada, which is why we're working with him to expand that to the EU -- Brussels initially.

[2017-07-11 21:42] cadecairos commented on #499
🆒

I'll go into the RRA with the expectation that we'll pay for a hosted plan.

[2017-07-12 19:16] #516 closed

[2017-07-13 18:25] #515 closed

[2017-07-13 18:58] kristinashu commented on #519
Here is the updated plan:
- launch the site early next week, let us know which day will work best for you (this will be a soft launch while they write more blog posts and add translations)
- this new site will live on internethealthreport.org/landing
- please continue to redirect https://internethealthreport.org/ to https://internethealthreport.org/v01/

In August there will be a big push to the s

[2017-07-13 19:13] mzanni commented on #519
it works for me, but that being said, this is pretty much all work for @cadecairos

[2017-07-14 15:38] alanmoo commented on #504
Does that mean those two also spin down after a period of time?

[2017-07-14 15:41] alanmoo opened #524 "Migrate teach-api-production and api-mozillascience-production to paid instances"
As discovered in #504, these should be backed up (and not spin down periodically), so let's move them to paid instances and make sure backups are enabled.

[2017-07-14 15:42] alanmoo commented on #504
Let's migrate them (#524). Aside, what's the teach-api used for?

[2017-07-14 17:16] alanmoo opened #525 "Generate IAM user for me on AWS"
Like it says on the box, please. I'd like to not log in using the master credentials 😬

[2017-07-14 18:17] #525 closed

[2017-07-14 20:09] cadecairos commented on #519
Reconfiguring the sub-directory of the blog is actually very difficult, and I guarantee will break if we do this on production.

That said, I can make it work, but there will be down time, and I would advise against it if at all possible.

[2017-07-14 21:24] kristinashu commented on #519
Thanks for flagging Cade. Maybe we can talk on Monday to find an alternative plan.

[2017-07-17 17:10] cadecairos commented on #504
It's a Django server that has a couple functions. Its Django admin site is used managing clubs stuff, I think. It also connects learning.mozilla.org to id.webmaker.org.

[2017-07-17 18:11] kristinashu commented on #519
The new new plan:
- do nothing (we will just share https://healthreport.staging.wpengine.com/ for now)

In August there will be a big push to the site, Cade will:
- deploy https://healthreport.staging.wpengine.com/ to https://internethealthreport.org/
- end the redirect https://internethealthreport.org/ to https://internethealthreport.org/v01/
- keep https://internethealthreport.org/v01/ as is

[2017-07-17 18:24] alanmoo commented on #504
Cool. Then I'd say this ticket is closed and the work continues in #524.

[2017-07-17 18:24] #504 closed

[2017-07-17 19:43] cadecairos commented on #524
I double checked the docs, and based on [the docs](https://elements.heroku.com/addons/heroku-postgresql), the free db does let us store backups (just not very many)

[2017-07-17 20:12] alanmoo commented on #524
What about uptime?

[2017-07-17 20:20] cadecairos commented on #524
The free DBs don't come with any guarantees of uptime, or ability to schedule maintenance windows, so we probably should bump them up to the standard 0 plans.

[2017-07-17 20:23] alanmoo commented on #524
Sounds good to me.

[2017-07-17 22:57] Melechuga commented on #499
@hannahkane @cadecairos
For the EU Copyright site, we're going to pay for a hosted plan -- need to figure out where to start, but I would suggest starting with the lowest ("Mini" = $250/month) and ramp up as needed. Josh (CallPower) is happy to give us a service agreement he has, or to read through whatever vendor agreement we ask for.

Hannah, what would next-steps be? Would be good to do this in

[2017-07-17 23:09] hannahkane commented on #499
@cadecairos - do you have a security questionnaire that @Melechuga can ask Josh to complete?

@Melechuga - will follow up separately with the broader "what's next" question.

[2017-07-18 15:10] cadecairos commented on #499
[vendor_saas_questions.txt](https://github.com/MozillaFoundation/mofo-devops/files/1156289/vendor_saas_questions.txt)

here's the vendor questionaire

I got the results of the VA back in on our demo deploy of Call Power, which raises a few questions we should ask  Josh about:

- Does your hosted service offering enable any of the following features:
    - HTTP redirects to https (Must have)
    -

[2017-07-18 15:51] cadecairos commented on #524
teach api migrated.

[2017-07-18 15:58] cadecairos commented on #524
scienceapi migrated.

[2017-07-18 15:58] #524 closed

[2017-07-19 23:57] Melechuga commented on #499
@cadecairos
Please see Josh's responses to the questionnaire [here](https://drive.google.com/a/mozilla.com/file/d/0BybHRPPm37TJcGFwVV9qaFZtc0lfd1E0OGJacm5IXzNNOVVJ/view?usp=sharing) You're in touch with him now so hopefully you two can have more direct communication re: security.

Thanks!

[2017-07-20 16:42] kristinashu commented on #519
@cadecairos when you get the chance...

Link to Mike's latest updates: https://drive.google.com/open?id=0ByOOPCAaTQCmaC14VlAzcHIxakk

Mike also says "I've been pushing to your repo too so if that's easier to deploy I can add my build folder to it for it."

[2017-07-20 17:32] gideonthomas opened #526 "Renew BrowserStack Subscription"
Just noticed a banner when I login to BrowserStack that says that "Your subscription ends in 29 days".

[2017-07-20 17:41] cadecairos commented on #526
I sent a support request, we appear to be on some kind of special plan that can't be renewed via the dashboard.

[2017-07-20 18:20] cadecairos commented on #519
Theme updated.

I think it'd definitely be helpful to commit the latest build folder.

[2017-07-20 18:57] cadecairos commented on #526
@gideonthomas:

[2017-07-20 22:43] kristinashu commented on #519
Ok awesome! Site is working well and looks great so I don't think there will be anymore changes.

Should we close this ticket and I can open a new one when Sam/Solana/Kasia want to deploy to production?

[2017-07-20 22:53] cadecairos commented on #519
Works for me!

[2017-07-20 22:53] #519 closed

[2017-07-21 14:58] kaodro commented on #519
Thank you, everyone! As for next steps, here is what is and will be happening on our side:

July 26 - Aug 9 max. Aug 15 (exact date is being negotiated): Translation of the website on staging  (Kasia)
Aug 3: Updating legal notice in feedback form (Kasia)
Approx. Aug 4 (exact date TBD by Solana): blogpost on Indicators incl. image (https://github.com/mozilla/internet-health-report/issues/36) added

[2017-07-21 20:00] samanthaburton commented on #519
This plan sounds great, @kaodro!

My only feedback is that the old (0.1) report doesn't need to be adjusted to fit the new website structure -- we should leave it as-is (a standalone publication, representative of that moment in time). The other annual reports will have their own distinct look, and ideally will not look like the evergreen site, so this is fitting with what we have planned in the f

[2017-07-24 14:10] gideonthomas commented on #526
Looks like this is done! Thanks @cadecairos!

[2017-07-24 14:10] #526 closed

[2017-07-24 14:31] kaodro commented on #519
Hi @samanthaburton We definitely wanted to leave it as it is and only planned to do very small changes to avoid readers's confusion if they come from the landing page, namely:
1) change the word "About" to "Intro" and remove timeline for 1.0 as it is not up to date and a new one will be in the "About" section of the evergreen page. We would add a link to the evergreen's  "About" page where people

[2017-07-24 15:45] samanthaburton commented on #519
Ok, got it! Both of those changes make sense to me. Thanks for the
clarification!

On Mon, Jul 24, 2017 at 10:31 AM, Kasia <notifications@github.com> wrote:

--
Sam Burton
Director, Insights | Mozilla Foundation

*Cell: *+1 416.877.0710 | *Twitter:* @TheSamBurton
<http://twitter.com/thesamburton>* | Skype:* samantha.v.burton
Currently in Toronto, Canada

[2017-07-24 18:08] kristinashu commented on #519
Excellent, I've opened a new ticket for the Report updates https://github.com/mozilla/internet-health-report/issues/38 and one for the Landing site timeline and launch https://github.com/mozilla/ihr-landing-site/issues/9

[2017-07-27 17:22] cadecairos commented on #514
Hey, got plans to implement this or should I steal it back one day? same q for #513 and #512

[2017-07-27 17:35] cadecairos commented on #521
This is currently in the hands of IMS Global

[2017-07-27 17:35] #521 closed

[2017-07-27 17:56] gideonthomas commented on #514
oh sorry, got side-tracked and forgot. I can do this this week!

[2017-07-31 18:12] mmmavis opened #527 "Hook Logentries account to mozillafestival.org production instance"

[2017-07-31 21:43] alanmoo opened #528 "Investigate teach api's missing clubs"
As per Julia's email yesterday. In Slack she mentioned July 15 may have been the last time clubs that were created between August 2015 and July 2017 were in the database.

[2017-08-01 03:55] cadecairos commented on #528
I'm not sure what happened here, but here's what I've found out so far:

* on [July 18th we upgraded the database](https://github.com/MozillaFoundation/mofo-devops/issues/524#issuecomment-316108524) from a free version of Heroku Postgres to a $50 plan. I used the standard `pg:copy` method to copy all data to the new DB.
* Heroku Postgres stores up to three weeks of daily backups. I've downloaded a

[2017-08-01 04:17] alanmoo commented on #528
Do we only have those 3 weeks because we upgraded? (What would we have had today if we hadn't? What would we have had if we'd been upgraded all along?)

[2017-08-01 13:49] cadecairos commented on #528
no, Heroku Posgres just keeps three weeks of daily snapshots automatically.

The same data

the same data

It's my opinion that the database update had nothing to do with this missing information - it's just a coincidence. I believe this because the week of backups that we still have from before the migration do not contain the missing data.

[2017-08-01 15:09] cadecairos commented on #527
I've got the logs streaming into our logentries account. @mmmavis I can send you an invite to access this data if you like.

[2017-08-02 18:09] cadecairos commented on #527
this is done now. Ping me on slack if you'd like an account.

[2017-08-02 18:09] #527 closed

[2017-08-02 19:56] hannahkane commented on #499
@cadecairos - can you please post an update here? Has the tool passed security and vendor review? Thanks!

[2017-08-02 20:51] cadecairos commented on #499
Based on the [RRA](https://bugzilla.mozilla.org/show_bug.cgi?id=1381072) We're good to go from security's point of view.

We will want to push them to implement Mutli-Factor Authentication sooner rather than later.

[2017-08-02 22:06] hannahkane commented on #499
Thanks, @cadecairos. Can we close this ticket?

[2017-08-03 17:43] xmatthewx opened #529 "Discuss migration of discourse to Mozilla instance"
To reduce overhead and increase the odds that users will stumble across channels and make new connections, it might make sense to move our communities over to MoCo's discourse instance.

Questions:
 - what channels of ours are active and useful?
 - is it possible to migrate users and past conversations?
 - other questions worth asking...?

I talked with Claw about this earlier in the spring and he

[2017-08-03 17:51] cadecairos commented on #529
There is also https://forum.mozillascience.org/

[2017-08-03 18:48] alanmoo commented on #529
cc @hmitsch

[2017-08-03 20:52] hmitsch commented on #529
cc @LeoMcA @flamingspaz

Please confirm that you see this bug as we are crossing Github orgs here ...

-Henrik

[2017-08-03 21:00] xmatthewx commented on #529
cc @hannahkane

[2017-08-03 23:22] brettgaylor opened #530 "Migrate paperstorm copyright & enable new domain"
Here are the things Moniker needs to set up the new dev environment, and to migrate the previous campaign.

**Duplicating old campaign servers**

We decided on moving the old campaign to a different (sub)domain (copyright.paperstorm.it) and use the top domain for the new campaign. This basically means we would need a duplicate setup:

2 CMSes, 2 API instances, 2 tile server instances, 2 S3 buckets

[2017-08-03 23:35] brettgaylor opened #531 "Setup postcrimes infrastructure"
Placeholder here, as we don't know quite yet what we'll need.

We won't need to migrate, though, and probably won't keep the name.  So it may be just a matter of registering a new domain, and letting young astros deploy as needed.

[2017-08-04 15:01] LeoMcA commented on #529
Yes, it's possible, but whether it's something worth doing is another question.

Last time we did a forum migration, with the add-ons forum, we decided against migrating users and past conversations. As I remember it, this was because technically a migration from phpBB -> Discourse would have been very difficult, and there wasn't a strong desire to keep the old content.

This would be a Discourse

[2017-08-04 17:16] cadecairos commented on #531
- [ ] staging app on Heroku
- [ ] production app on Heroku
- [ ] Mongo DB addon for staging/production

It'll be easier to create apps if I know what we're calling this, otherwise we can use a code name!

[2017-08-04 19:10] xmatthewx commented on #529
I bet a couple of channels are active and would want to bring their history. It's probably also a chance to prune inactive clutter. Does Discourse have a concept of archived channels?

We're on the Mozilla-wide Salesforce. It could help avoid some dupes, but beyond that, I'm not sure there's a low-labor fix.

[2017-08-07 20:00] LeoMcA commented on #529
It's not a one button fix, but we move categories to be under our [archives category](https://discourse.mozilla.org/c/archives), make them read only, and set up redirects.

[2017-08-07 21:51] jvallera commented on #528
Hiya, just checking back on this. Is there any way to get the data back? we probably have a csv file downloaded from last month if it helps.

[2017-08-07 21:53] alanmoo commented on #528
We've been working on this and will have an answer tomorrow.

[2017-08-09 15:47] cadecairos commented on #531
Heroku Pipeline: https://dashboard.heroku.com/pipelines/09585229-3f7b-4699-970c-4df6ab712d64
Staging: https://dashboard.heroku.com/apps/net-neutrality-staging
Production: https://dashboard.heroku.com/apps/net-neutrality-production

[2017-08-09 15:49] cadecairos commented on #531
MongoDB addons set-up.

Now I just need to know where the code is!

[2017-08-09 19:00] alanmoo commented on #529
That sounds like a reasonable plan, @LeoMcA.

[2017-08-09 19:05] cadecairos commented on #499
yes!

[2017-08-09 19:05] #499 closed

[2017-08-10 20:39] alanmoo opened #532 "Create playbook for database migrations"
Include "Download the most recent backup and compare it to production" as a step before migrating.

[2017-08-11 15:08] alanmoo commented on #529
I'm currently tracking down the stakeholders for

https://forum.mozillascience.org
https://discourse.mozilla-advocacy.org
https://forum.learning.mozilla.org

and asking them the following:

1. What content can we archive?
2. What categories can we map to MoCo’s instance? (Should they all be consolidated into one parent or do we need to shuffle things a bit?)
3. Do we migrate existing users and con

[2017-08-14 11:23] thomasjonas commented on #530
@brettgaylor @cadecairos hello :) Let me know if there's something me or @woudsma can help with. Any updates are also greatly appreciated!

[2017-08-14 14:18] cadecairos commented on #530
Hi @thomasjonas! I'll spin up all the resources we need today/tomorrow.

[2017-08-14 15:02] alanmoo opened #533 "Make Alan Google Analytics admin"
If you weren't around, I'd have a heck of a time finding analytics data for all our properties. Is there a switch you can flip in the admin somewhere to give me access @cadecairos? No rush.

[2017-08-14 19:33] alanmoo opened #534 "Invite Alan to VictorOps"

[2017-08-14 22:37] gideonthomas commented on #534
only @cadecairos can do this since I don't have admin access

[2017-08-15 15:00] cadecairos commented on #534
Invite sent

[2017-08-15 15:00] cadecairos commented on #534
@alanmoo check spam - Gideon's invite went to spam.

[2017-08-15 15:05] #534 closed

[2017-08-15 15:19] cadecairos commented on #533
made you an admin on the "mozilla foundation" sub account, and have you full permissions for all properties that are still on the MoCo sub account.

[2017-08-15 15:19] #533 closed

[2017-08-16 11:39] thomasjonas commented on #530
@cadecairos Any update on this?

[2017-08-16 16:57] cadecairos commented on #530
I've created two Heroku apps:
1. api-paperstorm-na-production
2. tiles-paperstorm-na-production

You'll have to refresh my memory over how we've been deploying code to these apps (the EU copyright ones)

I've also cloned the CMS instance. I still need to set up a load balancer and Security Groups, and tie it all together with a Cloudfront CDN.

After that's set up, I'll set up an S3 bucket and a J

[2017-08-16 17:07] thomasjonas commented on #530
@cadecairos Thanks for setting up the Heroku apps. I don't see them yet in the Heroku dashboard, though. Did you share them with us? And did you also install the Postgres + Redis plugins?

Last time we just pushed our code to Heroku. @woudsma probably has a better memory about this.

@brettgaylor also mentioned creating a separate Slack channel for this new campaign. Would that be easier for this

[2017-08-16 17:17] brettgaylor commented on #530
+1 - can we create a #paperstorm slack channel and invite moniker folk?

[2017-08-16 18:05] cadecairos commented on #530
@thomasjonas I'll add the addons, and add the team as collaborators.

@brettgaylor I'm not sure what the process for adding non-employees to our Slack instance is. It might just be faster to use Mattermost.

[2017-08-16 18:12] alanmoo opened #535 "Restore teach-api club data"
Let's use Julia's CSV and restore the approved clubs.

[2017-08-16 18:57] cadecairos commented on #530
@thomasjonas I've added you and Tjerk to the two new Heroku apps.

[2017-08-16 21:15] cadecairos commented on #530
OK, I've wired up all the AWS bits, excluding custom domains.

I will test this all tomorrow, and report back here with our temporary URLs

[2017-08-16 21:55] brettgaylor commented on #530
I've filed an IT request to see if we can't get you guys on Slack.

[2017-08-17 07:37] thomasjonas commented on #530
@cadecairos ok, great! Let me know when we can start testing this!

[2017-08-17 09:03] hmitsch commented on #529
Hi Alan,

any updates on this?

Regards,
  Henrik

Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-08-17 15:16] cadecairos commented on #530
OK, here's a list of resources we can test out:

* CMS
  * URL
    * https://dqjqqzo92emvy.cloudfront.net/panel/
  * SSH Hostname
    * ec2-54-205-143-127.compute-1.amazonaws.com
       * Access should be enabled for the IPs above, using your SSH keys for identification.
* Tile server
  *  App
      * tiles-paperstorm-na-production
  * URL
    * https://d1ijblgpmrx3tf.cloudfront.net
* API Server

[2017-08-17 15:57] thomasjonas commented on #530
@cadecairos Thanks! I think we only need S3's access key, secret access key and bucket name to get it all up and running. Could you put these in the config vars for tiles app? (like [here](https://dashboard.heroku.com/apps/paper-rain-tiles/settings)) Or send them via e-mail otherwise? Also the S3 secret key can't have a slash in it (some bug in a node library)...

We're also wondering what will be

[2017-08-17 18:51] cadecairos commented on #530
I've added keys to the tile app.

I think we should use the staging environment we had set up, if we could. Otherwise we can use this as staging and I'll have to set it all up again

When we're ready to go live with the new site, we will need to do the following:

1. Get SSL certs for the new domains
2. Update CMS config with new domains
3. Update the Jenkins job for the frontend with the new URLs

[2017-08-17 20:28] thomasjonas commented on #530
Thanks again! Cool, we'll use same the staging environment like last time. Makes sense...

Could it be a good idea to install the apps we have running now for the old copyright campaign on the new environment? So we would have copyright.paperstorm.it (old env) and paperstorm.it (new env) the same, until we push the new campaign to the new environment. That would maybe be a bit more work now, but w

[2017-08-17 20:53] alanmoo commented on #529
It looks like @amirad and Julia (github name?) are the stakeholders for the learning instance. I sent the above questions and got the following response

@amirad, My understanding is that we would be closing that instance but redirecting users who go there to the sub-group on the MoCo instance. As for the rest, I'm not quite sure how the migration is actually handled. @hmitsch or @LeoMcA maybe you

[2017-08-17 20:59] xmatthewx commented on #529
@amirad – ideally for users, the URL changes, but otherwise the conversation can continue unchanged. As far as communicating the change, can we do it within the discourse channels rather than a bcc email blast?

[2017-08-17 21:03] amirad commented on #529
@jvallera = julia

@xmatthewx so no changes in sign-on either then?

[2017-08-17 21:16] xmatthewx commented on #529
@amirad – Sorry. To clarify... I can't speak to what's possible, just to what we should aim to achieve.

[2017-08-18 20:03] cadecairos commented on #530
I think that's what I'm proposing? I'm planning to keep the existing resources, just update their URLs, configs, and Domain settings, so we can put the new resources where they used to be.

[2017-08-18 20:07] thomasjonas commented on #530
Ah ok, good. So the copyright.paperstorm.it will be ready soon? I have to make some adjustments to the code to make it work with the new domain...

[2017-08-18 20:13] cadecairos commented on #530
Should we move everything over there now, and put temporary redirect up? Then, once the new campaign is ready, we put it up?

[2017-08-18 20:23] thomasjonas commented on #530
Yeah, I guess a redirect is fine. That might be actually be the easiest solution. Another option would be to deploy another copy of the old campaign front-end code on the new environment and have it connect with the cms.copyright.paperstorm.it, api.copyright.paperstorm.it, and tiles.copyright.paperstorm.it. But that might make things a bit overly complicated.

Let's just temporarily redirect it, s

[2017-08-18 20:49] cadecairos commented on #532
## Draft

1. Download latest backup and restore it to a local postrges database
2. Verify data integrity of the backup
3. Proceed depending on service (Heroku, AWS RDS)

Heroku PostgreSQL:

[I wrote a bash script that can automate this process: ](https://gist.github.com/cadecairos/4ca05411f1156c2b6303b010d0f74f14)

1. Enable maintenance mode on the app
2. Scale the app's dynos to 0
3. Initiate the

[2017-08-21 19:37] alanmoo commented on #532
@gideonthomas maybe you have some thoughts on that?

[2017-08-21 20:15] #528 closed

[2017-08-21 20:32] gideonthomas commented on #532
lgtm

[2017-08-21 20:35] alanmoo commented on #529
Confirmed that https://forum.mozillascience.org/ was abandoned and we can archive the content, as long as existing threads (post spam-reduction) will still be read-only via redirect from their existing links.

[2017-08-22 12:08] woudsma commented on #530
@cadecairos Could you empty the staging S3 tile bucket? We changed the tile rendering, i think it makes sense to clear the old rendered tiles on staging.

[2017-08-22 14:04] cadecairos commented on #530
@woudsma cleared it out!

[2017-08-22 14:24] LeoMcA commented on #529
[**ANYTHING'S POSSIBLLLLLLLLLLLE**](https://www.youtube.com/watch?v=Wcz_kDCBTBk)

Apart from things I've commented on below, I haven't read anything proposed or asked for so far which isn't possible.

*@alanmoo commented:*

My plan didn't involve any user interaction - we'd take a database dump of an instance to be migrated, parse it, and import it into discourse.mozilla.org.

Requiring users to o

[2017-08-22 14:47] alanmoo commented on #529
I don't believe we want to continue offering Webmaker ID. In that case, what happens for a user who previously used it for authentication when we move them over?

[2017-08-22 14:50] LeoMcA commented on #529
They'll just need to authenticate with another option which proves they own the email address which was associated with their Webmaker ID. Github/Google will likely work for most users, and passwordless will work for all.

[2017-08-22 17:10] cadecairos commented on #532
alright, I'll get a PR up.

[2017-08-23 21:33] alanmoo commented on #529
Great.

Advocacy feedback:

[2017-08-24 14:36] #532 closed

[2017-08-29 17:57] xmatthewx opened #537 "GA down on Network site?"
see: https://github.com/mozilla/network/issues/703

[2017-08-29 21:27] cadecairos commented on #537
Fixed - see mozilla/network#703

[2017-08-29 21:27] #537 closed

[2017-08-30 08:02] thomasjonas commented on #530
@cadecairos is it possible to get the copyright.paperstorm.it domain up and running? And have paperstorm.it temporarily redirect to it? I would rather do this now, instead of when we're finishing up the new campaign...

[2017-08-30 14:30] cadecairos commented on #535
@alanmoo do you have the CSV?

[2017-08-30 14:44] alanmoo commented on #535
Sent via slack.

[2017-08-30 14:51] cadecairos commented on #530
@thomasjonas I can try to get this done tomorrow

I'm taking this Friday off, and won't be back at it until the 5th (there's a Canadian holiday on the 4th) - so If it proves to be too much work for a single day's worth of effort, it will have to be completed next week.

[2017-08-30 20:55] fox2mike commented on #480
@cadecairos Any updates here? Just checking in. Community blogs are moving to our WPEngine account too!

[2017-08-30 21:01] cadecairos commented on #480
Beyond my initial scans on compatibility, I haven't had a chance to get the blogs compatible with PHP7.

Is the private WPEngine cloud ready to have sites migrate in? If so, I can take on our migrations one property at a time, to make things a bit more managable for me.

I'm also in the process of bringing on a new team member to work with me on these kind of things, which should really help move

[2017-08-30 21:05] fox2mike commented on #480
Oh totally. We can set you up with an install (which can be a multisite if needed) and you can start moving things over one by one (there's no need to move them all in together) if that makes sense.

[2017-09-06 08:37] LeoMcA commented on #529
Looks like we have a 👍 for advocacy and science, and I have enough information to get started writing a migration script. There are still a few questions it'd be great to answer, though:

**Outstanding learning questions:**

* Do we want to migrate this now, or wait to see how the science/advocacy migration goes and revisit after that?

**Outstanding science/advocacy questions:**

* For science do

[2017-09-06 15:32] xmatthewx commented on #529
Seems like a good idea to tackle those two first, and then loop back for the more active Learning forum.

I'll let @alanmoo comment on other outstanding questions.

[2017-09-06 15:51] thomasjonas commented on #530
@cadecairos Hope you had a nice few days off! Sorry I didn't reply earlier. It would be nice if you can start with the redirect. Let me know if you need any help!

[2017-09-07 17:37] cadecairos commented on #530
Hi @thomasjonas I worked on this a bit last week but ran into an issue when acquiring SSL certificates for the domains. I'm waiting on hearing back from AWS on the issue.

[2017-09-08 17:48] cadecairos commented on #530
OK, I successfully worked around the problem I had issuing SSL certificates using AWS to `paperstorm.it`

I'm going to start setting up temporary redirects from `*.paperstorm.it` to `*.copyright.paperstorm.it`

[2017-09-08 18:28] cadecairos commented on #530
`tiles.paperstorm.it` now redirects to `tiles.copyright.paperstorm.it`

[2017-09-08 20:04] cadecairos commented on #530
OK all the domains are switched over, but I'm seeing CORS issues loading tiles, because browsers are refusing to complete the tile requests if they redirect.

[2017-09-08 20:09] cadecairos commented on #530
I'm going to see if updating the URLs in the jenkins build of the front-end fixes this.

[2017-09-08 20:13] alanmoo commented on #529
No

Nope

No, if we set up a redirect to the new board that should be fine.

[2017-09-08 20:15] cadecairos commented on #530
OK, the copyright campaign now lives at `*.copyright.paperstorm.it` (even the CMS, I updated the kirby config)

`paperstorm.it`, `cms.paperstorm.it`, and `tiles.paperstorm.it` are redirecting temporarily and can be configured with the new production resources when we're ready.

[2017-09-08 20:49] thomasjonas commented on #530
That's great! Thanks! I'll have a closer look on monday, but everythings seems to be working fine.

[2017-09-14 18:58] skrynnie opened #538 "Thunderbird donations in currencies other than USD not captured properly by PayPal"
whenever donations in non-USD with "Thunderbird" in the "Subject" column converted to USD, the "Subject" field is empty for the USD-equivalent amount for that transaction.
don't know how to attach screenshots to github..can e-mail/slack separately

[2017-09-14 19:01] skrynnie commented on #538
#

[2017-09-15 15:56] Solanasaurus opened #539 "Add @solanasaurus and @kaodro to MoFo Github"
Hello! This is obviously not urgent. Matthew said he couldn't find me in the MoFo Github and I wondered whether I could be added and also Kasia.
@solanasaurus
@kaodro
Best thanks,
Solana

[2017-09-18 16:00] thomasjonas commented on #530
@cadecairos I just tried to deploy to the new production server, but something seems to go wrong when the build product needs to be copied to S3. Do you have any idea what's wrong?

Log:
[code]

[2017-09-18 16:04] thomasjonas commented on #530
Also I'm unable to ssh into the staging ec2 instance. But that might be because I'm not sure what the correct host is... What is it again? Thanks!

[2017-09-18 18:43] cadecairos commented on #539
Invites sent!

[2017-09-18 18:43] #539 closed

[2017-09-18 19:00] cadecairos commented on #530
@thomasjonas

You should be able to connect from your IP and with your SSH key at ec2-54-205-143-127.compute-1.amazonaws.com

I'll look into that build failure

[2017-09-18 19:43] cadecairos commented on #530
OK, I'm pretty sure it was a configuration issue in the IAM policy attached to the IAM user. It should be resolved now.

[2017-09-18 20:59] thomasjonas commented on #530
Great! Just made a few builds and adjustments and almost everything seems to work now. Just need to double check the tile creation with @woudsma tomorrow. Thanks for all your work!

[2017-09-19 08:08] woudsma commented on #530
@cadecairos I think i have the same problem as Thomas, i'm getting a `AccessDenied: Access Denied` error when uploading to S3 from the tile production server. Could this also be an IAM policy issue?

[2017-09-19 14:20] cadecairos commented on #530
I'll check that out now

[2017-09-19 14:25] cadecairos commented on #530
@woudsma Yeah, It looks like it was a policy issue, I've updated it to reflect the new bucket.

[2017-09-19 14:50] thomasjonas commented on #530
The last hurdle is to fix the CORS issue for the tiles... Or is this related to not running the website from the paperstorm.it domain?

[code]

[2017-09-19 15:47] alanmoo commented on #529
Got a question from @Melechuga, owner of the Advocacy instance.

Is it possible to change the category title to "Open Policy + Advocacy"? Also, can I be an admin for this category, or is that not the way it would work since we're all under a main mozilla discourse?

[2017-09-19 16:14] LeoMcA commented on #529
I haven't started writing the migration script yet, but hope to get to it in the next couple of weeks.

Absolutely!

We don't have any concept of category-level admin/moderation, but we can make @Melechuga a site-wide moderator, which should give her all the permissions necessary to moderate the category.

[2017-09-19 16:15] cadecairos commented on #530
Yeah, the CORS policy on the S3 bucket allowed for paperstorm.it only.

I added d2wtt95elkafnj.cloudfront.net to the policy for now

[2017-09-19 16:56] thomasjonas commented on #530
Great! Thanks! @brettgaylor and @cadecairos any idea when we're going live tomorrow? I think @cadecairos only needs to disable the redirect we setup earlier to launch the campaign. Or am I forgetting something? Would be nice to do the transition end of the day (17:00ish, which would be around 10:00 for you guys?) so we have the chance to troubleshoot incase anything goes wrong...

[2017-09-19 21:07] cadecairos commented on #530
heh, didn't know we were going live tomorrow. I'll need to make several DNS changes, install some certificates, and possibly change some config variables.

Note that it can take up to 24 hours for changes to domains to propagate across all networks - meaning "go-live at 10 AM EST" might only affect the networks that pick up those changes immediately.

[2017-09-19 21:11] brettgaylor commented on #530
I didn't understand there was more to do here - thought we were good to go!

@thomasjonas I understood that you guys would be making the site live, so crossed wires there.  @cadecairos can you do steps you mention above first thing eastern time, so these folks in Amsterdam can confirm things are working as they should?

Thanks!

[2017-09-20 09:39] thomasjonas commented on #530
@brettgaylor @cadecairos o oh, that's sounds like a lot more work then I realised... I'm really sorry I didn't inform you earlier about going live. I hope we can make it on time! Let me know if I can help with anything!

I also checked whether the CORS settings for d2wtt95elkafnj.cloudfront.net are working, but that doesn't seem the case. Maybe double check those for paperstorm.it?

[2017-09-23 17:23] woudsma commented on #530
@cadecairos Can you scale the tiles-paperstorm-na-production app to professional dyno's? I think we are still on the hobby plans. It's nearly hitting 100% on 512MB memory.
Also the old paper-storm-tiles-production app is still running on professional dyno's, i'm sure we can scale that one down!

[2017-09-23 17:48] cadecairos commented on #530
Good call!  I've scaled the copyright tile app down to hobby and scaled the new one to professional dynos

[2017-09-25 15:19] gideonthomas commented on #513
Fixed in mozilla/thimble.mozilla.org@0da2986f6e5fdffa727c91c12654ac1d91069013

[2017-09-25 15:19] #513 closed

[2017-09-25 19:53] alanmoo commented on #476
Can this be closed since we've got #529?

[2017-09-26 15:30] cadecairos opened #540 "Switch thimbleprojects.org to an Amazon cert"
### Details
Amazon provides free certificates for Cloudfront/ELB's, but we're using a DigiCert certificate for thimbleprojects.org. Lets verify thimbleprojects.org on AWS Certificate Manager, and replace the DigiCert certificate with a free one. Once installed, lets also revoke the Digicert certificate to get a refund on the balance of the cert.

[2017-09-27 21:26] xmatthewx opened #541 "PTO tool marks Manager's calendar as blocked"
This isn't urgent, but it actually makes scheduling across the org a bit difficult.

Here's the situation: When someone on my team requests PTO and I approve, it lands as an entry on my calendar. That's cool, but it shows me as blocked all day or all week. I have to manually change the entry to show me as available.

Is this due to my calendar defaults? Is it avoidable? Does the event need to be o

[2017-09-28 12:14] flamingspaz commented on #476
I think these two issues capture two different tasks, this one being decommissioning the infra that runs the advocacy discourse and the other doing the migration of content.

I'd prefer to keep them separate, but my opinion isn't that strong.

[2017-09-28 13:22] cadecairos commented on #541
I took a look at the Google Apps Script powering that tool, and there's no indication that the busy/free state is being set at all. I then took a look at the docs, and Google doesn't provide a method for having an event show as busy/free by default.

There also seems to be an [ongoing thread](https://productforums.google.com/forum/#!topic/calendar/FGvvgTrhgEs) (3+ years!) about adding the ability

[2017-09-28 13:55] MandyRawls commented on #541
Ali also looked into this when we launched the tool, and sadly there doesn't seem to be a fix. @cadecairos is there a way for the PTO calendar invites to just go to the requester, and not the approver (manager)?

[2017-09-28 20:36] cadecairos commented on #465
I don't think this is necessary anymore, as their current location is working.

[2017-09-28 20:36] #465 closed

[2017-09-28 20:39] cadecairos commented on #453
@alanmoo can we close this?

[2017-09-28 20:41] alanmoo commented on #453
This is something that should still be done, but is pending an actual plan for shutting down Mattermost and migrating users. Should we create a broader ticket and include this as a subtask?

[2017-09-28 20:50] cadecairos commented on #453
How many contributors do we interact with on Mattermost still? Where are they going to go?

sidenote: I think the only active channel on Mattermost is Thimble, and since Thimble might one day spin out of Mozilla, do we really want to open up a channel on slack for that? IMO a free Slack or Gitter would be more appropriate.

[2017-09-28 21:11] alanmoo commented on #453
Looks like Gitter is restricted from the Mozilla org on GitHub, but you make a good point. @humphd Do you have thoughts on this?

[2017-09-29 15:03] humphd commented on #453
Probably moving to a free slack workspace for Thimble is what should happen; but can we wait to see what we're doing with Thimble first?  Doing a migration, only to do yet another one seems frustrating.  How critical is it for you to shut this down now?

[2017-09-29 15:21] alanmoo commented on #453
Not critical, definitely worth waiting.

[2017-10-03 21:51] ScottDowne opened #542 "Donate prod default branch for heroku isn't master but the first branch alphabetically"
![huh](https://user-images.githubusercontent.com/197334/31150876-54f21086-a863-11e7-9ef9-7d5273517473.png)

Giddy also pointed out that it's not a dropdown like it should be.

Something changing on Heroku's end?

Either way having it be some rando branch is a pretty bad trap.

@cadecairos

[2017-10-03 23:58] cadecairos commented on #542
Yeah it looks like they removed the drop down that it once was, and are auto-filling the input with the alphabetically first branch... I'm don't think there's much we can do, besides clean out the branches on the repo.

[2017-10-04 04:32] gideonthomas commented on #542
@cadecairos I don't see this in other apps though (for e.g. `bramble-production`)

[2017-10-04 13:57] alanmoo opened #543 "Explore Slack integrations for deployment"
It would be great if we could deploy/promote apps within Slack, so it's immediately visible to everyone on the team. There's probably some other neat things we could do, so let's explore.

[2017-10-04 14:12] cadecairos commented on #542
Oh, that's weird. I can't see any obvious difference between the two apps or repos.

I disconnected the pipeline from the repo and re-connected it, but the issue persisted. I can open a support ticket.

[2017-10-04 17:13] cadecairos commented on #542
we discovered a bug in their dashboard!

From Heroku support:

[code]

[2017-10-05 20:31] patjouk opened #544 "Tranform the DevOps roadmap etherpad into tickets"
### Details
CC @cadecairos

We built a roadmap of devops goals for the next year that needs to be transform into ticket and triaged on the board.

- [x] Goals for January 1st => #549
- [ ] Goals for April 1st
- [ ] Goals for July 1st
- [ ] Goals for October 1st

**Roadmap entries that will transformed into github issues**
April 1st, 2018:
- Whole engineering team involved in on-call rotation
- Unu

[2017-10-06 15:38] patjouk opened #545 "Inventory Heroku Apps"
I'll start the big inventory by Heroku :)
I'm building a spreadsheet that will list all services, if they're active, who are the last persons to have touch them, link to github repo, etc.

edit: [link to spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/1nwionBMKQz90qcxRd03fuWs33Tsfx_WLRA6AghVzL_A/edit?usp=sharing)

[2017-10-06 15:40] patjouk opened #546 "Creation of a playbook for people on call"
One of our road map goals is to onboard the rest of the dev team on the on-call rotation. To do that, we need docs!

For each alert that could be triggered, we could use a template similar to this one:

[code]

Since our services are on multiple repos, we will need to create a new one to host this playbook. We should also think of a way to make it easily readable (maybe read the docs?).

[2017-10-06 15:41] patjouk opened #547 "Monitoring inventory"
The goal of this ticket is to list services currently being monitored, and to look at active services to see if they are should be monitored.

This is groundwork for #546

[2017-10-06 15:42] patjouk opened #548 "Could we automate more tasks?"
While reviewing services we manage, which should make a list of tasks that could be automated. They could be triage as low hanging fruits or as bigger projects.

[2017-10-06 15:43] patjouk opened #549 "Full inventory of services/resources/etc that we run"
### Details

Related to #544

As decided in the [road map](https://public.etherpad-mozilla.org/p/mofo-devops-roadmap), we want to have a complete inventory by January 1st of which services are running, who are managing them, if they are monitored, etc.

Sub tasks:
- [x] Start by inventorying Heroku #545
- [ ] Inventory of resources on AWS #558
- [x] Identify what is or should be monitored #547
- [

[2017-10-06 17:24] patjouk commented on #540
<img width="581" alt="screen shot 2017-10-06 at 1 22 28 pm" src="https://user-images.githubusercontent.com/481052/31290195-925e20c6-aa99-11e7-8a13-ccfc39a4ce23.png">

It's done :)

[2017-10-06 17:24] #540 closed

[2017-10-06 17:26] patjouk opened #550 "Revoke previous certificate for thimbleprojects.org"
Follow up task for #540
CC @cadecairos

### Details

Now that we're using a certificate from Amazon for thimbleprojects.org, we can revoke the previous one.

[2017-10-06 17:43] cadecairos commented on #514
@patjouk feel free to switch context to this issue while working on the Heroku inventory stuff. The network repo has an `appveyor.yml` file that can serve as a template, and I can also meet with you to go over the appveyor config file if you'd like.

I'm also going to assign https://github.com/mozillafoundation/mofo-devops/issues/512 to you, which is also appveyor related.

[2017-10-06 18:47] cadecairos commented on #546
My gut feeling is to create and maintain our playbooks in a new repo, does that sound good to you?

[2017-10-06 18:53] patjouk commented on #546
Yes. This it will concern multiple repos, it's probably easier to create a new one to centralize everything. I'll update the ticket to reflect that.

[2017-10-10 20:47] cadecairos commented on #550
This certificate has been revoked!

[2017-10-10 20:47] #550 closed

[2017-10-11 16:46] ScottDowne opened #551 "Stand up Coral Talk instance"
### Details
Stand up an instance of Coral Talk for the buyer's guide. Coral Talk is a comment system to allow conversation on the buyer's guide products. The Coral project has other products, in our case we'll llikely only need Talk. I'm not super familiar with them all yet. The Talk system would be a service we stand up and then can use with our pages on advocacy.mozilla.org. It has an admin dash

[2017-10-11 17:41] danielhartnell commented on #480
I'm adding a quick update to keep a record of a conversation that I had with cadecairos. We are not going to setup a WPEngine install right now but my team's available when that's needed. He can reach out to us when it's appropriate.

[2017-10-12 15:02] #514 closed

[2017-10-12 15:05] #512 closed

[2017-10-13 17:28] alanmoo commented on #551
@cadecairos Priority guidance: After foundation.mozilla.org, before SEPA integration.

[2017-10-16 16:53] xmatthewx opened #552 "Setup Pulse bot on MozFest slack"
In prep for MozFest, we'd like to add a bot to slack that posts latest items from Pulse.

We have something similar on the Mozilla Slack at #mofo-pulse-latest. We'd like to repeat this, but adding the published_by and creators fields.

Ideally, we would have to up and running early next week, as pre-festival activity ramps up. Let's discuss!

[2017-10-16 17:04] cadecairos commented on #552
Who set up the existing integration with the Mozilla Slack instance? I wonder if we can re-use some part of that?

[2017-10-16 17:13] xmatthewx commented on #552
The o.g. pulse bot was kindly set up by @phillipadsmith.

[2017-10-16 18:55] Melechuga commented on #529
Hi there,
Given that the migration might still take a while, is it possible to spin up the Open Policy + Advocacy category, and then migrate stuff in? We have a large, new community of interested folks on stand-by, who I'd love to point at discourse asap. Thanks!

[2017-10-16 19:02] ScottDowne commented on #551
There is a plugin for Coral Talk called Jigsaw which is basically a toxic comments filter.

I wanted to drop a few notes here so we don't forget. The Jigsaw plugin sends the comment to something else, so we should take a closer look as to what something else is, and determine if it'll need vendor review or not (if it needs vendor review, it'll be something we don't launch with). It's an open sourc

[2017-10-16 19:12] ScottDowne commented on #551
I'm told Coral Talk has a one press Heroku thing. Sounds easy. I can get more info when you're ready.

[2017-10-16 20:57] ScottDowne commented on #551
Ah cool, @cadecairos they have a "deploy to heroku" button right in the topof their readme. https://github.com/coralproject/talk/

[2017-10-17 04:29] irvin commented on #529
+1 for open a category first and migration old post latter.
Many things happened each month regards policy that eager to share and discuss with you all.

[2017-10-18 17:10] LeoMcA commented on #529
@Melechuga it's done! https://discourse.mozilla.org/c/advocacy

I've made you owner of the [about topic](https://discourse.mozilla.org/t/about-the-open-policy-advocacy-category/20610/1) which it'd be great if you could edit to help Discourse users understand what the category is for.

Getting email-in set up is being tracked here: https://bugzilla.mozilla.org/show_bug.cgi?id=1409811

[2017-10-18 19:17] Melechuga commented on #529
Thanks @LeoMcA!

[2017-10-19 13:35] cadecairos commented on #552
I've set up a Devops Zapier account (creds in the vault)

@patjouk will take a crack at a recipe for doing this.

You may need to get an invite to the Mozfest Slack instance if you don't have an account, so you can set up an integration. The API endpoint I think we'll want to read is `https://network-pulse-api-production.herokuapp.com/api/pulse/entries/`

[2017-10-19 14:01] patjouk commented on #543
I took a look at Heroku docs about their [ChatOps](https://devcenter.heroku.com/articles/chatops) and it seems pretty cool.
I can give it a try: do you already have an app in mind that I could use for testing? The only limitation is that it must be a pipeline.

[2017-10-19 14:14] alanmoo commented on #543
Heh, important limitation right now. @mmmavis Does Mozfest use pipelines? I feel like that's a safe one to test this with because it doesn't have database migrations to worry about

[2017-10-19 14:41] xmatthewx commented on #552
👍

People with mofo email can sign up for MozFest slack without an invite. @patjouk - ping me if you have any questions. I'm just matthew. When ready, let's create a new channel called Pulse. Thanks!

[2017-10-20 18:24] mmmavis commented on #543
Bad news! @alanmoo MozFest site does have pipeline set up but I've never used "promote to prod" button for prod push (I always manually push). I just tried that button and it didn't seem to update production... 😓

[2017-10-20 18:52] mmmavis commented on #543
Sorry, false alarm in my previous comment. I've verified that pipeline does work for MozFest deployment.

[2017-10-23 13:17] patjouk commented on #543
It was pretty easy to setup and should now be working.

**What you need to do:**

<img width="610" alt="screen shot 2017-10-23 at 2 59 50 pm" src="https://user-images.githubusercontent.com/481052/31890323-ff17b5b2-b802-11e7-8821-e0d02b425ee6.png">

You have to login on Heroku using `/h login` on Slack. It will automatically send a message, asking you to `sign in to Github`. Click on the link in th

[2017-10-23 13:41] cadecairos commented on #552
This appears to be working as expected! pulse entries are dumped into the pulse-latest channel on the MozFest Slack instance

[2017-10-23 13:41] #552 closed

[2017-10-23 18:57] alanmoo commented on #543
Given that we need a security review before granting ChatOps write access to our repos, I wonder if there's another approach that doesn't, like Hubot or something like that. (Though I do like the feel of ChatOps, especially since it's built by Heroku for exactly the purposes I described)

[2017-10-24 14:03] cadecairos commented on #551
@ScottDowne Is there anything more we need to do here? can you take a look [at the configuration docs](https://coralproject.github.io/talk/advanced-configuration/) and see if there's anything that might need customization? I think we might want to fiddle with the email address settings.

[2017-10-24 14:55] ScottDowne commented on #551
yeah, changing the config and adding a few plugins was the plan, but i havn't had the chance to dig in and figure it all out.

[2017-10-25 15:05] cadecairos commented on #377
@Pomax Do you still think there's value for the team in this?

[2017-10-25 15:14] cadecairos commented on #541
@MandyRawls have you had a chance to determine if we were able to remove the event from the manager's calendar?

[2017-10-25 15:35] cadecairos commented on #479
I will set up a recurring (quarterly) meeting to do this, beginning early December.

[2017-10-25 15:46] cadecairos commented on #544
Let's record the etherpad information here.

[2017-10-27 17:11] cadecairos commented on #530
this is done now!

[2017-10-27 17:11] #530 closed

[2017-10-27 17:32] cadecairos opened #553 "Enable TLSv1.1_2016 on Cloudfront CDNs"
CloudFront now lets you select a security policy: https://aws.amazon.com/about-aws/whats-new/2017/09/amazon-cloudfront-now-lets-you-select-a-security-policy-with-minimum-tls-v1_1-1_2-and-security-ciphers-for-viewer-connections/

Existing CDNs default to TLSv1 but lets update our CDNs to TLSv1.1_2016 (which is recommended).

[2017-10-30 10:52] patjouk commented on #545
And it's done :)

[2017-10-30 10:52] #545 closed

[2017-11-01 02:11] cadecairos opened #554 "Identify Apps to upgraded to Node 8.9.0 LTS"
A new LTS version has been released. I think we should prioritize updating any apps we run that use 4.8.x to this version, and then work on 6.11.x apps.

Off the top of my head, donate.mozilla.org could do with an upgrade - but we can hold off until the new year, since the 4.8.x branch is in maintenance mode until April.

[2017-11-01 15:16] cadecairos commented on #531
This doesn't appear to be something that's happening. lets re-open if we decide to do this in the future.

[2017-11-01 15:16] #531 closed

[2017-11-01 15:26] cadecairos commented on #428
This was completed

[2017-11-01 15:26] #428 closed

[2017-11-01 15:28] cadecairos commented on #476
I'm okay with these remaining separate tasks. @flamingspaz would you mind if I assigned this decom task to you?

[2017-11-01 15:45] Pomax commented on #377
absolutely: I would be surprised if anyone except devops and maybe @alanmoo knows the full list of projects we maintain.

[2017-11-01 15:49] alanmoo commented on #377
I hate to disappoint, but....

(Agreed, this would be helpful)

[2017-11-01 15:57] flamingspaz commented on #476
yes that makes sense

[2017-11-01 16:03] cadecairos commented on #551
@ScottDowne I'm going to close this out, and we can work out configuration issues in the repo where work is happening.

[2017-11-01 16:03] #551 closed

[2017-11-01 16:17] cadecairos commented on #543
_see the [Bugzilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1411002) for latest updates_

[2017-11-01 19:05] cadecairos commented on #377
haha, noone knows what's on mofostaging. not really.

I don't think there's any easy way to generate something here.

I could create a script that fetches info from AWS Route 53 about mofostaging.net, filter out all the CNAMES, and generate an HTML file, then upload it to S3. we can then serve this page, and have it run weekly or something (via  https://dashboard.heroku.com/apps/mofo-cron)

[2017-11-02 16:16] patjouk commented on #410
Done :)

[2017-11-02 16:16] #410 closed

[2017-11-02 16:17] patjouk commented on #553
Done :)

[2017-11-02 16:17] #553 closed

[2017-11-02 18:32] gideonthomas commented on #410
🎉  thanks @patjouk

[2017-11-03 20:11] alanmoo commented on #489
Hi Tom, I got into the Google account for the current ownership email address you're referring to, but it doesn't seem to have the brand account associated with it. Any suggestion where to go next?

[2017-11-03 21:38] jessevondoom commented on #489
I found a friend internally who is trying to investigate the current status of the account. If anyone else has any magical detective powers now would be a good time to use them.

[2017-11-06 15:17] xmatthewx opened #555 "Pulse slackbot needs TLC"
The creator field needs a tweak according to @alanmoo, b/c of an update. While we're at it, should move update the mofo slack channel to use our bot instead of Phillips for maintenance.

[2017-11-06 15:22] alanmoo commented on #555
Instead of an array of creators as strings, it’s now `related_creators` which is an array of objects with `name` properties. For an example, check out https://api.mozillapulse.org/api/pulse/entries/2/

[2017-11-06 21:25] cadecairos commented on #555
@alanmoo we're going to need a paid account on Zapier to keep running our own bot. once our free trial ran out they disabled the bot we set up for MozFest.

[2017-11-06 22:01] taisdesouzalessa opened #556 "Google Analytics access"
### Details

I would like to have access to Google Analytics (if it exists) of the following sites:
https://science.mozilla.org/programs/fellowships
https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2017

Thanks.

[2017-11-07 17:27] alanmoo commented on #555
Hmmm. I don't know that this one thing is worth paying for a Zapier account. Personally I don't check the slack channel much- I have new posts in there muted to reduce the overwhelming firehose. @xmatthewx?

[2017-11-07 18:44] xmatthewx commented on #555
Could we accomplish this with IFTTT? There's a large percentage of staff in the moco slack channel, more still arriving, and people mention to me they follow it. Seems useful for staff awareness. What's the cost?

[2017-11-07 19:04] alanmoo commented on #555
Not sure IFTTT is as advanced as we need. If people are using it, yeah, it might make sense to pay for, I just wasn't sure.

[2017-11-07 19:54] amirad commented on #529
Hey all - do we have a timeline for when this stuff will be migrated? cc: @ldecoursy

[2017-11-08 11:43] patjouk opened #557 "Deleting old apps on Heroku and archiving repos ✂️"
#Following the Heroku Inventory #545, we made a list of apps we will delete soon (huge list at the bottom) and also archive their repos: they're not running for 99% of them but I would appreciate if you take 5 minutes to review that list and flag ones that should stay. **I will start to delete apps on Thursday 1PM UTC**.

@acabunoc : We're not sure what to do with those apps ([done](https://github

[2017-11-08 11:51] patjouk opened #558 "Inventory of AWS resources"
Following the Heroku inventory #545, we should do a smiliar one with resources running on AWS services.

[2017-11-08 21:44] cadecairos commented on #557
This is a webhook processor written in Python/Flask by a developer at the company we contracted to build our NationBuilder stuff. It processed hooks from NB and sent them to SFDC. I think.

[2017-11-08 21:47] jbuck commented on #557
@alanmoo Up to you to decide! Seems to work at https://togetherjs.com/ but I don't know whether you want to support it or not.

[2017-11-08 21:57] gideonthomas commented on #557
re: togetherjs, we might want to check what's using it and decide accordingly

[2017-11-08 22:11] cadecairos commented on #557
Yeah, I think there might be sites depending on this still.

[2017-11-08 22:51] Pomax commented on #557
What does the full list represent? I'm pretty sure we don't want to delete advocacy, for instance. Or collusion (which supposedly some moco people work on?). Also deleting past mozfest sites is kind of iffy. You want to be see a conference's past track record =)

[2017-11-08 23:03] cadecairos commented on #557
This isn't actually advocacy.mozilla.org - it's a dev/test app somebody made

These apps are just development apps that @mmmavis made a few years ago, as far as I can tell. I will let her confirm this.

The Mozfest schedule apps aren't even being served anywhere, other than the Heroku domains. If we want these to be always on somewhere lets get it a real URL and have someone update the vulnerable

[2017-11-09 00:13] mmmavis commented on #557
Wow collusion!!! Good old times!!!

`collusiondb-development` and ` collusiondb-webvelopment` should be safe to delete (*sob sob* 😢 ). They were just my working in progress apps - I don't think they ever became "production".

For MozFest related instances `mozillafestival-org-2015` and `mozillafestival-org-2015-prod` I can't recall what the reason was that we had these. Let's check with Sarah/Erik

[2017-11-09 10:24] patjouk commented on #557
@Pomax You can find link to Heroku dashboard and github repo for every apps listed here [on this spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/1nwionBMKQz90qcxRd03fuWs33Tsfx_WLRA6AghVzL_A/edit?usp=sharing), including info on who touched it last and when, if it's runing or not, etc. I put a link to this spreadsheet in the ticket and just a simple list of apps because copy/pastin

[2017-11-09 14:53] xmatthewx commented on #555
I'll add this to our next weekly with Jesse.

[2017-11-10 16:07] cadecairos commented on #555
labelling this as blocked, on the meeting with Jesse.

[2017-11-10 16:10] cadecairos commented on #541
@MandyRawls Can you update this issue with any more information?

[2017-11-10 16:14] MandyRawls commented on #541
Hi @cadecairos if it's not possible to mark the manager as "available" rather than "busy" on the calendar invite, then we are fine to remove the manager completely and just have the employee on the invite. Please let me know what's possible and what, if any, changes are made to the app. Thanks!

[2017-11-10 16:23] cadecairos commented on #554
handled in mozillafoundation/mofo-devops-private#92

[2017-11-10 16:23] #554 closed

[2017-11-10 16:51] cadecairos commented on #147
THIS DONE.

Webmaker component has been (or will be shortly) put in the component graveyard.

[2017-11-10 16:51] #147 closed

[2017-11-10 17:09] cadecairos opened #559 "Intro to Oauth"
Lets go over how we set up OAuth with our network site.

CC/ @patjouk

[2017-11-10 18:36] xmatthewx commented on #555
And.... unblocked. $20 a month is well worth it. 👍 from our friend with the money bags.

[2017-11-14 17:19] patjouk commented on #557
I did a first round of unplugging 🔥
We discover that the domain of cem-site doesn't belong to us: I've turned the dyno off but we gonna have to keep the app for now.

@acabunoc Did you have the opportunity to take a look at the app I flagged for you?

I guess I should open a separate ticket for togetherjs. I'll do that soon.

I'm not sure what I should do with `nationbuild-salesforce`. Any ideas?

[2017-11-14 17:25] acabunoc commented on #557
Hey @patjouk thanks for pinging, just got back from PTO

These three need to stay online:
    badgekit-api-sciencelab
    badges-mozillascience-org
    gitter-irc-bot-msl

This one can be spun down:
    mozsprint-proposals

[2017-11-14 17:26] patjouk commented on #557
@acabunoc Awesome, thanks for the quick answer :)

[2017-11-15 16:03] cadecairos commented on #555
Update: got our subscription. We're working on updating the Zap to support the `related_creators` field.

[2017-11-15 16:12] cadecairos commented on #479
Meeting scheduled!

[2017-11-15 16:12] #479 closed

[2017-11-15 16:48] cadecairos commented on #559
Meeting scheduled for Thursday Nov 16th

[2017-11-15 16:48] #559 closed

[2017-11-15 16:51] cadecairos commented on #556
@patjouk We'll deal with this tomorrow during our meeting.

[2017-11-15 16:58] cadecairos commented on #535
@alanmoo this is going to require a lot of work, and I'm also not sure if it's technically possible with the data we have in that spreadsheet. With clubs winding down eventually, how important is it we put in an effort to do this?

[2017-11-15 17:02] cadecairos commented on #480
@danielhartnell We're planning to try migrating an install over next week. What's the right process to get set up on the private cloud with an install/workspace for MoFo?

[2017-11-15 17:12] stephaniemcv commented on #557
Apologies for the delay, I've been traveling :-/
Ok and yay for getting rid of nationbuild-salesforce!

[2017-11-15 19:45] cadecairos opened #560 "Tweak donate cloudwatch alarm"
The CloudWatch alarm for 5xx errors on donate it very sensitive and needs tweaking.

If I recall correctly, if it detects 5xx request volumes of >5% for >5minutes, we get paged.

This is a bit too sensitive, especially since pages tend to get cancelled almost immediately after triggering.

Maybe we can do 5xx >5% for 10 minutes?

[2017-11-16 12:06] patjouk commented on #560
It was >0% for 5 min so I changed it to >5%. Is it okay or would you still prefer for 10min?

[2017-11-16 14:52] cadecairos commented on #560
That's perfect, thanks @patjouk! Let's let things run their course for now and see if we stop getting pinged for false alarms/hiccups.

[2017-11-16 14:52] #560 closed

[2017-11-16 15:35] alanmoo commented on #535
@jvallera What are your thoughts?

[2017-11-16 15:54] jvallera commented on #535
I think it depends on how we want to archive Clubs. We've been talking to @jessevondoom and @Sydette about including people's Clubs on a Legacy page so they can continue to point to them now and in the future. Adding @ldecoursy who is helping manage Clubs sunset.

[2017-11-16 15:58] cadecairos commented on #556
@taisdesouzalessa you should be able to access the analytics for those sites now.

[2017-11-16 15:58] #556 closed

[2017-11-21 18:14] xmatthewx commented on #555
I know this stuff isn't super high priority, but it would be great to have it up before all hands so we can get activity rolling again.

[2017-11-22 08:39] patjouk commented on #555
I worked on it all yesterday (it was really frustrating because of zapier): it should work now but I want to do more testing today. I'll keep you posted :)

[2017-11-23 16:21] patjouk commented on #529
Hey there :) @LeoMcA do you think you can take care of migrating the old data or who do you think should do it?

CC @amirad

[2017-11-23 16:37] cadecairos commented on #480
@fox2mike @danielhartnell Hey, just wanted to see if we can work on getting MoFo a workspace/install in the next little while.

[2017-11-23 17:30] patjouk commented on #555
And it's back!
To be honest, the code is probably a bit fragile (thanks zapier ><) so the next steps should be to add RSS support and to use it to generate the slack message.