[2015-11-18 05:38] simonwex commented on #217
`/subscribe`

[2015-11-18 18:08] jbuck commented on #217
@simonwex ![screenshot 2015-11-18 13 07 06](https://cloud.githubusercontent.com/assets/578466/11249547/7c220fd8-8df5-11e5-8b72-f4ae9ee034a4.png)

[2015-11-18 18:18] jbuck commented on #205
Yeah, we'll probably end up doing that... it's the same thing we did with Popcorn. It's just easier to get it done

[2015-11-18 18:24] jbuck commented on #234
I have monitoring on the site so I know when it goes down, but it restores itself after a few minutes. I haven't investigated the cause of this issue.

[2015-11-19 07:11] Pomax commented on #232
https://github.com/mozilla/goggles.webmaker.org/blob/master/views/publication.js#L278-L286 looks like the culprit

[2015-11-19 14:07] OpenMatt commented on #186
blog.workopen.org is down again.
"Error establishing a database connection"
http://blog.workopen.org/

@jbuck: I'm going to start housing more content and curriculum here moving forward. Can we set it up in a way that it doesn't break monthly?

[2015-11-19 21:55] cadecairos commented on #186
I rebooted mysql to bring it back up again.

[2015-11-19 21:55] cadecairos commented on #186
(did not mean to close)

[2015-11-19 22:19] jbuck commented on #186
@OpenMatt yeah we'll need to do something about this...

[2015-11-20 19:04] xmatthewx commented on #228
What's the status on this? Seems like the last blocker to removing beta from beta.webmaker.org. Thanks!

[2015-11-20 22:58] jbuck commented on #228
No progress, been busy with EOY work. I'll get @cadecairos to tackle this next week

[2015-11-24 13:34] jbuck commented on #234
Much like #217 we should look at migrating this over to Heroku

[2015-11-24 13:43] jbuck commented on #232
Okay, so it sounds like this is just a "unexpected data in the database" issue causing the query to not work, right? As opposed to not having access or something like that

[2015-11-24 13:54] jbuck commented on #228
Okay, SSL certificate generated

[2015-11-24 18:00] simonwex commented on #234
:+1:

[2015-11-24 22:48] simonwex commented on #186
Hey @OpenMatt I'm wanting us to get away from hosting wordpress things ourselves. How would you feel about us moving this to a hosted wordpress service?

[2015-11-25 05:07] simonwex commented on #234
@jbuck is there any special customization that would stop us from using a hosted service for this blog?

[2015-11-25 13:59] OpenMatt commented on #186
@simonwex sure. can we have a quick discussion about it first? ping me in IRC when you have a sec?

[2015-11-25 19:10] acabunoc commented on #158
Hey @flamingspaz! I finally added the header/footer here: https://discourse-science.mofostaging.net/  Thanks for your patience :)

[2015-11-26 23:35] jbuck opened #235 "Review open issues, and resolve the ones we can"
Before we leave for 2016, we should resolve as many issues as possible. Lets start 2016 off with a clean slate!

[2015-12-01 02:55] mmmavis commented on #217
can't wait to see this happen :joy:

[2015-12-01 15:28] Pomax commented on #228
I thought we had the first and third points already, too: it'll be goggles.mozilla.org, and the heroku instances are in the [goggles pipeline](https://dashboard.heroku.com/pipelines/72072a67-e727-44d2-ba82-893c34ebce4a)

[2015-12-01 16:07] Pomax commented on #228
also crosslinking to https://github.com/mozilla/goggles.webmaker.org/issues/251 so that can close when this closes

[2015-12-01 21:53] xmatthewx opened #236 "Metrics SSL error"
https://metrics.webmaker.org/dashboard/product-kpis

<img width="832" alt="screenshot 2015-12-01 16 41 50" src="https://cloud.githubusercontent.com/assets/53411/11515447/fa114dc2-984b-11e5-8403-ecd9bc03f661.png">

[2015-12-01 22:15] jbuck commented on #232
I think @gideonthomas will fix this when he lands his date handling patch. In the meantime, you could patch goggles to send date strings instead of unix timestamps, and use sql to convert the existing timestamps to iso strings.

[2015-12-01 22:15] #232 closed

[2015-12-01 23:31] jbuck commented on #236
This is a known issue - when we re-issued the certificate for *.webmaker.org I asked @adamlofting about metrics.webmaker.org and he said it wouldn't likely be used going forward so we didn't need to keep the certificate. If you want, you can click through the certificate warning to see the metrics content.

[2015-12-01 23:31] #236 closed

[2015-12-01 23:46] jbuck commented on #209
@cadecairos I spoke to webops and they said the preferred method was to continue to register domains through them. They also suggested that we request a mark monitor account so we could register our own domains. But that's for future us!

I filed the registration bug, since I don't think you were on the thread with the domain decision: https://bugzilla.mozilla.org/show_bug.cgi?id=1229591

[2015-12-01 23:59] jbuck commented on #209
@cadecairos also, can you create a new s3+cloudfront cloudformation for this new domain?

[2015-12-02 00:04] jbuck opened #237 "Implement SES bounce recorder"
https://github.com/Signiant/aws-ses-recorder

[2015-12-02 17:06] Pomax commented on #232
filed https://github.com/mozilla/goggles.webmaker.org/issues/257 to track that over on the goggles repo

[2015-12-03 20:29] cadecairos commented on #209
* Cloudfront stack created: published-mln-content-production
* A Route53 Zone was set up for thimbleprojects.org, and is configured to point and the CF dist in the cloudformation stack.
* Digicert is processing our CSR

[2015-12-04 17:18] simonwex opened #238 "Add redirect fro /me to teach site."
301
http(s)://webmaker.org/me -> https://teach.mozilla.org/me/

[2015-12-04 17:18] simonwex commented on #238
Hey, @cadecairos do you have time to do this?

[2015-12-04 17:18] simonwex commented on #238
https://github.com/MozillaFoundation/plan/issues/561

[2015-12-04 17:19] cadecairos commented on #238
I though I had already - did we not :ship: it?

https://github.com/mozilla/webmaker-browser/pull/228/files

[2015-12-04 17:23] simonwex commented on #238
I suppose not. Mind making it happen?

[2015-12-04 17:23] cadecairos commented on #238
not at all!

[2015-12-04 20:04] cadecairos commented on #209
@jbuck can we call this done?

[2015-12-04 21:07] xmatthewx opened #239 "Switch beta.webmaker.org to webmaker.org"
To wrap Webmaker in 2015 as we shift focus in 2016, it'd be great to fully retire the old website and pull beta out of the URL on the new site.

 - Blocked by Goggles launch https://github.com/MozillaFoundation/plan/issues/554
 - Blocked by /me redirect https://github.com/MozillaFoundation/mofo-devops/issues/238

To things to watch out for:
 - Make sure that existing Webmaker project links redirec

[2015-12-04 23:33] jbuck commented on #209
Yep, this is done

[2015-12-04 23:33] #209 closed

[2015-12-04 23:34] jbuck commented on #228
Need to complete an [RRA](https://bugzilla.mozilla.org/show_bug.cgi?id=1230666) first

[2015-12-05 02:37] Pomax commented on #228
can we add a few more checkboxes to tick off? Right now the only thing that this issue claims is still pending is DNS clearance, which is not quite right =)

[2015-12-05 22:42] simonwex opened #240 "Add logrotate to cron on EC2 instances for all log files"
1. Rotate the log file when file size reaches a specific size
2. Continue to write the log information to the newly created file after rotating the old log file
3. Compress the rotated log files
4. Specify compression option for the rotated log files
5. Rotate the old log files with the date in the filename
6. Remove older rotated log files

[2015-12-11 23:22] jbuck opened #241 "EC2 Retirement Notice"
i-a6bb5f10 in mofo-community

@flamingspaz FYI

[2015-12-13 23:04] jbuck opened #242 "Update InfoSec AWS auditing role"
https://bugzilla.mozilla.org/show_bug.cgi?id=1232126

[2015-12-14 19:04] jbuck commented on #40
We actually solved this by using 1Password for Teams!

[2015-12-14 19:04] #40 closed

[2015-12-14 19:35] jbuck opened #243 "Figure out when Thimble content is moving"

[2015-12-16 04:03] simonwex commented on #243
I think we should schedule this for early in the new-year.

[2015-12-30 00:22] flamingspaz commented on #241
👌

[2015-12-30 00:22] #241 closed

[2016-01-05 18:40] ottonomy commented on #199
@jbuck can you run these queries again?

[2016-01-05 18:40] ottonomy commented on #199
@jbuck can you run these queries again?

[2016-01-08 17:43] cadecairos opened #244 "forum.mozillascience.org expiring 01/26/2016"
Is this used still?

shall we renew?

[2016-01-12 21:47] simonwex opened #245 "Create production and staging deployments of mattermost"
It could possibly live at `chat.mofo.build`

This should update from https://github.com/mozilla/mattermoz -- we should also merge the latest upstream commits from mattermost.

[2016-01-14 15:53] cadecairos opened #246 "Obtain a SANS cert for mozillafoundation.org"
cc/ @simonwex @OpenMatt

We will probably want to transfer ownership of the domain to Mozilla, I think.

A wildcard cert will let us host apps on subdomains of build.mofo using the same cert.

EDIT:

We're going to host the new things at:
* build.mozillafoundation.org
* book.mozillafoundation.org
* chat.mozillafoundation.org

[2016-01-14 16:01] simonwex commented on #246
We *must* transfer ownership in order to purchase the cert.

[2016-01-14 16:10] OpenMatt commented on #246
@cadecairos ok. how do we transfer ownership? You have my credentials, I believe -- so please push ahead with whatever's required.

[2016-01-14 16:25] cadecairos commented on #246
@OpenMatt Okay, I'll initiate the transfer process.

@simonwex Do you know if there's a formal process for transferring ownership to Mozilla?

[2016-01-15 15:25] gideonthomas commented on #243
The goal is to have it done by Jan 29th per https://github.com/mozilla/thimble.webmaker.org/milestones/Jan%2029%20Heartbeat%20-%20Erase%20Technical%20Debt

[2016-01-15 16:49] ScottDowne opened #247 "put hive chicago buzz feed somewhere"
Right now it's just on gh-pages.

http://mozilla.github.io/mofo-schedule-app/hive-chicago-buzz/

I'm also not sure what we want the final URL to be.

@simonwex

[2016-01-15 21:37] xmatthewx opened #248 "Recover Blitline credentials"
MoFo tools utilize Blitline for its thumbnail screenshot service. It appears to be down, but @cadecairos does not have credentials to the account. It's critical that we recover these. cc @simonwex

[2016-01-18 16:32] omnignorant commented on #247
Hey @ScottDowne @simonwex it could stay there, but I'm getting a 404 when I try to visit it now.

However, I'd like to have it link to http://sessions.hivechicagobuzz.org which I can do easily by creating a cname, but I'm pretty sure someone also has to do something in the GitHub repo to make that work.

[2016-01-18 17:12] ScottDowne commented on #247
That link was old, I updated the comment with the new link.

[2016-01-18 17:12] ScottDowne commented on #247
I'm not familiar with what has to happen on the github side to make that work.

[2016-01-18 17:13] omnignorant commented on #247
Here's what has to happen on the gh-pages side
https://help.github.com/articles/adding-a-cname-file-to-your-repository/

I'm investigating on the squarespace side...

[2016-01-18 17:22] ScottDowne commented on #247
Cool, that cname thing looks easy enough.

[2016-01-18 18:37] ScottDowne commented on #247
Hm, for now this might work, but it looks like github only supports one, which ultimately we planned on having multiples. Maybe the one repo thing isn't going to work too well.

[2016-01-18 18:40] omnignorant commented on #247
@ScottDowne I setup squarespace to point schedule.hivechicagobuzz.org to mozilla.github.io because it wouldn't let me specific a sub-directory (i.e. project repo).

This seems to be what [GitHub anticipates](https://help.github.com/articles/tips-for-configuring-a-cname-record-with-your-dns-provider/)

Next, I think we just [add the CNAME file to our project `gh-pages` branch](https://help.github.c

[2016-01-18 18:55] omnignorant commented on #247
hmmm, that didn't quite work (returns a 404), but I think maybe you're supposed to put the CNAME file in project directory, i.e. `mofo-schedule-app` and not in the `hive-chicago-buzz` sub-directory.

I'm gonna try to place the CNAME file at the top of the project repo, then see if http://schedule.hivechicagobuzz.org/hive-chicago-buzz works as a proof of concept...

If this doesn't work, I'm just g

[2016-01-18 18:55] ScottDowne commented on #247
Lol, I noticed you already did it, then I did too...

[2016-01-18 18:56] ScottDowne commented on #247
It won't work in the root of master.

[2016-01-18 18:57] ScottDowne commented on #247
If you look in gh-pages branch, it's in there: https://github.com/mozilla/mofo-schedule-app/tree/gh-pages

[2016-01-18 18:58] omnignorant commented on #247
yeah, but it did work, just in a crappy way: http://schedule.hivechicagobuzz.org/hive-chicago-buzz/

[2016-01-18 19:03] ScottDowne commented on #247
Yeah, I didn't know this was how this sort of thing worked.

I was planning on having multiple schedules here, but looks like it can only handle this on a subdomain basis, and not a full url...

I say for now, we just drop the `hive-chicago-buzz/` directory, and put all the contents in `public`

[2016-01-18 19:07] omnignorant commented on #247
that's up to you! the URL mapping would look beautiful if you did that, but it's not necessary.

problem: github is not particularly good for managing themes or for being used as a CMS.

[2016-01-18 19:12] ScottDowne commented on #247
Updated the URL structure.

This is a temp solution, in the long run I want whatever https://petitions.mozilla.org is doing, but I'm not sure how to do that.

[2016-01-18 19:12] #247 closed

[2016-01-18 19:53] simonwex commented on #247
Hey @ScottDowne, ask @cadecairos for help if you need it.

[2016-01-19 17:05] cadecairos commented on #248
I've made contact w/ Jon and gotten access.

[2016-01-19 17:05] #248 closed

[2016-01-19 17:42] simonwex commented on #248
@cadecairos could you make sure the details are in the vault?

[2016-01-19 19:07] Pomax opened #249 "create a new heroku instance with an id.wmo for external contractor use"
In order to have one of our external contracts put their work on heroku for live testing, a new copy of id.wmo running on a heroku instance that they can be granted access to is needed.

If we can just copy the staging instance with new env vars so we don't expose any of our own staging cookie secrets etc, this should be a relatively quick job

[2016-01-19 22:08] simonwex commented on #249
@cadecairos I'll just heroku fork the staging app. Is there anything I should be careful about scrubbing?

[2016-01-19 22:09] cadecairos commented on #249
We should truncate the tables and insert new credentials for the contractors.

[2016-01-25 17:09] jbuck opened #250 "Migrate apps off Heroku Private Spaces Beta"
We have our transaction db running in the beta space, which will be terminated Jan 31. We need to shut it down and migrate to a paid Private Space

[2016-01-25 21:27] jbuck commented on #244
Yeah, still used. I added that CNAME to the mozillascience.org cert and then changed the ELB to use that cert.

[2016-01-25 21:27] #244 closed

[2016-01-25 22:48] jbuck commented on #246
We can't transfer a domain that's less than 60 days old

On Thu, Jan 14, 2016 at 11:25 AM, Christopher De Cairos <
notifications@github.com> wrote:

[2016-01-25 23:08] jbuck commented on #199
@ottonomy 2016-01-25: 108315 & 15869

[2016-01-26 19:46] ottonomy commented on #199
Thanks, @jbuck. We'll socialize these around. I'd like to have a chat soon about setting up a regular stats-reporting system. I'm collecting info right now on what additional statistics would be useful. I'll be in touch about that.

[2016-01-26 21:08] cadecairos commented on #228
All done!

[2016-01-26 21:08] #228 closed

[2016-01-26 21:46] ldecoursy commented on #121
Cleaning some old tickets - closing this one.

[2016-01-26 21:46] #121 closed

[2016-01-26 21:46] ldecoursy commented on #234
Checking back on this - anything else we need to do here?

[2016-01-26 22:44] xmatthewx opened #251 "Set up monitoring for blitline thumbnail service"

[2016-01-26 23:12] Pomax commented on #228
\o/

[2016-01-27 22:09] cadecairos commented on #246
Certs acquired, deployed to Heroku.

DNS updated, waiting on SSL endpoints to be set up on Heroku's side.

[2016-01-28 21:02] ScottDowne opened #252 "Ship new advocacy.mozilla.org site"
I have been working on this here: https://github.com/ScottDowne/advocacy.mozilla.org

Looks like we'll want to ship this via Heroku, and not gh-pages.

[2016-01-29 17:23] xmatthewx commented on #239
This should be unblocked and ready to go now. See planning ticket https://github.com/MozillaFoundation/plan/issues/631

[2016-01-29 18:20] jbuck commented on #249
@cadecairos and @Pomax did this!

[2016-01-29 18:20] #249 closed

[2016-01-29 18:20] jbuck commented on #246
@cadecairos did this!

[2016-01-29 18:20] #246 closed

[2016-01-29 18:20] jbuck commented on #245
@cadecairos did this!

[2016-01-29 18:20] #245 closed

[2016-01-29 18:29] #235 closed

[2016-01-29 22:46] ldecoursy opened #253 "Move discourse.webmaker.org to new domain"
We need to update the URL for the Discourse forum linked to teach.mozilla.org so it no longer lives on the webmaker domain–currently it's at http://discourse.webmaker.org

@simonwex offered to help explore our options and delegate next steps

cc @hannahkane @kgorr

[2016-01-29 22:53] ldecoursy opened #254 "Need access to customize welcome/start guide for teach.mozilla.org Discourse forum"
In admin settings under "Other," there is currently an option selected to email all new users a welcome note and start guide, however we can't seem to find the copy to edit/customize it.

@simonwex offered to help!

cc @kgorr

[2016-01-29 22:58] ldecoursy opened #255 "Add TOS and Privacy Policy to Discourse footer"
The link to the TOS is buried at http://discourse.webmaker.org

Can we add a footer that links to the current Webmaker/Mozilla Learning TOS https://beta.webmaker.org/#/legal?_k=8svxtt and Mozilla Privacy Policy https://www.mozilla.org/en-US/privacy/websites/  (These are the same links that live on the teach.mozilla.org footer)

@simonwex to assign

cc @hannahkane @kgorr

[2016-01-29 23:02] ldecoursy opened #256 "Transfer hivenyc.org blog hosting to Mozilla"
Currently hosted on Go Daddy and it expires on Feb. 8

@jbuck, hoping you can help!

[2016-02-01 15:42] jvallera commented on #256
Let us know how @jazoulai and I can help

[2016-02-01 17:50] jbuck commented on #252
https://bugzilla.mozilla.org/show_bug.cgi?id=1244778 is needed for the DNS change, and I think that's it.

[2016-02-01 18:05] jbuck commented on #256
@ldecoursy One thing I'd do right now is cancel the renewal, because I think the notice said that they process it on the week before it expires

[2016-02-01 18:08] jbuck commented on #256
@ldecoursy could you create an wordpress admin account for me on hivenyc.org ? I'll need to export all of the data on the site. I'll probably also need file access if that's easy for you to setup?

[2016-02-01 18:09] jbuck commented on #256
@simonwex I'd like to use a wordpress hosting provider for this. I was thinking a professional plan from WPEngine. Thoughts?

[2016-02-01 18:35] ldecoursy commented on #256
@jbuck Just created an admin account for you, let me know if you don't receive the password via email. Not sure how to give file access - @jazoulai can you help with that?

[2016-02-01 18:37] ldecoursy commented on #256
Also just cancelled the renewal - please let me know if for any reason this won't be done before the expiration.

[2016-02-01 18:41] jbuck commented on #256
@ldecoursy okay, I got my sign-in working

[2016-02-01 18:50] jbuck commented on #256
@jazoulai The reason I need file access is to download all of the pictures from http://hivenyc.org/wp-admin/upload.php

[2016-02-01 19:01] jbuck commented on #256
Ah nice, WPEngine has a built-in migration checklist: https://wpengine.com/support/migration-process/

[2016-02-01 19:02] jazoulai commented on #256
@jbuck what's the username your using on Wordpress? I can't seem to find your user.

[2016-02-01 19:05] jbuck commented on #256
@jazoulai it's jbuck

[2016-02-01 19:07] jazoulai commented on #256
sorry yes, don't know why it wasn't coming up before. You have full admin privileges. Are you being denied access to something?

[2016-02-01 19:33] jbuck commented on #256
@jazoulai there are two things I need to backup: the database, and the files. It's possible to backup the database from the wp-admin console, but the files need to be backed up by copying them somewhere else.

Looking at [Godaddy's documentation](https://ca.godaddy.com/help/managed-wordpress-sftp-ssh-and-phpmyadmin-credentials-8940), you'll need to get the sFTP credentials and then email them to m

[2016-02-01 19:36] jbuck commented on #256
@ldecoursy actually, I think you might be the only person who can send me the sftp credentials. Let me know if you want to vidyo it!

[2016-02-01 19:50] jbuck commented on #250
It's not in a paid Private Space, but I have shut it down.

[2016-02-01 19:50] #250 closed

[2016-02-01 20:04] jbuck commented on #242
I tried to do this, but both stacks failed to create.

[2016-02-01 21:25] Pomax commented on #239
goggles launched, but currently users will still be using the library as it lives goggles.webmaker.org, so we'll need to keep that alive for a while, to give people time to transition to goggles.mozilla.org -- that shouldn't interfere with any other switchovers though

[2016-02-01 21:52] ldecoursy commented on #256
@jbuck Can you do anytime within the next hour, or sometime tomorrow?

[2016-02-01 22:31] jbuck commented on #256
@ldecoursy had a quick chat just now. She was able to generate FTP credentials for me, so I've currently backing up the Wordpress data. We also decided to change the renewal to a monthly option, giving us more time if we're not able to complete the migration this week.

@simonwex and I will figure out what our options for Wordpress hosting are tomorrow on our standup and report back here.

[2016-02-02 16:28] jbuck commented on #252
DNS has been updated!

[2016-02-02 16:29] #252 closed

[2016-02-02 17:25] jbuck commented on #91
[code]

[2016-02-02 17:26] jbuck commented on #91
Emailed to Pamela & Adam

[2016-02-02 17:26] #91 closed

[2016-02-02 19:01] ldecoursy commented on #254
Also per Abigail, we should check what email address this comes from (Mozilla vs. Discourse)

[2016-02-02 20:20] #238 closed

[2016-02-02 20:21] simonwex commented on #215
Related to: https://github.com/MozillaFoundation/plan/issues/569

[2016-02-02 20:33] simonwex commented on #149
Hey @gvn, could you put the keys in our Vault? I'll send you an invite shortly.

[2016-02-02 20:33] jbuck commented on #131
We should put together a list from https://github.com/search?p=2&q=org%3Amozilla+%22https%3A%2F%2Flogin.persona.org%2Finclude.js%22&ref=searchresults&type=Code&utf8=%E2%9C%93

[2016-02-02 20:34] simonwex commented on #240
Related to #110

[2016-02-02 20:35] #28 closed

[2016-02-02 20:35] simonwex commented on #243
Closing this out, as we have a technical debt milestone to track this. When we have an actionable devops ticket, will recreate.

[2016-02-02 20:35] #243 closed

[2016-02-02 20:36] simonwex commented on #37
Hey @flamingspaz, @jbuck thinks this might have already been done. Can you confirm?

[2016-02-02 20:36] #39 closed

[2016-02-02 20:36] #45 closed

[2016-02-02 20:37] #110 closed

[2016-02-02 20:37] #124 closed

[2016-02-02 20:37] #125 closed

[2016-02-02 20:39] #237 closed

[2016-02-02 20:53] simonwex opened #257 "Research Wordpress hosting"
* Must support REST API (This isn't necessarily WP-API extension, but the API that Calypso uses)
  *  http://v2.wp-api.org/changes-beta-1.html
 * Must support custom content types
 * Must be able to install custom plugins

[2016-02-02 20:56] jbuck commented on #256
@ldecoursy Okay, we filed https://github.com/MozillaFoundation/mofo-devops/issues/257 to investigate suitable Wordpress hosts. We're looking for one that would suit hivenyc.org as well as our CMS project.

[2016-02-02 20:57] jbuck commented on #205
https://github.com/mozillafoundation/plan/issues/569

[2016-02-02 20:57] jbuck commented on #239
https://github.com/mozillafoundation/plan/issues/569

[2016-02-02 20:58] simonwex opened #258 "Plan and Schedule Interview with Frankie"

[2016-02-02 21:59] Pomax commented on #239
@jbuck why does that seem to suggest goggles is getting completely turned off? Or am I misinterpreting the "deprecated" notes?

[2016-02-02 23:18] jbuck commented on #239
@Pomax I suppose it could be interpreted in multiple ways!

[2016-02-02 23:21] gvn commented on #149
Done and done.

[2016-02-02 23:21] #149 closed

[2016-02-03 10:15] flamingspaz commented on #254
You can change that text in Admin > Customize tab > Text Content > New User guidance. The email comes from discourse (teachtheweb@) but the name that comes up is the one listed as "site contact username" (currently @ldecoursy )

[2016-02-03 18:42] jbuck opened #259 "Amazon EC2 Instance scheduled for retirement"
@flamingspaz i-94324e47 (csa-znc-new) is scheduled for retirement and looks like it's already unavailable. I don't know what this is used for or who is using it, so could you restart/terminate as you see fit?

[2016-02-03 20:02] TomFarrow commented on #259
moving discussion here.

Is my data gone? Have our users lost their accounts?

[2016-02-03 20:46] jbuck commented on #259
![screenshot 2016-02-03 15 45 24](https://cloud.githubusercontent.com/assets/578466/12796526/3cfe4e5a-ca8d-11e5-89d6-d364db04abd1.png)

[2016-02-03 21:51] ldecoursy commented on #254
Thanks @flamingspaz!  @kgorr Can you see if you can access this in Discourse and make recommendations on if/how we can customize this further? I'll close this ticket here and can open another one in our repo to update the copy there.

[2016-02-03 21:51] ldecoursy commented on #254
@simonwex OK for me to close?

[2016-02-03 22:09] KGorr commented on #254
@ldecoursy, just checked and I can access as @flamingspaz directed (thank you!). Will put the copy and suggested edits onto the new ticket once it's live. Thanks!

[2016-02-04 00:57] simonwex commented on #255
@flamingspaz what's the best way for us to make updates to the template for things like this?

[2016-02-04 01:16] simonwex opened #260 "Copy Private APK keys to physical media, give to Angela or jlin for safe keeping"
This could be a couple USB keys or something similar.

Related: #149

[2016-02-04 02:37] simonwex commented on #253
@ldecoursy it's not going to be possible to put this on a mozilla.org domain. We can register a new top-level domain for this, do you have any ideas?

Let's scratch it out in this document: https://docs.google.com/a/mozilla.com/document/d/1NA5rYu2eVsTnCIv8VWAqyHhcn5bLF2SNrH4UTbi2AiU/edit?usp=sharing

(don't leave domain suggestions here as someone else could buy the domain on us)

[2016-02-04 19:43] jbuck commented on #259
@TomFarrow The data is probably fine since an EBS device was used for the root volume but it doesn't look like it's responding to anything.

[2016-02-05 12:42] flamingspaz commented on #255
There's an option to add custom HTML headers/footers which would be what you'd want. As long as you make it a simple layout you shouldn't break other parts of the theme (mobile).

You can find it in Admin > Customize > CSS/HTML. I'd recommend playing about on https://discourse-ttw.mofostaging.net/ before adding into prod.

[2016-02-05 14:58] ldecoursy commented on #253
Left a few suggestions - would also love input from @chrislarry33 and @hannahkane

[2016-02-05 18:02] ldecoursy commented on #255
Thanks @flamingspaz!
@simonwex Is this something someone on your team can still help with?

[2016-02-05 19:00] simonwex opened #261 "Force advocacy.mozilla.org to SSL"
https://advocacy.mozilla.org/ has an active cert, but hosting over http is still allowed. Especially considering our work around encryption campaign, we shouldn't allow non-secure connections.

[2016-02-05 20:22] simonwex commented on #261
https://github.com/mozilla/advocacy.mozilla.org/pull/52

[2016-02-05 21:42] simonwex commented on #110
(Duplicate of $240)

[2016-02-05 21:59] jbuck opened #262 "Counter doesn't load on http://fundraising.mozilla.org/ anymore"
It's because I shut down the transaction service in #250 and didn't setup a static replacement.

[2016-02-05 22:01] simonwex commented on #261
Patch landed, need to set config var on staging + production

[2016-02-09 17:41] jbuck commented on #262
Right now we have a our fundraising blog and Firefox add-on that poll this arbitrary cloudfront distribution for data. I propose we:

1) purchase a new domain that we can change what it's pointing at more easily
2) setup static files there
3) change blog and add-on to point at new url

@cadecairos thoughts?

[2016-02-09 17:55] cadecairos commented on #262
Could we skip the new domain name and just set up a static s3 website to serve the properly formatted JSON?

[2016-02-09 22:26] HPaulJohnson commented on #261
@simonwex just confirming this will happen in time for the new /encrypt landing page to go live tomorrow a.m. (2/10 @ 10 am)

[2016-02-09 22:43] alicoding commented on #261
done :)

http://advocacy.mozilla.org should now redirect you to https://advocacy.mozilla.org

[2016-02-09 22:43] simonwex commented on #261
And FYI @HPaulJohnson we should always be taking the care to share `https://...` links, so the above fix isn't required.

[2016-02-09 22:47] HPaulJohnson commented on #261
yep, good reminder @simonwex

thanks, all!

[2016-02-09 22:55] simonwex commented on #261
Confirmed:

[code]

[2016-02-09 22:55] #261 closed

[2016-02-12 20:30] simonwex opened #263 "Look into Mattermost + LDAP"
How hard would this be? What do we need from MozIT?

[2016-02-12 23:34] #254 closed

[2016-02-12 23:35] ldecoursy commented on #255
Per legal, since there is little Mozilla branding on the site, we need to include “Mozilla” in the footer-- e.g., “Mozilla Privacy Notice” and “Mozilla Learning Terms of Use.”

[2016-02-16 16:51] jbuck commented on #263
We can file a service now request for this:  Infra Services -> Operations -> SSO Federation Request

[2016-02-16 18:25] #259 closed

[2016-02-16 18:33] jbuck commented on #257
* WPEngine
  * They love the REST API, they even [wrote a book](http://hs.wpengine.com/torque-wordpress-rest-api-ebook-blog) about it.
  * They support custom content types
  * They have a [list of disallowed plugins](https://wpengine.com/support/disallowed-plugins/)

[2016-02-16 18:33] #257 closed

[2016-02-16 18:44] #260 closed

[2016-02-16 18:55] jbuck commented on #262
Waiting for CF distribution to update now

[2016-02-16 19:01] #262 closed

[2016-02-16 19:20] simonwex opened #264 "Add SSL cert to CF distro for netgainpartnership.org"
Cert here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1248445

[2016-02-16 19:28] simonwex commented on #260
:key: :boom:

[2016-02-16 20:20] #264 closed

[2016-02-16 21:06] simonwex opened #265 "Rehost netgainpartnership.org site on our own kit"
Repo here:
https://github.com/4site-interactive-studios/netgain

[2016-02-17 17:10] jbuck commented on #265
We've exceeded our bandwidth limit, so even more critical now.

[2016-02-17 18:03] jbuck commented on #265
http://netgainpartner.wpengine.com/ needs some manual QA by Sam B

[2016-02-18 20:04] jbuck commented on #265
DNS has been switched, just waiting for WPE to add the SSL certificate

[2016-02-18 21:07] jbuck commented on #265
SSL has been enabled

[2016-02-18 21:07] #265 closed

[2016-02-19 19:18] simonwex opened #267 "Create 301 for netgainchallenge.org"
Should 301 to our netgainpartnership.org site.

[2016-02-19 20:06] cadecairos commented on #263
Looks like the LDAP login implementation here supports Gitlab specifically, and Github and Github Enterprise ([only because the API is similar](http://docs.mattermost.com/deployment/sso-gitlab.html#single-sign-on-configuration))

Do you know if our Mozilla LDAP is also similar?

[2016-02-19 21:07] jbuck commented on #263
I suspect you'll get access through Okta, but I'd file a Service Now
request to find out

On Fri, Feb 19, 2016 at 3:06 PM, Christopher De Cairos <
notifications@github.com> wrote:

[2016-02-22 14:25] alicoding opened #268 "Turn off or redirect welcome.webmaker.org"
Currently https://welcome.webmaker.org doesn't have cert and you have to allow/add exception to view the page. As part of this ticket https://github.com/MozillaFoundation/plan/issues/668 can we remove this subdomain or redirect it somewhere?

[2016-02-22 14:31] jbuck commented on #268
I agree, thanks for pointing this out Ali!

On Mon, Feb 22, 2016 at 9:25 AM, Ali Al Dallal <notifications@github.com>
wrote:

[2016-02-22 15:48] #186 closed

[2016-02-22 16:38] simonwex opened #269 "Create hosted zone for netgainchallenge.org"
- [x] Provide Simon the nameserver addresses
 - [x] CNAME www.NetGainChallenge.org to netgainpartnership.org
 - [x] Add redirects to WPEngine

[2016-02-22 17:46] Pomax opened #270 "Replace the old goggles content with a "please get the new one" notice"
In order to get people off of old goggles, we've written https://github.com/mozilla/x-ray-goggles/blob/master/upgrade-goggles.js, which needs to replace the `webxray.js` that is still up as https://goggles.webmaker.org/webxray.js - this will make people see the notice when they try to run the bookmarklet and should move everyone off of old goggles pretty much "immediately" (although a grace period

[2016-02-22 18:06] jbuck commented on #269
Nameservers:

* ns-1114.awsdns-11.org
* ns-608.awsdns-12.net
* ns-1972.awsdns-54.co.uk
* ns-327.awsdns-40.com.

[2016-02-22 18:06] #269 closed

[2016-02-22 19:50] jbuck commented on #267
Dupe of #269

[2016-02-22 19:50] #267 closed

[2016-02-22 19:51] jbuck commented on #268
Deleted from DNS

[2016-02-22 19:51] #268 closed

[2016-02-22 23:16] Pomax commented on #270
this is done!

[2016-02-22 23:16] #270 closed

[2016-02-23 16:02] ldecoursy opened #271 "Discourse login not working"
Login at discourse.webmaker.org is not working - a pop-up shows up but it's blank - just tried in Chrome and Safari.

We have a training tomorrow and need participants to have access to Discourse.

[2016-02-23 16:08] ldecoursy commented on #271
Also someone just tweeted us about it https://twitter.com/_Coragem/status/701992105607110657

[2016-02-23 16:36] cadecairos commented on #271
I'm seeing this error in the JS console

`TypeError: Discourse.LoginView is undefined`

[2016-02-23 16:38] flamingspaz commented on #271
I know what's up with this, I'll fix it when I get home.
On 23 Feb 2016 16:36, "Christopher De Cairos" <notifications@github.com>
wrote:

[2016-02-23 16:40] cadecairos commented on #271
@flamingspaz Awesome, thanks!

[2016-02-23 18:08] cadecairos opened #272 "Prepare advocacy.mozilla.org for snippet traffic"
We've got one day to get ready! :(

details to follow (expected traffic/click throughs, links, etc.)

[2016-02-24 01:01] flamingspaz commented on #271
This should be fixed now. There was a bug in the persona plugin which was fixed a while ago but I didn't think this Discourse instance was using it.

[2016-02-24 01:01] #271 closed

[2016-02-25 19:21] cadecairos commented on #272
I got MoCo to point advocacy.mozilla.org at a cloudfront CDN. We did not tip over with the traffic increase. huzzah!

[2016-02-25 19:21] #272 closed

[2016-02-25 21:48] ldecoursy commented on #253
@simonwex Just checking back on this one.

[2016-02-25 21:50] ldecoursy commented on #256
@jbuck I see #257 is now closed. Any word on this one before we pay for another month with GoDaddy?

[2016-02-25 21:50] ldecoursy commented on #255
Ping @simonwex

[2016-02-25 22:07] hannahkane commented on #253
Sorry I missed this mention earlier. Just commented on the doc.

[2016-02-25 22:47] jbuck commented on #256
I think I have a decent migration strategy here. Let me see what I can do!

[2016-02-26 07:14] simonwex commented on #255
Hey @ldecoursy we're a bit behind because of PTO & illness. I'll make sure we prioritize it next week.

[2016-02-26 17:51] jbuck commented on #256
I've started a migration to http://hivenyc.wpengine.com . I'll update this thread when it's done!

[2016-02-26 18:32] jbuck commented on #256
@ldecoursy wanna take a quick peek around http://hivenyc.wpengine.com/ and make sure everything looks good?

[2016-02-26 18:52] jazoulai commented on #256
@jbuck @ldecoursy should I wait to post new content until the migration is
complete?

Joey
____________________
Community Coordinator, Hive NYC Learning Network, Mozilla
*Follow HIVE NYC * Twitter <https://twitter.com/hivelearningnyc>  |
Instagram <https://www.instagram.com/hivelearningnyc/>  |  Facebook
<https://www.facebook.com/HiveLearningNYC/>  |  Website
<http://hivenyc.org/>

On Fri, Feb 26,

[2016-02-26 18:55] jbuck commented on #256
@jazoulai I can run another migration (and it'll be much quicker) so feel free to post content! I'll let you know when I'm transitioning the DNS.

[2016-02-26 19:10] ldecoursy commented on #256
Looks good to me at quick glance. @jazoulai can you also poke around the link above and see if everything seems like it's working?

[2016-02-26 19:28] jazoulai commented on #256
Everything looks good on my end @ldecoursy <https://github.com/ldecoursy>
 @jbuck!

Joey
____________________
Community Coordinator, Hive NYC Learning Network, Mozilla
*Follow HIVE NYC * Twitter <https://twitter.com/hivelearningnyc>  |
Instagram <https://www.instagram.com/hivelearningnyc/>  |  Facebook
<https://www.facebook.com/HiveLearningNYC/>  |  Website
<http://hivenyc.org/>

On Fri, Feb 26, 2

[2016-02-26 19:39] jbuck commented on #256
old IP is 54.83.28.74

[2016-02-26 19:49] #256 closed

[2016-02-29 19:56] jbuck opened #273 "Renew badgekit.org SSL certificate"
It expires March 7th, we should renew by March 5th at the latest

[2016-02-29 21:50] jbuck commented on #239
https://webmaker.org is now pointed at beta. Unfortunately I don't think I can setup a redirect from beta.wm.o -> webmaker.org because of all the redirects we had in the previous direction...

[2016-02-29 22:11] xmatthewx commented on #239
:open_mouth: Lookin good. Site works as expected. Link to legal is fine. Projects rendering is hunky dory. Nothing seems broken with or without beta in the URL.

While a redirect away from beta would be nice, we can probably survive without if beta continues to mirror things. Did we remove the wm -> beta redirects? Curious why the reverse is a problem.

[2016-02-29 22:17] jbuck commented on #239
@xmatthewx Many of the wm -> beta redirects were 301 Permanent redirects which are cached by users browsers forever. If I setup a beta -> wm redirect then the browser would detect that it can't complete the redirect, and the only fix is the clear the browser cache: https://support.apple.com/en-ca/HT203370

[2016-02-29 22:20] jbuck commented on #239
I've modified api.wm.o to point at webmaker.org for thumbnail generation

[2016-02-29 22:54] jbuck commented on #239
I think this is as far as we should go for now.

[2016-02-29 22:54] #239 closed

[2016-03-01 18:24] jbuck commented on #217
I moved this to WPEngine instead.

[2016-03-01 18:24] #217 closed

[2016-03-01 18:33] #116 closed

[2016-03-01 21:53] #234 closed

[2016-03-01 22:37] jbuck opened #274 "Get access to hostmaster email inbox for domain approval"
atoll recommended emailing infra-webops to ask

[2016-03-02 00:01] mmmavis opened #275 "Get our version of Calypso live"
https://github.com/mozilla/wp-calypso is our fork of Calypso (a WordPress editing interface written in React). It's totally on early WIP state but let's get it live somewhere first so we can share it to the stateholders!

No URL preference though. Maybe `editor` or `content-editor` will work? (on `heroku` or `mofostaging`?)

/cc @wex

[2016-03-02 00:35] mmmavis commented on #275
Actually, let me see if I just push it to heroku myself first :smile:

[2016-03-02 18:00] cadecairos commented on #81
[code]

[2016-03-02 18:02] cadecairos commented on #81
Spinning up a cloudfront distribution that points at a heroku app, to use for the apex badgekit.org domain.

[2016-03-02 19:03] cadecairos commented on #81
badgekit.org now runs on heroku (using cloudfront):

[code]

[2016-03-02 19:05] cadecairos commented on #81
still todo:

- [ ] shutdown EC2 instances and ELBs, and possibly auto scale groups.

[2016-03-02 19:14] ldecoursy commented on #255
@simonwex checking back, noticed the new name of this milestone. Is this doable?

[2016-03-03 00:27] flamingspaz commented on #255
@simonwex if this is just adding HTML to the footer do you want me to take it?

[2016-03-03 02:02] cadecairos commented on #273
This is done

[2016-03-03 02:02] #273 closed

[2016-03-03 02:09] cadecairos commented on #251
we can set up a [postback endpoint](http://docs.blitline.com/articles/postbacks_polling.html) to check for failing jobs

[2016-03-03 17:12] jbuck opened #276 "Run openbadges backpack usage queries"
This is a follow-up to #199, but slightly different:

The queries will need to be tweaked, but this should be doable.

Once we've done this, email them to Doug, Nate, and Oren.

[2016-03-03 17:23] jbuck commented on #276
I suggested that we run a daily roll-up, that way Doug can easily change the interval as necessary.

[2016-03-03 17:23] cadecairos commented on #276
Do we run these against the badgekit or badgekit-api DB?

[2016-03-03 17:24] jbuck commented on #276
Neither! We run it against the openbadges-db. And we'll need to tweak the query too.

[2016-03-03 17:34] xmatthewx opened #277 "Make a note to not shutdown the beta webmaker subdomain"
Add a note in your tracking docs to let sleeping dogs lie :sleeping: :dog:  to avoid deletion during a future spring cleaning.

Given resources, use of `beta` might remain in the app for a while. I've filed a bug to update the use in sharing links. This also impacts old thumbnails. Those are two likely vulnerable areas, though there may be others.

[2016-03-04 15:54] cadecairos commented on #276
I think this query does the trick:

[code]

[2016-03-04 16:53] jbuck opened #278 "Redirect webmak.es to apps.webmaker.org"
i-4ce88260

[2016-03-04 17:09] jbuck commented on #278
It'll probably be something like https://github.com/mozilla/mofo_system_configurations/blob/master/modules/apps/templates/makerly/vhost.erb but we'll need to figure out what the actual S3 bucket is.

[2016-03-04 17:54] #276 closed

[2016-03-04 17:54] jbuck commented on #81
We need to migrate bakery-production which is bakery.openbadges.org as well

[2016-03-04 17:54] jbuck commented on #81
It's a node 0.10 app

[2016-03-06 20:19] davidascher opened #279 "People can't sign into thimble"
See https://github.com/mozilla/thimble.mozilla.org/issues/1438#issuecomment-192944321

[2016-03-06 20:20] davidascher commented on #279
<img width="1148" alt="screenshot 2016-03-06 12 19 34" src="https://cloud.githubusercontent.com/assets/51278/13556722/ba88cbae-e395-11e5-8575-55c3c684bdae.png">

[2016-03-06 20:37] davidascher commented on #279
@jbuck can comment w/ some more details later, but IRC logs:

I've confirmed it's working for me, and have shared the good news w/ the thimble bug.

[2016-03-06 20:40] davidascher commented on #279
I closed the bug on thimble, but I suggest we use this bug to log the analysis.

[2016-03-07 01:52] cadecairos commented on #279
Lol, I was planning to do the Heroku migration on Monday!

[2016-03-07 22:30] xmatthewx opened #280 "Plan a recurring triage of desk.com issues"
https://webmaker.desk.com/web/agent/

[2016-03-09 01:50] Pomax opened #281 "kill off http://teach-site.herokuapp.com ?"
I'm not sure what http://teach-site.herokuapp.com is actually for, it looks like a test app last updated 10 months ago. Can we delete this?

[2016-03-09 05:14] simonwex opened #282 "Images not displaying on donate blog"
https://github.com/mozilla/donate.mozilla.org/issues/1384

[2016-03-09 15:57] jbuck commented on #282
Done!

[2016-03-09 15:57] #282 closed

[2016-03-09 16:00] jbuck commented on #281
Done!

[2016-03-09 16:00] #281 closed

[2016-03-09 16:09] cadecairos commented on #279
@jbuck The cause of this was logs using up all the disk space, right?

Now that we're on Heroku, that won't be an issue anymore.

[2016-03-09 16:29] jbuck commented on #279
Yerp!

[2016-03-09 16:29] #279 closed

[2016-03-09 17:38] xmatthewx opened #283 "Regenerate thumbnails missed while service was down"
Looks like thumbnails began to fail again on 2/29 around Project ID 61237. Some intermittent success, mostly failures. :game_die: :game_die:   #251

[2016-03-09 17:38] cadecairos commented on #278
[code]

[2016-03-09 17:44] mofodevops commented on #283
Blitline isn't showing any API errors in their dashboard.

@jbuck did we update the render url when we swtiched beta.webmaker.org? or does that old url still work?

[2016-03-09 17:44] mofodevops commented on #283
oops, I'm in the devops account! (cade)

[2016-03-09 19:20] xmatthewx commented on #283
Good question @cadecairos. He It looks like the change didn't work: https://github.com/MozillaFoundation/mofo-devops/issues/239#issuecomment-190424318

[2016-03-09 19:27] cadecairos commented on #283
No, I'm pretty sure it's working:

https://beta.webmaker.org/#/thumbnail?user=576822&project=56879&page=169389&_k=314wq1
https://webmaker.org/#/thumbnail?user=576822&project=56879&page=169389&_k=314wq1

Both these links work.

[2016-03-09 19:47] xmatthewx commented on #283
Agreed. I tested that when jbuck made the DNS changes. The URLs work. However...

Looking in the DB, 9 out of 10 have no thumb in March, `{}` in the field. Before March, only 1 out of 20 or so are missing their thumb.

Even projects with 3+ pages and 5+ elements are missing thumbs. Look at http://xmatthewx.github.io/webmaker-firehose/ and hit MORE a bunch of times.

Something is fishy, and the tim

[2016-03-09 22:12] cadecairos commented on #283
We've identified the issue. Looks like the screenshot service is refusing to accept screenshot requests for webmaker.org (previously it allowed only beta.webmaker.org)

Jon's pushing up a fix now.

We'll need to run the script to regenerate thumbs beginning from when the break happened ( ~February 29)

[2016-03-09 22:17] xmatthewx commented on #283
Thanks for the speedy response.

[2016-03-09 22:41] jbuck commented on #81
We've migrated it all to Heroku

[2016-03-09 22:41] #81 closed

[2016-03-09 22:42] jbuck commented on #55
Decommissioned!

[2016-03-09 22:42] #55 closed

[2016-03-09 22:59] jbuck commented on #79
* Shut down after Thimble is migrated
  * bleach-production-as
  * makeapi-production-as
  * makeapi-staging-as
  * mozillawebmakerproxy-production-as
  * makeapi-mongo-production
  * mongo-shared-staging
* Migrate to another AWS account or Heroku
  * source-production-as
  * source-staging-as
  * source-elasticsearch-production
  * source-elasticsearch-staging
* Shut down after Source & Thimble a

[2016-03-10 19:49] xmatthewx commented on #283
Cool. New projects are working. Let's keep this open as a reminder to run the regeneration script on 61236 < `project id` < 62148

[2016-03-11 17:42] simonwex opened #284 "Redirect gear.mozilla.org to mozilla.org on March 31."
Related plan ticket:
https://github.com/MozillaFoundation/plan/issues/762

[2016-03-11 17:43] cadecairos commented on #284
:sob:

[2016-03-14 15:44] cadecairos commented on #283
all done!

[2016-03-14 15:44] #283 closed

[2016-03-14 15:51] cadecairos commented on #280
Are we looking for a weekly calendar event to triage things on desk.com? or something else?

[2016-03-14 15:52] cadecairos commented on #274
Gonna call this one closed

[2016-03-14 15:52] #274 closed

[2016-03-14 15:56] xmatthewx commented on #280
Unsure. Whatever best fits your process with @simonwex. These are mostly account related requests, not specifically about any one tool.

[2016-03-14 15:56] cadecairos commented on #263
I suspect this is not possible without code changes, since the mattermost Single Sign On configuration happens within the gitlab configuration settings.

@simonwex What do you suggest we do with this issue?

[2016-03-14 15:58] cadecairos commented on #280
I added a recurring weekly event to my calendar to remind me to spend some time in desk.com.

Another option would be creating devops issues that link to the desk.com support threads, that way Account related support can be prioritized, and not checked in on once a week.

[2016-03-14 21:21] cadecairos commented on #275
I've got a DockerFile that is Heroku compatible, and builds+runs Calypso. I'm working on getting the config working right now.

I'm going to file a bug on wp-calypso to see if the Automattic team can provide an example or guide to a production config that doesn't rely on wordpress.com

[2016-03-15 00:15] simonwex commented on #263
Closing, we can revisit if it becomes important.

[2016-03-15 00:15] #263 closed

[2016-03-15 13:50] cadecairos opened #285 "Handle latest round of cert renewals"
- [x] ~~popcorn.webmadecontent.org~~
- [x] ~~assets.mozillawebmakerproxy.net~~
- [x] *.makes.org
   - [x] renew cert
   - [x] install cert
- [x] *.mofostaging.net
   - [x] renew cert
   - [x] install cert
- [x] *.mofoprod.net
   - [x] renew cert
   - [x] install cert
- [x] Badges stuff:
   - [x] renew cert
   - [x] install cert
   - [] ~~openbadges.org~~ http only
         - [] ~~logrotate~~ S3

[2016-03-15 18:18] simonwex commented on #284
What do you think the best way is for us to schedule things like this? Should we have a shared calendar?

[2016-03-15 18:21] cadecairos commented on #284
That should be okay, so long as we set up good reminders.

[2016-03-15 19:04] gene1wood commented on #242
I've enabled all the accounts in our systems (them not being enable is what caused the previous failure). Go ahead and try deploying the stacks again in each account and it should work fine.

[2016-03-15 19:36] simonwex commented on #280
@xmatthewx who primarily manages the requests as they come in through desk.com?

[2016-03-15 19:36] cadecairos opened #286 "Create an issue template for mofo-devops issues"
A template for devops bug would help encourage people to file their issues here!

more info to follow...

[2016-03-15 19:43] cadecairos commented on #205
@alicoding when you're ready to get started on this, come find me and I'll get you all you need

[2016-03-15 19:48] simonwex commented on #277
Done! (This won't show up in our spring cleaning lsit)

[2016-03-15 19:48] #277 closed

[2016-03-15 19:52] xmatthewx commented on #280
I am often assigned things by @KevZawacki. He maintains an FAQ, answers when he can, reassigns when he can't.

I wouldn't worry about this too much. Ops requests are low volume and not often critical issues. Simple to resolve. One per week? They've just previously sat unanswered.

[2016-03-15 19:55] cadecairos commented on #275
TODO: edit my wp-calypso bug https://github.com/Automattic/wp-calypso/issues/4049

[2016-03-15 19:56] cadecairos commented on #258
Completed!

[2016-03-15 19:56] #258 closed

[2016-03-15 20:32] cadecairos opened #287 "Point goggles.webmaker.org at a static S3 site"
goggles.webmaker.org currently has two functions: redirect to goggles.mozilla.org and serve webxray.js (instructs people to upgrade goggles).

This is being done with a heroku app :(

I've set up a cloudfront backed s3 site that mimics the behaviour above, with only one problem: because of a limitation of s3 websites, the redirect rule adds `index.html` to the path.

We'll need to handle that path

[2016-03-15 21:27] cadecairos commented on #280
@xmatthewx I think what I'd love to see is that the folks who frequent desk.com can file a bug on this repo when something is needed. I'm going to be adding an issue template so that filing devops bugs is as simple as possible, in terms of "What information should I give?"

[2016-03-15 21:45] xmatthewx commented on #280
Do you get an email when something is assigned to you on Desk.com? Take a peek at a couple of them. Most have personal info that we can't post github.

I'll let you, @simonwex and @KevZawacki decide how to handle this. I don't think that this is the right approach. I recommend you try Desk.com for a month and then decide if we need a different method.

You'll need to reply and close the issue via

[2016-03-15 22:11] cadecairos commented on #280
We can and should keep the personal data in desk. I'm proposing an issue describing the work requested, and a link to the desk issue for retrieving sensitive details (if required).

This approach will help myself and others involved in operations work to prioritise tasks. I think might be preferable to having ops integrate a second system into our day to day work, especially when the volume if tas

[2016-03-16 15:09] alicoding opened #288 "set a redirect for pto.mozillafoundation.org to PTO google form"
It'll be nice to have this redirect :)

[2016-03-16 15:32] cadecairos opened #289 "Shut Down apps.webmaker.org"
- [x] Grab static bits of the site
- [x] Use [this cloudformation template](https://github.com/MozillaFoundation/mofo-devops/blob/e10059112240095cd39f9e83edccaac657d7f48a/AWS/cloudformation-templates/s3-and-cloudfront.json) to create a cloudfront dist pointing at an S3 website with a deprecation notice.
- [x] Upload the static bits to the s3 website's bucket, serve the deprecation notice as index.

[2016-03-16 15:37] cadecairos commented on #37
@flamingspaz @jbuck What's the story here - has this been done?

[2016-03-16 21:13] Pomax opened #290 "Move teach.mozilla.org onto Heroku"
We're deploying teach.moz on mofostaging.net at the moment, with production being a plain S3, which means that production teach.moz is actually just loose files, without a server to help us do all kind of generally useful things like routing and selective content serving. We're going to switch this over to heroku, which means the following steps need to be taken, probably in the order listed:

- [

[2016-03-16 23:22] flamingspaz commented on #37
Not yet - I've been taking images every-so-often but I need to spin up one of the images to get ssh access. I have a fair bit of time over Easter and I'll try to get this done.

Note to self: it also uses mandrill which goes paid-only in mid-April.

[2016-03-16 23:39] flamingspaz commented on #255
@ldecoursy I've added the links to the bottom of https://discourse-ttw.mofostaging.net/, are they big enough? Also, do you want to drop the "beta" from the ToS URL as I think they should be the same now?

[2016-03-17 14:01] cadecairos commented on #289
done!

Appmaker heroku app has been scaled down too.

[2016-03-17 14:01] #289 closed

[2016-03-17 14:40] ldecoursy commented on #255
Thanks @flamingspaz !

Those links work for me - also the beta should be gone and just link here: https://webmaker.org/#/legal?_k=8svxtt

[2016-03-17 14:47] flamingspaz commented on #255
cool, I got rid of it. Do you want me to move it on to the main website? We can always change the way it looks after the website has a custom theme/branding.

[2016-03-17 16:06] ldecoursy commented on #255
Yes @flamingspaz thank you! :)

[2016-03-17 18:38] cadecairos opened #291 "Clean up Appmaker Firebase apps"
Appmaker's been shut down, so we wont need the firebase apps any longer.

We might want to back up the data though!

[2016-03-17 21:45] flamingspaz commented on #255
Okay, I made some small changes and put them on the main website.
You can edit the "tos url" and "privacy policy url" Discourse settings to change the links and it'll automatically update the footer.

[2016-03-17 21:45] #255 closed

[2016-03-17 22:28] simonwex commented on #255
\o/!!!

Thanks, @flamingspaz!

[2016-03-17 23:46] simonwex opened #292 "Thimble is still publishing to a cloudfront URL"
I just noticed when publishing a project, it's still using the d157rqmxrxj6ey cloudfront url. We should be using thimbleprojects.org.

thimbleprojects.org is configured, but doesn't load from where projects are currently being published:
 * https://d157rqmxrxj6ey.cloudfront.net/simon/44720/ -- Expected
 * https://thimbleprojects.org/simon/44720/  - Should be showing same as above

Related #209

On

[2016-03-18 14:03] cadecairos commented on #290
Does coffee have to come last?

[2016-03-18 16:53] Pomax commented on #290
no, you're right: it shouldn't.

[2016-03-18 21:16] cadecairos commented on #285
All done. Last to do:

- [ ] upload certs/secrets to vault

[2016-03-18 21:20] cadecairos commented on #240
All mofoprod/mofostaging and openbadges servers I touched in #285 either had logrotate enabled, were S3 sites or were on Heroku.

[2016-03-18 21:21] simonwex commented on #240
You're absolutely killing it this week, @cadecairos. Nice work!

[2016-03-18 21:24] #205 closed

[2016-03-21 14:16] #285 closed

[2016-03-21 15:21] cadecairos commented on #242
Audit and Incident response roles + Cloudformation stacks have been successfully created in:

 - [x]  mofo-ops
 - [x]  mofo-community
 - [x]  mofo-projects
 - [x]  mofo-everything
 - [x]  mofo-sandbox
 - [x]  mofo-secure
 - [x] mozilla-labs

[2016-03-21 16:36] cadecairos opened #293 "Block donations from known fraudsters"
Lots of our fraudulent charges are coming from the same email addresses.

A simple webhook to compare emails we see as fraudulent to incoming donations will go a long way to reducing our chargeback rate.

[2016-03-21 16:59] cadecairos commented on #292
https://thimbleprojects.org/cade/45756

[2016-03-21 16:59] #292 closed

[2016-03-21 17:18] alicoding commented on #138
Apparently we don't have https://discourse.hivelearningnetworks.org/ and in https://hivelearningnetworks.org/connect/ they're linking it to https://discourse.webmaker.org/c/hive-learning-networks

@simonwex do you think we still need more work on this ticket? should we maybe redirect that subdomain to the webmaker discourse or maybe to the homepage?

[2016-03-21 17:34] cadecairos commented on #293
mmmm.... this is pretty important, but we're limited in tracking donator emails for checking for fraud because we don't have Heroku Private spaces to keep the database off the public internet.

This will require some discussion before we can solve it. we could just have this webhook live in a simple worker instance on AWS, connected to a db in RDS.

Or we wait until mozilla has a private spaces co

[2016-03-21 17:37] cadecairos commented on #158
@flamingspaz Do you think having this in this heartbeat is reasonable?

[2016-03-21 17:50] simonwex commented on #138
It's always nice to clean things out. :)

[2016-03-21 17:50] #138 closed

[2016-03-21 17:54] simonwex commented on #292
[code]

[2016-03-21 18:03] simonwex commented on #293
We could keep salted hashes of fraudulent emails on Heroku and just check against that list.

[2016-03-21 19:02] valianttry commented on #293
Stripe customer support has been great, and are super helpful with this stuff -- if you think a 30m call with them to double check assumptions / here what other orgs have done would be useful just say the word and I will set something up :moneybag:

[2016-03-21 19:07] cadecairos commented on #293
the word!

I can't say no to helpful advice :+1:

[2016-03-21 19:23] ScottDowne commented on #293
What about integrating Kount with Stripe?

It was always an option but we wanted to see where Stripe had issues before pulling the trigger.

[2016-03-21 19:30] cadecairos commented on #293
Does Kount integrate with skype? I don't see any information on their (Kounts) website about it.

[2016-03-21 19:43] ScottDowne commented on #293
@cadecairos I forget. I'll dig around.

[2016-03-21 19:49] ScottDowne commented on #293
@cadecairos really, I would say if we decide to use Kount again, we should just email our contact there and ask how to integrate with stripe.

If they integrate with bsd, I'll be surprised if they don't integrate with stripe.

[2016-03-21 20:24] alicoding commented on #293
Just adding some resources from Stripe about Fraud protections:

https://stripe.com/docs/fraud
https://support.stripe.com/questions/avoiding-fraud-and-disputes

[2016-03-21 21:03] cadecairos commented on #293
Related: https://github.com/mozilla/donate.mozilla.org/issues/1412

[2016-03-21 21:19] flamingspaz commented on #158
:+1:  There will be downtime for this through as the database needs to be moved. I've added a notice to the forum that service will be intermittent tomorrow.

[2016-03-21 21:20] acabunoc commented on #158
Thanks @flamingspaz & @cadecairos :smile:

[2016-03-22 13:39] #287 closed

[2016-03-22 13:39] #242 closed

[2016-03-22 14:01] alicoding commented on #290
Do you mind if I take this over?

[2016-03-22 14:26] Pomax commented on #290
all I care about is getting it done sooner than later, if you want to help sooner be even sooner: awesome =D

[2016-03-23 00:51] alicoding commented on #290
I've created production heroky http://teach-mozilla-org-production.herokuapp.com/

[2016-03-23 03:24] Pomax commented on #290
have you been drinking enough coffee, though?

[2016-03-23 03:26] Pomax commented on #290
Also, why would this happen? ![screenshot 215](https://cloud.githubusercontent.com/assets/177243/13974814/64572e4a-f06c-11e5-99e2-18d3b23dd5c4.png)

[2016-03-23 10:45] alicoding commented on #290
It is possible the permission might not be right. I'll fix it once I get to the office.

[2016-03-23 16:56] alicoding commented on #290
I can see your pomax [at] mofo email in the list.

[2016-03-23 18:44] flamingspaz commented on #158
So I managed to image and upgrade it on a different server but migrating the DB is proving to be a bit of a challenge - I don't think I'll be able to finish it off this week.

[2016-03-24 19:26] acabunoc opened #295 "S3 for Mozilla Science Lab"
Hey @cadecairos, we have an amazon s3 bucket (owned by me) where we upload and serve images for [mozillascience.org/collaborate](https://mozillascience.org/collaborate) -- mostly the project images uploaded by individual project leads. Can we move to a mozilla owned s3 bucket?

We should be able to create a new bucket, copy the exiting images over and update the access & secret keys.

[2016-03-24 20:22] cadecairos commented on #295
Sure thing!

I'll add it to the next heartbeat.

[2016-03-24 20:24] cadecairos commented on #275
bumping to next heartbeat, due to deployment restrictions in Calypso and the WP API

[2016-03-24 20:24] #275 closed

[2016-03-24 20:28] cadecairos commented on #293
moving to next hearbeat, meeting with stripe on Wednesday

[2016-03-28 17:38] cadecairos commented on #291
@simonwex status?

[2016-03-28 18:02] cadecairos commented on #280
I'm gonna go ahead and say that if any ops work is needed to solve a desk.com issue, please file the bug here with a link to the ticket in desk.com.

[2016-03-28 18:02] #280 closed

[2016-03-28 18:13] Pomax opened #296 "remove old makes by people whose account got deleted"
Based on https://github.com/mozilla/thimble.mozilla.org/issues/1461, it feels like we should finally address the "delete makes for people who deleted their account" issue =)

Given what I remember about our infrastructure here, it feels like this is a thing we should be able to fully automate, with scripts checking all makes.org user dirs to see if that user is still an extant account in our login

[2016-03-28 18:14] cadecairos commented on #253
@simonwex update?

[2016-03-28 18:15] cadecairos commented on #240
Closing this, based on my comment above

[2016-03-28 18:15] #240 closed

[2016-03-28 18:23] cadecairos opened #297 "Get Gideon AWS credentials"
creds for @gideonthomas

[2016-03-28 21:45] edriann commented on #296
Thank you!

[2016-03-29 01:39] simonwex commented on #291
I just loaded the interface, it seems that the flathead.firebaseio.com db is owned by @davidascher.

@davidascher, could you downgrade the plan to the free tier?

[2016-03-29 15:56] cadecairos commented on #297
Credentials given.

[2016-03-29 15:56] #297 closed

[2016-03-30 01:39] cadecairos commented on #292
Mozilla Networks haven't picked up the change in eight days, filed BZ bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1260602

[2016-03-30 19:59] alicoding commented on #290
This is now completed except we haven't removed the S3 bucket because we just need to make sure everything works 100% before we do that, so lets leave it for few more days and I will remove the S3 bucket there :)

[2016-03-30 20:05] cadecairos commented on #284
https://bugzilla.mozilla.org/show_bug.cgi?id=1260869

[2016-03-30 21:44] mmmavis opened #298 "Where does the Hive Directory live?"
https://directory.hivelearningnetworks.org/nyc/

If I remember it correctly this was something Atul built for Hive 2 years ago.  We need to update something there now and I can't seem to find the repo anywhere. Is it https://github.com/toolness/hive-directory ??? Also I see `hive-nyc-directory` and `hive-nyc-staging` on Heroku but I'm not sure if they are the right instances I should be looking at

[2016-03-30 22:27] Pomax commented on #290
that's great! nice work @alicoding!

[2016-03-31 00:14] simonwex commented on #298
Hey @mmmavis the app name is "hive-global" in Heroku. It seems that the latest commit deployed is this one: https://github.com/toolness/hive-django/commit/36622b1427c67ca72ed7cf33e7e07d3045f077dd

I've forked the repo (https://github.com/mozilla/hive-django) and added our mofo teams to it.

[2016-03-31 00:14] #298 closed

[2016-03-31 00:38] simonwex opened #299 "Create devops admin account on directory.hivelearningnetworks.org"
I've emailed Atul, hoping he can flip a bit for my account as we forgot to hand this app off. If he can't, we can dig into the DB and try to add one.

[2016-03-31 13:48] jvallera commented on #299
Let me know if you would like me to reach out to Atul as well. Happy to.

[2016-03-31 18:03] cadecairos commented on #293
We're opting into a beta program that will give us more insight into the risk levels associated with each charge. I'm going to close this for now and we can file follow ups if there's any actionable items.

[2016-03-31 18:03] #293 closed

[2016-03-31 18:43] cadecairos commented on #288
Done.

[2016-03-31 18:43] #288 closed

[2016-03-31 18:52] ldecoursy opened #300 "Import Gigabit blogs to blog.webmaker.org"
We're planning to sunset three Gigabit blogs:
- http://hivecha.org/blog/
- http://hivekc.org/blog/
- https://blog.mozilla.org/gigabit/

We'd like to archive and link the content somehow, or import it to https://blog.webmaker.org with a #gigabit hashtag.

Can you advise on the best way to do this?

cc @LindseyFrost @jenntbeard @hannahkane @KGorr

[2016-03-31 19:49] cadecairos opened #301 "Where should sensitive/security related bugs go?"
Issues here can't be hidden, and we don't have a product/component that really fits on Bugzilla

* [x] new private repo
* [ ] update Issue Template with email instructions
* [ ] profit

[2016-03-31 19:49] #286 closed

[2016-03-31 21:08] cadecairos commented on #215
All that's left here is thimble, so I'm going to add that to the issue to decommission old thimble.

[2016-03-31 21:08] #215 closed

[2016-03-31 21:25] cadecairos opened #302 "Deprecate thimble.webmaker.org"
### Details
thimble.webmaker.org is long overdue for a shutdown. I have scripts & a process developed to migrate data into bramble (the scripts may need updates).

- [X] Create a deprecation notice
- [X] Decide on a shutdown date. (JUNE 27)
- [x] Update copy for deprecation notice - mozilla/thimble-takedown#2 (before JUNE 22)
- [x] alter deprecation notice to thimble.webmaker.org (in top bar) mozi

[2016-03-31 21:26] cadecairos commented on #302
related: mozilla/thimble.mozilla.org#509

[2016-03-31 21:28] cadecairos commented on #284
This work has been completed.

[2016-03-31 21:28] #284 closed

[2016-04-01 00:11] simonwex opened #303 "https://netgainpartnership.org/ wordpress site has incorrect domain in config"
### Details

Links on https://netgainpartnership.org/  link to https://netgainpartner.wpengine.com/grants/ rather than our domain. I suspect this is a setting in the wpengine wp-admin.

### Info & links

Grants link is highlighted here:

![image](https://cloud.githubusercontent.com/assets/25260/14194435/7469cc2c-f763-11e5-8687-aa59ac5acde2.png)

[2016-04-01 23:19] cadecairos opened #304 "Update validator.openbadges.org"
### Details

- [x] [merge openbadges-validator PR](https://github.com/mozilla/openbadges-validator/pull/40)
- [x] [publish openbadges-validator](https://www.npmjs.com/package/openbadges-validator)
- [x] [merge openbadges-validator-service PR](https://github.com/mozilla/openbadges-validator-service/pull/27)
- [x] deploy openbadges-validator-service

[2016-04-02 09:23] mickfuzz commented on #302
Subscribing, I can volunteer to test my projects after they are migrated.

[2016-04-04 17:23] simonwex opened #305 "Receipts for wpengine are not automatically going to Alex"
It'd also be good to figure out and document an approach for creating new accounts, too. (will file)

- [x] heroku
- [ ] firebase
- [x] redpen
- [x] geckoboard
- [x] github
- [x] pagerduty

all need to have (if possible) invoices sent to alex, and use the right CC.

[2016-04-04 17:27] simonwex opened #306 "Document how to sign up for a new service"
* [ ] 1password vault
* [ ] how to fwd receipts to alex
* [ ] Approval process
* [ ] Approval process (if user data is involved)

Plop the doc on the mofo-devops readme.

Related to #305

[2016-04-04 17:40] cadecairos commented on #301
* new private repo
* update Issue Template with email instructions
* file issues in private repo

[2016-04-04 17:42] cadecairos commented on #300
We'll investigate the workload involved here in the next heartbeat.

[2016-04-04 18:01] cadecairos commented on #158
@flamingspaz How are things going here? Anything I can do to help out?

[2016-04-04 18:07] cadecairos commented on #37
This sounds rather urgent - Can I assis with this?

[2016-04-04 18:34] cadecairos opened #307 "Get 1y SSL cert for gear.mozilla.org"
### Details

We need an SSL certificate in order to redirect https connections.

[2016-04-05 01:48] alicoding commented on #303
It turns out this is more complicated to edit the theme, and I did some googling and found that the solution to our problem is to update the site url in the settings, but that field is not editable and this article suggest that we change the `wp-config.php` file because it is hard-coded to that. So, I followed the guide https://wpengine.com/support/trouble-editing-home-and-site-url/ and successful

[2016-04-05 01:48] #303 closed

[2016-04-05 14:41] cadecairos commented on #307
done. Coordinating with moco to get this installed where it needs to be.

[2016-04-05 14:41] #307 closed

[2016-04-05 15:52] cadecairos commented on #253
@hannahkane did we settle on ` forum.teach.mozilla.org` then?

[2016-04-05 16:08] hannahkane commented on #253
Thanks for the ping, @cadecairos.

teach.mozilla.org is scheduled to move to learning.mozilla.org at some point. See https://github.com/MozillaFoundation/plan/issues/764.

@ldecoursy @simonwex - should we wait for that move to happen first before doing this?

[2016-04-05 16:30] cadecairos commented on #253
Note to self: `csa-ttw-production-632305050` is the load balancer to update once we know where this is moving.

[2016-04-05 16:47] xmatthewx opened #308 "Investigate API/Cache issue with Webmaker"
Something is broken in Webmaker land. Not all of the projects that are marked as featured get served to the discover route. The problem can't be reproduced with the staging DB. So, it might be a problem with the cache on production. Something outside the API with AWS.

### Info & links

More info: https://github.com/mozilla/api.webmaker.org/issues/204

[2016-04-05 16:55] ldecoursy commented on #253
@hannahkane Do we have an ETA for when that move might happen?

[2016-04-05 17:31] simonwex commented on #305
While we're in this frame, let's make sure heroku, firebase and redpen are all handled the same way, too

[2016-04-05 17:53] cadecairos commented on #305
I've invited Alex to the devops Google group. I'll work with him to set up filters, if needed.

"Invoices", "Billing" and "Receipts" seem like good filters to have.

[2016-04-05 18:07] hannahkane commented on #253
cc @xmatthewx who's on that /plan ticket. I'd say we should do this sooner rather than later, but I may not be thinking about all of the repercussions, both technically and perhaps in terms of user communication. Will start a separate thread about this on the [plan ticket](https://github.com/MozillaFoundation/plan/issues/764)

[2016-04-05 20:42] alicoding commented on #290
It doesn't seem like there's a way to archive/rename an S3 bucket, so either re remove the S3 bucket for teach site or just leave it as is?

[2016-04-05 20:42] alicoding commented on #290
Closing this ticket unless we really want to remove this bucket.

@cadecairos @simonwex

[2016-04-05 21:41] flamingspaz commented on #253
@cadecairos the container will also need to be rebuilt or emails will send out with the old domain, lmk when the new domain is pointing at that lb and I can make the changes.

[2016-04-05 22:55] mmmavis opened #309 "Archive 2015 MozFest site"
@cadecairos (sorry not sure who else to tag here :grin: )

Currently https://mozillafestival.org/ goes https://2015.mozillafestival.org/ We are going to update the site with 2016 info soon and I think we should probably archive the 2015 site first. Not sure how we want to do this though...

1) Do we want to leave 2015 site as is, create new instance and repo for the 2016 site, have it up on 2016.m

[2016-04-05 23:19] ScottDowne commented on #309
For what it's worth, last year we did item number 1.

[2016-04-06 05:21] Pomax commented on #290
if we're not using it anymore at all, I see no reason to keep it around. Unless someone can make a compelling argument to keep it around, let's delete it.

[2016-04-06 13:56] cadecairos commented on #290
I agree, it's a static site, so the contents are saved in git. No need to keep the bucket.

[2016-04-06 14:02] alicoding commented on #290
I've removed both staging and prod S3 buckets \o/

[2016-04-06 14:02] #290 closed

[2016-04-07 17:38] davidascher commented on #305
changed the descriptions to keep a list of the vendors we have to make sure are right (they're all in my credit card right now)

[2016-04-07 17:46] simonwex commented on #309
For now, let's leave the 2015 site as-is. File a separate issue here in mofo-devops to archive it and host it on S3/cloudfront. – This is purely a cost-savings measure. At the same time, we should create a branch of the current codebase as `2015.mozillafestival.org`.– We can use this to make any changes we like to the old site.

We can continue development of the new site in this repo: https://git

[2016-04-07 17:55] xmatthewx commented on #309
Makes total sense, as long as work on the new site isn't blocked by the need archive. If branches allow for that, great. If not, let's fork it.

 - [ ] `p1` enable dev of 2016 site at root `mozillafestival.org`
 - [ ] `p2` archive 2015 site

[2016-04-07 21:05] cadecairos commented on #308
@xmatthewx The discover route cache goes stale after 5 minutes - do the projects appear after that amount of time?

[2016-04-07 21:17] xmatthewx commented on #308
Hold the phone :phone:. I might have found something. I will report back.

[2016-04-07 22:02] xmatthewx opened #310 "Move teach.mozilla.org to learning.mozilla.org"
Cassie & Claw decided that we will move the teach site to learning dot mozilla.

### Risks

Are there any blockers? Are there any risks?

@kristinashu @sabrinang – is there any text or design that might confuse the user? Places where we refer to "teach".

@Pomax @simonwex – are there any links or dependencies that might break? (Anyone else familiar with the site who should comment?)

@ldecoursy –

[2016-04-07 23:12] sabrinang commented on #310
I think the main places where we refer to teach are on social channels (@MozTeach), hashtags (#teachtheweb #TTWChat), emails, teaching activities and club guides. Also, on some of those materials I have seen the abbreviation MLN on them but without context of what that abbreviation means. I don't think much design is affected since we purposely kept it generic until things have settled but mainly

[2016-04-07 23:13] sabrinang commented on #310
/cc @mmmavis

[2016-04-07 23:48] cadecairos commented on #310
We'll need to update the OAuth client record on id.webmaker.org with a new callback url. We'll also need an SSL certificate.

We can redirect teach.Mozilla.org and preserve URL paths fairly easily using cloudfront+S3.

[2016-04-07 23:48] mmmavis commented on #310
tagging @adamlofting here to see if this will affect our Google Analytics data

[2016-04-08 10:54] adamlofting commented on #310
:+1: @mmmavis :raised_hands: - I'm so happy someone asked that question!

Though, in this case, we haven't filtered the reports by domain name, so it's safe to switch at any time. Generally we'd need to update the filters in GA to allow a new domain through.

[2016-04-08 13:48] xmatthewx commented on #310
Wow. The team parachutes in for speedy triage. Thanks all.

[2016-04-08 15:31] Pomax commented on #310
On a loosely related note, was there a rationale for the change? I'm interested in why we went from an action verb to a nominative for the key identifier (action verbs feel like they work much better for people to remember and identify with, so if that's wrong intuition, I'd love to learn about that =)

[2016-04-08 16:57] cadecairos commented on #305
I've updated Heroku so that it will now bill the Mofo Credit card. Receipts go to all admin account emails, including "devops@mozillafoundation.org". Alex should now have filters to get all invoice/billing related emails that go to the devops list.

[2016-04-08 17:16] cadecairos commented on #305
@davidascher @simonwex Which Firebase apps are we currently paying for? Does Firebase support orgs? It'd be helpful to move apps we pay for there into one org.

[2016-04-08 17:19] cadecairos commented on #305
We need to get credentials for redpen added to 1password, assuming we pay for it.

I'm pretty sure I've got all the credentials I need for everything else.

[2016-04-08 18:18] cadecairos commented on #305
Updated Billing and CC info in Geckoboard, invoices going directly to Alex

[2016-04-08 18:50] simonwex opened #311 "[June 2] Redirect old science properties to science.mozilla.org"
@acabunoc could you help fill in blanks here?

[2016-04-08 19:03] cadecairos commented on #305
redpen account added to the vault, now owned by devops@. CC info updated as well.

[2016-04-08 19:06] cadecairos commented on #305
MozillaFoundation Github org Billing info updated, devops@ added as a billing manager. (will receive invoices)

[2016-04-08 19:07] davidascher commented on #305
re: firebase, only 'flathead' shows up in my view, which is part of appmaker.

[2016-04-08 19:15] cadecairos commented on #305
Lets's switch that to a free plan

[2016-04-08 19:16] cadecairos commented on #305
Pager duty Billing info updated, bills going directly to Alex

[2016-04-08 20:35] acabunoc commented on #311
| mozillascience.org | science.mozilla.org
| --- | --- | ---- |
home | / | /
blog all | /blog | /blog
projects | /projects/[projectname] | /projects/[projectname]

### further redirect needed:

 | mozillascience.org | science.mozilla.org
| --- | --- | ---- |
training | /training | /programs
community | /community | /programs/events
collaborate | /collaborate | /projects
about | /about | /members
m

[2016-04-11 14:03] #304 closed

[2016-04-11 14:07] cadecairos commented on #305
Assuming we're switching the firebase app to a free teir, and with all the other work completed (Alex has access to devops list, with relevant filters set up, All above accounts now charge the mofo CC and send mail to devops@) I will close this issue.

[2016-04-11 14:07] #305 closed

[2016-04-11 14:10] cadecairos commented on #253
I think we should call this one blocked on:

- [ ] #310

[2016-04-11 14:24] ldecoursy commented on #310
It's based on the recent [IA work](https://docs.google.com/presentation/d/1MOhf0PSvCU2flniNsbl1FW0xPi0ZnJHJJEZ3qlyAcrE/edit#slide=id.g11b2897a1a_2_0) This change, coupled with a new Mozilla Learning wordmark, will aim to lesson confusion (teach in the URL, but Mozilla Learning branding on the site).

PS @xmatthewx I don't think we need a formal community announcement about the change of the URL. W

[2016-04-11 15:32] jazoulai opened #312 "Versioning HiveNYC.org prior to updates"
## Details

We are planning to make wide-ranging updates to the content on [HiveNYC.org](http://hivenyc.org/) and thought it might be a good idea to version the site in case we break something major and want to revert back. Is there already a protocol in place for this?

## Links

Alternatively, I was considering installing a Wordpress plugin called [VersionPress](https://versionpress.net/) to imp

[2016-04-11 17:53] cadecairos commented on #132
Snapshots are being created automatically in RDS

[2016-04-11 17:53] #132 closed

[2016-04-11 17:55] simonwex commented on #291
WM-APP-FORM-DATA
WM-APP

[2016-04-11 18:00] simonwex opened #313 "Set up 1Pass Vault for community members"
^ That

[2016-04-11 18:02] gideonthomas opened #314 "Figure out why SQL errors are popping up with discourse.webmaker.org"
### Details
I see a bunch of SQL errors in the `discourse.webmaker.org` prod RDS logs. We should find out why they are showing up / figure out how to fix them.

### Info & links
Here's an example of an error log:
[code]

cc @cadecairos

[2016-04-11 18:09] cadecairos commented on #312
Our wordpress hosting provider gives us daily backups, so we can feel free to break things without too much worry! ;)

[2016-04-11 18:10] cadecairos commented on #311
[putting this in next up, based on the june 2 tag in the title]

[2016-04-11 18:11] cadecairos commented on #310
milestone can be moved, if this is required sooner.

[2016-04-11 18:14] cadecairos commented on #308
@xmatthewx do we know if this is still an issue?

[2016-04-11 18:19] acabunoc commented on #311
I can list out all the individual events we need migrated if that would help with the blog & events dilemma

[2016-04-11 18:30] cadecairos commented on #296
There's a great deal of work involved in automating this process, we should handle that in another issue.

In the short term, @gideonthomas will remove the makes associated with your old webmaker account.
@edriann Can you provide your webmaker username?

[2016-04-11 18:56] xmatthewx commented on #308
Closing. Unless I'm mistaken, the problem is due to a choice made in the early stage of the project. I haven't yet confirmed, but I'm pretty sure that Discover only displays projects that are both Featured AND match your locale. A fine idea in theory, but not ideal for a fledgling platform without any content. I'll follow up elsewhere.

[2016-04-11 18:56] #308 closed

[2016-04-11 19:27] cadecairos commented on #314
[possible explaination?](https://meta.discourse.org/t/uploads-and-profile-functions-broken-gives-ruby-error/41465/3)

[2016-04-11 19:58] davidascher commented on #291
done.

[2016-04-11 20:59] mmmavis commented on #309
I'll update this ticket & create another ticket once I get r+ from stakeholders on the [staging site](https://mozillafestival-org-staging.herokuapp.com)

[2016-04-11 23:33] simonwex commented on #291
Thanks, @davidascher!

[2016-04-11 23:33] #291 closed

[2016-04-12 00:21] simonwex commented on #306
@cadecairos what's the current method for Alex getting the receipts? Did we add him to devops@?

[2016-04-12 00:35] cadecairos commented on #306
Yes, he's part of the devops list, and has filters set up.

The problem with this is that if any of the keywords in his filter are not in a billing invoice we get for a new service, he won't get them.

Ideally, if the service provides setting up a different billing email than the email associated with the account, we want to go with that. if not, we'll need to use the list, and verify Alex gets th

[2016-04-12 08:13] edriann commented on #296
@cadecairos @gideonthomas Thank you! I think it's edriannhao.

[2016-04-12 13:26] cadecairos commented on #296
I'm going to propose a simple script we can run when we recieve a request to remove something.

[2016-04-12 13:36] cadecairos commented on #300
If we want to be able to access the admin interfaces for these instances, we're going to need to upload our existing SSL certificates to WP Engine. I just concluded a chat with WP Engine support, and learned [how to get existing certs installed](https://wpengine.com/support/add-ssl-site/) (bottom of article).

[2016-04-12 14:53] jazoulai commented on #312
Thanks @cadecairos! That's all I needed then :)

[2016-04-12 15:04] cadecairos commented on #312
Cool, if you need a rollback you can file an issue in this repo and we'll get right on it!

[2016-04-12 15:04] #312 closed

[2016-04-12 16:53] mmmavis opened #315 "Give Mavis SSH access to hivelearningnetworks.org"
Please grant me SSH access so I can update the content (`wp-content`) of this WordPress instance. Thanks! :bowtie:

Related:
https://github.com/mozilla/teach.mozilla.org/issues/1690

[2016-04-12 18:33] mmmavis opened #316 "Point mozillafestival.org and mozfest.org to a new Heroku instance"
In https://github.com/MozillaFoundation/mofo-devops/issues/309#issuecomment-207022922 we have decided to stick with top domain URL.  Currently both https://mozillafestival.org and https://mozfest.org points https://2015.mozillafestival.org/.  Can we change them so they go to https://mozillafestival-org-production.herokuapp.com/ instead?

Note that this new Heroku instance has the 2016 MozFest info

[2016-04-12 18:36] mmmavis commented on #309
- `p1` enable dev of 2016 site at root `mozillafestival.org`
(update: ticket entered https://github.com/MozillaFoundation/mofo-devops/issues/316 )

- `p2` archive 2015 site
(will edit this ticket title & description a bit)

[2016-04-12 19:28] mmmavis opened #317 "Archive 2015 MozFest site"
As discussed in https://github.com/MozillaFoundation/mofo-devops/issues/309#issuecomment-207022922 ...

I've put 2015 site in the `2015.mozillafestival.org` branch on the mozillafestival.org repo: https://github.com/mozilla/mozillafestival.org/tree/2015.mozillafestival.org

Let me know if I can help with anything! :wink:

[2016-04-12 19:29] mmmavis commented on #309
Created 2 follow-up tickets based on our discussion above. Closing this one now.

[2016-04-12 19:29] #309 closed

[2016-04-13 03:35] simonwex opened #318 "Create bit.ly account for API access"
Account has been created, but we'll be creating many URLs through the API. We'll need to share details for OAuth and likely add a credit card if there are rate or quantity limits.

If you can add any extra authentication information to the vault and ping me, I can get it to the right people.

https://github.com/MozillaFoundation/encryption_campaign/issues/250

[2016-04-13 17:10] cadecairos commented on #318
The email is verified, but if we're making an OAuth app, I need details about the app url and the callback URL, which I can't find in MozillaFoundation/encryption_campaign#250

[2016-04-14 18:08] gvn opened #319 "Set up CI for science front-end"
### Details

Repo: https://github.com/mozilla/science.mozilla.org

Currently there is only a `master` branch that requires CI. Eventually, once we're closer to launching we'll switch to `develop` and `master`.

### Info & links

FYI: The `mozillascience.org` branch is for the current site up at https://mozillascience.org/ in case we need to do any hotfixes before we launch the redesign.

[2016-04-15 19:46] cadecairos commented on #37
@flamingspaz what's the status of this issue? Any thing I can do to move it along?

Should we file an issue RE: mandrill?

[2016-04-17 17:29] gideonthomas commented on #296
The user's content has been removed. Should we still keep this issue open for the script part?

[2016-04-17 18:37] edriann commented on #296
Thank you! I tried using Google search, though a search item still appears (perhaps it just hasn't updated yet), the main makes page is already unavailable.

However though, the source code is still available/viewable. Is it possible you could help me with this as well?

Again, thank you very much!

[2016-04-17 22:41] gideonthomas commented on #296
@edriann, no problem! How are you viewing the source code?

[2016-04-18 09:02] edriann commented on #296
@gideonthomas It can be accessed through Google Search. Here is the link: https://thimble.webmaker.org/en-US/project/6594/data (apologies for the really hilarious code though, haha).

[2016-04-18 14:18] gideonthomas commented on #296
@cadecairos that ^ is in a database, not in S3 right?

[2016-04-18 17:19] cadecairos commented on #296
yeah, we didn't account for the source code stored in the Thimble DB.

[2016-04-18 17:39] cadecairos commented on #319
This is simple to set up with heroku and pipelines.

[2016-04-18 17:43] cadecairos commented on #315
@mmmavis Have you tried connecting?

[2016-04-18 17:53] simonwex commented on #306
Alex's keywords are:

 * billing
 * invoice
 * has:attachment
 * statement
 * receipt

[2016-04-18 17:54] gideonthomas opened #320 "Get AWS RDS credentials"
We're not sure if we have access to all AWS RDS instance credentials since they have gone through several changes in management. We should get them in one place.

This is especially needed for the AWS RDS instance for the discourse prod website.

cc @jbuck, @jdotpz, @cadecairos

[2016-04-18 17:57] cadecairos commented on #301
@simonwex ping on this - keep in this milestone or bump?

[2016-04-18 17:59] cadecairos commented on #299
@simonwex how's this one going?

[2016-04-18 18:01] cadecairos commented on #296
I'll update the db

[2016-04-18 18:05] gideonthomas commented on #295
@cadecairos:
I added this CORS rule for it to work:
[code]

[2016-04-18 18:07] cadecairos commented on #278
This is almost done, but there's an issues redirecting `webmak.es` to `www.webmak.es` that I need to debug.

[2016-04-18 18:27] mmmavis commented on #315
Working from home today. Will try connecting tomorrow from the office :dancer:

[2016-04-18 18:27] jbuck commented on #320
You have access to all RDS instances - simply rotate the root password!

[2016-04-18 19:33] cadecairos commented on #320
@jbuck would that be the "new master password" textbox in the modify instance menu in RDS?

[2016-04-18 19:48] jbuck commented on #320
Yep

[2016-04-18 19:49] cadecairos commented on #320
o/

[2016-04-18 21:21] edrushka commented on #316
Any update on this? Would be great if we could get the changes live on the site ASAP. We're sending an info pack to all the MozRetreat planning participants later this week, so I know they will be checking the website. Thanks.

[2016-04-18 21:46] simonwex commented on #316
@cadecairos as you can see from the comment, this is urgent enough to get into this HB.

[2016-04-19 13:46] cadecairos commented on #295
@gideonthomas lgtm

[2016-04-19 14:02] cadecairos commented on #278
This was fixed by adding `webmak.es` to the list of alternate domains in the cloudfront distribution.

Webmak.es is no more.

[2016-04-19 14:03] #278 closed

[2016-04-19 14:24] cadecairos commented on #296
The data has been removed.

[2016-04-19 14:24] #296 closed

[2016-04-19 14:43] gideonthomas commented on #295
cool

[2016-04-19 14:43] #295 closed

[2016-04-19 15:45] edrushka commented on #316
@cadecairos do you have an update on when we can expect to see the MozFest updates live on the site? Can we uncouple them from this ticket or get this done this week?

[2016-04-19 15:52] cadecairos commented on #316
@edrushka I've just updated the CDN to use the new 2016 Mozilla Festival Heroku app URL. We should see it working in 20 minutes or so, I'll watch the progress and check that I didn't mess anything up.

[2016-04-19 15:58] edrushka commented on #316
:fireworks: Thanks Chris!

[2016-04-19 16:13] cadecairos commented on #316
@edrushka `mozillafestival.org` now serves the 2016 site.

mozfest.org appears to be controlled by moco, I'll file an IT Request to have it redirect to mozillafestival.org

[2016-04-19 16:19] cadecairos commented on #316
https://bugzilla.mozilla.org/show_bug.cgi?id=1265777 (Employee restricted)

[2016-04-19 18:23] alicoding commented on #319
- Review app is enabled
- Staging is setup here: http://science-mozilla-org-staging.herokuapp.com/
- Production is setup here: http://science-mozilla-org-production.herokuapp.com/
- Auto deploy to staging is enabled once the PR is merged with travis passed
- Deploy to production using Pipeline.

[2016-04-19 18:23] #319 closed

[2016-04-19 18:52] mmmavis commented on #315
Hey @cadecairos , I forgot to ask you what's the server destination i'm SSHing to. :grin:

[2016-04-19 20:45] cadecairos commented on #317
mozillafestival.org and www.mozillafestival.org resolve to the new 2016 site, and 2015 site remains reachable at 2015.mozillafestival.org.

[2016-04-19 20:45] #317 closed

[2016-04-19 20:51] cadecairos commented on #318
@wex shall we close this and file a bug here/somewhere else to handle the bitly service?

[2016-04-20 00:46] simonwex commented on #318
Yeah, happy for us to close this once we know the other bug has been filed. @ScottDowne could you link to the new boog?

[2016-04-20 00:47] simonwex opened #321 "Vendor security review of Screendoor"
[Screendoor link](https://www.dobt.co/screendoor/)

[2016-04-20 00:58] simonwex commented on #301
Bamped!

[2016-04-20 00:59] simonwex commented on #299
@jvallera please do!

[2016-04-20 02:19] simonwex commented on #306
db31471d4684c276a6f48a27051c2c21d032b59d

[2016-04-20 02:19] #306 closed

[2016-04-20 15:10] edrushka commented on #316
hey @cadecairos - yesterday both @xmatthewx and @vazquez were able to see the site updates but I was not. It's been almost 24 hours and I still can't see them. Do you know why? I've tried refreshing, different browsers etc.

[2016-04-20 17:54] jvallera commented on #299
ok. email sent. Awaiting a reply.

[2016-04-20 20:05] mmmavis commented on #315
Confirmed that I'm able to SSH to it! :tada:

[2016-04-20 20:05] #315 closed

[2016-04-21 19:34] cadecairos commented on #275
I've just successfully logged into Calypso locally using plain old OAuth.

I now need to drop some things into configuration vars... and then.. profit?

[2016-04-22 18:28] cadecairos commented on #321
@Melechuga

QQ: are you going to be the main user of screendoor? This is a guess based on your CC in the email thread... I'm not sure if Jonathan spoke with you, but we were hoping you could join a [Rapid Risk Assessment](https://wiki.mozilla.org/Security/Risk_management/Rapid_Risk_Assessment) for screendoor next week (Jonathan will schedule)

also see: https://bugzilla.mozilla.org/show_bug.cgi?id

[2016-04-22 18:28] mmmavis commented on #316
I believe this has been taken care of. Closing this now. YEAH :tada:

[2016-04-22 19:11] Melechuga commented on #321
Hi @cadecairos. Yes, I will be the main user of Screendoor; we have a number of application/RFPs throughout the year, and would like to use their services.  I'd be happy to join the RRA (my first!) and will read up on all the docs provided on the wiki. What should I prepare for the call?

[2016-04-22 19:58] cadecairos commented on #321
@Melechuga If you can bring an understanding of how we're going to use screendoor as well as whose data, and what data we'll be storing within it, we should be all set.

I've collected as much information about Screendoor's systems and security as they've made available to me through email, and will have it available for Jonathan (He works on MoCo Enterprise Information Security team, and will be

[2016-04-22 21:10] cadecairos commented on #316
haha love the enthusiasm, but I'm still waiting for moco IT to direct mozfest.org to our Nameservers - Everything on our side is configured, we just need that to happen.

https://github.com/MozillaFoundation/mofo-devops/issues/316#issuecomment-212002672

[2016-04-25 17:22] cadecairos opened #322 "Create a read-only replica of publish"
We're doing some analysis of publish data, and should do so using a replica of the database, instead of using the production one.

[2016-04-25 20:09] cadecairos opened #323 "Investigate coinbase account issue"
I know nothing about the details, but I'll work with @valianttry this week to get access to the account and take a look.

[2016-04-25 21:10] cadecairos commented on #316
BZ bug closed. DNS changes can take up to 24 hours to propagate.

[2016-04-25 21:28] Pomax opened #324 "add special handling for goggles projects to allow for 'http://' hosting"
We want to add "http" support for goggles publications, so that people who remix http websites don't see a Mozilla product doing "the worst thing" by serving that remix up over https, with mixed-content blocking turning their remix into a horrible mess. This requires changes in publish.wmo and on the routing side, as well as an update to the goggles notice bar:

- [x] make publish.wmo publish gogg

[2016-04-25 21:42] flamingspaz commented on #158
Finally finished up all of my assignments so I have time to deal with this. I still have no idea about the database issue so I'm going to deal with the Mandrill/upgrade first and run backups until I figure out why the database migration never works.

@cadecairos we need to verify the email account for SES. Any chance we can get incoming email for that email account going to me or you?

[2016-04-26 00:23] mmmavis commented on #316
:tada: :tada: :tada: :tada: :tada:

[2016-04-26 00:32] cadecairos commented on #158
I'll inquire about verifying the email tomorrow

Glad to have you back around! :D

[2016-04-26 00:37] cadecairos commented on #316
Okay, HTTP redirect is working (from my location) HTTPS does not, because we don't have a cert..

My question: do we care enough to spend 200 bucks a year on a cert for mozfest.org?

[2016-04-26 14:44] acabunoc commented on #158
Hey,

We recently decided we're going to retire the forum in the new science website. So, not sure if it's worth it to keep moving forward on this!

Thanks for all the work done here! Sorry for the change of plans

Sent from my iPhone

[2016-04-26 16:24] xmatthewx commented on #316
It might be worth it given that Mozfest is a flagship event with sessions that talk about privacy and security. No strong opinion here.

[2016-04-26 16:28] cadecairos commented on #316
we need to also consider about what mozfest.org *does* which is just redirect to mozillafestival.org (which uses https!).

Do we want to shell out that much money for an https redirect?

[2016-04-26 16:54] xmatthewx commented on #316
Oh. Right. I see. That makes it less important.

[2016-04-26 21:28] Pomax commented on #324
[PR for publish](https://github.com/mozilla/publish.webmaker.org/pull/225) landed, [PR for goggles](https://github.com/mozilla/goggles.mozilla.org/pull/292/files) pending.

[2016-04-27 04:10] mmmavis opened #325 "Inquiry about setting up a cron job to run a Python script for schedule app"
Hey awesome people!

I barely know anything about this and am hoping I can get some insights on what it will take (time & resources wise) to set up a cron job to run a Python script :grin:

**Context:**
For the schedule/event app, we have a Python script that pulls data from Google Spreadsheet, parses & formats the data, generates a .json file, and commits that file to a Github repo.  Data should

[2016-04-27 13:32] ScottDowne opened #326 "hapi vs express and pros and cons"
I'm pretty sure this is just to track the discussion and ultimately figure out which one we want to use, or even if we want to limit to one only. Things like pros and cons, and when to use one over the other.

I'm about as comfortable in both, I don't hold any strong opinions, and would be happy to use both when it makes sense if it ever does make sense to use either or in certain situations.

[2016-04-27 15:27] ScottDowne commented on #318
Bitly bug is here: https://github.com/MozillaFoundation/encryption_campaign/issues/236

[2016-04-27 15:27] #318 closed

[2016-04-27 15:34] cadecairos commented on #326
I don't have a preference for either. They're both fairly good frameworks that have community support.

I'd rather use Ruby on Rails :P

[2016-04-27 16:02] cadecairos commented on #324
@Pomax This appears closed - did we not want to do this anymore?

[2016-04-27 16:02] #320 closed

[2016-04-27 16:26] cadecairos commented on #316
I've pointed mozfest.org directly at an s3 website that redirects to mozillafestival.org - this means that attempts to connect to the website with SSL don't present a security error, the browser just says to the user that the server doesn't exist.

[2016-04-27 16:26] #316 closed

[2016-04-27 16:26] cadecairos commented on #324
I'm going to call this one closed, since all the devopsy things that were needed here have been completed.

[2016-04-27 16:26] #324 closed

[2016-04-27 17:20] xmatthewx commented on #325
We hope to use this for **London all-hands** (meeting with Angela to confirm next Wednesday). We would need to have this running by the middle of May to do that with confidence.
 - I don't think it matters if the job is scheduled or triggered on demand, as long as coordinators can do this without dev help.
 - I do think we should find the simplest way to set this up for future events, so it's easi

[2016-04-27 18:25] Pomax commented on #324
yep, there's a followup in goggles around the notice bar, but that's not devops related

[2016-04-28 18:14] cadecairos commented on #322
this is done.

[2016-04-28 18:14] #322 closed

[2016-04-28 18:18] cadecairos commented on #321
TL;DR: Go ahead and use Screendoor, @Melechuga to follow up on the risk report bug that Jonathan will file.

We've [completed an RRA of screendoor](https://bugzilla.mozilla.org/show_bug.cgi?id=1266204), and based on that, we feel there's not enough risk at this time to warrant further investigation into the system by The MoCo security team. Should it become a pain in our back down the road, we wil

[2016-04-28 18:18] #321 closed

[2016-04-28 18:30] cadecairos commented on #310
I've updated the issue description to include the steps I'll have to take to wrap this task up. I'll take care of it before May 6th.

[2016-04-29 14:20] flamingspaz commented on #314
Webmaker discourse is running on the tests-passed branch so sometimes we happen to land on a comit where upstream made code changes without changing the database yet. We're planning on doing updates sometime next week but we should also look into switching to the beta branch.

[2016-04-29 14:31] flamingspaz commented on #325
Just to add a little more context, we used Jenkins to run the Python script last year as Travis was unable to encrypt the Google Sheets private key. It ran on cron, IRC bot and whenever an update was pushed to the repo.

I'm not sure who makes the decision but y'all are more than welcome to continue using our Jenkins server, which should make it easier for coodinators to trigger the script whateve

[2016-05-02 17:39] cadecairos opened #327 "Figure out why Facebook can't crawl donate site"
### Details
https://github.com/hapijs/inert/issues/60

[2016-05-02 19:54] Pomax commented on #326
I'm not a fan of HAPI mostly due to a lack of good tutorials from their side. If you're going to have to invent your own methodology, express feels a lot more accessible to both new devs and contributors.

[2016-05-03 14:59] cadecairos commented on #323
This has been resolved.

[2016-05-03 14:59] #323 closed

[2016-05-03 16:02] cadecairos commented on #302
The plan has been simplified. We will put together a page explaining that Webmaker Thimble is now shut down, details that projects will shortly be migrated for use in the new Thimble, and provide a link.

[2016-05-03 17:06] cadecairos opened #328 "Set up codemoji on teach/learning site"
### Details
Codemoji will be living on teach.mozilla.org (soon to be learning.mozilla.org). In order to prevent the need to merge it into the teach site's code, we'll add a new origin to the cloudfront distribution, and add a behaviour that serves the codemoji origin when `/codemoji/*` is requested

[2016-05-03 20:44] cadecairos commented on #310
Filed IT Bug to get `learning.mozilla.org` set up (employee restricted bug) https://bugzilla.mozilla.org/show_bug.cgi?id=1269860

[2016-05-04 08:34] mickfuzz commented on #302
Hi there, do we have a timescale for the migration.
I now wish I had done a manual migration with the key projects for the Quacking Javascript course. Is that still possible without remixing being turned on?

[2016-05-04 12:53] cadecairos commented on #302
Hi @mickfuzz There's a lot of data to import into the new Thimble, but the whole process shouldn't take more than a few hours once started.

Once traffic to the app is turned off, you will only be able to access the projects through their `makes.org` URLs until the migration into the new publish system is completed. Once they're imported, they'll need to be re-published using the new Thimble so th

[2016-05-04 20:14] hannahkane commented on #302
@cadecairos - can you describe the re-publishing experience from the user's perspective? After the projects are imported, will people be able to access them from the new Thimble (where?) and re-publish them there?

[2016-05-04 20:18] cadecairos commented on #302
All the projects will appear in the users projects list. Each migrated project will consist of a single `index.html` file, and will be "unpublished". The user can load the project in the new thimble app, and re-publish it to the web just like they would with any other thimble project.

[2016-05-05 01:30] simonwex commented on #299
Atul got back to us! He's written up instructions and everything. We're currently blocked on the mandril problem, though. @cadecairos do you have a ticket filed for that?

[2016-05-05 01:30] simonwex commented on #299
https://github.com/toolness/hive-django/wiki/Administration

[2016-05-05 01:40] cadecairos commented on #299
I haven't filed a ticket yet. We're currently in need of someone with a hivenyc.org email address who can verify that mandrill is allowed to use that domain to send mail.

[2016-05-05 01:47] simonwex commented on #299
@jvallera can you help with that? ^

[2016-05-05 14:59] cadecairos opened #329 "Migrate Hive directory from Mandrill to Mailchimp/Mandrill"
### Details
Mandrill has been acquired by Mailchimp, and consumers of the service need to migrate to continue using it

I've [already patched](https://github.com/mozilla/hive-django/commit/bf95dce0af0148ecacde2256d235788fd79c7d5e) hive-django to use smtp credentials for the mailer functionality, and configured the app to use a new mailchimp/mandrill account. Unfortunately we need to confirm that h

[2016-05-05 16:51] jvallera commented on #299
Yes, happy to help @cadecairos @simonwex . We have one hivenyc.org email we all use for general emails...will that work? Let me know how best to proceed.

[2016-05-05 16:55] cadecairos commented on #299
@jvallera yeah that should be just fine!

I'll trigger the confirmation of domain ownership on mailchimp/mandrill - basically, they'll send an emaiul with a link that lets the email account approve sending using that domain name.

What's the email address we should use?

[2016-05-05 17:10] jvallera commented on #299
going to pull in @jazoulai to help with this. He is currently handling our communications. Joey, see above. We need to help @cadecairos with an email verification via info@hivenyc.org.

[2016-05-05 17:11] ScottDowne commented on #327
The inert bug was the secret sauce, working now and shipped to prod. :tada:

[2016-05-05 17:11] #327 closed

[2016-05-05 17:13] cadecairos commented on #299
@jazoulai I've sent the verification email to info@hivenyc.org

[2016-05-05 17:27] cadecairos commented on #310
Completed!

[2016-05-05 17:27] #310 closed

[2016-05-05 17:28] cadecairos commented on #328
Launch should be happening in mid/late May

[2016-05-05 17:51] jazoulai commented on #299
Haven't received it yet. Maybe try again? @jvallera info@hivenyc.org
redirects to hivelearningnyc@gmail.com yes?

On Thursday, May 5, 2016, Christopher De Cairos <notifications@github.com>
wrote:

--
Joey
____________________
Community Coordinator, Hive NYC Learning Network, Mozilla
*Follow HIVE NYC * Twitter <https://twitter.com/hivelearningnyc>  |
Instagram <https://www.instagram.com/hivelearnin

[2016-05-05 17:58] jvallera commented on #299
@jazoulai no, it does not. Have to access hivenyc.org through godaddy I believe.

[2016-05-05 17:58] cadecairos commented on #299
I sent a second request, just in case

[2016-05-05 18:13] cadecairos commented on #302
There appears to be an event running this weekend that will make use of Webmaker Thimble, so lets push on this work in the next HB

[2016-05-05 18:25] cadecairos opened #330 "test"
lol @jbuck

[2016-05-05 18:25] #330 closed

[2016-05-05 18:26] gideonthomas opened #331 "Hi Chris!"
cc @cadecairos @cadecairos

### Details

### Info & links

[2016-05-05 18:26] #331 closed

[2016-05-05 18:31] jbuck commented on #330
I'll fight you

[2016-05-05 20:40] mmmavis commented on #325
Hi @flamingspaz :smiley: thanks for providing context!

We are going to have a schedule app for our London All-hands. (Sorry time might be a little tight) @cadecairos @flamingspaz  Can you advice what the next step should be to set up the cron job (and if we have time, chat bot as well)?. As I mentioned earlier, I would love to pick up the skills if it helps lighten DevOps' workload. Let me know h

[2016-05-05 23:38] simonwex opened #332 "Plan & Push CMS-enabled learning site to production"
This is a ticket to promote the staging version of the Learning site to production. This is a bit atypical since it relies on a third-party service for content.

@mmmavis and @cadecairos could you weigh in on what you think the precursors are? Here are a few things I think we need to do first:

 * [ ] Scrub test WP content
 * [ ] Ensure onesie files are being efficiently loaded
 * [ ] Develop QA s

[2016-05-05 23:45] simonwex commented on #301
We can work on private issues here: mofo-devops-private

[2016-05-05 23:49] simonwex commented on #301
dceb102f19dffefd90d891c05d2a4f33428d8063

[2016-05-05 23:49] #301 closed

[2016-05-06 16:32] hannahkane commented on #253
@cadecairos - now that this is unblocked, should we put this in the next heartbeat? I know you triage on Mondays, so no need to reply until after that.

[2016-05-06 17:30] jvallera commented on #299
@cadecairos is there any way you can send to hivelearningnyc@gmail.com ? we thought info at hivenyc would go there, but it seems like it doesn't. Not sure where the disconnect is there or how to acceess info@hivenyc. Sorry for confusion.

[2016-05-06 17:44] cadecairos commented on #299
unfortunately, it must be sent to an @hivenyc.org email address

[2016-05-06 17:55] jvallera commented on #299
I am so confused. I just sent myself an email to info@hivenyc.org and received it. But your email is no where to be found. I checked spam and trash too. Do you mind sending once more?

[2016-05-06 18:20] cadecairos commented on #299
I've just sent the request for verification *fingers crossed*

[2016-05-06 18:54] jvallera commented on #299
nothing yet :(

[2016-05-06 18:55] cadecairos commented on #299
@jvallera let me try sending a test email from my mofo account...

[2016-05-06 18:59] jvallera commented on #299
@cadecairos that worked...came through immediately.

[2016-05-06 19:13] cadecairos commented on #299
That's very, very strange! I wonder why it's not working for mandrill?

@simonwex got any insight here?

[2016-05-07 00:08] mmmavis commented on #332
- [ ] Add "Preview on MLN site" feature to our Calypso ( https://github.com/mozilla/learning.mozilla.org/pull/1844 and https://github.com/mozilla/wp-calypso/pull/43 )

MLN site doesn't use Onesie so the rendered result would be a bit different from what users see within TinyMCE. I think as long as we get Preview working we should be good.

[2016-05-07 00:16] simonwex commented on #299
Looks like the MX records for hivenyc.org are still routing through SLC3. My bet is that mail from outside orgs is hitting SLC3 and getting tossed in the garbage, while anything sent through google is routing within google infrastructure to our inboxes.

[code]

I'd open a ticket with IT to convert hivenyc mail handling to google.

[2016-05-09 13:52] cadecairos commented on #299
We control the DNS records for that domain. I'll update them to match the ones on mozillafoundation.org

[2016-05-09 14:03] jvallera commented on #299
Thank you!

[2016-05-09 14:22] cadecairos commented on #299
@jvallera I re-sent the confirmation email for mailchimp to info@hivenyc.org, could you take a look?

[2016-05-09 14:55] jvallera commented on #299
@cadecairos don't see it.

[2016-05-09 14:59] cadecairos commented on #299
might have been too soon for the changes to have propagated. I'll give it a go again in an hour or so.

[2016-05-09 15:06] cadecairos commented on #329
as per details in #299 I'm working on fixing email delivery for hivenyc.org so that we can verify the domain for sending emails via mailchimp.

[2016-05-09 15:20] cadecairos commented on #325
I can support  this in whatever way needed, but I have zero experience with Slack/Mattermost integrations, or setting up jenkins integrations.

@flamingspaz would you be able to idestify all that we need to set up to have this working for the London all-hands?

[2016-05-09 17:14] gideonthomas commented on #314
@flamingspaz any updates on this?

[2016-05-09 17:24] simonwex opened #333 "Push new science site to production under new domain"
[More detail needed here, can you fill in @gideonthomas, @acabunoc, @alicoding]

Must be done by May 20.

[2016-05-09 17:46] simonwex commented on #158
That makes sense, @acabunoc. I think it's the same story for #37.

Sorry if you dug into this, @flamingspaz.

[2016-05-09 17:46] #158 closed

[2016-05-09 17:48] simonwex commented on #37
Closing as this is disappearing:
https://github.com/MozillaFoundation/mofo-devops/issues/158#issuecomment-214768857

[2016-05-09 17:48] #37 closed

[2016-05-09 18:15] cadecairos opened #334 "Collect donor totals by state for 2015"
My understanding of why: This data is required for state registrations, which enable us to fund raise there.

What: Donation totals  by US State.

How: Paypal doesn't give us information about transactions by state, so we'll need to use Stripe data, and estimate based on that.

cc/ @adamlofting, @valianttry

[2016-05-09 18:28] cadecairos commented on #334
I'm exporting 2015 Stripe data into a spreadsheet, should take ~1 hour.

[2016-05-09 19:50] hannahkane commented on #302
@flukeout to help with the landing page

[2016-05-09 20:34] flamingspaz commented on #325
- [ ] Make our Jenkins instance public
- [ ] Get Spreadsheet key
- [ ] Add a Jenkins project to run the schedule update
- [ ] Add webhook to Mattermoz to trigger Jenkins job

From there I can teach the team how to clone the job and make it work for other schedules. @cadecairos I can take this issue if you'd like, just assign it to me.

[2016-05-09 21:44] cadecairos commented on #334
Sent a link to a spreadsheet via email.

[2016-05-10 14:59] cadecairos commented on #325
@flamingspaz you are the best! Let me know if I can help at any point.

[2016-05-10 15:09] cadecairos commented on #334
I've put together the per-state stripe donation totals in a spreadsheet, and based on the USD paypal totals for last year, estimated the per state totals across Stripe and Paypal:

(only mozilla accounts can view/comment) https://docs.google.com/a/mozilla.com/spreadsheets/d/1wx1Abr4JMVNEBQpXBJZMnUgejTiboojsGstQV47ctks/edit?usp=sharing

[2016-05-10 15:09] #334 closed

[2016-05-10 15:33] cadecairos commented on #299
@jvallera I sent two emails to info@hivenyc.org, one from my mofo email, one from my personal email - did they arrive?

[2016-05-10 16:25] cadecairos commented on #299
Nevermind, the changes I made made things worse. reverted, and filed an IT bug with MoCo

[2016-05-10 16:33] cadecairos commented on #302
woot! @hannahkane / @flukeout are we tracking the building of the landing page anywhere other than here?

[2016-05-10 16:46] flukeout commented on #302
Hey @cadecairos - not yet. Have you thought about where the page will live & be hosted? Should we add something to the new Thimble repo and point at that page? Let me know your thoughts and we'll file an issue in the appropriate place.

[2016-05-10 16:47] jvallera commented on #299
ok. thanks for trying @cadecairos let me know if/how i can help.

[2016-05-10 16:52] simonwex commented on #299
@cadecairos link to IT bug?

[2016-05-10 16:54] cadecairos commented on #299
IT Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1271693

[2016-05-10 17:32] cadecairos commented on #253
@ldecoursy I just created an account on discourse.webmaker.org, are you able to promote my account to admin?

username is `cade`
email is `cade@mozillafoundation.org`

[2016-05-10 17:35] ldecoursy commented on #253
Admin has been granted 🙇

[2016-05-10 17:46] cadecairos commented on #253
Judging from what I've just seen in the admin interface, and read in the docs, There's isn't anything to update using that tool.

Once we switch over to discourse.learning.mozilla.org, I'll have to update the Webmaker OAuth callback for logging in, and I'll likely have to update a couple environment variables on the discourse server itself - although I do not know how they (environment variables f

[2016-05-10 18:07] cadecairos commented on #302
I'd like to deploy the page to an S3 bucket, ideally it's a standalone HTML page that has all it needs in one package.

As for where we keep it revisioned - we could put it in the legacy thimble branch, as the final commit.

[2016-05-10 19:12] mmmavis commented on #325
@flamingspaz wow wow wow RAD U ROCK! Thanks for helping again 😄👍

I'm working on documentation for https://github.com/mozilla/schedule-app-data-processor. This is pretty much based on the script we had for last year's MozFest except I extracted a few hardcoded configs and made them [env vars](https://github.com/mozilla/schedule-app-data-processor/blob/master/docs/REQUIREMENTS.md#environment-variab

[2016-05-11 17:32] hannahkane commented on #332
Let me know if I can help with QA. I've started filing some tickets in https://github.com/mozilla/wp-calypso/issues, but I don't think they are blockers to releasing.

[2016-05-11 19:14] mmmavis commented on #332
Note that the CMS enabled MLN site code lives on the [`cms-enabled` branch](https://github.com/mozilla/learning.mozilla.org/tree/cms-enabled). Once everything is ready to go we should
- merge `cms-enabled` into `develop`
- remove all testing WP posts from teachmozillaorg.wordpress.com site
- push things to MLN production

[2016-05-11 20:00] mmmavis commented on #325
Hey @flamingspaz
sample env file for the Mofo London all-hands app is here: https://gist.github.com/mmmavis/96bea5b589c0d75453e86c65d89af754

[2016-05-11 23:30] flamingspaz commented on #325
Thank you! the docs are perfect too. I've made a copy of the sheet to play about with. We should have this going pretty soon :thumbsup:

[2016-05-12 13:38] alicoding commented on #333
@acabunoc can we confirm about the domain name here?

[2016-05-12 14:32] acabunoc commented on #333
science.mozilla.org !

[2016-05-12 15:33] cadecairos commented on #299
@jvallera Can you check once more that emails from mandrill aren't in the `hivelearningnyc@gmail.com` inbox/spam folder

[2016-05-12 17:10] mmmavis commented on #325
@flamingspaz thank YOU! 😄

I need to start packing and head to the airport in a few hours. @xmatthewx is on PTO now - he should be back next week. If you have any question, @xmatthewx would be the person to chat with 😎

I'll see you folks online in ~2 weeks. VACATION WOOHOOOOO 😉

[2016-05-12 17:25] jvallera commented on #299
@cadecairos I see an email from you yesterday, May 11 with "Test :)" in the body. Is that it?

[2016-05-12 17:27] cadecairos commented on #299
So my personal email came through, but no mailchimp stuff at all?

[2016-05-12 17:28] jvallera commented on #299
nothing from Mailchimp. I can do a search to make sure, is the address it will come from @mailchimp.com

[2016-05-12 17:30] cadecairos commented on #299
It should actually be from @mandrill.com

[2016-05-12 17:31] jvallera commented on #299
cannot locate anything from @mandrill

[2016-05-12 17:34] cadecairos commented on #299
I've updated the Bugzilla bug with this information. If the mail isn't even reaching Mozilla's mail servers, we probably will have to talk with Mandrill support.

[2016-05-13 17:17] cadecairos commented on #302
@flukeout ping - think we'll be able to get this done in the next few days? I can help in any way you need.

[2016-05-15 23:50] simonwex commented on #299
Just a thought for short-circuiting this for later troubleshooting. @jvallera do you mind sharing the credentials with @cadecairos for that account? That way he can check on inbound mail without having to pester you. He can let you know how to do that safely.

[2016-05-16 15:42] alicoding opened #335 "Training for the services team"
There are bunch of things that I am not so familiar with yet because I haven't done enough work with it.  We have came up with list of things that would help us get comfortable with and help move the work forward if we know enough about.

https://docs.google.com/document/d/1ztkeCNjOoXZbnJ-tqAIR7S7iMrPpZGW_GreUBBNAjAM/edit

Some of the stuff @cadecairos volunteered to help get me and @gideonthomas

[2016-05-16 17:34] cadecairos commented on #333
https://bugzilla.mozilla.org/enter_bug.cgi?product=mozilla.org&format=itrequest

[2016-05-16 18:28] cadecairos commented on #332
@wex @mavis Is there a reason we're not creating a new WP site for production post data? i.e. `learningmozillaorg.workdpress.com`?

[2016-05-16 19:40] cadecairos opened #336 "wmlogin redis URL parsing is fragile"
Twice now, a change to the Redis URL by Heroku has brought the server to its knees.

I'm goign to make sure it's more in-line with Heroku's REDIS_URL way of doing things, and fix the password parsing.

[2016-05-16 21:45] hannahkane commented on #332
With regard to the QA script, I previously tested our version of Calypso on Firefox, making use of the 3-box and Resources partials.

I have filed tickets in the [Calypso repo](https://github.com/mozilla/wp-calypso/issues), but I don't believe any of them are blockers to releasing this on the Learning site.

However, now I can't seem to access the staging site. When I go to https://mofo-calypso-te

[2016-05-16 22:12] jvallera commented on #299
@simonwex @cadecairos happy to. Just let me know what works.

[2016-05-16 22:43] xmatthewx commented on #253
As discussed in Chat, `forum` works for me. I'm slightly concerned about the daisy-chain of subdomains – `forum.learning.mozilla.org` – the public usually sees those only in weird corners of government services. But, the change will be a step in the right direction. As @cadecairos suggested, we could redirect from `learning.mozilla.org/forum` for anywhere we display the URL.

[2016-05-17 16:11] flukeout commented on #302
Working on this today and will provide the HTML & CSS

[2016-05-17 20:42] gideonthomas opened #337 "SSL cert for Science Blog"
Can we get an SSL cert for our wp instance of wp.mozillascience.org?

Related: https://github.com/mozilla/science.mozilla.org/issues/395

[2016-05-17 21:50] kaythaney opened #338 "upgrading screendoor account for science fellows call"
### Details

Need to upgrade from our free Screendoor account for our Mozilla Science Fellow call. (The $49/month will be more than enough :) ).

### Info & links
current form: https://mozilla-science-lab.forms.fm/mozilla-fellows-for-science-2015

timing / need: as soon as possible? looking to open the call june 3; getting all necessary pieces staged now.

also, @auremoser is our lead on this! :10

[2016-05-17 23:08] flukeout commented on #302
Okay, here's the page...
http://mozilla.github.io/thimble-takedown/

And the assets are in that repo...
https://github.com/mozilla/thimble-takedown

[2016-05-17 23:08] flukeout commented on #302
cc @cadecairos @hannahkane

[2016-05-17 23:43] acabunoc commented on #337
wp.mozillascience.org redirects to https://mozscienceblog.wpengine.com which has ssl

[2016-05-18 03:29] gideonthomas commented on #337
That makes sense! Should have thought to investigate how it was working on the current site. My bad :P
Thanks @acabunoc

[2016-05-18 03:30] #337 closed

[2016-05-18 11:43] cadecairos opened #339 "Upgrade To Mattermost 3.x"
http://www.mattermost.org/mattermost-3-0-multi-team-accounts-mobile-desktop-upgrades-japanese-integrations-for-outlook-ruby-rust/

Word on the streets is that it's faster, thanks to react router integration.

There's a manual migration to be done, thanks to the muti-team account support, but we only use one team, so we shouldn't have a problem migrating.

[2016-05-18 11:49] cadecairos commented on #338
@auremoser Do you mind if I send you an invite to our Foundation 1Password for Teams account? I'll create a new Vault for Science credentials and you can add in login details for screendoor there.

If you'd prefer a different way of transferring the screendoor account details securely, I'm open to all avenues.

[2016-05-18 14:43] auremoser commented on #338
Surely. We can try that! I have keybase on my home machine but unfortunately they haven't debugged the transfer to my [moz computer](https://github.com/keybase/client/issues/1545). 1Password works, or I can invite you to a pw protected dropbox with the details.

[2016-05-18 15:44] cadecairos commented on #338
@auremoser I'll send an ivite to the team account, keep an eye out for it!

[2016-05-18 15:54] auremoser commented on #338
Cool, let me know what the best way to share creds is, it seems I don't have access to "shared vaults".

[2016-05-18 18:04] cadecairos commented on #338
@auremoser added the credentials to the 1password vault, and I logged in.

I created an account for devops@mozillafoundation.org and transferred ownership to it, added a credit card and selected the $50/month screendoor plan.

[2016-05-18 18:04] #338 closed

[2016-05-18 19:55] auremoser commented on #338
Thank you @cadecairos!

[2016-05-18 21:13] #336 closed

[2016-05-18 21:15] cadecairos commented on #299
@jvallera sorry for the delay, I've created a "hive" vault in mofo 1password for teams, I'll send you an invite so you can add the credentials there.

[2016-05-18 21:43] jvallera commented on #299
perfect, thanks @cadecairos

[2016-05-19 11:18] KevZawacki opened #340 "User log-in issue on Webmaker"
@cadecairos

Hi Chris, flagging that I've assigned a Desk.com ticket to you (case #10165). We have a Webmaker user unable to access their account.

[2016-05-19 11:20] cadecairos commented on #340
@KevZawacki thanks for filing! I'll take a look when I get to the office this morning

[2016-05-19 14:42] cadecairos commented on #340
@KevZawacki The queue processor responsible for sending transactional webmaker emails was down D:

I've fixed the problem and had it process the backup of events (~7500). I've confirmed that resets/migrations are working now. I'll contact the user to let them know to try again.

[2016-05-19 14:42] #340 closed

[2016-05-19 16:08] cadecairos commented on #299
@jvallera did you get the invite?

[2016-05-19 16:34] cadecairos commented on #339
done!

[2016-05-19 16:34] #339 closed

[2016-05-19 16:41] cadecairos opened #341 "Create Useful Alerts in Logentries"
### Details
We should leverage alerts on logentries to create an effective defense against undetected issues.

### Info & links
https://logentries.com/

@alicoding and @gideonthomas will be leading this effort, so they can get familiar with the tools, and I will advise and support them. I believe you both have been invited to the account.

[2016-05-19 16:43] cadecairos opened #342 "Archive Logentries logs to S3"
### Details
Lets archive our logs to S3, in case we ever need to inspect them for something (think: security incident investigations)

We should delete the data after a year.

[2016-05-19 17:22] jvallera commented on #299
@cadecairos was it to my mozilla address? or hive address? what address is it coming from?

[2016-05-19 17:26] cadecairos commented on #299
I sent it to "julia@mozillafoundation.org", I can only assume it's from a 1password.com email address

[2016-05-19 17:42] jvallera commented on #299
Yes, it was in my spam @cadecairos I am in and looking at my home dashboard.  what next?

[2016-05-19 17:52] cadecairos commented on #299
@jvallera I've approved the signup and added you to the hive vault, you should be able to see it now.

[2016-05-19 17:56] jvallera commented on #299
@cadecairos great. just added. let me know if it works for you

[2016-05-19 18:19] cadecairos commented on #299
Thanks!

[2016-05-19 19:13] cadecairos commented on #342
Done and Done

[2016-05-19 19:13] #342 closed

[2016-05-19 20:55] cadecairos opened #343 "Test Mattermost Hubot"
PLZ WURK

[2016-05-19 21:03] #343 closed

[2016-05-19 21:03] cadecairos opened #344 "hubot's a bowse"
word.

[2016-05-19 21:23] flamingspaz commented on #253
Okay, I've rebuilt the Discourse container with the new domain.

@cadecairos all that's left is to change the id.wmo callback and change the DNS. If you cc me in the DNS bug I can change the SSL cert as soon as the DNS is changed so people don't get errors.

[2016-05-19 21:24] flamingspaz commented on #314
I've updated to the latest beta, if we still get SQL errors I can file an issue upstream.

[2016-05-20 01:19] cadecairos commented on #344
testing!

[2016-05-20 18:05] #344 closed

[2016-05-24 14:21] cadecairos commented on #341
To add to this, we need to find a useful threshold for these alerts. Over the weeked we got lots of notifications by email and in the devops channel. While we probably should fix the large amounts of 503s our apps are causing, until we do so we don't want a flood of alerts. I already took some steps to fix this, but more can be taken.

I also discovered that when you have a single alert that monit

[2016-05-24 14:35] cadecairos commented on #325
I've set up a Hubot on https://chat.mozillafoundation.org. The setup includes a role based auth mechanism and command processing middleware that checks a user has the right role to perform an action.

With @flamingspaz's help I set up a travis integration that only lets the build happen for users that have the "jenkins" role (only myself or wex have the ability to grant roles right now.)

[2016-05-24 15:18] ScottDowne opened #345 "greenkeeper is still connected to jbuck somehow"
@cadecairos not a huge deal, but kinda confusing.

In channel we're seeing "jbuck pushed 1 commit to mozilla/donate.mozilla.org"

Which, is far from true. We should if easy, change that to be "greenkeeper pushed 1 commit to mozilla/donate.mozilla.org"

[2016-05-24 15:51] cadecairos commented on #345
I disabled greenkeeper, because we never even pay attention to it.

[2016-05-24 15:51] #345 closed

[2016-05-24 16:45] simonwex opened #346 "Write email to all-mofo to describe the 2FA requirements"
![image](https://cloud.githubusercontent.com/assets/25260/15512323/20bad3c2-2194-11e6-94f4-b0208a9ccf7d.png)

[2016-05-24 17:07] alicoding commented on #333
I forgot to link the bug here... https://bugzilla.mozilla.org/show_bug.cgi?id=1273987

[2016-05-24 17:23] cadecairos commented on #346
@simonwex are we going to require this for the MozillaFoundation org as well?

[2016-05-24 17:48] gideonthomas commented on #311
Add an exception as per: https://github.com/mozilla/science.mozilla.org/issues/425#issuecomment-221339156

[2016-05-25 00:19] alicoding commented on #333
This is now done :) https://science.mozilla.org/

[2016-05-25 00:19] #333 closed

[2016-05-25 00:39] hannahkane commented on #333
yay!

[2016-05-25 18:50] acabunoc opened #347 "Spin down mozscilab on heroku after we launch science.mozilla.org"
### Details

This should happen shortly after #311 (with some buffer). Sometime before June 2

See comments on this doc: https://docs.google.com/a/mozillafoundation.org/spreadsheets/d/1FcrJzxJL5JzsSHn4MEpw5Za_-FGVLr8NWKEk0ulDxDI/edit?disco=AAAAAr-EwcE&usp=comment_email_document

[2016-05-25 19:04] acabunoc commented on #311
I updated the table to list all the events and include the exception @gideonthomas mentions

[2016-05-27 14:49] xmatthewx opened #348 "Prep Chat for Hive NYC"
Julia is excited to bring Hive NYC into Chat. @alanmoo suggested we try setting Hive up as a separate team, so they can use many channels outside the MoFo firehose.

[2016-05-27 17:56] cadecairos commented on #348
@alanmoo @xmatthewx Hive team created, signups are now open again.

[2016-05-27 18:27] cadecairos commented on #348
calling this one closed.

[2016-05-27 18:27] #348 closed

[2016-05-30 14:45] cadecairos commented on #328
Completed.

[2016-05-30 14:45] #328 closed

[2016-05-30 16:32] cadecairos commented on #346
[code]

[2016-05-30 16:32] cadecairos commented on #346
@simonwex ^ proofread?

[2016-05-30 16:51] simonwex commented on #346
* I'd do a separate email for Heroku and for Github and target the list. I think you have the identities, right?–It'll be difficult for many to understand if they can ignore this.
 * I'd include a one-liner to describe what 2FA is as the intro
 * Offer to walk people through it on a 30 min vidyo session?

[2016-05-30 16:53] cadecairos commented on #346
Yeah two emails is probably a good idea. I have the user id's of github accounts without 2FA, but not their emails. might be able to get that out of the github API.

I'll draft a v2

[2016-05-30 16:55] Pomax commented on #346
it feels like we're missing an explanation on why this matters for github, other than "2fa is more secure so just do it", which doesn't help people understand why we're making their life harder. For the heroku part it is easy to explain that this can give access to our critical infrastructure, so the extra security is definitely warranted there, but for since we work on a lot of open source, we sh

[2016-05-30 17:10] cadecairos commented on #346
[code]
@simonwex @Pomax

[2016-05-30 17:23] Pomax commented on #346
+1, that actually works fine for me. Explaining that we're all responsible for how Mozilla acts and is perceived nails it.

[2016-05-30 17:27] cadecairos commented on #346
sweet!

The formatting should be significantly better when prepared in Thunderbird.

[2016-05-30 19:44] Pomax commented on #346
:zap::bird:

[2016-05-30 20:00] simonwex commented on #346
👍

[2016-05-30 20:20] cadecairos commented on #346
Message sent (Github version)

[2016-05-30 21:14] cadecairos commented on #346
Message sent to all 2FA disabled Heroku org members (but not to the collaborators of individual apps.)

[2016-05-31 14:39] gideonthomas opened #349 "Add deprecation/Not maintained notice for legacy github repos"
I don't know if there are others, but there are contributors watching these repos and we should let them know that they are no longer maintained. The one I found was https://github.com/mozilla/nimble.webmaker.org

[2016-05-31 17:25] xmatthewx commented on #325
Thanks @flamingspaz and @cadecairos! I'm populating our spreadsheet with real data for the London schedule app. Is the chat bot integration set up and something that I can start using?

[2016-05-31 17:26] cadecairos commented on #325
I'll grant you the role needed to trigger the job on jenkins!

[2016-05-31 17:26] cadecairos commented on #325
cc/ @flamingspaz about whether the job is set to go

[2016-05-31 19:18] cadecairos commented on #311
fixed by mozilla/science.mozilla.org#475

[2016-05-31 19:18] #311 closed

[2016-05-31 20:14] edrushka opened #350 "Set up auto confirmation emails for MozFest session proposers"
Filing a ticket in your repo, @cadecairos!

Deadline to implement emails: EOD Wed June 8.

-------

#### Copy for Plan A (each email is customized with unique GH issue)

Hi < first name >,

Thank you for submitting a session proposal to MozFest!

Our session curation process takes place on Github in the [MozFest 2016 Program repo] (https://github.com/MozillaFoundation/mozfest-program-2016). Curati

[2016-06-01 00:24] mmmavis commented on #325
Hi folks, I'm back from PTO! Anything I can help clarify?

[2016-06-01 01:20] cadecairos opened #351 "Content Deletion request"
URL: https://isaacrg.makes.org/thimble/deep-sohelias-blog-banter-part-2-this-time-its-personal

* [x] Delete published make from S3
* [x] Delete row from thimble database

[2016-06-01 10:43] flamingspaz commented on #325
As mentioned in chat, everything is good to go, I just need the spreadsheet key/private key etc.

Alternatively we could set up a mtg at some point and I can show y'all how to add a new job for a schedule so you can set them up by yourself in the future.

[2016-06-01 10:46] flamingspaz commented on #325
Also, I couldn't get it to work using my forked sheet/creds so it'd be nice to see where I went wrong with creating them and if needed update the docs.

[2016-06-01 13:17] cadecairos commented on #325
+1 to this - I'd love a crash course on setting up jobs w/ jenkins

[2016-06-01 14:07] cadecairos commented on #351
All done.

[2016-06-01 14:07] #351 closed

[2016-06-01 14:43] xmatthewx commented on #325
Given our timezones, would 10:30am/3:30pm work on Friday? @flamingspaz, are you GMT+1? If that time doesn't work, don't let me block everyone else. Go ahead and schedule something else.

[2016-06-01 18:48] hannahkane opened #352 "[June 22] Modify deprecation warning on Thimble"
Copy suggestion:

"There's a new Thimble! We'll be shutting down this version and migrating existing projects over on Monday, June 27th. Your projects will be inaccessible from X to Y on June 27th. In the meantime, try the new Thimble"

@KevZawacki @kgorr ^ does that ok to you?

@cadecairos to fill in specific times. :)

[2016-06-01 19:48] mmmavis commented on #325
Hey @flamingspaz which keys do you need? Did you mean Google Service Account?

[2016-06-01 20:03] mmmavis commented on #325
Friday works for me. I'm in Vancouver so anytime after 8am (PDT) works. (though after 9am would be preferred 😉 )

[2016-06-01 20:26] KGorr commented on #352
+1 @hannahkane

[2016-06-01 21:08] cadecairos commented on #347
Scaled to Zero :copyright:

[2016-06-01 21:08] #347 closed

[2016-06-01 21:17] KevZawacki commented on #352
👍

[2016-06-02 22:17] gideonthomas commented on #341
@cadecairos should we have a call to discuss what needs to be done here? I changed the threshold on the publish logs a bit but other than that it seems like you've set up some pretty sounds thresholds for the other alerts.

[2016-06-03 15:30] xmatthewx opened #353 "Renew mozillafestival.org certificate"
My browser reports that the security certificate for mozillafestival.org expired yesterday. If true, this should block the call for proposals if it hasn't gone out already. cc @edrushka @Saallen @cadecairos

[2016-06-03 15:51] cadecairos commented on #353
woops, this fell off my radar somehow! Certs renewed, are in process of deploying to the CDN now

[2016-06-03 17:13] edrushka commented on #353
Site works again 😌

[2016-06-03 17:13] #353 closed

[2016-06-04 17:29] Pomax opened #354 "fix old thimble's login failing opaquely"
People are still using old thimble, and are now running into CSRF errors when trying to log in. We've not told people that logins won't work, so we'll either have to change the top bar to say this service is no longer active and give them no choice but to be redirected to the new thimble, or we should see if that CSRF error is easy to solve until we shut down old thimble properly after London.

[2016-06-04 18:27] cadecairos commented on #354
thimble.webmaker.org logins should be working still - we've not shut it down yet...

[2016-06-04 18:33] cadecairos commented on #354
Found the problem. Since switching to Heroku for old Thimble, we lost the ability to upgrade http connections to https.

Simply typing in "thimble.webmaker.org" will result in an http connection, which causes the browser to refuse to transmit Cookie headers, resulting in a 403 for any POST/PUT requests.

[2016-06-04 18:37] cadecairos commented on #354
possible solution (without using a Cloudfront CDN) http://stackoverflow.com/a/29186187

[2016-06-04 19:33] Pomax commented on #354
alternatively we can slip in some dumb JS:
[code]
Quick hack solution for a service we're turning off soon anyway?

[2016-06-04 19:41] cadecairos commented on #354
Yeah a quick hack is definitely the solution, with less than a month before shutdown

[2016-06-04 20:06] Pomax commented on #354
fix added, now the question is: how do we get thimble to rebuild...

[2016-06-04 20:09] cadecairos commented on #354
Deploy the legacy branch to the old thimble app on heroku. (might be called thimble-old)

[2016-06-04 20:19] Pomax commented on #354
not seeing a pipeline... does old thimble still use jenkins? O_o

[2016-06-04 21:45] cadecairos commented on #354
no worries. there's definitely a pipeline called thimble-old in the moz org (just checked)

[2016-06-05 00:09] Pomax commented on #354
there's a pipeline, but from what I can tell (as far as heroku shows me) there are no deploys bound to any branches for the actual apps in the pipeline.

[2016-06-05 02:17] cadecairos commented on #354
Yes, auto deploys were never set up, but we can go to the deploy section on the staging version and manually trigger a build fromg the legacy branch (or just set them up)

[2016-06-05 15:59] Pomax commented on #354
ahh, aiight.

[2016-06-05 16:01] Pomax commented on #354
apparently I do not have the rights to link heroku into thimble. want to hook it up? (or move me to the github group that'll let me set up deploys)

[2016-06-06 15:14] gideonthomas commented on #314
Yep, looks good now, thanks @flamingspaz :)

[2016-06-06 15:14] #314 closed

[2016-06-06 17:37] cadecairos commented on #346
done, will follow up later in the month

[2016-06-06 17:38] #346 closed

[2016-06-06 17:40] cadecairos commented on #253
Need to figuyre out if MoCo want's to do a security review before we host this on mozilla.org

[2016-06-06 17:50] cadecairos commented on #300
olanning for this continues. @gideonthomas will update with information at a later date

[2016-06-06 17:52] cadecairos commented on #325
I'm going to call this done :tada:

[2016-06-06 17:52] #325 closed

[2016-06-06 18:08] cadecairos commented on #341
I think we're okay here. improvements can be made incrementally moving forward.

[2016-06-06 18:08] #341 closed

[2016-06-06 18:10] cadecairos commented on #313
I don't think we're going to do this, since we have to pay per user now.

[2016-06-06 18:10] cadecairos commented on #313
@simonwex thoughts?

[2016-06-06 20:44] KGorr opened #355 "discourse.webmaker.org: email link error"
Received this message from a discourse.webmaker.org user:

"I just want to inform you that the links in the notification newsletters of your Discourse forum are broken ("forum.learning.mozilla.org’s server DNS address could not be found.)"

I received this message via a notification to my inbox, and I verified that the "visit message" button in that email goes to a server not found page.

I'm not

[2016-06-06 20:52] flamingspaz commented on #355
The migration to the new domain looks like it's going to take longer than expected, so I'm going to revert it back to the original domain for now.

[2016-06-06 20:54] KGorr commented on #355
Thank you!

[2016-06-06 21:49] mmmavis commented on #350
cc myself @mmmavis

[2016-06-06 22:08] flamingspaz commented on #355
I've updated the settings, emails sent from now will have the correct links!

[2016-06-06 22:08] #355 closed

[2016-06-07 15:08] cadecairos commented on #354
Deployed fix to thimble-old-staging and thimble-old-production

[2016-06-07 15:08] #354 closed

[2016-06-07 15:23] Pomax commented on #354
hero++

[2016-06-07 20:42] cadecairos opened #356 "Source staging instance is being retired June 21"
[code]
cc/ @simonwex @ryanpitts

[2016-06-07 22:53] ryanpitts commented on #356
Hahahaha, of _course_ they'd schedule this. This is just the instance underneath https://source.mofostaging.net/, right? Is there anything else running on it?

[2016-06-08 17:26] alicoding commented on #352
Done :)

[2016-06-08 17:26] #352 closed

[2016-06-08 19:51] xmatthewx opened #357 "GA tracking ID for London Schedule App"
### Details

We need a GA tracking ID for the London Schedule app. @mmmavis and I were unsure of the process with @adamlofting's transition.

While stats aren't critical for London, it would help us demonstrate to MoFo the value of the app for better tracking/understanding of Mozfest and our other events.

### Info & links

GH Pages: http://mozilla.github.io/mofo-allhands/
London: /2016-london/

I

[2016-06-08 19:56] cadecairos commented on #357
I don't have the necessary permissions to create GA id's (let alone the experience using GA)

@simonwex how should we handle this?

[2016-06-08 20:21] xmatthewx commented on #357
I heard rumor that @HPaulJohnson might have the knowledge and the power.

[2016-06-08 22:07] HPaulJohnson commented on #357
Hmm, just enough knowledge to be dangerous. I can supply the GA ID's for our existing sites (advocacy, webmaker, learning, etc) but don't have a lot of experience creating new sites/ID's.

I just checked - and think I can do this (I have the power!) - but not having done this specific thing before I'd love @adamlofting's guidance if possible.

[2016-06-09 08:07] adamlofting commented on #357
New GA properties are setup in the account by our friends at MoCo (they own the contract with Google and the account). @HPaulJohnson I suspect you have the power to setup new views under existing properties (i.e. under learning.m.o) but probably not to create new properties.

Details on the process including a link to file a bugzilla bug in the right place are on this page: https://intranet.mozill

[2016-06-09 14:05] cadecairos commented on #350
This is done

[2016-06-09 14:05] #350 closed

[2016-06-09 14:07] cadecairos opened #358 "Determine Monthly AWS costs associated with OpenNews"
Just for future reference.

[2016-06-09 15:50] cadecairos commented on #358
~275.00/month

This is based on the costs associated with the tags `project:opennews` and `project:opennews.org`

cc/ @simonwex

[2016-06-09 20:57] xmatthewx commented on #357
I guess this all-hands app is an outlier. The app for mozfest or sourcecon or most other events would already have an obvious root domain. It seems like we'll have to skip this.

[2016-06-09 21:20] mmmavis commented on #357
All of our schedule apps (SRCCON, MozFest 2015, Hive Buzz, MoFo London All-hands) live on *.github.io . I agree that we wouldn't want GA to drop cookies there.

[2016-06-09 23:46] mmmavis commented on #325
✧*｡٩(ˊᗜˋ*)و✧*｡ 🌟

[2016-06-10 14:35] #358 closed

[2016-06-10 14:35] cadecairos commented on #329
This is finally working. email verified.

[2016-06-10 14:35] #329 closed

[2016-06-10 15:05] cadecairos commented on #253
filed a bug to add a CNAME for forum.learning.mozilla.org - https://bugzilla.mozilla.org/show_bug.cgi?id=1279527

@flamingspaz your bugmail account is cc'd so you'll be able to follow the progress there.

[2016-06-10 18:51] cadecairos commented on #335
This will have to wait until after all-hands (But it will get done!)

[2016-06-10 19:05] cadecairos commented on #299
Done, +saved in 1password

[2016-06-10 19:05] #299 closed

[2016-06-15 07:41] cadecairos commented on #356
I took a look in AWS, and this instance is part of the source-staging ELB. Once it's shut down, it should be replaced by the ELB automatically. It it fails to boot up a new one, we'll have to intervene. Closing this for now since there doesn't appear to be any imminent danger.

[2016-06-15 07:41] #356 closed

[2016-06-15 12:44] simonwex opened #359 "HiveNYC URL seems to have an incorrect domain configured"
Atter clicking on portfolios, links are going to http://hivenyc.wpengine.com/...

[2016-06-15 13:46] OpenMatt opened #360 "Make Pulse prototype work again"
### Details
This prototype no longer works:
http://xmatthewx.github.io/network-pulse/

Chris mentioned that its being throttled or something -- can we make it work again?

cc @xmatthewx @prefontaine

[2016-06-15 15:49] cadecairos commented on #357
I'm going to go ahead and close this up.

[2016-06-15 15:49] #357 closed

[2016-06-15 15:51] cadecairos commented on #359
I need to update the URL settings in WPEngine as well as in wp-admin.

I've asked @jvallera to add the credentials to 1Password so I can get in and make the right adjustments.

[2016-06-15 15:56] cadecairos commented on #360
@acabunoc mentioned that we can avoid using sheetsu altogether since it's just a wrapper around Google sheets.

It looks like Pulse is simply [pulling in all sheet data](https://github.com/xmatthewx/network-pulse/blob/bc9affcf012d0a311c0d15c8b2edc895f5bd223b/js/pulse.js#L466-L485) so this shouldn't actually bee too hard? (can you confirm this assumption @acabunoc?)

[2016-06-15 16:05] acabunoc commented on #360
True! https://github.com/xmatthewx/network-pulse/issues/3

[2016-06-16 17:33] jvallera commented on #359
Hi @cadecairos, I added the login to 1Password. Let me know if you have problems getting access.

[2016-06-16 22:15] cadecairos commented on #359
Thanks a lot Julia! I was able to fix the redirect issue.

Christopher De Cairos
DevOps Engineer
Mozilla Foundation

On 16/06/16 06:33 PM, jvallera wrote:

[2016-06-16 23:53] ryanpitts opened #361 "Elasticsearch not available to Source site search"
Search functionality isn't working on Source at all. For example: https://source.opennews.org/en-US/search/?q=django

I'm guessing this is related to the AWS node rollover that happened recently. Looks like elasticsearch didn't start up on the new instance -- or perhaps it's running on a separate box, somewhere that isn't accessible to the new instance? I'm not sure whether it had been configured

[2016-06-16 23:56] ryanpitts commented on #361
Happy to help diagnose if I can. Once elasticsearch is running/available, we'll need to run `python manage.py rebuild_index` from the Django app instance to get the search index up.

[2016-06-17 00:04] cadecairos commented on #361
It should be trying to connect to `http://ec2-23-21-11-111.compute-1.amazonaws.com:9200` I've verified that the source prod instance's security group is permitted to connect over that port.

Is that configuration handled using a config in S3 (and updated using puppet?), or directly on the instance? (Sorry, I'm not familiar with how jp/jon set this up initially, just guessing)

[2016-06-17 00:05] ryanpitts opened #362 "S3 access for two editors"
We've got a couple editors for Source who need access to the MoFo S3 bucket "assets.opennews.org." Chatted with @cadecairos today, just filing here so it doesn't get lost. Editors are:

* Erin Kissane
* Lindsay Muscato

[2016-06-17 00:10] ryanpitts commented on #361
I suspect that JP would have set it up to use puppet, but I don't know that to be true. Sounds like `127.0.0.1:9200` just needs to be forwarded to that elasticsearch instance.

[2016-06-17 00:15] ryanpitts commented on #361
Hmm, I may have spoken too soon on `127.0.0.1:9200`. That's the development setting, which looks like it's being overridden on prod to point to `http://source-es.mofoprod.net:9200`

[2016-06-17 00:17] ryanpitts commented on #361
In the `mofo-techops` S3 bucket, there's a `creds/apps/production/source` entry, which I think is what you were asking about earlier.

[2016-06-17 00:20] cadecairos commented on #361
Doesn't look like ES is running on the prod ES instance

[2016-06-17 00:21] ryanpitts commented on #361
wheeeee

[2016-06-17 00:34] cadecairos commented on #361
@ryanpitts ES is running now

[2016-06-17 00:35] cadecairos commented on #361
It seems it's been running in a screen session on that instance for some time? lol. It's still doing that now.

[2016-06-17 00:38] ryanpitts commented on #361
weeeeeird. I think we might still need to run `python manage.py rebuild_index` on the Source instance to catch any articles that have been added while the connection to elasticsearch was down.

[2016-06-17 00:46] cadecairos commented on #361
When I run that command I see `Error: No module named jinja2`

[2016-06-17 00:54] ryanpitts commented on #361
hmm, is the virtualenv activated? I've been able to run before with:

    cd /var/www/source
    source ./bin/activate
    manage.py rebuild_index

[2016-06-17 00:57] cadecairos commented on #361
ugh, I can't install pip because either the ubuntu version on that instance is too old, or the repositories are invalid.

Either way, I've gotta get sleep now 😞 I'll look into this more in several hours.

[2016-06-17 00:58] ryanpitts commented on #361
oh wow, I wasn't looking at the clock -- it's so late there! Thanks for getting es back up and running!

[2016-06-17 01:03] cadecairos commented on #361
just saw the virtualenv comment - totally forgot that venv is a thing (Python newb here) I'll ge better at it.

Also:
[code]

Should be back in business! Goodnight!

[2016-06-17 01:15] ryanpitts commented on #361
WOOOOOO. That's exactly what I was looking for :) Thanks again.

[2016-06-17 01:15] #361 closed

[2016-06-20 16:58] xmatthewx opened #363 "Access to analytics"
More staff should leverage analytics to improve our work.

It'd be great if you could give me access to thimble.mozilla.org, learnig.mozilla.org, and other primary domains. I currently can just view things filed under webmaker.org.

What's the process for getting current and future staff on board? Is there anyway that we could simplify or decentralize this task?

Thanks!

[2016-06-21 13:55] cadecairos commented on #332
Is this something we're still hoping to make happen soon? Should we target this for sometime in July, while we focus on shutting down webmaker's Thimble?

[2016-06-22 14:57] alicoding opened #364 "Migrate sciencelab self-hosted blog to wpengine"
https://science.mozilla.org/blog is currently being fetched from self-hosted wordpress blog and should probably migrate to wpengine for maintainability and prevent any vulnerability as well.

@acabunoc can you grant me access to the self-hosted version of the blog?

cc @cadecairos @simonwex

[2016-06-22 15:23] acabunoc commented on #364
I believe we *are* on wpengine? cc @cadecairos

https://mozscienceblog.wpengine.com/

[2016-06-22 15:27] cadecairos commented on #364
Yeah, there's definitely a science blog on wpengine.

@alicoding I don't see a self-hosted mozsci wordpress instance in AWS anywhere..?

[2016-06-22 15:28] alicoding commented on #364
In that case... closing this ticket 😃

[2016-06-22 15:28] #364 closed

[2016-06-22 21:59] hannahkane commented on #332
It sounds like we're changing the scope of the Calypso project so that it won't apply to as many use cases as previously thought. I think we can hold on this for a bit.

[2016-06-23 14:46] cadecairos commented on #302
I've successfully done several dry runs of the migration (using live data) using my local databases.

Everything runs great, I'm ready to go!

[2016-06-23 15:00] cadecairos commented on #362
@ryanpitts so, we need two IAM users, and two keypairs to provide access to that bucket? How are Erin and Lindsay going to be accessing the bucket?

[2016-06-23 15:02] cadecairos commented on #363
Access to Google Analytics is controlled by MoCo, because they manage the account governed by Mozilla's contract with Google. We need to file Bugzilla bugs on a case-by-case basis to add people to various websites and to create new tracking codes

Let me see if I can find a mana article I can link here...

[2016-06-23 15:35] xmatthewx commented on #363
Cool. Cool. It would also be helpful to have a list of MoFo properties to request. I'm not sure how they're grouped or named.

[2016-06-23 16:29] ryanpitts commented on #362
@cadecairos yep, two keypairs. They're planning to just use an FTP client.

[2016-06-24 15:34] cadecairos commented on #362
@ryanpitts I've created the IAM users, and generated two keypairs.

How can we best get these securely in the hands of Erin and Lindsay?

[2016-06-24 15:39] cadecairos commented on #360
Since we can leverage Google sheets directly, and won't need a subscription service, I'm going to close this issue in favour of xmatthewx/network-pulse#3

[2016-06-24 15:39] #360 closed

[2016-06-24 15:39] #359 closed

[2016-06-24 15:40] cadecairos commented on #363
My Google account doesn't have access to all the properties we (mofo) have added to GA over the years. I'm not sure if we even have one canonical list.

cc/ @simonwex

[2016-06-24 18:08] ryanpitts commented on #362
Hmm, good question -- I'll let them know in our Slack channel and ask if they have any thoughts.

[2016-06-24 18:11] ryanpitts commented on #362
@cadecairos I wonder whether https://crypto.cat/ might be useful for stuff like this.

[2016-06-24 18:29] cadecairos commented on #362
That's one option.

There's also Signal (https://whispersystems.org) and Telegram (https://telegram.org/)

[2016-06-27 15:07] cadecairos commented on #302
Redirect in place, and data exported.

I'm about to begin migrating it into the publish service

[2016-06-27 16:31] gideonthomas commented on #300
I literally have no idea where https://blog.mozilla.org/gigabit is hosted. It looks like it is managed by MoCo? @cadecairos can you advise?

There seem to be a bunch of ways to do this (all have some caveats), but @cadecairos if we can chat a bit about the right approach, that would be great!

[2016-06-27 18:26] cadecairos commented on #302
MIGRATION COMPLETED

🎉 💯 🍔 🔥 🐎

[2016-06-27 18:35] cadecairos commented on #302
Thimble database snapshotted, and deleted.

![](https://media.giphy.com/media/msKNSs8rmJ5m/giphy.gif)

[2016-06-27 18:35] #302 closed

[2016-06-27 18:41] mickfuzz commented on #302
Fantastic - works for all my projects!

Logo: ![Alt](/http://i.giphy.com/132xaiItSkgXAs.gif"Title")

[2016-06-29 05:52] simonwex opened #365 "learning.mozilla.org make thumbs are probably borked"
Based on the addition of CSP headers, these are probably borked, needs research.

[2016-06-29 08:23] mickfuzz commented on #302
@hannahkane or anyone with permissions, can you merge my pull request which updates the course?

https://github.com/mozilla/webmaker-curriculum/pull/230

Thnx

[2016-06-30 16:23] hannahkane commented on #302
@mickfuzz - looking now. thanks for the reminder.

[2016-07-04 17:45] gideonthomas commented on #362
@ryanpitts has the access been granted to the editors?

[2016-07-04 17:47] alicoding commented on #365
Which page is broken? I see all thumbnails for teaching activities.

[2016-07-04 17:55] simonwex commented on #365
@cadecairos have you seen any evidence of this? (I added this ticket based on a convo during our scramble)

[2016-07-06 17:05] cadecairos commented on #365
CSP might break it, but right now we're being blocked on CORS

[2016-07-06 17:05] cadecairos commented on #365
[code]

[2016-07-06 17:11] cadecairos commented on #365
Fixed that by updateing the allowed origin in make-valet-prod.

I was right, lots of CSP violations loading thumbs. We will not be able to allow for all possible image thumbs.

perhaps we should just display placeholder images based on make type?

What do you think @simonwex

[2016-07-06 17:27] cadecairos commented on #363
@simonwex do you now have access to _all the things_? We could add docs somewhere where we maintain a list of GA properties we have, so people can request access for their mofo accounts.

[2016-07-06 23:36] simonwex opened #366 "Create go-live on mozilla domain checklist"
This should be a checklist we follow whenever hosting something on one of our domains.

[2016-07-06 23:38] cadecairos commented on #366
We can fit this in the current HB I think.

[2016-07-08 15:10] cadecairos commented on #366
Not alll may be applicable, but should be considered for all deployments none-the-less.

- [ ] Conduct an RRA
- [ ] Perform  a Security Review
  - [ ] Does user generated content get displayed in-browser safely?
  - [ ] Does user generated content get stored in any way - is it done safely?
  - [ ] Is PII handled according to Mozilla's Privacy Policy?
  - [ ] If password information is stored, is i

[2016-07-08 21:06] kskarthik opened #367 "Proposal to move discourse.mozilla-community.org to community.mozilla.org"
I feel community.mozilla.org is apt for discourse location. Are there any problems to do so ? Also, it is easy to remember too http://community.mozilla.org

[2016-07-08 22:33] flamingspaz commented on #367
Hey, thanks for filing an issue.

Moving under mozilla.org is definitely something we want to do in the future, but there are multiple things that may need to happen to be approved to be on mozilla.org (defining policies, security reviews, fixing usability issues, etc). There's no time estimate for this unfortunately.

I'm going to close this issue as the community Discourse is not a MoFo project

[2016-07-08 22:33] #367 closed

[2016-07-09 11:50] kskarthik commented on #367
@flamingspaz Thanks for informing. I created a topic on discourse to discuss more :smiley:  https://discourse.mozilla-community.org/t/proposal-moving-discourse-to-community-mozilla-org/9643

[2016-07-11 15:15] cadecairos opened #368 "source-elasticsearch-production going down for maintenance - 2016-07-25"
CC/ @ryanpitts

[2016-07-11 16:15] ryanpitts commented on #368
Ah, thanks for the ping! Will set myself a reminder to check search once that window is over.

@cadecairos Just for the sake of completeness, do we have a current snapshot of that instance if we needed to spin up a new one?

[2016-07-11 17:35] cadecairos commented on #253
@flamingspaz how are we looking here?

[2016-07-11 17:41] cadecairos commented on #365
@gideonthomas found http://content-security-policy.com/ - which indicates that * can allow all sources for a directive (except filesyste: blob: and data:)

[2016-07-11 17:43] cadecairos commented on #366
@gideonthomas @alicoding Feel free to add in things I haven't thought of yet!

[2016-07-11 18:22] gideonthomas commented on #366
I don't know if this is in scope for this doc or not, but what about a point about how to actually request the domain - probably something like "File a devops bug with the requested domain and the checklist to tick-off as tasks are completed"?

[2016-07-11 21:46] acabunoc opened #369 "Access to mozillascience-org-assets S3 bucket"
### Details

Hi! We used to upload images for the science site to this bucket through a form on the old site (create an event, create a project). Now that the form is gone, can we upload images here directly?

Or - is there somewhere else we should host static images for the science site?

cc: @auremoser

[2016-07-11 22:29] gideonthomas commented on #369
@acabunoc would you be able to file an issue in the science repo to allow this (uploading these images) through the admin interface as well?

[2016-07-12 13:41] cadecairos commented on #369
If the need for this is immediate, I can generate a pair of keys that can upload to the bucket. Cyberduck is probably best tool to upload files ftp style: https://cyberduck.io/

@acabunoc is this an urgent need, or should we wait until we can add an upload tool on the admin interface?

[2016-07-12 13:44] acabunoc commented on #369
Not *urgent* But if it's not done within a couple weeks we should get @auremoser a pair of keys.

@gideonthomas - I'll add this issue to the science repo!

[2016-07-12 13:57] auremoser commented on #369
thank you @acabunoc @gideonthomas @cadecairos

[2016-07-12 14:10] alicoding commented on #363
@simonwex should have access to all things on the analytics account and @cadecairos should have access and edit rights to the analytics.

[2016-07-13 15:59] cadecairos commented on #365
Fixed by mozilla/learning.mozilla.org#1962

[2016-07-13 15:59] #365 closed

[2016-07-13 16:00] cadecairos commented on #362
@ryanpitts we should move forward with this, I'm open to any means of getting they keys to Erin and Lindsay, so long as it's end-to-end encrypted.

[2016-07-13 16:30] ryanpitts commented on #362
Agreed. Erin and Lindsay are up for any of those methods as well, so I'm recommending Signal. Will ask them to install, and then will connect with you for the handoff.

[2016-07-13 17:33] cadecairos commented on #368
Not likely! I'll make one.

[2016-07-13 17:52] OpenMatt opened #370 "move mofo.build to build.mozillafoundation.org"
* Goal: move the WordPress site currently at mofo.build to build.mozillafoundation.org

[2016-07-13 17:55] OpenMatt commented on #370
* Hosting. The site is currently hosted through Matt's personal account at NameCheap.com
* This replaces the current content at build.mozillafoundation.org. We can just nuke what's there right now (but archive it / back it up just in case)

[2016-07-13 18:11] cadecairos commented on #368
AMI + associated volume snapshots are being made.

[2016-07-13 18:16] OpenMatt commented on #370
@cadecairos : can you give me an assessment of how long security review might take for this? is getting a simple WordPress site like this generally straightforward, or problematic?

If sec review is potentially onerous / difficult, we could just leave the site with the current URL and hosting instead. So let me know what you think?

[2016-07-13 18:29] cadecairos commented on #370
So, we'd need to migrate the site content over to wp-engine?

Sec review won't be long. we just need to check for all the best practice headers and whatnot. By running it on wp-engine, we'd already be in pretty good shape.

[2016-07-13 18:36] OpenMatt commented on #370
ok great! thanks Chris. let me know if there's anything else you need from me on this.

[2016-07-13 18:37] cadecairos commented on #370
What's the timeline for this move?

[2016-07-13 18:38] OpenMatt commented on #370
@cadecairos as soon as its convenient for you. we're ready whenever you are.

[2016-07-13 18:48] cadecairos commented on #370
@OpenMatt I see in namecheap there's some kind of "hosting" product. It says something about a cpanel - is that the wordpress hosting?

[2016-07-13 21:51] ryanpitts commented on #362
Both editors are planning to install Signal -- I'll ping back once they're ready to go.

[2016-07-14 16:04] cadecairos commented on #370
@OpenMatt Do you have an admin account on the wordpress instance behind mofo.build?

Could you create an admin account for me (using my mofo email)?

[2016-07-14 17:11] cadecairos commented on #370
okay, so we've hit our limit for wp instances on wpengine (10)

We can either wait for the hive blog consolidation work to finish (should free up some space) or we can upgrade to the business plan (extra $150/month, 25 instances)

I'd prefer to wait for room to free up, but I'm not sure when the hive blog consolidation will be done.

[2016-07-14 17:19] OpenMatt commented on #370
Ok thanks Chris.

Let’s just keep the site at mofo.build then.
I don’t think we can wait for the hive blog work to be done.

Chris: can you re-direct build.mozillafoundation.org to mofo.build?

[2016-07-14 18:10] cadecairos commented on #370
@OpenMatt done!

[2016-07-14 19:55] cadecairos commented on #253
Done.

https://discourse.webmaker.org is redirecting to https://forum.learning.mozilla.org

Fixed the redirect url on id, so webmaker login still works.

[2016-07-14 19:55] #253 closed

[2016-07-14 20:09] cadecairos commented on #370
@OpenMatt Anything left to do here, now that build.mozillafoundation.org points to mofo.build?

[2016-07-14 20:23] OpenMatt commented on #370
nope done! thanks.

On Thu, Jul 14, 2016 at 1:09 PM, Christopher DeCairos <
notifications@github.com> wrote:

[2016-07-14 20:25] cadecairos commented on #370
🎉

[2016-07-14 20:25] #370 closed

[2016-07-14 20:26] cadecairos commented on #363
@xmatthewx What's the deliverable for this issue?

[2016-07-14 20:28] cadecairos commented on #362
@ryanpitts Awesome, I'm not sure exactly how to link people on signal, but my phone # can be found in https://phonebook.mozilla.org/#search/Christopher%20De%20Cairos

[2016-07-14 20:53] gideonthomas commented on #300
@simonwex do you know who manages https://blog.mozilla.org/gigabit so that we can get credentials for running the migration?

[2016-07-14 20:54] KGorr commented on #253
Hey @cadecairos - did the digest email template get updated too? I looked at the settings on my to see but can't tell what I am looking at.

[2016-07-14 20:57] cadecairos commented on #253
@flamingspaz is going to rebuild (or has already rebuilt) the app so that the email settings reflect the URL change. However, I've set up the old url to redirect to the new site (preserving paths and query params)

[2016-07-14 21:19] KGorr commented on #253
Thanks!

[2016-07-14 21:48] ryanpitts commented on #362
👍

[2016-07-14 22:15] flamingspaz commented on #253
All done, everything should be :ok_hand:

We also took this opportunity to remove persona as it's always been buggy and will be shut down soon.

[2016-07-14 22:16] xmatthewx commented on #363
I think many good things have been delivered
 - [ ] Give me access to Learning, Science, and other primary properties. I just have Webmaker site and app.
 - [ ] Give staff a way to request access
 - [ ] Tell design/dev/program staff how to request access

[2016-07-15 13:40] xmatthewx commented on #253
Do we need to send a message to users on how to login without persona? @simonwex @ldecoursy

[2016-07-15 14:14] cadecairos commented on #253
We could. the only option now is to use Webmaker OAuth

[2016-07-15 14:23] cadecairos commented on #366
I'm not sure that quite fits. I envisioned this as more of a checklist for the basic security requirements and best practices, not a guide for requesting a domain (although documenting *what* can be gotten through filing devops issues is a good idea!)

[2016-07-15 15:11] davidascher opened #371 "Backpack statistics"
I'd love to understand the usage of backpack over the last few months (or years if possible).

Specifically, I'd be interested in:

a) rate of issuance of badges per day/week/month
b) rate of retrieval of badge data per day/week/month
c) distribution of # of badges per user (-> what % of our users just create 1-2 badges, vs. some that actually create a meaningful set of badges)
d) a proxy for age

[2016-07-15 15:15] KGorr commented on #253
My vote is to send communication on the log in changes to avoid confusion. Please let me know if you need help! @xmatthewx @cadecairos

[2016-07-15 15:39] cadecairos commented on #371
Is this data collected by Google Analytics? If so I'll need someone to get me access to that property.

sidenote: GA as a web app feels pretty broken, people keep saying I'm an admin, but I can't actually *do* anything or *see* anything in the site.

[2016-07-15 15:47] xmatthewx commented on #253
@KGorr - do you mind filing a new issue in this repo? Someone probably has a prior message we could repurpose.

[2016-07-15 15:55] KGorr opened #372 "Need Discourse New Log In Process Information Message"
Per https://github.com/MozillaFoundation/mofo-devops/issues/253 regarding https://forum.learning.mozilla.org, we need to communicate the new log in process for Discourse to eliminate any possible confusion for users. (No longer using Persona - only WebMaker)

Old templates for re-purposing appreciated!

[2016-07-15 15:56] KGorr commented on #253
Done! Hope it's clear: https://github.com/MozillaFoundation/mofo-devops/issues/372 @xmatthewx

[2016-07-15 16:27] hannahkane commented on #372
Couple questions for @cadecairos -what are the instructions for people who had been using Persona to log in? Do they need to create a Webmaker account? Will their history be preserved?

Are we able to identify Persona users to email, or do we need to do this as an in-app message for everyone?

[2016-07-15 16:40] cadecairos commented on #372
A few scenarios here:

#### The user logged in with Persona, and has Webmaker account with  the same email address
logging in with the Webmaker account will log them into their existing discourse account.

#### The user logged in with Persona, and doesn't have a Webmaker account
As long as the user creates a Webmaker account with the identical email they used with persona, they'll log into their a

[2016-07-15 17:06] hannahkane commented on #372
Hmm...probably too complicated for an on-screen message. Can we isolate Discourse users who used Persona and email them specifically?

[2016-07-15 17:12] KGorr commented on #372
That sounds like a great plan if it's doable @hannahkane. I'm already getting questions about why log ins aren't working... I would love to chat about a process to have proactive communications in place with projects like this before changes are made. :)

[2016-07-15 17:30] cadecairos commented on #372
@KGorr We're going to just turn on Persona again, so that the change can be communicated in the forum.

[2016-07-15 17:38] KGorr commented on #372
Sweet - that sounds great. Thank you!

[2016-07-15 17:46] xmatthewx commented on #372
I agree with @hannahkane's suggestion. We should count many people `used Persona on Discourse` AND `don't have a matching Webmaker account`. The group is probably small. Sending an email or explaining via the forum is much easier than creating new UI.

Can we migrate these people into Webmaker? On Login, I believe they will get a request to set a password.

[2016-07-15 18:24] davidascher commented on #371
No, the data mentioned above isn't captured by GA, I'm hoping there are SQL metrics that might help.

[2016-07-18 17:51] hannahkane commented on #372
Looks like we can export a list of all of our Discourse users, so we could email people that way. But it doesn't seem like it will be trivial to isolate people who've used Persona. So maybe best to just post to the Forum with details about why Persona is no longer an option, what to do if they don't have a Webmaker account, and an email address for how they can get help.

If others agree, I can dr

[2016-07-18 18:31] KGorr commented on #372
cc'ing @ldecoursy, in case she wants to weigh in.

@hannahkane - are you saying it isn't possible or is too tricky to isolate those who use persona?

[2016-07-18 18:44] ldecoursy commented on #372
Given what we've been through with Discourse in the past, I think an email to all users might not be a bad idea either. Maybe we can make it more of an update (bookmark new URL, updates to logins, current most active conversations?)

Best,
Lainie

[2016-07-18 19:58] hannahkane commented on #372
@kgorr - I actually don't know. I don't personally know how to isolate Persona-users, but maybe someone else does?

Regardless, I like @ldecoursy's idea about couching it in a general update. @KGorr - do you think that would work?

[2016-07-18 20:22] KGorr commented on #372
+1 @hannahkane @ldecoursy!

[2016-07-18 21:45] hannahkane commented on #372
Started a draft email and shared with @KGorr and @ldecoursy

[2016-07-19 14:14] KGorr commented on #372
Thanks @hannahkane - if we can put a date on when persona will no longer be available, I think that would make it very clear and add urgency for users to start using WebMaker. I added this comment to the email draft too. Is this realistic/doable given the time frame?

[2016-07-19 17:42] hannahkane commented on #372
What if we plan to send this email out on Monday, July 25th and say Persona will be removed as a login option on Monday, August 1st.

@cadecairos - would that work for you?

[2016-07-19 19:10] cadecairos commented on #371
@davidascher  can you clarify something for me: Is the date a badge record was created the date it was issued, and if so, what constitutes when a badge is retrieved?

[2016-07-20 16:03] cadecairos commented on #371
I've written queries that calculate daily, weekly and monthly counts for badges based on the "validated_on" field.

The openbadges db doesn't seem to have much beyond that. I'll look into the badgekit and badgekit-api databases to see what we can do there.

[2016-07-20 17:07] davidascher commented on #371
Yes, date issued is when it was created; re: date retrieval that's probably
not doable w/o careful filtering of HTTP access logs.  Don't spend much
time on that (or any of these metrics).

On Wed, Jul 20, 2016 at 9:03 AM Christopher DeCairos <
notifications@github.com> wrote:

[2016-07-20 18:12] KGorr commented on #372
FYI The email draft is ready to go as soon as we nail down a time frame. @cadecairos @hannahkane

[2016-07-20 19:11] flamingspaz commented on #372
Persona's shutdown isn't until the end of November so I'd recommend giving people a good chunk of time (maybe a month?) so that if needed we could help them move.

[2016-07-21 20:35] ScottDowne opened #374 "ensure sendto.mozilla.org redirects to donate post BSD"
Main issue here is I can see at least one link, shipped in firefox's about menu, for a donate that still uses sendto.

We need to make sure that's something we keep control of. Right now I think it's under moco?

@cadecairos

and @damiankay for your info.

[2016-07-21 20:39] cadecairos commented on #374
When the time is right, I'll file a bugzilla bug to make the change.

We can ask for one of two things - Moco sets up a permanent redirect for us or we set up a Cloudfront CDN that handles redirects for us.

We'd choose option 2 if Moco couldn't preserve Query strings on redirect when using option 1

[2016-07-21 20:45] ScottDowne commented on #374
Why wait?

[2016-07-21 20:48] cadecairos commented on #374
because isn't that how we access the bsd panel?

[2016-07-21 20:56] ScottDowne commented on #374
yup, good call.

[2016-07-22 14:46] #366 closed

[2016-07-25 14:31] cadecairos commented on #362
How's this looking?

[2016-07-25 14:37] cadecairos commented on #368
Reminder: this is happening today!

[2016-07-25 14:52] cadecairos commented on #368
or already happened? *checks*

[2016-07-25 15:31] cadecairos commented on #368
Okay things should be back to normal now. Started up ES on that instance that got rebooted, and had source re-index all it's content into it.

@ryanpitts can you confirm everything is in order?

[2016-07-25 15:50] ryanpitts commented on #368
Everything working totally as expected. Thanks!

[2016-07-25 16:52] cadecairos commented on #368
🎉

[2016-07-25 16:52] #368 closed

[2016-07-25 18:15] ryanpitts commented on #362
@cadecairos checked in with Erin/Lindsay just now. We'll all be in Portland in person the second half of this week, so sounds like their plan is to install Whisper there and take care of everything. Will open an email thread with you so they can coordinate.

[2016-07-25 21:53] Pomax opened #375 "make teach-mozilla-org-staging.herokuapp.com a real thing"
Right now we have the odd situation where teach-mozilla-org-staging.herokuapp.com is an app that "exists", but it's not part of the list of regular mofo apps and we shouldn't use it, needing to use teach.mofostaging.net instead.

It would make a lot of sense to instead set up  learning-mozilla-org-staging.herokuapp.com, and then kill off both the teach--- instances, since the teach name no longer

[2016-07-25 21:56] cadecairos commented on #375
teach.mofostaging.net is teach-mozilla-org-staging

[2016-07-25 23:19] Pomax commented on #375
based on MM conversation: these should be `learning[...]` now that we have quite a lot of people all working on the learning.mozilla.org website

[2016-07-26 13:57] cadecairos commented on #375
- [ ] Update app name to learning-mozilla-org-staging
- [ ] update app env
- [ ] update teach-api-staging env

[2016-07-26 16:39] cadecairos commented on #375
Completed.

https://learning.mofostaging.net

[2016-07-26 16:39] #375 closed

[2016-07-26 21:32] edrushka opened #376 "Replace the 2015 site with a redirect"
### Details
Please replace MozFest 2015 site with a redirect. We're getting a lot of people hitting the old site, which is problematic. See discussion [here] (https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/69#issuecomment-235290635).

### Info & links
2016 site is www.mozfest.org

cc @Saallen @marcwalsh @mmmavis

[2016-07-27 15:31] cadecairos commented on #376
https://2015.mozillafestival.org now redirects to https://mozillafestival.org

[2016-07-27 15:31] #376 closed

[2016-07-27 15:32] Pomax opened #377 "give http://mofostaging.net a landing page with all projects on it"
It would be very helpful to list all apps reachable on `mofostaging.net` for stage test purposes, so that people who forget staging URLs (me included!) can find and navigate to the specific stage test site they need to work with.

(Not sure if whatever takes care of the routing can actually generate that page, but if so: that'd be one less thing to update every time we add/remove mofostaging endpo

[2016-07-27 16:47] Pomax opened #378 "teach-api uses "teach-api-prod" instead of "teach-api-production" on heroku"
somewhat cosmetic, but it breaks the pattern of `[app name]-[staging|production]` we use for everything else.

[2016-07-27 19:13] cadecairos commented on #363
So I can now see all the web properties we've got on GA, but I can't add users.

@xmatthewx I think what needs to happen here is:

1. When a staffer needs access to properties on AWS, they file a request here
2. I reach out (via a yet to be discovered mechanism) to someone at MoCo who manages GA and ask them to add so-and-so@mozillafoundation.org to the property.

We can document this in the dev-o

[2016-07-28 22:09] xmatthewx commented on #363
Okay. I can be a first test case. I currently only have access to Webmaker and Pulse. I'd like to get on Learning and Thimble and Advocacy and ... anything else important?

[2016-07-29 14:27] cadecairos commented on #363
It's really inconsistent, but I did have the ability to add you to learning.mozilla.org

[2016-07-29 14:36] cadecairos commented on #363
https://bugzilla.mozilla.org/show_bug.cgi?id=1290472

[2016-08-01 21:17] xmatthewx opened #379 "Recover an etherpad"
### Details

An etherpad was used to review schedule app options for Mozfest 2015. If we can recover the pad, we can shorten our current search. If we can't, we will survive.

### Info & links

https://festival.etherpad.mozilla.org/2015scheltool

[2016-08-01 21:31] hannahkane commented on #372
OK, I can send this out tomorrow. @cadecairos - what date would you like for me to use as the date when Persona will no longer be available to use on Discourse?

[2016-08-02 15:04] cadecairos opened #380 "Add ZenHub badge to repos that use it"
ZenHub was kind enough to let us use their product under a non-profit license, so lets give them the shout out they deserve by adding a badge to README's that make use of ZenHub. (including this one)

https://github.com/ZenHubIO/support <- badge code available here

[2016-08-02 15:07] cadecairos commented on #377
This would be super nice to have, but we really don't have the bandwidth to get on it right now.

[2016-08-02 15:17] cadecairos commented on #379
These pads were available for a limited time via the Moz VPN, but I'll attempt to access it anyways to see if I can get the data.

[2016-08-02 15:56] Pomax commented on #380
updated learning.moz readme: https://github.com/mozilla/learning.mozilla.org/blob/develop/README.md

[2016-08-02 15:57] cadecairos commented on #380
haha accidentaly thumbs-downed that. thanks, @Pomax

[2016-08-02 16:14] cadecairos commented on #379
@xmatthewx I am awesome: **http://etherpad.io/p/2015scheltool-recovered**

[2016-08-02 16:14] #379 closed

[2016-08-02 19:05] xmatthewx commented on #379
That was fast. 📈 👍 💯 🔥 🚀

[2016-08-02 21:06] cadecairos commented on #362
I've handed off the credentials to Erin and Lindsay using Signal.

[2016-08-02 21:06] #362 closed

[2016-08-02 21:06] cadecairos commented on #380
Added to this repo, and to Advocacy.

[2016-08-02 21:11] ryanpitts commented on #362
woo! Thanks!

On Tue, Aug 2, 2016 at 2:06 PM, Christopher DeCairos <
notifications@github.com> wrote:

[2016-08-02 22:27] Pomax commented on #380
Added to Teach-API

[2016-08-03 15:37] Pomax commented on #377
it doesn't need to be autogenerated, full hosted, awesomecakes - a static index.html with a dumb `<uL><li><a href="/learning.mofostaging.net">learning site</a></li><liL.... </ul>` will do just fine, since we don't exactly update mofostaging apps. I'll write you the html file if it's just a matter of then uploading it to S3 or sticking it in a dir that nginx sees as "root" right now

[2016-08-03 17:15] cadecairos commented on #377
There's no nginx server running on mofostaging.net, all the subdomains are handled via DNS in Route53. We'd need to set up something specifically to serve that index file.

[2016-08-03 21:34] Pomax commented on #377
ah

[2016-08-05 15:35] cadecairos commented on #380
- [ ] MozillaFoundation/plan
- [ ] MozillaFoundation/Design
- [ ] MozillaFoundation/Mozfest2016_production

[2016-08-05 15:40] cadecairos commented on #380
I got many, possibly not all of the repos connected to ZenHub in  the MozillaFoundation org, It's too bad their dashboard doesn't display repos that are using Zenhub.

Closing for now

[2016-08-05 15:40] #380 closed

[2016-08-05 15:42] cadecairos commented on #363
I'm gonna kick the tires on that bug, it's seen no attention.

[2016-08-05 17:43] xmatthewx commented on #363
Thanks for the proactive diligence.

[2016-08-09 20:56] alanmoo opened #381 "Create Heroku pipeline for mozillafestival repo"
### Details

As we move to github flow, the mozfest site is one that would benefit from a pipeline, with automatic review apps. Can we make that happen? (I don't have permission) @cadecairos @mmmavis any issues you can think of with this?

[2016-08-10 17:13] Saallen opened #382 "Admin rights for over arching organisational page"
Need access as an admin to Mozilla Foundation repo for @autonome so he can integrate Waffel.io as a project tool

### Info & links
Repo he wants to work within is
https://github.com/MozillaFoundation/mozfest-program-2016
However he has admin rights to the repo already so he might need further rights on the organisation page https://github.com/MozillaFoundation if possible

[2016-08-10 17:18] cadecairos commented on #382
I'd have to whitelist integrations with waffel.io with the org for this to work.

@Saallen Are there specific features that Waffel has that aren't offered by ZenHub?  They seem very similar (And we have unlimited free usage of the latter)

[2016-08-10 17:37] Saallen commented on #382
@autonome would this work for you?

[2016-08-10 17:55] hannahkane commented on #372
ping @cadecairos ^

[2016-08-11 17:27] cadecairos commented on #381
created the [mozillafestival-org pipeline](https://dashboard.heroku.com/pipelines/3a52c84b-b13c-42b6-8cc2-652b646a8a8c)

staging is mozillafestival-org-staging
production is mozillafestival-org-production

we should convert the repo over to github flow before we set up deployments.

[2016-08-11 17:27] cadecairos commented on #381
(which means we should drop deployments via travis, in favour of deploy hooks directly with Heroku)

[2016-08-11 17:35] cadecairos commented on #381
To enable review apps we need to commit an app.json file to the repo

[2016-08-11 18:41] cadecairos commented on #378
Based on the difficulty of making this switch without downtime [1] VS the gains from doing it (not really any) I'm going to suggest leaving this app as is. @Pomax can we agree on this?

1.  rename app, update id database, update CSP on learning, update config on learning site

[2016-08-11 18:54] cadecairos commented on #381
all done. Review apps enabled.

[2016-08-11 18:54] #381 closed

[2016-08-11 19:15] cadecairos opened #383 "Implement GitHub Flow"
- [X] Learning.mozilla.org
- [X] mozillafestival.org
- [x] teach-api

[2016-08-11 19:17] cadecairos commented on #382
@autonome just pinging you to see what you think about using [Zenhub](https://zenhub.com) instead of Waffel

[2016-08-11 19:19] Saallen commented on #382
Hey @cadecairos I pinged him yesterday and he is alll gravy with Zenhub- thanks 🍇

[2016-08-11 19:19] #382 closed

[2016-08-11 19:28] cadecairos commented on #382
That's great! I've added a Zenhub badge to the repo to give Zenhub some love (they are letting us use it for free after all)

[2016-08-11 19:30] Saallen commented on #382
Thanks- maybe I could ask you to join a wrangler call to help promote this tool ? 🎤

[2016-08-11 19:50] cadecairos commented on #382
Sure! are we trying to promote Zenhub (to encourage people to use it), or give a crash course on how to install the addon and use the tool?

[2016-08-11 19:52] Saallen commented on #382
It is a great project management tool so it would be good to give an overview on the tool and how to use it- you can give me the crash course and I can share the knowledge?

[2016-08-11 19:53] cadecairos commented on #382
Sure! Can you find a spot in my calendar and send a meeting request?

[2016-08-11 23:29] simonwex opened #384 "Create devops facebook account"
We're paying for facebook ads, the account is managed by Paul. He's going to make this account an admin once it is created.

[2016-08-11 23:29] simonwex commented on #384
/cc @HPaulJohnson

[2016-08-13 22:57] Pomax commented on #378
wfm

[2016-08-13 22:57] #378 closed

[2016-08-15 02:25] gideonthomas commented on #300
Exporting the XML content file and importing it into Wordpress works well with one caveat - adding the Gigabit tag.
There is no easy way to edit the xml and add it in there. But I thought of a better solution. We create an empty wordpress instance locally. Import all the content we want to add to the final blog. Bulk tag all the content in the local instance using the admin interface. Then export

[2016-08-15 14:23] cadecairos opened #385 "Renew certificates for mozillascience.org"
### Expires on August 31, 2016

Current cert also includes:
* www.mozillascience.org
* forum.mozillascience.org
* badges.mozillascience.org

CC @acabunoc - Which, if any of these can/should we drop (Do you think the badges subdomain can be moved to a path on mozillascience.org?)

[2016-08-15 14:25] cadecairos opened #386 "Renew certificatefor advocacy.mozilla.org"
### Expires on September 6, 2016

[2016-08-15 14:27] cadecairos opened #387 "Renew certificates for *.mofodev.net"
### Expires on September 6th 2016

We should evaluate whether or not we need this wildcard cert, based on the applications running there right now.

cc/ @simonwex

[2016-08-15 14:30] cadecairos opened #388 "Renew Certificate for donate.mozilla.org"
Expires October 25, 2016

[2016-08-15 14:33] cadecairos opened #389 "Renew Certificate for petitions.mozilla.org"
### Expires on September 15th

[2016-08-15 14:35] cadecairos opened #390 "Renew Certificate for discourse.hivelearningnetworks.org"
### Expires September 14th, 2016

[2016-08-15 15:37] acabunoc commented on #385
We can drop:
* www.mozillascience.org
* forum.mozillascience.org

For badges.mozillascience.org - let's try to move it to a path on `science.mozilla.org/badges` -- flagging @josmas

Question for @cadecairos - if badges.mozillascience.org is currently running on heroku, is it possible to have it running on a path?

[2016-08-15 16:13] jenntbeard commented on #300
Hi - The login for blog.mozilla.org/gigabit is through our SSO credentials - maybe we can add you as an admin?
Hive CHA blog info is:
Site	Account/Location - HiveCHA (wordpress)
Login/Username - Katie
Password - gigcity2016
Primary owner - Katie Hendrix
Email address associated w/account - katiem@mozillafoundation.org (i think)

[2016-08-16 15:20] #313 closed

[2016-08-17 03:51] cadecairos opened #397 "SSL Cert for directory.hivelearningnetworks.org expired"
It was set-up by JP so it never alerted me about it. I've requested a new 1 year cert, but it's an EV cert so now I'm stuck waiting for an EV approver in digicert.

[2016-08-17 04:33] cadecairos commented on #397
Certificate acquired and installed on the CloudFront distribution. Should propagate out to the edge caches within half an hour.

[2016-08-17 04:36] cadecairos commented on #397
Working from my location. closing!

[2016-08-17 04:36] #397 closed

[2016-08-17 12:47] alanmoo opened #398 "Generate list of least active chat users"
I'd like to talk to the MoFos who aren't using chat to understand why. Can we generate two lists?

1. MozillaFoundation emails that aren't signed up for chat
2. 10-20 Least active @MozillaFoundation.org chat users

[2016-08-17 15:00] cadecairos commented on #398
I don't have a canonical list of foundation staff emails to check against, but I can pretty easily craft a query to find the least active accounts

[2016-08-17 15:02] alanmoo commented on #398
Alright, let's roll with that, it's probably more useful anyway. Can you also just give me a number of @MoFo accounts?

[2016-08-18 02:36] cadecairos opened #399 "Learning.mozilla.org staging builds are failing"
From email: "An automatic deployment for learning-mozilla-org-staging failed."

I'll dump a build log here tomorrow.

[2016-08-18 13:53] cadecairos commented on #399
https://dashboard.heroku.com/apps/learning-mozilla-org-staging/activity/builds/f9a97169-34da-49b1-a775-6d649b072a69

[2016-08-18 13:53] cadecairos commented on #399
@alicoding @gideonthomas @Pomax is this being fixed somewhere already?

[2016-08-18 16:13] cadecairos commented on #399
Fixing this in mozilla/learning.mozilla.org#2099

[2016-08-18 16:13] #399 closed

[2016-08-18 16:14] gideonthomas commented on #383
teach-api should already be in Github flow

[2016-08-18 16:26] cadecairos commented on #384
I've created an account. Username is "mofo.devops" but it's pretty locked down on the privacy settings. how do we connect it @HPaulJohnson ?

[2016-08-18 16:50] cadecairos commented on #384
The account is connected, and should receive billing notifications!

[2016-08-18 16:50] #384 closed

[2016-08-18 20:00] cadecairos commented on #398
https://docs.google.com/a/mozilla.com/spreadsheets/d/1psWPweOgx6LDD_yrztc3DY0GABSMUCvN8i90HuIOSS8/edit?usp=sharing

Data in sheet is as of 3:45 PM EDT August 18, 2016

[2016-08-18 20:00] #398 closed

[2016-08-19 14:52] cadecairos commented on #385
Certificate renewe!

I've installed it on:

* The CDN redirecting `www.mozillascience.org` and `mozillascience.org` to `science.mozilla.org`
* The load balancer serving up forum.mozillascience.org
* I removed the CloudfrontCDN serving up `badges.mozillascience.org` and enabled the free SSL feature on the badges-mozillascience-org app, where the new certificate is now installed.

[2016-08-19 14:52] #385 closed

[2016-08-19 16:50] gvn opened #400 "Documentation around deployment standards"
It would be nice to get everyone (engineering & otherwise) on the same page with regards to our deployment best practices. Not so much *how* we deploy, but things like:

- Who can deploy
- What times are best for deployment (eg: not Friday)
- What do you do if something goes wrong
- How are people notified?
- Rollback protocol

[2016-08-22 20:43] Pomax commented on #400
/cc @cadecairos @ali @alanmoo @wex @mmmavis

[2016-08-24 12:44] cadecairos opened #401 "Get Ali and Gideon to give you their public SSH keys"
@alicoding @gideonthomas I'm going to add you two to the authorized keys lists on several of the most common EC2 instances I connect to when troubleshooting issues. In order to do this I need you public keys.

`cat ~/.ssh/id_rsa.pub > pbcopy` and drop me a line here.

[2016-08-24 14:27] alicoding commented on #401
`cat ~/.ssh/id_rsa.pub | pbcopy` for me... Also you want me to paste in the whole thing here? O_o

[2016-08-24 14:29] cadecairos commented on #401
it's a **public key**

put it in a code block?

[2016-08-24 14:32] alicoding commented on #401
[code]

[2016-08-24 14:51] #383 closed

[2016-08-24 14:52] cadecairos commented on #383
closing this, will handle github flow on a case-by-case basis going forward.

[2016-08-24 14:52] cadecairos commented on #363
Peter German is back from PTO and will assist me with this.

[2016-08-24 14:59] cadecairos commented on #386
This was renewed

[2016-08-24 14:59] #386 closed

[2016-08-24 15:09] gideonthomas commented on #401
[code]

[2016-08-24 15:40] Pomax commented on #147
bumping so we don't lose this: there were some bugzilla issues filed that were meant for learning.mozilla.org recently, so it feels like it's worth finally just turning the whole bugzilla part of our product issue tracking off.

[2016-08-24 20:12] simonwex opened #402 "Redirect URLs for copyright campaign"

[2016-08-24 20:13] simonwex commented on #402
/cc @HPaulJohnson @KevZawacki

[2016-08-24 20:31] KevZawacki commented on #402
http://advocacy.mozilla.org/copyright

and

mzl.la/copyright

[2016-08-24 20:38] HPaulJohnson commented on #402
there's a bunch of versions of the above with various URL parameters for GA attached. assume you don't need all those so this is just a note to say that we'll need to maintain those parameters on the redirected domain.

[2016-08-25 14:05] cadecairos commented on #402
The redirect maintains params, and is in place on https://advocacy.mozilla.org/copyright

[2016-08-25 14:05] #402 closed

[2016-08-25 18:27] simonwex commented on #147
Agreed we should remove our product from Bugzilla. Let's make sure first, that we include links to github on our sites/tools.

[2016-08-25 18:53] Pomax commented on #147
Which direction are you thinking? Replace any mention of bugzilla with github (I don't thiink we mention bugzilla anywhere in new tools/sites) or make it explicit where to go for "feedback" (rather than "bugs" or "issues" so as not to scare people) on the landing pages/footers for our tool and site offerings?

(this'll probably require some issues getting filed)

[2016-08-25 19:29] cadecairos commented on #387
We don't have anything on this domain. rejected the renewal request.

[2016-08-25 19:29] #387 closed

[2016-08-25 19:30] cadecairos commented on #390
This isn't there any more. rejected the renewal.

[2016-08-25 19:30] #390 closed

[2016-08-26 14:46] cadecairos opened #403 "Publish can't deal with load"
Publish regularly tips over when there's more than a couple dozen concurrent users.

I'm pretty sure this happens because publish fetches project data directly out of the database, which takes time and blocks requests waiting in line.

Let's brainstorm strategies to reduce this bottleneck

cc/ @gideonthomas

[2016-08-26 14:53] gideonthomas commented on #403
Is the database overloaded? Can we get performance stats on database read/write operations? I remember New Relic was doing this and when we inspected there previously, the db operations used to happen pretty fast.

[2016-08-26 14:58] cadecairos commented on #403
No, based on the metrics provided by AWS RDS, the database wasn't close to being overwhelmed. The upgrade I did on it a few months back seems to have removed it as a bottleneck (at least for now)

[2016-08-26 15:36] gideonthomas commented on #403
Can we somehow validate if:

is true? I remember New Relic reporting fairly fast db queries.

[2016-08-26 16:42] cadecairos commented on #403
during yesterdays outage the database only showed a large increase in database connections, which makes sense since we were scaling up. All the other increases (read/write throughput, CPU utilization, and queue length) increased minimally.

I think the right place to look here is on publish, where I think node is running out of threads to handle requests before they time out. of course this all ne